#{extends 'main.html' /}
#{ifnot record?.id}
	#{set title:messages.get('Record')+' '+messages.get('views.common.update.add') /}
#{/ifnot}
#{else}
	#{set title:messages.get('Record')+' '+messages.get('views.common.update.edit') /}
#{/else}

<!-- datepickerにtimepickerアドオン -->
<!-- 
<script type="text/javascript" src="http://trentrichardson.com/examples/timepicker/js/jquery-ui-timepicker-addon.js"></script>
 -->
<script type="text/javascript" src="@{'/public/javascripts/jquery-ui-timepicker-addon.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.datetimepicker.js'}" ></script>
<script type="text/javascript" src="@{'/public/javascripts/confirm.js'}" ></script>
<script type="text/javascript">
<!--
var myObj = new Object();
myObj.strMsg = "&{'views.config.cf_handling_edit.del.confirm'}";
// -->
</script>
<script type="text/javascript" src="@{'/public/javascripts/dateformat.js'}" ></script>
<script type="text/javascript" src="@{'/public/javascripts/autoNumeric-1.7.5.js'}" ></script>
<script type="text/javascript" src="@{'/public/javascripts/funcCheckVal.js'}" ></script>

#{include 'subCategory.html' /}

<script type="text/javascript">
<!--
/* 無効化フラグが立ったデータを編集する際の条件用 */
%{
	invalidityRecEdit2 = ''
	if(record?.handling_mst?.id) {
		invalidityRecEdit2 = ' or id = ' + record.handling_mst.id 
	}
}%

var TEMPLATE_NAME = "&{'views.name.recordEdit'}",
	preBType;
jQuery(function() {
	preBType = jQuery('#balance_type_mst').val();
	
	/* 起動時の状態調整 */
	
	//「取扱(実際)」の状態調整
	conditionAdjust_Handling();
	
	//「取扱(Parllet)」の状態調整
	conditionAdjust_Prlt();
	
	//「項目」の状態調整
	conditionAdjust_Item();
	
	//「引落日」の状態調整
	conditionAdjust_DebitDate();
	
	jQuery('#balance_type_mst').keypress(function(e){
		if ((e.which && e.which===13) || (e.keyCode && e.keyCode===13)) {
			preBType = preBType;
			return false;
		}else{
			return true;
		}
	});
	
	/* 「収支種類」の選択変更イベント */
	jQuery('#balance_type_mst').change(function(e){
		var jText = jQuery(this).children(':selected').text(),
			jVal = jQuery(this).val();
		
		//「収支種類」が収入・支出で、「項目」のリストがゼロの時
		if((jText==="&{'BalanceType.in'}" ||
			jText==="&{'BalanceType.out'}") &&
				jQuery(subCatItem[jVal]).length===0) {
			e.preventDefault();
			if(jText==="&{'BalanceType.in'}")
				//項目（収入）作成用ダイアログ
				openDialogConfirm("&{'views.dialogConfirm.case.itemIn'}", jText);
			if(jText==="&{'BalanceType.out'}")
				//項目（支出）作成用ダイアログ
				openDialogConfirm("&{'views.dialogConfirm.case.itemOut'}", jText);
			
		//「収支種類」が口座預入・口座引出で、「取扱(実際)」のリストがゼロの時
		} else if((jText==="&{'BalanceType.bank_in'}" ||
					jText==="&{'BalanceType.bank_out'}") &&
				jQuery(subCatHdlgSmall[subCatHdlgLarge[jQuery('#balance_type_mst').val()]]).length===0) {
			e.preventDefault();
			//口座・電子マネー作成用ダイアログ
			openDialogConfirm("&{'views.dialogConfirm.case.bkem'}", jText);
			
		//「収支種類」がParllet預入・Parllet引出で、「取扱(Parllet)」のリストがゼロの時
		} else if((jText==="&{'BalanceType.parllet_in'}" ||
					jText==="&{'BalanceType.parllet_out'}") &&
				jQuery('#parllet_mst').children().length===1) {
			e.preventDefault();
			//Parllet作成用ダイアログ
			openDialogConfirm("&{'views.dialogConfirm.case.prlt'}", jText);
			
		} else {
			//「取扱(実際)」の状態調整
			conditionAdjust_Handling();
			
			//「取扱(実際)」のリスト再作成
			remakeList_Handling();
			
			//「取扱(Parllet)」の状態調整
			conditionAdjust_Prlt();
			preBType = jQuery('#balance_type_mst').val();
			
			//「項目」の状態調整
			conditionAdjust_Item();
			
			//「項目」のリスト再作成
			remakeList_Item();
		}
	});
	

	/* 「収支種類」・「支払日」・「取扱(実際)」の選択変更イベント */
	jQuery('#balance_type_mst, #handling_mst, #payment_date').change(function(){
		//「引落日」の入力可・不可とデフォルト日付の調整
		conditionDefDateAdjust_DebitDate();
	});
	
	/* 3桁区切りの数値入力フィールドとして設定 */
	jQuery('input.numeric').autoNumeric({aPad: false, vMin: '-999999999.99', vMax: '999999999.99'});
	
	/* 金額を3桁区切りに(初期表示) */
	jQuery('input.numeric').each(function(i) {
		var numStr = addFigure(jQuery(this).val());
		jQuery(this).val(numStr);
	});
	
	/**
	 * フォームデータ送信時に、disabledを外して値を送信できるようにする
	 */
	jQuery('#idInsupd').click(function(){
		jQuery('#debit_date').css('color','#aaa');
		jQuery('#debit_date').removeAttr('disabled');
		jQuery('#debit_date').attr('readonly', 'readonly');
	});
});

/* クレジットカードの引落日算出関数 */
function fDebitDate(dBasic,cutoffDay,debitMonth,debitDay){
	var dCutoff = new Date;
	var iCutoffMonth = 0;
	//
	if(debitMonth==="&{'DebitMonth.this'}") {
		iCutoffMonth = 0;
	} else if(debitMonth==="&{'DebitMonth.next'}") {
		iCutoffMonth = 1;
	} else if(debitMonth==="&{'DebitMonth.nextTwo'}") {
		iCutoffMonth = 2;
	}
	//引落日算出
	if(dBasic.getDate() <= cutoffDay) {
		dCutoff = new Date(dBasic.getFullYear(), dBasic.getMonth()+iCutoffMonth, debitDay);
	} else {
		dCutoff = new Date(dBasic.getFullYear(), dBasic.getMonth()+iCutoffMonth+1, debitDay);
	}
	return dCutoff;
}

/* 文字列を3桁区切りにする関数 */
function addFigure(str) {
	var num = new String(str).replace(/,|\n| |\t/g, "");
	num = num.replace(/(\d)(?=(\d{3})+$)/g , '$1,');
	return num;
}

/* 「取扱(実際)」の状態調整 */
function conditionAdjust_Handling() {
	//「収支種類」が収入・支出・口座預入・口座引出の時は「取扱(実際)」は選択可能
	if(jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.in'}" ||
			jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.out'}" ||
			jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.bank_in'}" ||
			jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.bank_out'}"
			) {
		jQuery('#handling_mst_lbl').removeAttr("disabled");
		jQuery('#handling_mst').removeAttr("disabled");
	} else {
		jQuery('#handling_mst').empty();
		jQuery('#handling_mst_lbl').attr("disabled", "disabled");
		jQuery('#handling_mst').attr("disabled", "disabled");
	}
}

/* 「取扱(実際)」のリスト再作成 */
function remakeList_Handling() {
	//「収支種類」が収入・支出で「取扱(Parllet)」未選択時は「項目」のリストを再作成
	if(jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.in'}" ||
			jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.out'}" ||
			jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.bank_in'}" ||
			jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.bank_out'}"
			) {
		jQuery('#handling_mst').empty();
		jQuery.each(subCatHdlgSmall[subCatHdlgLarge[jQuery('#balance_type_mst').val()]], function(key,value){
			jQuery('#handling_mst').append("<option value='"+value["key"]+"'>"+value["value"]+"</option>");
		});
	}
}

/* 「取扱(Parllet)」の状態調整 */
function conditionAdjust_Prlt() {
	if(jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.bank_in'}" ||
			jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.bank_out'}") {
		jQuery('#parllet_mst').val('0');  // (なし) を選択
		jQuery('#parllet_mst_lbl').attr("disabled", "disabled");
		jQuery('#parllet_mst').attr("disabled", "disabled");
	} else {
		jQuery('#parllet_mst_lbl').removeAttr("disabled");
		jQuery('#parllet_mst').removeAttr("disabled");
	}
}

/* 「項目」の状態調整 */
function conditionAdjust_Item() {
	//「収支種類」が収入・支出の時は「項目」は選択可能
	if(jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.in'}" ||
			jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.out'}"
			) {
		jQuery('#item_mst_lbl').removeAttr("disabled");
		jQuery('#item_mst').removeAttr("disabled");
	} else {
		jQuery('#item_mst').empty();
		jQuery('#item_mst_lbl').attr("disabled", "disabled");
		jQuery('#item_mst').attr("disabled", "disabled");
	}
}

/* 「項目」のリスト再作成 */
function remakeList_Item() {
	//「収支種類」が収入・支出の時は「項目」のリストを再作成
	if(jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.in'}" ||
			jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.out'}"
			) {
		jQuery('#item_mst').empty();
		jQuery.each(subCatItem[jQuery('#balance_type_mst').val()],function(key,value){
			jQuery('#item_mst').append("<option value='"+value["key"]+"'>"+value["value"]+"</option>");
		});
	}
}

/* 「引落日」の状態調整 */
function conditionAdjust_DebitDate() {
	//「収支種類」が収入・支出・口座預入・口座引出で、「取扱(実際)」が現金以外の時は「引落日」は選択可能
	if((jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.in'}" ||
			jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.out'}" ||
			jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.bank_in'}" ||
			jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.bank_out'}"
		) &&
			jQuery('#handling_mst').children(':selected').text()!="&{'HandlingType.cash'}"
	) {
		jQuery('#debit_date_lbl').removeAttr("disabled");
		jQuery('#debit_date').removeAttr("disabled");
	} else {
		jQuery('#debit_date_lbl').attr("disabled", "disabled");
		jQuery('#debit_date').attr("disabled", "disabled");
	}
}

/* 「引落日」の入力可・不可とデフォルト日付の調整 */
function conditionDefDateAdjust_DebitDate() {
	var sDate = jQuery('#payment_date').val().substr(0,10);
	//「取扱(実際)」が現金の時は「引落日」は「支払日」と同じ日とし、選択不可
	if(jQuery('#handling_mst').children(':selected').text()==="&{'HandlingType.cash'}") {
		jQuery('#debit_date_lbl').attr("disabled", "disabled");
		jQuery('#debit_date').attr("disabled", "disabled");
		jQuery('#debit_date').val(ckDate(sDate)===true ? sDate : '');
	//「取扱(実際)」が現金以外の時
	} else {
		//「収支種類」がParllet預入・Parllet引出の時は「引落日」は選択不可
		if(jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.parllet_in'}" ||
				jQuery('#balance_type_mst').children(':selected').text()==="&{'BalanceType.parllet_out'}"
				) {
			jQuery('#debit_date_lbl').attr("disabled", "disabled");
			jQuery('#debit_date').attr("disabled", "disabled");
			jQuery('#debit_date').val(ckDate(sDate)===true ? sDate : '');
			
		//「収支種類」が上記以外の時は「引落日」は選択可能で、デフォルト日付を表示
		} else {
			jQuery('#debit_date_lbl').removeAttr("disabled");
			jQuery('#debit_date').removeAttr("disabled");
			#{list items:models.HandlingMst.find("ha_user = ${haUser.id}").fetch(), as:'handling'}
			  if("${handling?.handling_name}"===jQuery('#handling_mst').children(':selected').text()) {
				//支払日が正しく入っている時
				if(ckDate(sDate)===true) {
					//「取扱(実際)」がクレジットカードの場合
					if("${handling?.handling_type_mst?.handling_type_name}"==="&{'HandlingType.creca'}") {
						var dateFormat = new DateFormat("yyyy/MM/dd");
						var vYear = sDate.substr(0, 4) - 0;
						var vMonth = sDate.substr(5, 2) - 1;
						var vDay = sDate.substr(8, 2) - 0;
						var dPaymentDate = new Date(sDate.substr(0, 4), sDate.substr(5, 2)-1, sDate.substr(8, 2));
						var rDate = fDebitDate(dPaymentDate,"${handling?.cutoff_day}","${handling?.debit_month}","${handling?.debit_day}");
						jQuery('#debit_date').val(dateFormat.format(rDate));
						
					//「取扱(実際)」がクレジットカード以外の場合
					} else {
						//引落日に支払日をセット
						jQuery('#debit_date').val(sDate);
					}
				}
			  }			
			#{/list}
		}
	}
}
// -->
</script>

#{set 'moreMenu'}
	#{include 'headerMenu.html' /}
#{/set}

#{set 'headerTools'}
	#{include 'headerTools.html' /}
#{/set}

#{include 'dialogConfirm.html' /}
<script type="text/javascript">
<!--
/* dialogConfirmを閉じた時の動作は呼び出し元で行う */
function whenDialogConfirmClosed(intRslt) {
	switch (intRslt) {
		case 0:
			jQuery('#balance_type_mst').val(preBType);
			jQuery('#balance_type_mst').change();
			jQuery('#balance_type_mst').focus();
			break;
		case 1:
			//口座更新フォームを開く
			openDialogFrmUpdMstRe("&{'views.config.cf_bank'}");
			break;
		case 2:
			//電子マネー更新フォームを開く
			openDialogFrmUpdMstRe("&{'views.config.cf_emoney'}");
			break;
		case 3:
			//Parllet更新フォームを開く
			openDialogFrmUpdMstRe("&{'views.config.cf_prlt'}");
			break;
		case 4:
			//項目（収入）更新フォームを開く
			openDialogFrmUpdMstRe("&{'views.dialogConfirm.case.itemIn'}");
			break;
		case 5:
			//項目（支出）更新フォームを開く
			openDialogFrmUpdMstRe("&{'views.dialogConfirm.case.itemOut'}");
			break;
		default:
			alert("dialogConfirm return value error");
	}
}
function openDialogFrmUpdMstRe(strMst) {
	openDialogFrmUpdMst(strMst, "&{'views.name.recordEdit'}");
}
// -->
</script>

#{include 'dialogFrmUpdMst.html' /}
<script type="text/javascript">
<!--
/* dialogFrmUpdMstを閉じた時の動作は呼び出し元で行う */
function whenDialogFrmUpdMstClosedRe(intRslt, strType, nameVal, zeroHddnChkd) {
	var strErrMsg;
	if(strType==="&{'views.config.cf_bank'}" || strType==="&{'views.config.cf_emoney'}")
		strErrMsg = "Common.updateHdlg";
	if(strType==="&{'views.config.cf_prlt'}")
		strErrMsg = "Common.updatePrlt";
	if(strType==="&{'views.dialogConfirm.case.itemIn'}" || strType==="&{'views.dialogConfirm.case.itemOut'}")
		strErrMsg = "Common.makeItem";
	switch (intRslt) {
		case 0:
			whenDialogConfirmClosed(0);
			break;
		case 1:
			var jqxhrMkMst;
			if(strType==="&{'views.config.cf_bank'}" || strType==="&{'views.config.cf_emoney'}") {
				jqxhrMkMst = jQuery.post('@{Common.updateHdlg}', {strType: strType, strName: nameVal, bolZeroHddn: zeroHddnChkd});
			}
			if(strType==="&{'views.config.cf_prlt'}") {
				jqxhrMkMst = jQuery.post('@{Common.updatePrlt}', {strName: nameVal, bolZeroHddn: zeroHddnChkd});
			}
			if(strType==="&{'views.dialogConfirm.case.itemIn'}" || strType==="&{'views.dialogConfirm.case.itemOut'}") {
				var strBalanceType;
				if(strType==="&{'views.dialogConfirm.case.itemIn'}")
					strBalanceType = "&{'BalanceType.in'}";
				if(strType==="&{'views.dialogConfirm.case.itemOut'}")
					strBalanceType = "&{'BalanceType.out'}";
				jqxhrMkMst = jQuery.post('@{Common.makeItem}', {strBalanceType: strBalanceType, strName: nameVal});
			}
			jqxhrMkMst
			.done(function(z) {
				switch (z.intRslt) {
					case 0:
						if(strType==="&{'views.config.cf_bank'}" || strType==="&{'views.config.cf_emoney'}") {
							//作成した口座・電子マネーを取扱(実際)のリストに追加し、収支種類の選択変更イベントを再実行
							var newBank = {"key":z.hlMst.id, "value":z.hlMst.handling_name}
							subCatHdlgSmall["ALL"].push(newBank);
							subCatHdlgSmall["BANK"].push(newBank);
							jQuery('#balance_type_mst').change();
						}
						if(strType==="&{'views.config.cf_prlt'}") {
							//作成したParlletを取扱(Parllet)のリストに追加し、収支種類の選択変更イベントを再実行
							jQuery('#parllet_mst').append("<option value='"+z.plMst.id+"' selected>"+z.plMst.parllet_name+"</option>");
							jQuery('#balance_type_mst').change();
						}
						if(strType==="&{'views.dialogConfirm.case.itemIn'}" || strType==="&{'views.dialogConfirm.case.itemOut'}") {
							//作成した項目をリストに追加し、収支種類の選択変更イベントを再実行
							var newItem = {"key":z.itMst.id, "value":z.itMst.item_name}
							subCatItem[jQuery('#balance_type_mst').val()].push(newItem);
							jQuery('#balance_type_mst').change();
						}
						break;
					case 99:
						alert(z.strErr);
						whenDialogConfirmClosed(0);
						break;
					default:
						strErrMsg += " result Error";
						alert(strErrMsg);
						whenDialogConfirmClosed(0);
				}
			})
			.fail(function() {
				strErrMsg += " Failed";
				alert(strErrMsg);
				whenDialogConfirmClosed(0);
			});
			break;
		default:
			alert("dialogFrmUpdMst return value error");
	}
}
// -->
</script>


<div id="mainInner">

#{ifErrors}
<p class="crudFlash flashError">
	&{'validation.title'}
</p>
#{/ifErrors}
		
<div id="crudShow">

#{ifnot record?.id}
	<h3><span>&{'insupd.add', messages.get('Record')}</span></h3>
#{/ifnot}
#{else}
	<h3><span>&{'insupd.edit', messages.get('Record')}</span></h3>
#{/else}

%{
	vlPaymentDate
	vlBalanceTypeId
	vlParlletId
	vlItemId
	vlDebitDate
	if(record?.id || errors) {
		vlPaymentDate = record?.payment_date?.format('yyyy/MM/dd HH:mm')
		vlBalanceTypeId = record?.balance_type_mst?.id
		vlParlletId = record?.parllet_mst?.id
		vlItemId = record?.item_mst?.id
		vlDebitDate = record?.debit_date?.format('yyyy/MM/dd')
	} else {
		vlPaymentDate = df_payment_date
		vlBalanceTypeId = df_balance_type_id
		vlParlletId = df_parllet_id
		vlItemId = df_item_id
		vlDebitDate = df_debit_date
	}
}%
<div class="objectForm">
#{form @save_rec(record?.id)}
	<input type="text" name="calledFrom" value="${calledFrom}" class="invisible" />

	<div class="crudField">
		#{field 'payment_date'}
		<label class="fieldName">&{'payment_date'}:</label>
<!-- 
		<input type="text" id="${field.name}" class="datetimepicker" name="${field.name}" 
			value="${record?.payment_date?.format('yyyy/MM/dd HH:mm')}" />
 -->
		<input type="text" id="${field.name}" class="datetimepicker" name="${field.name}" 
			value="${vlPaymentDate}" />
		<span class="error">#{error 'record.payment_date' /}</span>
		#{/field}
	</div>
 
	<div class="crudField">
		#{field 'balance_type_mst'}
		<label class="fieldName">&{'balance_type_mst'}:</label>
 		#{select field.name, id:field.name, class:'re_w150'}
			<option value="0"${record?.balance_type_mst ? '' : ' selected'}>&{'views.common.combo.required.long'}</option>
			#{list items:models.BalanceTypeMst.find("order by id").fetch(), as:'bType'}
<!-- 
			<option value="${bType.id}"${record?.balance_type_mst?.id==bType.id ? ' selected' : ''}>${bType.balance_type_name}</option>
 -->			
			<option value="${bType.id}"${vlBalanceTypeId==bType.id ? ' selected' : ''}>${bType.balance_type_name}</option>
			#{/list}
 		#{/select}
		<span class="error">#{error 'record.balance_type_mst' /}</span>
		#{/field}
	</div>
 	
	<div class="crudField">
		#{field 'handling_mst'}
		<label id="handling_mst_lbl" class="fieldName">&{'handling_mst'}:</label>
		<select id="${field.name}" name="${field.name}" class="re_w150">
			#{list items:models.HandlingMst.find("ha_user = ${haUser.id} and (invalidity_flg = false ${invalidityRecEdit2}) order by handling_type_mst.handling_type_order, order_seq").fetch(), as:'handling'}
			<option value="${handling.id}"${record?.handling_mst?.id==handling.id ? ' selected' : ''}>${handling.handling_name}</option>
			#{/list}
		</select>
		<span class="error">#{error 'record.handling_mst' /}</span>
		#{/field}
	</div>
 
	<div class="crudField">
		#{field 'parllet_mst'}
		<label id="parllet_mst_lbl" class="fieldName">&{'parllet_mst'}:</label>
		<select id="${field.name}" name="${field.name}" class="re_w150">
			<option value="0"${record?.parllet_mst ? '' : ' selected'}>&{'views.common.combo.notrequired'}</option>
			#{list items:models.ParlletMst.find("ha_user = ${haUser.id} order by id").fetch(), as:'parllet'}
<!-- 
			<option value="${parllet.id}"${record?.parllet_mst?.id==parllet.id ? ' selected' : ''}>${parllet.parllet_name}</option>
 -->
			<option value="${parllet.id}"${vlParlletId==parllet.id ? ' selected' : ''}>${parllet.parllet_name}</option>
			#{/list}
		</select>
		<span class="error">#{error 'record.parllet_mst' /}</span>
		#{/field}
	</div>
 
	<div class="crudField">
		#{field 'item_mst'}
		<label id="item_mst_lbl" class="fieldName">&{'item_mst'}:</label>
		<select id="${field.name}" name="${field.name}" class="re_w150">
			%{
				bType
				bTypeName
				if(vlBalanceTypeId) {
					bType = models.BalanceTypeMst.find("byId", vlBalanceTypeId).first()
					bTypeName = bType.balance_type_name 
				}
			}%
			#{if bTypeName==messages.get('BalanceType.in') ||
					bTypeName==messages.get('BalanceType.out')}
				#{list items:models.ItemMst.find("ha_user = ${haUser.id} and balance_type_mst = " + bType.id + " order by id").fetch(), as:'item'}
<!-- 
				<option value="${item.id}"${record?.item_mst?.id==item.id ? ' selected' : ''}>${item.item_name}</option>
 -->
				<option value="${item.id}"${vlItemId==item.id ? ' selected' : ''}>${item.item_name}</option>
				#{/list}
			#{/if}
		</select>
		<span class="error">#{error 'record.item_mst' /}</span>
		#{/field}
	</div>

	<div class="crudField">
		#{field 'amount'}
		<label class="fieldName">&{'amount'}:</label>
		<input type="text" name="${field.name}" class="numeric" 
			value="${record?.amount}" />
		<span class="error">#{error 'record.amount' /}</span>
		#{/field}
	</div>
 
	<div class="crudField">
		#{field 'debit_date'}
		<label id="debit_date_lbl" class="fieldName">&{'debit_date'}:</label>
<!-- 
		<input type="text" id="${field.name}" class="datepicker" name="${field.name}" 
			value="${record?.debit_date?.format('yyyy/MM/dd')}" />
 -->
		<input type="text" id="${field.name}" class="datepicker" name="${field.name}" 
			value="${vlDebitDate}" />
		<span class="error">#{error 'record.debit_date' /}</span>
		#{/field}
	</div>
 
	<div class="crudField">
		#{field 'content'}
		<label class="fieldName">&{'content'}:</label>
		<input type="text" name="${field.name}" 
			value="${record?.content}" />
		<span class="error">#{error 'record.content' /}</span>
		#{/field}
	</div>
 
	<div class="crudField">
		#{field 'store'}
		<label class="fieldName">&{'store'}:</label>
		<input type="text" name="${field.name}" 
			value="${record?.store}" />
		<span class="error">#{error 'record.store' /}</span>
		#{/field}
	</div>

	<div class="crudField">
		#{field 'remarks'}
		<label class="fieldName">&{'remarks'}:</label>
		<textarea name="${field.name}">${record?.remarks}</textarea>
		<span class="error">#{error 'record.remarks' /}</span>
		#{/field}
	</div>
 
#{secure.check 'admin'}
	<div class="crudField">
		#{field 'secret_remarks'}
		<label class="fieldName">&{'secret_remarks'}:</label>
		<textarea name="${field.name}">${record?.secret_remarks}</textarea>
		<span class="error">#{error 'record.secret_remarks' /}</span>
		#{/field}
	</div>
 
	<div class="crudField">
		#{field 'secret_rec_flg'}
		<label class="fieldName">&{'secret_rec_flg'}:</label>
		<input type="checkbox" name="${field.name}"
			${record?.secret_rec_flg ? 'checked' : ''} />
		<span class="error">#{error 'record.secret_rec_flg' /}</span>
		#{/field}
	</div>
#{/secure.check}
	
	<div class="crudField bbsNone">
		<input type="submit" value="&{'insupd.save'}" id="idInsupd" />
	</div>

#{/form}
</div>

#{if record?.id}
	#{form @del_rec(record?.id)}
		<input type="text" name="calledFrom" value="${calledFrom}" class="invisible" />
		<p class="crudDelete">
			<input type="submit" value="&{'insupd.delete', messages.get('Record')}" id="cnf_del" />
		</p>
	#{/form}
#{/if}

</div>

</div>  <!-- mainInner -->
