#{extends 'main.html' /}
#{set title:messages.get('secure.title') /}


<style>
<!--
/* 共通のスタイル */
#hdContainer, #main, #ftContents {
	width: 95%;
	max-width: 980px;
}
#login {
	width: 95%;
}
#loginOrg, #loginSns {
	margin: 0 auto;
}

/* スマホのスタイル */
#login {
	max-width: 400px;
}
#loginOrg, #loginSns {
	float: none;
}
#loginOrg {
	border-left: none;
	padding-left: 0;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .3);
	padding-bottom: 10px;
	width: 95%;
	max-width: 360px;
}
#loginSns {
	padding: 10px 0;
	width: 95%;
	max-width: 266px;
}

/* PCのスタイル */
@media all and (min-width: 768px) {
	#login {
		max-width: 660px;
	}
	#loginOrg {
		float: right;
		border-left: 1px solid rgba(0, 0, 0, .2);
		box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
		border-bottom: none;
		padding-left: 10px;
		padding-bottom: 0;
	}
	#loginSns {
		float: left;
		padding-top: 0;
	}
}
-->
</style>


#{include 'dialogForm.html' /}
#{include 'facebookLogin.html' /}

<script type="text/javascript">
<!-- 
/* 「Facebookでログイン」クリック時は「login()」イベントへ */
jQuery(function() {
	jQuery('#fb-login').click(function() {
		login("&{'views.login.fbLogin.dialogTitle'}");
	});
	
	jQuery('#signin').click(function(e) {
		e.preventDefault();
		
		//支払いステータスチェック
		strErrMsg = "Common.checkPplStatus";
		var em = jQuery('#saUsername').val(),
			pw = jQuery('#saPassword').val(),
			jqxhrPplChkStts = jQuery.post('@{Common.checkPplStatus}', {email: em, password: pw});
		jqxhrPplChkStts
		.done(function(z) {
			switch (z.intRslt) {
				case 0:
					jQuery('#fmAuthenticate').submit();
					break;
				case 99:
					alert(z.strErr);
					break;
				default:
					strErrMsg += " result Error";
					alert(strErrMsg);
			}
		})
		.fail(function() {
			strErrMsg += " Failed";
			alert(strErrMsg);
			e.preventDefault();
		});
	});
});
// -->
</script>


<!-- 
<img src="/public/images/background_test.jpg" alt="" id="bg-img" />
 -->

<div id="login">
	
	<h1>&{'secure.title'}</h1>
		
	<div class="box">
			<div id="loginOrg">
		#{form @authenticate(), id:'fmAuthenticate'}
				<p>&{'views.login.normal.title'}</p>
				#{if flash.error}
					<p class="error">
						&{flash.error}
					</p>
				#{/if}
				#{if flash.success}
					<p class="success">
						&{flash.success}
					</p>
				#{/if}
				
				<div id="username-field">
					<div>
						<label for="username">&{'secure.username'}</label>
						<input type="text" name="username" id="saUsername" value="${flash.username}" />
						<input type="text" id="saUsername2" class="invisible" />
					</div>
				</div>
				<div id="password-field">
					<div>
						<label for="password">&{'secure.password'}</label>
						<input type="password" name="password" id="saPassword" value="${flash.password}" />
						<input type="password" id="saPassword2" class="invisible" />
					</div>
				</div>
				<input type="submit" name="signin" style="display: none;" />
		#{/form}
				<p id="signin-field">
					<input type="submit" id="signin" class="grayBtn" value="&{'secure.signin'}" />
				</p>
			</div>
			
		<div id="loginSns">
			<p>&{'views.login.sns.title'}</p>
			<a id="fb-login" class="btn blCenter" tabindex="0">
				<div><img src="/public/images/f_logo_18.png" border="0" /></div>
				<div>&{'views.login.fbLogin.button.text'}</div>
			</a>
		</div>  <!-- loginSns -->
		
	</div>  <!-- box -->
</div>  <!-- login -->
