#{extends 'main.html' /}
#{set title:messages.get('views.pplRecurringPayments.receipt.title') /}

#{set 'moreMenu'}
	#{include 'headerMenu.html' /}
#{/set}

#{set 'headerTools'}
	#{include 'headerTools.html' /}
#{/set}

#{ifErrors}
	<p class="crudFlash flashError">
		#{errors}
			${error}
		#{/errors}
	</p>
#{/ifErrors}
#{else}
<div id="receipt">

	<h1>
	<span>&{'views.pplRecurringPayments.receipt.h1'}</span>
	</h1>
	
	<div id="instructions">
		<p>
		&{'views.pplRecurringPayments.receipt.text1', messages.get('views.pplRecurringPayments.receipt.btn.confirm')}<br>
		&{'views.pplRecurringPayments.receipt.text2'}
		<a href="javascript:w=window.open('https://cms.paypal.com/jp/cgi-bin/marketingweb?cmd=_render-content&fli=true&content_ID=ua/UserAgreement_popup&locale.x=ja_JP','','scrollbars=yes,Width=640,Height=500');w.focus();">
		&{'views.pplRecurringPayments.receipt.defaultPayment'}
		</a>
		&{'views.pplRecurringPayments.receipt.text3'}
		</p>
		
		<p>
		&{'views.pplRecurringPayments.receipt.text4'}
		<a href="javascript:w=window.open('http://sakashushu.com/myDpRt/paypal/oneMonthLater','','scrollbars=yes,Width=600,Height=250');w.focus();">
		&{'views.pplRecurringPayments.receipt.pay.firstDay'}</a>
		&{'views.pplRecurringPayments.receipt.text5'}
		</p>
		<p>
		&{'views.pplRecurringPayments.receipt.text6'} &{'views.pplRecurringPayments.receipt.recCnt.before'} → &{'views.pplRecurringPayments.receipt.recCnt.after'} &{'views.pplRecurringPayments.receipt.text7'}
		</p>
	</div>

	<div class="box">
		<div id="inner">
			<label>&{'views.pplRecurringPayments.receipt.lbl1'}</label>
			<div>&{'views.pplRecurringPayments.receipt.pay.interval'}</div>
			<label>&{'views.pplRecurringPayments.receipt.lbl2'}</label>
			<div>&{'views.pplRecurringPayments.receipt.pay.amount'}</div>
			
		</div>
	</div>  <!-- box -->

	<div id="flameConf">
		<div>
			#{form @confirm()}
				<input type="hidden" value="${strPayerId}" name="payer_id" />
				<input type="submit" value="&{'views.pplRecurringPayments.receipt.btn.confirm'}" />
			#{/form}
		</div>
	</div>
</div>
#{/else}
