
<p class="configCount">
    &{'crud.list.size', _caller.count, "収支データ"}
</p>

#{if _caller.nbPages > 1}
    <p class="configPages">

        %{
            limit = (_limit != null ? _limit : 10)
            start = _caller.page - (int)(limit/2) + (limit % 2 ? 0 : 1)
            end = _caller.page + (int)(limit/2)

            if(start < 1){
                extra = 1 - start
                end = (end + extra < nbPages ? end + extra : nbPages)
                start = 1
            }else if(end > nbPages){
                extra = end - nbPages
                start = (start - extra > 1 ? start - extra : 1)
                end = nbPages
            }
        }%
        
        #{if _caller.page > 1}
            <span class="previous">
            	<a href="@{detailList(_caller.h_payment_date_fr,_caller.h_payment_date_to,_caller.h_balance_type_id,_caller.h_ideal_deposit_id,_caller.h_item_id,_caller.e_id,_caller.e_payment_date,_caller.e_item_id,_caller.n_payment_date,_caller.n_item_id,_caller.srch,_caller.save,
           					_caller.page-1
            			)}">&{'crud.pagination.previous'}</a>
            </span>
        #{/if}
        #{if _caller.page < _caller.nbPages}
            <span class="next">
            	<a href="@{detailList(_caller.h_payment_date_fr,_caller.h_payment_date_to,_caller.h_balance_type_id,_caller.h_ideal_deposit_id,_caller.h_item_id,_caller.e_id,_caller.e_payment_date,_caller.e_item_id,_caller.n_payment_date,_caller.n_item_id,_caller.srch,_caller.save,
           					_caller.page+1
            			)}">&{'crud.pagination.next'}</a>
            </span>
        #{/if}


    </p>
#{/if}
