html, body {
    background: , !important;
    font-family: Helvetica, Arial, Sans !important;
}

body {
    width: 980px;
    padding: 0 10px;
    margin: auto;
	font-size: 11pt;
//	background-color: #FFFACD;
	background-color: #f7efc6;
//	background-image: url(/public/images/background_test.jpg);
//	background-attachment: fixed;
	color: #612d00;
}

#bg-img {
  /* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	position: fixed;
	/* またはabsolute; */
	top: 0;
    left: 0;
}

div#container {
	position: relative;
}

h1 {
font-size: 13pt;
/*
background-color: #dbb96b;
*/
padding: 3px;
}
h2 {
font-size: 10pt;
padding: 2px;
}

input[type="text"] {
   height: 15px;
}

input[type="submit"],input[type="button"] {
    border-style: solid;
    border-color: #aaa;
    border-width: 1px;
    cursor: pointer;
}

.numeric {
	text-align: right;
}

.num3 {
	padding-right: 4px;
}

.aBtn {
    background-color: #dbb96b;
    width: auto;
}

.invisible {
	display: none;	
}

.inlineVerticalMiddle {
	display: inline-block;
	vertical-align: middle;
}


/** HouseholdAccounts header **/

#header {
//	padding: 10px 0;
//	position: relative;
	position: fixed;
    width: 980px;
//	background-image: url(/public/images/brown2_80.png);
	background-image: url(/public/images/brown3_90.png);
	z-index: 99;
//	height: 193px;
	height: 74px;
}


#cmHeader {
	position: fixed;
    width: 980px;
	background-image: url(/public/images/brown3_90.png);
	z-index: 99;
//	height: 40px;
}

#dlHeader {
	position: fixed;
    width: 980px;
	background-image: url(/public/images/brown3_90.png);
	z-index: 99;
//	height: 159px;
//	height: 100px;
}

#cfHeader {
	position: fixed;
    width: 980px;
	background-image: url(/public/images/brown3_90.png);
	z-index: 99;
//	height: 66px;
}


#main {
	padding-top: 70px;	
}

#cmMain {
	padding-top: 30px;	
}

#dlMain {
	padding-top: 157px;	
}

#cfMain {
	padding-top: 70px;	
}

#logo-table {
	display: table;
//	width: 660px;
}

#logo-pre {
//	color: #a34c00;
	color: #ffd391;
//	font-size: 24px;
	font-size: 12px;
	font-weight: bold;
	padding-left: 4px;
}

#logo {
//	color: #a34c00;
	color: #ffd391;
//	font-size: 48px;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -4px;
	text-shadow: 1px 2px 2px #000;
	background-image: url(/public/images/logo.png);
	width: 130px;
	height: 30px;
}

#logo span {
    color: #f00;
    font-size: 70%;
}

#tools {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
//    right: 0;
    top: 10px;
    right: 20px;
}

#tools a {
//    color: #612d00;
	color: #ffd391;
//    text-decoration: none;
    text-decoration: underline;
}

#tools li {
    display: inline;
	color: #ffd391;
}

/** Login , Admin **/

#loginMenu, #adminMenu {
    list-style: none;
    padding: 0;
    margin: 5px 0px 8px 5px;
}

#loginMenu li, #adminMenu li {
    display: inline;
}

#loginMenu li a, #adminMenu li a {
    color: #fff;
    text-decoration: none;
    font-size: 80%;
    padding: 2px 10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}
#loginMenu li a {
//    background: #733405;
//    background: #755a36;
    background: #633308;
}
#adminMenu li a {
    background: #591C64;
}

#loginMenu li.selected a, #adminMenu li.selected a {
    background: #82A346;
}


/** views.admin.adminMenu.member **/

#admin .data {
	background-image: url(/public/images/white20.png);
	padding: 4px;
	margin: 0;
	font-size: 90%;
}

#admin .data.odd {
/**
	background: #C0CBE5;

	background: #dbb96b;
**/
/**
	background: transparent;
**/
	background-image: url(/public/images/white20.png);
}

#admin .data a {
    color: #444;
}

#newData {
    border-top: 1px dotted #C0CBE5;
    padding-top: 15px;
}

#newData a {
    background: #C88116;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    padding: 5px 10px;
    font-size: 80%;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

#newData a span {
    background: #7D510E;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 0 5px 2px 5px;
    position: relative;
    top: -1px;
}

#recordContent {
    width: 100%;
    height: 300px;
}

.hasError {
    background: pink;
}


/*
 * dailyAccount
 */

/* すべての線を表示 */
.allLine {
	border: 1px solid #aaa;
}

/* 左右・下の線を表示 */
.lrb_Line {
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

/* 上の線を表示 */
.t_Line {
	border-top: 1px solid #aaa;
}

/* すべての線を表示(色なし) */
.allLineTransparence {
	border: 1px;
}

#tblDailyAccount {
    font-size: 80%;
}





/* .da_tbl_all 日計表の枠固定の上下を分けるテーブル */
.da_tbl_all {
	list-style: none;
	padding: 0;
	mergin: 0;
    font-size: 80%;
}
.da_tbl_all li {
	clear: both;
}
.da_tbl_all li div.da_tbl_all_div {
	display: table-cell;
	float: left;
}

/* .da_tbl_lt 日計表の枠固定の左上のテーブル */
.da_tbl_lt {
	list-style: none;
	padding: 0;
	mergin: 0;
	width: 320px;
}
.da_tbl_lt li div.first {
	display: table-cell;
	border-right: 1px solid transparent;
	height: 25px;
}
.da_tbl_lt li div.second {
	display: table-cell;
	border-right: 1px solid transparent;
	height: 30px;
}

/* .da_tbl_rt 日計表の枠固定の右上のテーブル */
.da_tbl_rt {
	list-style: none;
	padding: 0;
	mergin: 0;
}
.da_tbl_rt li div.first {
	display: table-cell;
	height: 25px;
	padding-left: 150px;
}

.da_tbl_rt li div.second {
	display: table-cell;
	/* border-right: 1px solid #transparent; としても幅を取っていない(CSSのバグ？)ようなので、
	 * 下記は コメントアウトし、ヘッダー部分は「.da_hd_ary_day」で対応 */
/*
	border-right: 1px solid #transparent;
*/
	border-bottom: 1px solid #aaa;
	height: 30px;
}

/* .da_tbl_lb 日計表の枠固定の左下のテーブル */
.da_tbl_lb {
	list-style: none;
	padding: 0;
	mergin: 0;
	width: 320px;
}
.da_tbl_lb li div {
	display: table-cell;
	border-right: 1px solid #aaa;
	height: 26px;
	vertical-align: middle;
}

/* .da_tbl_rb 日計表の枠固定の右下のテーブル */
.da_tbl_rb {
	list-style: none;
	padding: 0;
	mergin: 0;
}
.da_tbl_rb li div {
	display: table-cell;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	height: 26px;
	vertical-align: middle;
}


#da_trow {
	overflow: hidden;
}

#da_tcol {
	width: 320px;
	height: 470px;
	overflow: hidden;
}

#da_tbody {
	height: 470px;
	overflow-x: hidden;
	overflow-y: auto;
}

.da_head {
	border-top: 1px solid transparent;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.da_hd_cate1 {
	border-left: 1px solid transparent;
	border-bottom: 1px solid #aaa;
	width: 22px;
}

.da_hd_cate1_2 {
	border-left: 1px solid transparent;
	border-bottom: 1px solid #aaa;
	width: 113px;
}

.da_hd_left_cell {
	border-left: 1px solid transparent;
}

/*
 * border-right: 1px solid #transparent; としても幅を取っていない(CSSのバグ？)ようなので、下記で対応
 */
.da_hd_ary_day {
	/* 99px(da_ary_dayの幅)+1px(透明borderの代わり)=100px */
	width: 100px;
}

.da_hd_ary_day_end {
	width: 84px;
}


.da_cate1 {
	border-left: 1px solid transparent;
	border-bottom: 1px solid transparent;
	width: 22px;
}

.da_cate1_last {
	border-bottom: 1px solid #aaa;
}

.da_cate1_2 {
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	width: 113px;
}

.da_cate2 {
	width: 90px;
	border-bottom: 1px solid #aaa;
}

.da_budget {
	width: 96px;
	border-bottom: 1px solid #aaa;
}
.da_budget input[type="text"] {
	width: 90px;
	background-color: #fff;
	font-size: 100%
}


.da_cate2_budget {
	width: 187px; /* 90(cate2)+1(border)+96(budget) */
	border-bottom: 1px solid #aaa;
}

.da_cate1_2_budget {
	border-left: 1px solid #aaa;
	width: 210px; /* 22(cate1)+1(border)+90(cate2)+1(border)+96(budget) */
	border-bottom: 1px solid #aaa;
}

.da_sum_month {
	width: 96px;
	border-bottom: 1px solid #aaa;
}

.da_left_cell {
	border-left: 1px solid #aaa;
}

.da_ary_day {
	width: 99px;
}

.daBtn_upd_budget {
	font-size: 90%;
	padding: 0px 2px;
	text-decoration: none;
}

.daBtnPreNext {
	font-size: 90%;
	padding: 4px 4px;
	text-decoration: none;
	background-color: #eee;
	border-style: solid;
	border-color: #aaa;
	border-width: 1px;
	color: #000;
}

.daBtnPreNext:hover , .daBtnPreNext:focus {
	cursor: pointer;
}

a.daBtnPreNext span {
	display:none;
	padding:5px;
	margin-left:10px;
	border:1px solid #cccccc;
	color:#8c5e00;
	background-color:#ffffff;
 }
 
a.daBtnPreNext:hover span{
	display:inline;
	position:absolute;
}


.daPaddingYearMonth {
	padding-left: 20px;
	padding-right: 20px;
}


/* .menu_cell コンテキストメニューを出すセルのクリックイベント用 */
.menu_cell {
	background-image: url(/public/images/white20.png);
}
.menu_cell:hover {
//	background-color: #eee;
	cursor: pointer;
}

/*
 * balanceTable
 */

#bt_basisDate {
	font-size:90%;
 	font-weight:bold;
	padding-top: 10px;	
}

/* .bt_tbl_all 残高表の大枠のテーブル */
.bt_tbl_all {
	list-style: none;
	padding: 0;
	mergin: 0;
    font-size: 80%;
    width: 700px;
}
.bt_tbl_all li {
	clear: both;
}
.bt_tbl_all li div.bt_tbl_all_l {
	display: table-cell;
//	display: block;
	float: left;
}

.bt_tbl_all li div.bt_tbl_all_r {
	display: table-cell;
//	display: block;
	float: right;
}

#bt_tcol {
	height: 470px;
	overflow-x: hidden;
	overflow-y: auto;
}

/* .bt_tbl_each 残高表の各々(実残高、My貯金・・・) */
.bt_tbl_each {
	list-style: none;
	padding: 0;
	mergin: 0;
	width: 320px;
	display: table;
	border-collapse: collapse;	/* 隣接する線を重ねて表示 */
}

.bt_tbl_each li div {
	display: table-cell;
	height: 26px;
	vertical-align: middle;
}

.bt_cate_large {
	width: 170px;
}

.bt_cate_small_pre {
	width: 20px;
}

.bt_cate_small {
	width: 150px;
}

.bt_ary_day {
	width: 99px;
}


/** recordEdit **/
.re_w150 {
	width:150px;
}

/** detailList **/
#tblDetailList {
    font-size: 80%;
    width: 100%;
    overflow-y: auto;
}

#dl_tblFrameHd {
	height: 103px;
	overflow: hidden;
}

#dl_tblFrame {
	width: 100%;
    height: 100%;
	overflow-x: auto;
}

#dl_tblContent {
    width: 1220px;
}

#dlRb_tblContent {
    width: 980px;
}

.dl_tbl {
	list-style: none;
	padding: 0;
	mergin: 0;
    font-size: 90%;
}

.dl_tbl li div {
	display: table-cell;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

.dl_srch_edit {
	width:50px;
	border-left: 1px solid #aaa;
	text-align: center;
	vertical-align: middle;
	padding: 4px 0px;
}

.dl_borderLeft {
	border-left: 1px solid #aaa;
}

/* 下記が無いと .dl_tbl の font-size: 90%; が効かない */
.dl_tbl_content , .dl_edit_link {
	font-size: 100%;
}

.dl_edit_link , .dl_edit_link:visited {
	padding: 0px 8px;
	background-color: transparent;
	color: #aaa;
	text-decoration: none;
}

.dl_edit_link:hover , .dl_edit_link:focus {
	background-color: #eee;
	border-style: solid;
	border-color: #aaa;
	border-width: 1px;
	color: #000;
	cursor: pointer;
}

.dl_edit_link:active {
	border-style: inset;
}


.dl_secret_rec_flg {
	width:45px;
	text-align: center;
	vertical-align: middle;
}

.dl_payment_date {
	width:90px;
	vertical-align: middle;
}

.dl_string {
	padding-left: 4px;
}

.dl_payment_date_text {
    width: 80px;
}

.dl_balance_type {
	width:110px;
	vertical-align: middle;
	padding: 4px 0px;
}

.dl_amount {
	width:90px;
	text-align: right;
	vertical-align: middle;
}

.dl_content {
	width:120px;
	vertical-align: middle;
}

.dl_common_column {
	width:110px;
	vertical-align: middle;
}

.dlRb_debit_date {
	width:90px;
	vertical-align: middle;
	padding: 4px 0px;
}

.dlRb_secret_rec_flg {
	width:45px;
	border-left: 1px solid #aaa;
	text-align: center;
	vertical-align: middle;
}

.dlRb_remainder {
	width:110px;
	text-align: right;
	vertical-align: middle;
}

.dl_head {
	border-top: 1px solid #aaa;
	height: 80px;
	font-weight: bold;
	text-align: center;
//	background-image: url(/public/images/white20.png);
	background-image: url(/public/images/black20.png);
	color: #e6be83;
}


/** Form **/

form .error {
    color: red;
}

.objectForm {
//	border: 1px solid #ddd;
	border: 1px solid #aaa;
}

/** Show **/

#crudShow {
	position: relative;
}

.crudDelete input {
	color: #fff;
	border: none;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	background: #c00;
	padding: 2px 10px;
	font-size: 90%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	cursor: pointer;
}

.crudDelete input:hover {
	opacity: .7;
}

/** crud.cssの真似 **/
label.fieldName {
	display: block;
	font-weight: bold;
	width: 20%;
	float: left;
	color: #666;
//	cursor: pointer;
}

.crudField {
	padding: 10px;
//	border-bottom: 1px solid #eee;
	border-bottom: 1px solid #bbb;
	position: relative;
}

#configListPagination {
	padding: 4px 5px;
	border: 1px solid #ddd;
	background: #efefef;
	border-top: 0;
	font-size: 90%;
	position: relative;
}

#configListPagination .configCount {
	margin: 0;
}

#configListPagination .configPages {
	margin: 0;
	position: absolute;
	right: 5px;
	top: 4px;
}

/** Pagination **/

#pagination {
    list-style: none;
    padding: 0;
    position: relative;
    color: #869AB1;
    font-size: 90%;
    top: -20px;
    margin-bottom: 30px;
}

#pagination a {
    color: #869AB1;
    font-size: 90%;
}

#pagination #previous {
    position: absolute;
    top: 0;
    left: 0;
}

#pagination #previous:before {
    content: '<< ';
}

#pagination #next {
    position: absolute;
    top: 0;
    right: 0;
}

#pagination #next:after {
    content: ' >>';
}

/** Flash message **/

.crudFlash {
	padding: 5px 20px;
	border-bottom: 1px solid #ddd;
	color: #fff;
}

.flashError {
	background: #c00;
}
