body {
font-size: 10pt;
background-color: #F6FFFF;
color: #003366;
}
h1 {
font-size: 12pt;
background-color: #CCDDFF;
padding: 3px;
}
h2 {
font-size: 10pt;
padding: 2px;
}

.aBtn {
    background-color: #60ffa0;
    width: auto;
}

/** HouseholdAccounts header **/

#header {
    padding: 10px 0;
    position: relative;
}

#logo {
    display: block;
    height: 49px;
    margin-left: 20px;
    color: #000080;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -4px;
    text-shadow: 1px 2px 2px #000;
}

#logo span {
    color: #f00;
    font-size: 70%;
}

#tools {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 30px;
    right: 20px;
}

#tools a {
    color: #000080;
    text-decoration: none;
}
