body {
font-size: 10pt;
background-color: #F6FFFF;
color: #003366;
}
h1 {
font-size: 12pt;
background-color: #CCDDFF;
padding: 3px;
}
h2 {
font-size: 10pt;
padding: 2px;
}

.aBtn {
    background-color: #60ffa0;
    width: auto;
}
