#result {
	font-size:24px;
	color:#0000cc;
}

.txtBold{
    font-weight: bold;
}
.txtRed{
    color: #ff0000;
}
.txtBlue{
    color: #0000ff;
}
.txtUnder{
    text-decoration: underline;
}
.txtBig{
    font-size:122%;
}

a.exlink{
    background: url(/public/images/newwinicon.gif) no-repeat center right;
    padding-right: 20px;
}
