#{extends 'login.html' /}
#{set title:'明細表' /}

<script type="text/javascript" src="@{'/public/javascripts/jquery.datepicker.js'}" ></script>

<!-- 
<h2>
	<table id="pages">
		<tr><td><a href="@{Application.index}">&{'views.application.tools.home'}</a></td><td>&{'views.application.tools.detaillist'}</td></tr>
	</table>
</h2>
 -->
<br>

<script type="text/javascript">
<!--
// 「行追加」　をしようとしたコード
jQuery(document).ready(function() {
    jQuery( '#jquery-ui-dialog-opener' ) . click( function() {
		jQuery( '#jquery-ui-dialog-table tbody' ) . append(
		    '<tr>' +
		    '<script type="text/javascript">' +
		    '<!-- ' +
		    'jQuery.getScript("/public/javascripts/jquery.datepicker.js");' +
		    'WEB_SOCKET_SWF_LOCATION = "/public/swfs/WebSocketMain.swf";' +
		    'WEB_SOCKET_DEBUG = false;' +
		    'var ws;' +
		    'ws = new WebSocket("@@{DetailList.WebSocketApp.listen()}");' +
		    'jQuery("#ins").click(function() {' +
		    '    var $datepicker = jQuery(".datepicker");' +
		    '    ws.send($datepicker.val());' +
		    '});' +
		    '// -->' +
		    '</scri' + 'pt>' +
		    '<td><a id="ins" href="#">更新</a></td>' +
		    '<td><input type="text" class="datepicker" name="n_payment_date "size="13" />' +
		    '</td>' +
		    '<td><select name="n_item_id">' + 
		    '        <option value="1" selected="selected">食費</option>' +
		    '        <option value="2">家財住居</option>' +
		    '        <option value="3">水道光熱</option>' +
		    '        <option value="999">新規作成</option>' + 
		    '    </select>' + 
			'</td>' +
		    '</tr>'
		);
    } );
} );

// -->
</script>

#{form @detailList()}

	<script type="text/javascript">
	<!--
//	jQuery(document).ready(function() {
//		var dates = jQuery("#from, #to").datepicker({
//			defaultDate: "+1w",
//			changeMonth: true,
//			numberOfMonths: 1,
//			showOtherMonths: true,
//			selectOtherMonths: true,
//			showAnim: "drop",
//			changeMonth: true,
//			changeYear: true,
//			yearRange: '1900:2999',
//			dateFormat: 'yy/mm/dd',
//			onSelect: function( selectedDate ) {
//				var option = this.id == "from" ? "minDate" : "maxDate",
//					instance = jQuery( this ).data( "datepicker" ),
//					date = jQuery.datepicker.parseDate(
//						instance.settings.dateFormat ||
//						jQuery.datepicker._defaults.dateFormat,
//						selectedDate, instance.settings );
//				dates.not( this ).datepicker( "option", option, date );
//			}
//		});
//	});
	// -->
	</script>

	
	<table id="jquery-ui-dialog-table" class="ui-widget ui-widget-content" border="1">
		<thead>
			<tr>
				<th>
					<input type="submit" name="srch" value="絞込" />
				</th>
				<th>&{'payment_date'}<br>
					<input type="text" id="from" name="h_payment_date_fr" size="13" value="${h_payment_date_fr}" />
					<label for="to">～</label><br>
					<input type="text" id="to" name="h_payment_date_to" size="13" value="${h_payment_date_to}" />
				</th>
				<th>&{'balance_type_mst'}<br>
					<select name="h_balance_type_id">
						<option value="0"${h_balance_type_id==0 ? ' selected' : ''}>すべて</option>
						#{list items:bTypes, as:'bType'}
						<option value="${bType.id}"${h_balance_type_id==bType.id ? ' selected' : ''}>${bType.balance_type_name}</option>
						#{/list}
					</select>
				</th>
				<th>&{'item_mst'}<br>
					<select id="h_combo" name="h_item_id" style="width:100px;">
						<option value="0"${h_item_id==0 ? ' selected' : ''}>すべて</option>
						#{list items:itemsIn, as:'itemIn'}
						<option value="${itemIn.id}"${h_item_id==itemIn.id ? ' selected' : ''}>${itemIn.item_name}</option>
						#{/list}
						#{list items:itemsOut, as:'itemOut'}
						<option value="${itemOut.id}"${h_item_id==itemOut.id ? ' selected' : ''}>${itemOut.item_name}</option>
						#{/list}
					</select>
				</th>
				<!-- 20120702 Saka Del Start -->
				<!-- 
				<th>項目詳細<br></th>
				 -->
				<!-- 20120702 Saka Del End   -->
				<th>&{'amount'}<br></th>
				<th>&{'handling_mst'}<br>
					<select style="width:100px;">
						<option value="0" selected>すべて</option>
					</select>
				</th>
				<th>&{'debit_date'}<br></th>
				<th>&{'content'}<br></th>
				<th>&{'store'}<br></th>
				<th>&{'remarks'}<br></th>
				<th>&{'ideal_deposit_mst'}<br></th>
			</tr>
		</thead>
		<tbody>
		#{if records.size() > 0}
			<!-- 取得レコード(編集可) -->
			#{list items:records, as:'record'}
			<tr>
				<!-- id -->
				<input type="hidden" id="e_id_${record.id}" name="e_id" value="${record.id}"/>
				<td>
					<input type="button" value="編集" onClick="location.href='@{RecordEdit.recordEdit(record.id)}'">
				</td>
				<td>
					<!-- 支払日 -->
					<input type="text" id="e_payment_date_${record.id}" class="datepicker" name="e_payment_date"
						value="${record.payment_date.format('yyyy/MM/dd')}" size="13" />
				</td>
				<td>
					<!-- 収支種類 -->
					<!-- 
					編集不可項目にしたため、下記はコメントアウト
					<select id="e_bType_combo_${record.id}">
						#{list items:bTypes, as:'bType'}
						<option value="${bType.id}"${record.balance_type_mst==bType.id ? ' selected' : ''}>${bType.balance_type_name}</option>
						#{/list}
					</select>
					 -->
					#{list items:bTypes, as:'bType'}
					${record.balance_type_mst==bType ? bType.balance_type_name : ""}
					#{/list}
				</td>
				<td>
					<script type="text/javascript">
					<!--
//					コンボの最後に、項目の新規作成ロジックを作ろうとしたコード
//					jQuery(document).ready(function() {
//						// コンボボックスの要素の変更のイベントハンドラー
//						jQuery("#e_combo_${record.id}").bind('change', function() {
//							var selval = jQuery('#e_combo_${record.id} option:selected').val();
//							if(selval=="999") {
//								window.alert('新規です');
//							}
//						});
//					});
					// -->
					</script>

					<!-- 項目 -->
					#{if record?.item_mst?.balance_type_mst}
						<select id="e_combo_${record.id}" name="e_item_id" style="width:100px;">
						#{if record?.item_mst?.balance_type_mst?.balance_type_name == "収入"}
							#{list items:itemsIn, as:'itemIn'}
							<option value="${itemIn.id}"${record.item_mst==itemIn ? ' selected' : ''}>${itemIn.item_name}</option>
							#{/list}
						#{/if}
						#{elseif record?.item_mst?.balance_type_mst?.balance_type_name == "支出"}
							#{list items:itemsOut, as:'itemOut'}
							<option value="${itemOut.id}"${record.item_mst==itemOut ? ' selected' : ''}>${itemOut.item_name}</option>
							#{/list}
						#{/elseif}
						</select>
					#{/if}
				</td>
				<!-- 20120702 Saka Del Start -->
				<!-- 
				<td>
				 -->
				<!-- 20120702 Saka Del End   -->
					<!-- 項目詳細 -->
				<!-- 20120702 Saka Del Start -->
				<!-- 
					<input type="text" id="e_detail_mst_${record.id}" name="e_detail_mst"
						value="${record.detail_mst}" size="13" />
				</td>
				 -->
				<!-- 20120702 Saka Del End   -->
				<td>
					<!-- 金額 -->
					<input type="text" id="e_amount_${record.id}" name="e_amount"
						value="${record.amount}" size="13" />
				</td>
				<td>
					<!-- 取扱 -->
					<input type="text" id="e_handling_mst_${record.id}" name="e_handling_mst"
						value="" size="13" />
				</td>
				<td>
					<!-- 引落日 -->
					<input type="text" id="e_debit_date_${record.id}" name="e_debit_date"
						value="" size="13" />
				</td>
				<td>
					<!-- 内容 -->
					<input type="text" id="e_content_${record.id}" name="e_content"
						value="${record.content}" size="13" />
				</td>
				<td>
					<!-- お店 -->
					<input type="text" id="e_store_${record.id}" name="e_store"
						value="${record.store}" size="13" />
				</td>
				<td>
					<!-- 備考 -->
					<input type="text" id="e_remarks_${record.id}" name="e_remarks"
						value="${record.remarks}" size="13" />
				</td>
				<td>
					<!-- マイ貯金 -->
					<input type="text" id="e_ideal_deposit_mst_${record.id}" name="e_ideal_deposit_mst"
						value="${record.ideal_deposit_mst}" size="13" />
				</td>
			
			</tr>
			#{/list}
		#{/if}
		</tbody>
		
	</table>
	
    <br>
    <a id="jquery-ui-dialog-opener" class="aBtn" href="#">行追加</a>
    <br>
    <br>

	#{if records.size() > 0}
		<input type="submit" name="save" value="保存" />

		<script type="text/javascript">
		<!--
		WEB_SOCKET_SWF_LOCATION = "@{'/public/swfs/WebSocketMain.swf'}";
		WEB_SOCKET_DEBUG = false;
		
		var ws;
	    ws = new WebSocket("@@{DetailList.WebSocketApp.listen()}");
	
	    ws.onmessage = function(event) {
	        //$('#messages').append('<div>' + event.data + '</div>');
	        //alert(event.data);
	        //jQuery("#e_combo_${record.id}").append('<option>test</option>');
	        //alert("test");
	    };
					
		#{list items:records, as:'record'}
		    //jQuery("#e_upd_${record.id}").click(function() {
			jQuery(document).ready(function() {
				// 支払日の変更イベント
				jQuery("#e_payment_date_${record.id}").change(function() {
					var data = "{"
						+ "\"act_type\": "
						+ "\"update\"" + ","
						+ "\"edited_col\": "
						+ "\"payment_date\"" + ","
						+ "\"id\": "
						+ jQuery("#e_id_${record.id}").val() + ","
						+ "\"col_val\": \""
						+ jQuery("#e_payment_date_${record.id}").val()
						+ "\"" 
						+"}";
			        ws.send(data);
			    });
			});
				
			jQuery(document).ready(function() {
				// 収支種類の変更イベント
				jQuery("#e_bType_combo_${record.id}").change(function() {
					var data = "{"
						+ "\"act_type\": "
						+ "\"update\"" + ","
						+ "\"edited_col\": "
						+ "\"balance_type_id\"" + ","
						+ "\"id\": "
						+ jQuery("#e_id_${record.id}").val() + ","
						+ "\"col_val\": \""
						+ jQuery("#e_bType_combo_${record.id}").val()
						+ "\"" 
						+"}";
			        ws.send(data);
			    });
			});
				
			jQuery(document).ready(function() {
				// コンボボックスのクリックイベント
				jQuery("#e_combo_${record.id}").click(function() {
					var data = "{"
						+ "\"act_type\": "
						+ "\"dsp_eCmb\""
						+"}";
			        ws.send(data);
				});
			});
		    
		#{/list}
		// -->
		</script>
	#{/if}


#{/form}
