#{extends 'login.html' /}
#{set title:'明細表' /}

<script type="text/javascript" src="@{'/public/javascripts/jquery.datepicker.js'}" ></script>

#{form @detailList()}

<!-- 
	<div id="dl_tblFrame">
	<table id="tblDetailList" class="ui-widget ui-widget-content" border="1">
	
		<thead>
			<tr>
				<th>
					<input type="submit" name="srch" value="絞込" />
				</th>

				<！-- 支払日 －->
				<th>&{'payment_date'}<br>
					<input type="text" id="from" name="h_payment_date_fr_old" size="13" value="${h_payment_date_fr}" />
					<label for="to">～</label><br>
					<input type="text" id="to" name="h_payment_date_to_old" size="13" value="${h_payment_date_to}" />
				</th>
				
				<！-- 収支種類 －->
				<th>&{'balance_type_mst'}<br>
					<select name="h_balance_type_id">
						<option value="0"${h_balance_type_id==0 ? ' selected' : ''}>&{'views.common.combo.all'}</option>
						#{list items:bTypes, as:'bType'}
						<option value="${bType.id}"${h_balance_type_id==bType.id ? ' selected' : ''}>${bType.balance_type_name}</option>
						#{/list}
					</select>
				</th>
 				
				<！-- 取扱(実際) －->
				<th>&{'handling_mst'}<br>
					<select style="width:100px;">
						<option value="0"${h_handling_id==0 ? ' selected' : ''}>&{'views.common.combo.all'}</option>
					</select>
				</th>
				<！-- 取扱(My貯金) －->
				<th>&{'ideal_deposit_mst'}<br>
					<select name="h_ideal_deposit_id">
						<option value="0"${h_ideal_deposit_id==0 ? ' selected' : ''}>&{'views.common.combo.all'}</option>
						#{list items:iDepos, as:'iDepo'}
						<option value="${iDepo.id}"${h_ideal_deposit_id==iDepo.id ? ' selected' : ''}>${iDepo.ideal_deposit_name}</option>
						#{/list}
						<option value="-1"${h_ideal_deposit_id==-1 ? ' selected' : ''}>&{'views.common.combo.space'}</option>
						<option value="-2"${h_ideal_deposit_id==-2 ? ' selected' : ''}>&{'views.common.combo.notspace'}</option>
					</select>
				</th>
				
				<！-- 項目 －->
				<th>&{'item_mst'}<br>
					<select id="h_combo" name="h_item_id" style="width:100px;">
						<option value="0"${h_item_id==0 ? ' selected' : ''}>&{'views.common.combo.all'}</option>
						#{list items:itemsIn, as:'itemIn'}
						<option value="${itemIn.id}"${h_item_id==itemIn.id ? ' selected' : ''}>${itemIn.item_name}</option>
						#{/list}
						#{list items:itemsOut, as:'itemOut'}
						<option value="${itemOut.id}"${h_item_id==itemOut.id ? ' selected' : ''}>${itemOut.item_name}</option>
						#{/list}
					</select>
				</th>
				<！-- 金額 －->
				<th>&{'amount'}<br></th>
				<！-- 引落日 －->
				<th>&{'debit_date'}<br></th>
				<！-- 内容 －->
				<th>&{'content'}<br></th>
				<！-- お店 －->
				<th>&{'store'}<br></th>
				<！-- 備考 －->
				<th>&{'remarks'}<br></th>
			</tr>
		</thead>
		<tbody>
		#{if records.size() > 0}
			<！-- 取得レコード(編集可)
			#{list items:records, as:'record'}
			<tr>
				<！-- id －->
				<input type="hidden" id="e_id_${record.id}" name="e_id" value="${record.id}"/>
				<td>
					<input type="button" value="編集" onClick="location.href='@{RecordEdit.recordEdit(record.id)}'">
				</td>
				<！-- 支払日 －->
				<td>
					<input type="text" id="e_payment_date_${record.id}" name="e_payment_date"
						value="${record.payment_date.format('yyyy/MM/dd')}" size="13" />
				</td>
				<！-- 収支種類 －->
				<td>

					<！-- 
					編集不可項目にしたため、下記はコメントアウト
					<select id="e_bType_combo_${record.id}">
						#{list items:bTypes, as:'bType'}
						<option value="${bType.id}"${record.balance_type_mst==bType.id ? ' selected' : ''}>${bType.balance_type_name}</option>
						#{/list}
					</select>
					 －->


					${record.balance_type_mst.balance_type_name}
				</td>
				<！--取扱(実際) －->
				<td>
					<！-- 
					<input type="text" id="e_handling_mst_${record.id}" name="e_handling_mst"
						value="" size="13" />
					 －->
					${record?.handling_mst?.handling_name}
				</td>
				<！--取扱(My貯金) －->
				<td>
					<input type="text" name="e_ideal_deposit_mst"
						value="${record.ideal_deposit_mst}" size="13" />
				</td>
				<！-- 項目 －->
				<td>
					<script type="text/javascript">
					<！--
//					コンボの最後に、項目の新規作成ロジックを作ろうとしたコード
//					jQuery(document).ready(function() {
//						// コンボボックスの要素の変更のイベントハンドラー
//						jQuery("#e_combo_${record.id}").bind('change', function() {
//							var selval = jQuery('#e_combo_${record.id} option:selected').val();
//							if(selval=="999") {
//								window.alert('新規です');
//							}
//						});
//					});
					// －->
					</script>

					#{if record?.item_mst?.balance_type_mst}
						<select id="e_combo_${record.id}" name="e_item_id" style="width:100px;">
						#{if record?.item_mst?.balance_type_mst?.balance_type_name == messages.get('BalanceType.in')}
							#{list items:itemsIn, as:'itemIn'}
							<option value="${itemIn.id}"${record.item_mst==itemIn ? ' selected' : ''}>${itemIn.item_name}</option>
							#{/list}
						#{/if}
						#{elseif record?.item_mst?.balance_type_mst?.balance_type_name == "支出"}
							#{list items:itemsOut, as:'itemOut'}
							<option value="${itemOut.id}"${record.item_mst==itemOut ? ' selected' : ''}>${itemOut.item_name}</option>
							#{/list}
						#{/elseif}
						</select>
					#{/if}
				</td>
 				<！-- 金額 －->
				<td>
					<input type="text" id="e_amount_${record.id}" name="e_amount"
						value="${record?.amount}" size="13" />
				</td>
				<！-- 引落日 －->
				<td>
					<input type="text" id="e_debit_date_${record.id}" name="e_debit_date"
						value="${record?.debit_date?.format('yyyy/MM/dd')}" size="13" />
				</td>
				<！-- 内容 －->
				<td>
					<input type="text" id="e_content_${record.id}" name="e_content"
						value="${record?.content}" size="13" />
				</td>
				<！-- お店 －->
				<td>
					<input type="text" id="e_store_${record.id}" name="e_store"
						value="${record?.store}" size="13" />
				</td>
				<！-- 備考 －->
				<td>
					<input type="text" id="e_remarks_${record.id}" name="e_remarks"
						value="${record?.remarks}" size="13" />
				</td>
				
			</tr>
			#{/list}
		#{/if}
		</tbody>
		
	</table>
	</div>
-->
	

	
	
	<div id="dl_tblFrame">
	<div id="dl_tblContent">
	<ul class="dl_tbl">
		<!-- ヘッダー行 -->
		<li>
			<div class="dl_srch_edit dl_head">
				<input type="submit" class="dl_tbl_content" name="srch" value="絞込" />
			</div>
			<!-- 支払日 -->
			<div class="dl_payment_date dl_head">
				&{'payment_date'}<br>
				<input type="text" class="dl_tbl_content dl_payment_date_text" id="from" name="h_payment_date_fr" value="${h_payment_date_fr}" />
				<br><label for="to">～</label><br>
				<input type="text" class="dl_tbl_content dl_payment_date_text" id="to" name="h_payment_date_to" value="${h_payment_date_to}" />
			</div>
			<!-- 収支種類 -->
			<div class="dl_balance_type dl_head">
				&{'balance_type_mst'}<br>
				<select class="dl_tbl_content" name="h_balance_type_id">
					<option value="0"${h_balance_type_id==0 ? ' selected' : ''}>&{'views.common.combo.all'}</option>
					#{list items:bTypes, as:'bType'}
					<option value="${bType.id}"${h_balance_type_id==bType.id ? ' selected' : ''}>${bType.balance_type_name}</option>
					#{/list}
				</select>
			</div>
			<!-- 取扱(実際) -->
			<div class="dl_balance_type dl_head">
				&{'handling_mst'}<br>
				<select class="dl_tbl_content">
					<option value="0"${h_handling_id==0 ? ' selected' : ''}>&{'views.common.combo.all'}</option>
					#{list items:handlings, as:'handling'}
					<option value="${handling.id}"${h_handling_id==handling.id ? ' selected' : ''}>${handling.handling_name}</option>
					#{/list}
				</select>
			</div>
			<!-- 取扱(My貯金) -->
			<div class="dl_balance_type dl_head">
				&{'ideal_deposit_mst'}<br>
				<select class="dl_tbl_content" name="h_ideal_deposit_id">
					<option value="0"${h_ideal_deposit_id==0 ? ' selected' : ''}>&{'views.common.combo.all'}</option>
					#{list items:iDepos, as:'iDepo'}
					<option value="${iDepo.id}"${h_ideal_deposit_id==iDepo.id ? ' selected' : ''}>${iDepo.ideal_deposit_name}</option>
					#{/list}
					<option value="-1"${h_ideal_deposit_id==-1 ? ' selected' : ''}>&{'views.common.combo.space'}</option>
					<option value="-2"${h_ideal_deposit_id==-2 ? ' selected' : ''}>&{'views.common.combo.notspace'}</option>
				</select>
			</div>
			<!-- 項目 -->
			<div class="dl_balance_type dl_head">
				&{'item_mst'}<br>
				<select class="dl_tbl_content" id="h_combo" name="h_item_id">
					<option value="0"${h_item_id==0 ? ' selected' : ''}>&{'views.common.combo.all'}</option>
					#{list items:itemsIn, as:'itemIn'}
					<option value="${itemIn.id}"${h_item_id==itemIn.id ? ' selected' : ''}>${itemIn.item_name}</option>
					#{/list}
					#{list items:itemsOut, as:'itemOut'}
					<option value="${itemOut.id}"${h_item_id==itemOut.id ? ' selected' : ''}>${itemOut.item_name}</option>
					#{/list}
				</select>
			</div>
			<!-- 金額 -->
			<div class="dl_balance_type dl_head">
				&{'amount'}<br>
			</div>
			<!-- 引落日 -->
			<div class="dl_balance_type dl_head">
				&{'debit_date'}<br>
			</div>
			<!-- 内容 -->
			<div class="dl_balance_type dl_head">
				&{'content'}<br>
			</div>
			<!-- お店 -->
			<div class="dl_balance_type dl_head">
				&{'store'}<br>
			</div>
			<!-- 備考 -->
			<div class="dl_balance_type dl_head">
				&{'remarks'}<br>
			</div>
			#{if session.get('actionMode')!='View'}
				<!-- 備考(非公開) -->
				<div class="dl_balance_type dl_head">
					&{'secret_remarks'}<br>
				</div>
				
			#{/if}
				
		</li>
		<!-- 明細行 -->
		#{if records.size() > 0}
			#{list items:records, as:'record'}
			<li>
				<!-- 編集ボタン -->
				<div class="dl_srch_edit">
					<!-- id -->
					<input type="hidden" id="e_id_${record.id}" name="e_id" value="${record.id}"/>
					<input type="button" class="dl_tbl_content" value="編集" onClick="location.href='@{RecordEdit.recordEdit(record.id)}'">
				</div>
				<!-- 支払日 -->
				<div class="dl_payment_date">
					${record.payment_date.format('yyyy/MM/dd')}
				</div>
				<!-- 収支種類 -->
				<div class="dl_balance_type">
					${record.balance_type_mst.balance_type_name}
				</div>
				<!-- 取扱(実際) -->
				<div class="dl_balance_type">
					${record?.handling_mst?.handling_name}
				</div>
				<!-- 取扱(My貯金) -->
				<div class="dl_balance_type">
					${record?.ideal_deposit_mst?.ideal_deposit_name}
				</div>
				<!-- 項目 -->
				<div class="dl_balance_type">
					${record?.item_mst?.item_name}
				</div>
				<!-- 金額 -->
				<div class="dl_balance_type">
					${record?.amount}
				</div>
				<!-- 引落日 -->
				<div class="dl_balance_type">
					${record?.debit_date?.format('yyyy/MM/dd')}
				</div>
				<!-- 内容 -->
				<div class="dl_balance_type">
					${record?.content}
				</div>
				<!-- お店 -->
				<div class="dl_balance_type">
					${record?.store}
				</div>
				<!-- 備考 -->
				<div class="dl_balance_type">
					${record?.remarks}
				</div>
				#{if session.get('actionMode')!='View'}
					<!-- 備考(非公開) -->
					<div class="dl_balance_type">
						${record?.secret_remarks}
					</div>
					
				#{/if}
				
			</li>
			#{/list}
		#{/if}
	</ul>	

	</div>
	</div>
	
	
	
	<div id="configListPagination">
		#{DetailList.pagination /}
	</div>

	#{if records.size() > 0}
		<input type="submit" name="save" value="保存" />

		<script type="text/javascript">
		<!--
		//何故か、これがあるとIE9で「alert("test0");」が動かない Start
		WEB_SOCKET_SWF_LOCATION = "@{'/public/swfs/WebSocketMain.swf'}";
		WEB_SOCKET_DEBUG = false;
		var ws;
	    ws = new WebSocket("@@{DetailList.WebSocketApp.listen()}");
	    ws.onmessage = function(event) {
	        //$('#messages').append('<div>' + event.data + '</div>');
	        //alert(event.data);
	        alert("test");
	    };
		//何故か、これがあるとIE9で「alert("test0");」が動かない End
		#{list items:records, as:'record'}
			
			// 支払日の変更イベント
			jQuery("#e_payment_date_${record.id}").click(function() {
				var data = "{"
					+ "\"act_type\": "
					+ "\"update\"" + ","
					+ "\"edited_col\": "
					+ "\"payment_date\"" + ","
					+ "\"id\": "
					+ jQuery("#e_id_${record.id}").val() + ","
					+ "\"col_val\": \""
					+ jQuery("#e_payment_date_${record.id}").val()
					+ "\"" 
					+"}";
//			    ws.send(data);
			    alert("test0");
			});
				
//			jQuery(document).ready(function() {
//				// 収支種類の変更イベント
//				jQuery("#e_bType_combo_${record.id}").change(function() {
//					var data = "{"
//						+ "\"act_type\": "
//						+ "\"update\"" + ","
//						+ "\"edited_col\": "
//						+ "\"balance_type_id\"" + ","
//						+ "\"id\": "
//						+ jQuery("#e_id_${record.id}").val() + ","
//						+ "\"col_val\": \""
//						+ jQuery("#e_bType_combo_${record.id}").val()
//						+ "\"" 
//						+"}";
//			        ws.send(data);
//			    });
//			});
//				
//			jQuery(document).ready(function() {
//				// コンボボックスのクリックイベント
//				jQuery("#e_combo_${record.id}").click(function() {
//					var data = "{"
//						+ "\"act_type\": "
//						+ "\"dsp_eCmb\""
//						+"}";
//			        ws.send(data);
//				});
//			});
		    
		#{/list}

		// -->
		</script>
	#{/if}

#{/form}

	
