#{extends 'login.html' /}
#{set title:'明細表' /}

<script type="text/javascript">
<!--
//表示金額を3桁区切りに
jQuery(document).ready(function(){
	jQuery('.num3').each(function(i) {
		var numStr = addFigure(jQuery(this).html());
		jQuery(this).html(numStr);
	});
});

//文字列を3桁区切りにする関数
function addFigure(str) {
    var num = new String(str).replace(/,|\n| |\t/g, "");
//    while(num != (num = num.replace(/^(-?\d+)(\d{3})/, "$1,$2")));
	num = num.replace(/(\d)(?=(\d{3})+$)/g , '$1,');
    return num;
}
// -->
</script>

<script type="text/javascript" src="@{'/public/javascripts/jquery.datepicker.js'}" ></script>


<div>
	<ul id="loginMenu">
        <li class="selected">
			<a href="@{DetailList.detailList()}">収支明細</a>
		</li>
        <li>
			<a href="@{DetailList.dl_remainder_bank()}">残高明細(口座系)</a>
		</li>
		<li>
			<a>残高明細(My貯金)</a>
		</li>
	</ul>
</div>

#{form @DetailList.detailList()}
	%{ try { %}
		#{if session.get('detailMode')=='Balance'}
			#{include 'DetailList/dl_balanceMode.html' /}
		#{/if}
		#{if session.get('detailMode')=='RemainderBank'}
			#{include 'DetailList/dl_remainderMode_bank.html' /}
		#{/if}
	%{ } catch (play.exceptions.TemplateNotFoundException e) { }%
		ファイル読み込みできませんでした.
	%{ } }%
	
	<div id="configListPagination">
		#{DetailList.pagination /}
	</div>

	#{if records?.size() > 0}
		#{if 今後の課題}
			<input type="submit" name="save" value="保存" />
		#{/if}
		
		<script type="text/javascript">
		<!--
		//何故か、これがあるとIE9で「alert("test0");」が動かない Start
		WEB_SOCKET_SWF_LOCATION = "@{'/public/swfs/WebSocketMain.swf'}";
		WEB_SOCKET_DEBUG = false;
		var ws;
	    ws = new WebSocket("@@{DetailList.WebSocketApp.listen()}");
	    ws.onmessage = function(event) {
	        //$('#messages').append('<div>' + event.data + '</div>');
	        //alert(event.data);
	        alert("test");
	    };
		//何故か、これがあるとIE9で「alert("test0");」が動かない End
		#{list items:records, as:'record'}
			
			// 支払日の変更イベント
			jQuery("#e_payment_date_${record.id}").click(function() {
				var data = "{"
					+ "\"act_type\": "
					+ "\"update\"" + ","
					+ "\"edited_col\": "
					+ "\"payment_date\"" + ","
					+ "\"id\": "
					+ jQuery("#e_id_${record.id}").val() + ","
					+ "\"col_val\": \""
					+ jQuery("#e_payment_date_${record.id}").val()
					+ "\"" 
					+"}";
//			    ws.send(data);
			    alert("test0");
			});
				
//			jQuery(document).ready(function() {
//				// 収支種類の変更イベント
//				jQuery("#e_bType_combo_${record.id}").change(function() {
//					var data = "{"
//						+ "\"act_type\": "
//						+ "\"update\"" + ","
//						+ "\"edited_col\": "
//						+ "\"balance_type_id\"" + ","
//						+ "\"id\": "
//						+ jQuery("#e_id_${record.id}").val() + ","
//						+ "\"col_val\": \""
//						+ jQuery("#e_bType_combo_${record.id}").val()
//						+ "\"" 
//						+"}";
//			        ws.send(data);
//			    });
//			});
//				
//			jQuery(document).ready(function() {
//				// コンボボックスのクリックイベント
//				jQuery("#e_combo_${record.id}").click(function() {
//					var data = "{"
//						+ "\"act_type\": "
//						+ "\"dsp_eCmb\""
//						+"}";
//			        ws.send(data);
//				});
//			});
		    
		#{/list}

		// -->
		</script>
	#{/if}

#{/form}

	
