#{extends 'main.html' /}
#{set title:messages.get('views.detaillist.balance.title') /}

<script type="text/javascript" src="@{'/public/javascripts/funcCheckVal.js'}" ></script>

<script type="text/javascript">
<!--
jQuery(function(){
	/* 左クリックか右クリックでメニュー表示 */
	jQuery('.menu_cell').mousedown(function(e) {
		if (e.which==1 || e.which==3) {
			//家計簿編集へジャンプする際のID・呼び出し元をセット
			jQuery('#idRecordEdit').val(jQuery('.ToReId', jQuery(this).closest("li")).val());
			jQuery('#reEdCalledFrom').val("${request.actionMethod}");
			
			e.preventDefault();
			jQuery('.menu_cell').contextMenu({x: e.pageX, y: e.pageY});
		}
	});
	jQuery.contextMenu({
		selector: '.menu_cell',
		trigger: 'none',
		callback: function(key, options) {
			jQuery('#submitRecordEdit').click();
			jQuery('body').attr("disabled", "disabled");
		},
		items: {
			"dl_remainderBank": {name: "&{'views.common.menu.toRecordEdit'}"},
		}
	});
	
	/* 日付選択時にjumpするdatepicker(範囲指定) */
	jQuery("#frJump2").datepicker({
		defaultDate: "+1w",
		changeMonth: true,
		numberOfMonths: 1,
		showOtherMonths: true,
		selectOtherMonths: true,
		showAnim: "drop",
		changeMonth: true,
		changeYear: true,
		yearRange: '1900:2999',
		dateFormat: 'yy/mm/dd',
		showButtonPanel: true,
		onSelect: function( selectedDate ) {
			jQuery("#toJump2").datepicker("option", "minDate", selectedDate);
			jQuery(this).change();
		}
	});
	jQuery("#toJump2").datepicker({
		defaultDate: "+1w",
		changeMonth: true,
		numberOfMonths: 1,
		showOtherMonths: true,
		selectOtherMonths: true,
		showAnim: "drop",
		changeMonth: true,
		changeYear: true,
		yearRange: '1900:2999',
		dateFormat: 'yy/mm/dd',
		showButtonPanel: true,
		onSelect: function( selectedDate ) {
			jQuery("#frJump2").datepicker("option", "maxDate", selectedDate);
			jQuery(this).change();
		}
	});
	/* 起動時のdatepickerの選択可能範囲絞込 */
	if (ckDate("${h_debit_date_fr}"))
		jQuery("#toJump2").datepicker("option", "minDate", "${h_debit_date_fr}");
	if (ckDate("${h_debit_date_to}"))
		jQuery("#frJump2").datepicker("option", "maxDate", "${h_debit_date_to}");
	
	/* 「公開フラグ」・「収支種類」・「取扱(実際)」・「取扱(Parllet)」・「項目」の変更イベント */
	jQuery("#idHdSecretRecFlg, #dlCmbHdBalanceType, #dlCmbHdHandling, #dlCmbHdParllet, #idHdItem").change(function() {
		jQuery('#idSrch').click();
		jQuery('body').attr("disabled", "disabled");
    });
	
	/* 「支払日」・「引落日」の変更イベント */
	jQuery("#frJump, #toJump, #frJump2, #toJump2").change(function() {
		var sDate = jQuery(this).val().substr(0,10);
		if (sDate=='' || ckDate(sDate)==true) {
			jQuery('#idSrch').click();
			jQuery('body').attr("disabled", "disabled");
		}
    });
});
// -->
</script>

<script type="text/javascript" src="@{'/public/javascripts/jquery.contextMenu.js'}"></script>
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.contextMenu.css'}" />

#{set 'moreMenu'}
	#{include 'headerMenu.html' /}
#{/set}

#{set 'headerTools'}
	#{include 'headerTools.html' /}
#{/set}

#{set 'moreHeader'}
<div id="fill2">
	<div id="dlHeader">
		<div id="dlHeaderInner1">
			<!-- 家計簿編集へジャンプ用フォーム（非表示） -->
			#{include 'toRecordEdit_recordEdit.html' /}
			
			<!-- 明細表共通ヘッダー -->
			#{include 'DetailList/dl_header.html' /}
		</div>  <!-- dlHeaderInner1 -->
		<div id="dlHeaderInner2"></div>
		<div id="dlHeaderInner3"></div>
<div id="dlHeaderInner4">
#{form @DetailList.dl_balance(), id:'frmDlBalance'}

<!-- 絞込ボタン -->
<div class="invisible">
	<input type="submit" id="idSrch" name="srch" />
</div>
		
<div id="dl_tblFrameHd">

<div id="dl_tblContentHd">
  <ul class="dl_tbl">
	<!-- ヘッダー行 -->
	<li>
		#{if session.get('actionMode')!='View'}
			<!-- 非公開フラグ -->
			<div id="idHdSecretRecFlg" class="dl_secret_rec_flg dl_head dl_borderLeft">
				公<br>開<br>
				<select class="dl_tbl_content" name="h_secret_rec_flg">
					<option value="0"${h_secret_rec_flg==0 ? ' selected' : ''}>--</option>
					<option value="1"${h_secret_rec_flg==1 ? ' selected' : ''}>公</option>
					<option value="2"${h_secret_rec_flg==2 ? ' selected' : ''}>非</option>
				</select>
			</div>
		#{/if}
		<!-- 支払日 -->
		%{
			clDlPaymentDateHd = 'dl_payment_date dl_head'
            if (session.get('actionMode')=='View'){
                clDlPaymentDateHd += ' dl_borderLeft'
            }
		}%
		<div class="${clDlPaymentDateHd}">
			&{'payment_date'}<br>
			<input type="text" class="dl_tbl_content dl_payment_date_text" id="frJump" name="h_payment_date_fr" value="${h_payment_date_fr}" />
			<br><label for="to">～</label><br>
			<input type="text" class="dl_tbl_content dl_payment_date_text" id="toJump" name="h_payment_date_to" value="${h_payment_date_to}" />
		</div>
		<!-- 収支種類 -->
		<div class="dl_balance_type dl_head">
			&{'balance_type_mst'}<br>
			<select id="dlCmbHdBalanceType" class="dl_tbl_content" name="h_balance_type_id">
				<option value="0"${h_balance_type_id==0 ? ' selected' : ''}>&{'views.common.combo.all'}</option>
				#{list items:bTypes, as:'bType'}
				<option value="${bType.id}"${h_balance_type_id==bType.id ? ' selected' : ''}>${bType.balance_type_name}</option>
				#{/list}
			</select>
		</div>
		<!-- 取扱(実際) -->
		<div class="dl_common_column dl_head">
			&{'handling_mst'}<br>
			<select id="dlCmbHdHandling" class="dl_tbl_content" name="h_handling_id">
				<option value="0"${h_handling_id==0 ? ' selected' : ''}>&{'views.common.combo.all'}</option>
				#{list items:handlings, as:'handling'}
				<option value="${handling.id}"${h_handling_id==handling.id ? ' selected' : ''}>${handling.handling_name}</option>
				#{/list}
				<option value="-1"${h_handling_id==-1 ? ' selected' : ''}>&{'views.common.combo.space'}</option>
				<option value="-2"${h_handling_id==-2 ? ' selected' : ''}>&{'views.common.combo.notspace'}</option>
			</select>
		</div>
		<!-- 取扱(Parllet) -->
		<div class="dl_common_column dl_head">
			&{'parllet_mst'}<br>
			<select id="dlCmbHdParllet" class="dl_tbl_content" name="h_parllet_id">
				<option value="0"${h_parllet_id==0 ? ' selected' : ''}>&{'views.common.combo.all'}</option>
				#{list items:prlts, as:'prlt'}
				<option value="${prlt.id}"${h_parllet_id==prlt.id ? ' selected' : ''}>${prlt.parllet_name}</option>
				#{/list}
				<option value="-1"${h_parllet_id==-1 ? ' selected' : ''}>&{'views.common.combo.space'}</option>
				<option value="-2"${h_parllet_id==-2 ? ' selected' : ''}>&{'views.common.combo.notspace'}</option>
			</select>
		</div>
		<!-- 項目 -->
		<div id="idHdItem" class="dl_common_column dl_head">
			&{'item_mst'}<br>
			<select class="dl_tbl_content" id="h_combo" name="h_item_id">
				<option value="0"${h_item_id==0 ? ' selected' : ''}>&{'views.common.combo.all'}</option>
				#{list items:itemsIn, as:'itemIn'}
				<option value="${itemIn.id}"${h_item_id==itemIn.id ? ' selected' : ''}>${itemIn.item_name}</option>
				#{/list}
				#{list items:itemsOut, as:'itemOut'}
				<option value="${itemOut.id}"${h_item_id==itemOut.id ? ' selected' : ''}>${itemOut.item_name}</option>
				#{/list}
				<option value="-1"${h_item_id==-1 ? ' selected' : ''}>&{'views.common.combo.space'}</option>
				<option value="-2"${h_item_id==-2 ? ' selected' : ''}>&{'views.common.combo.notspace'}</option>
			</select>
		</div>
		<!-- 金額 -->
		<div class="dl_amount dl_head">
			&{'amount'}<br>
		</div>
		<!-- 引落日 -->
		<div class="dl_payment_date dl_head">
			&{'debit_date'}<br>
			<input type="text" class="dl_tbl_content dl_payment_date_text" id="frJump2" name="h_debit_date_fr" value="${h_debit_date_fr}" />
			<br><label for="to">～</label><br>
			<input type="text" class="dl_tbl_content dl_payment_date_text" id="toJump2" name="h_debit_date_to" value="${h_debit_date_to}" />
		</div>
		<!-- 内容 -->
		<div class="dl_content dl_head">
			&{'content'}<br>
		</div>
		<!-- お店 -->
		<div class="dl_common_column dl_head">
			&{'store'}<br>
		</div>
		<!-- 備考 -->
		<div class="dl_common_column dl_head">
			&{'remarks'}<br>
		</div>
		#{if session.get('actionMode')!='View'}
			<!-- 備考(非公開) -->
			<div class="dl_common_column dl_head">
				&{'secret_remarks'}<br>
			</div>
			
		#{/if}
			
	</li>
  </ul>	
</div>  <!-- dl_tblContentHd -->
</div>  <!-- dl_tblFrameHd -->
#{/form}
</div>  <!-- dlHeaderInner4 -->
	
	</div>  <!-- dlHeader -->
</div>  <!-- fill2 -->
#{/set}

<div id="dlMain">
<div id="dlMainInner">

<div id="dl_tblFrame">
<div id="dl_tblContent">
  <ul class="dl_tbl">
	<!-- 明細行 -->
	#{if records?.size() > 0}
	#{list items:records, as:'record'}
	
	<!-- 編集ボタン -->
	<div class="dl_srch_edit invisible" >
		<!-- id -->
		<input type="hidden" id="e_id_${record.id}" name="e_id" value="${record.id}"/>
		<!-- 
		<input type="button" class="dl_tbl_content" value="編集" onClick="location.href='@{RecordEdit.recordEdit(record.id)}'">
		 -->
		<a href="@{RecordEdit.recordEdit(record.id)}" class="dl_edit_link">編集</a>
	</div>

	<li>
		<input type="hidden" class="ToReId" value="${record?.id}" />
		
		#{if session.get('actionMode')!='View'}
			<!-- 非公開フラグ -->
			<div class="dl_secret_rec_flg dl_borderLeft menu_cell">
				${record.secret_rec_flg ? '非' : '公'}
			</div>
		#{/if}
		<!-- 支払日 -->
		%{
			clDlPaymenttDateHd = 'dl_payment_date menu_cell'
            if (session.get('actionMode')=='View'){
                clDlPaymenttDateHd += ' dl_borderLeft'
            }
		}%
		<div class="${clDlPaymenttDateHd}">
		  <span class="dl_string">
		  #{if record.payment_date.format('HHmm')=='0000'}
			${record.payment_date.format('yyyy/MM/dd')}
		  #{/if}
		  #{else}
			${record.payment_date.format('yyyy/MM/dd')}<br>
			　　　　${record.payment_date.format('HH:mm')}
		  #{/else}
		  </span>
		</div>
		<!-- 収支種類 -->
		<div class="dl_balance_type menu_cell">
		  <span class="dl_string">
			${record.balance_type_mst.balance_type_name}
		  </span>
		</div>
		<!-- 取扱(実際) -->
		<div class="dl_common_column menu_cell">
		  <span class="dl_string">
			${record?.handling_mst?.handling_name}
		  </span>
		</div>
		<!-- 取扱(Parllet) -->
		<div class="dl_common_column menu_cell">
		  <span class="dl_string">
			${record?.parllet_mst?.parllet_name}
		  </span>
		</div>
		<!-- 項目 -->
		<div class="dl_common_column menu_cell">
		  <span class="dl_string">
			${record?.item_mst?.item_name}
		  </span>
		</div>
		<!-- 金額 -->
		<div class="dl_amount menu_cell">
		  <span class="padR4">
			${record?.amount.format('###,###')}
		  </span>
		</div>
		<!-- 引落日 -->
		<div class="dl_payment_date menu_cell">
		  <span class="dl_string">
			${record?.debit_date?.format('yyyy/MM/dd')}
		  </span>
		</div>
		<!-- 内容 -->
		<div class="dl_content menu_cell">
			${record?.content}
		</div>
		<!-- お店 -->
		<div class="dl_common_column menu_cell">
		  <span class="dl_string">
			${record?.store}
		  </span>
		</div>
		<!-- 備考 -->
		<div class="dl_common_column menu_cell">
		  <span class="dl_string">
			${record?.remarks}
		  </span>
		</div>
		#{if session.get('actionMode')!='View'}
			<!-- 備考(非公開) -->
			<div class="dl_common_column menu_cell">
			  <span class="dl_string">
				${record?.secret_remarks}
			  </span>
			</div>
			
		#{/if}
		
	</li>
	#{/list}
	#{/if}
  </ul>
</div>  <!-- dl_tblContent -->
</div>  <!-- dl_tblFrame -->

</div>  <!-- dlMainInner -->
</div>  <!-- dlMain -->

<div id="dlFooter">
<div id="dl_tblFrameFt">
<div id="dl_tblContentFt">
　
</div>  <!-- dl_tblContentFt -->
</div>  <!-- dl_tblFrameFt -->
<div id="configListPagination">
	#{DetailList.dl_balance.pagination /}
</div>  <!-- configListPagination -->
</div>  <!-- dlFooter -->
