<script type="text/javascript">
<!--
jQuery(function() {
	/* リンクのクリックイベント */
	%{hu = models.HaUser.find("byEmail", session.username).first()}%
	jQuery("#aDlRemainderBank").click(function(e) {
		var jText = jQuery(this).text();
		%{
			hdlgCnt = models.HandlingMst.count("ha_user = ? and (handling_type_mst.handling_type_name = ? or handling_type_mst.handling_type_name = ?)", hu, messages.get('HandlingType.bank'), messages.get('HandlingType.emoney'));
		}%
		if(${hdlgCnt}===0) {
			//口座・電子マネー作成用ダイアログ
			openDialogConfirm("&{'views.dialogConfirm.case.bkem'}", jText);
			
			e.preventDefault();
		}
    });
	jQuery("#aDlRemainderPrlt").click(function(e) {
		var jText = jQuery(this).text();
		%{
			idpCnt = models.ParlletMst.count("byHa_user", hu);
		}%
		if(${idpCnt}===0) {
			//Parllet作成用ダイアログ
			openDialogConfirm("&{'views.dialogConfirm.case.prlt'}", jText);
			
			e.preventDefault();
		}
    });
	
	
	/* 起動時のCSS設定 */
	
	#{if request.actionMethod=='dl_balance'}
		/* 枠固定の左右の動き */
	    jQuery('#dl_tblFrameFt').scroll(function() {
	    	jQuery('#dl_tblFrame').scrollLeft(jQuery(this).scrollLeft());
	    	jQuery('#dl_tblFrameHd').scrollLeft(jQuery(this).scrollLeft());
	    });
	#{/if}
	#{else}
		/* 枠固定の左右の動き */
	    jQuery('#dl_tblFrame').scroll(function() {
	    	jQuery('#dl_tblFrameHd').scrollLeft(jQuery(this).scrollLeft());
	    });
	#{/else}
	
	jQuery('#main').css('padding-bottom', '30px');

	/* dlFooterのCSS設定切替 */
	setCssFooter();
	
	/* ウィンドウリサイズ時のCSS設定 */
	jQuery(window).resize(function() {
		setCssFooter();
	});
	
	/* windowスクロール時のCSS設定 */
    jQuery(window).scroll(function() {
		setCssFooter();
    });
	
//	/* 表示金額を3桁区切りに */
//	jQuery('.num3').each(function(i) {
//		var numStr = addFigure(jQuery(this).html());
//		jQuery(this).html(numStr);
//	});
	
	/* 日付選択時にjumpするdatepicker(範囲指定) */
	jQuery("#frJump").datepicker({
		defaultDate: "+1w",
		changeMonth: true,
		numberOfMonths: 1,
		showOtherMonths: true,
		selectOtherMonths: true,
		showAnim: "drop",
		changeMonth: true,
		changeYear: true,
		yearRange: '1900:2999',
		dateFormat: 'yy/mm/dd',
		showButtonPanel: true,
		onSelect: function( selectedDate ) {
			jQuery("#toJump").datepicker("option", "minDate", selectedDate);
			jQuery(this).change();
		}
	});
	jQuery("#toJump").datepicker({
		defaultDate: "+1w",
		changeMonth: true,
		numberOfMonths: 1,
		showOtherMonths: true,
		selectOtherMonths: true,
		showAnim: "drop",
		changeMonth: true,
		changeYear: true,
		yearRange: '1900:2999',
		dateFormat: 'yy/mm/dd',
		showButtonPanel: true,
		onSelect: function( selectedDate ) {
			jQuery("#frJump").datepicker("option", "maxDate", selectedDate);
			jQuery(this).change();
		}
	});
	/* 起動時のdatepickerの選択可能範囲絞込 */
	#{if request.actionMethod=='dl_balance'}
		if(ckDate("${h_payment_date_fr}"))
			jQuery("#toJump").datepicker("option", "minDate", "${h_payment_date_fr}");
		if(ckDate("${h_payment_date_to}"))
			jQuery("#frJump").datepicker("option", "maxDate", "${h_payment_date_to}");
	#{/if}
	#{if request.actionMethod=='dl_remainderBank'}
		if(ckDate("${h_debit_date_fr}"))
			jQuery("#toJump").datepicker("option", "minDate", "${h_debit_date_fr}");
		if(ckDate("${h_debit_date_to}"))
			jQuery("#frJump").datepicker("option", "maxDate", "${h_debit_date_to}");
	#{/if}
	#{if request.actionMethod=='dl_remainderPrlt'}
		if(ckDate("${dlRiHdDebitDateFr}"))
			jQuery("#toJump").datepicker("option", "minDate", "${dlRiHdDebitDateFr}");
		if(ckDate("${dlRiHdDebitDateTo}"))
			jQuery("#frJump").datepicker("option", "maxDate", "${dlRiHdDebitDateTo}");
	#{/if}
	
	/* Enterキーでのサブミット防止 */
	jQuery('input[type!="submit"][type!="button"]').keypress(function(e){
		if ((e.which && e.which===13) || (e.keyCode && e.keyCode===13)) {
			return false;
		}else{
			return true;
		}
	});
});

/* dlFooterのCSS設定切替関数 */
function setCssFooter() {
	var dlFtr = jQuery('#dlFooter'),
		dlMn = jQuery('#dlMain'),
		ctnHt  = jQuery('#container').height(),
		winInHt = jQuery(window).innerHeight(),
		winSrTp = jQuery(window).scrollTop(),
		ftrHt = jQuery('#footer').height(),
		winSrBtm = ctnHt - winSrTp - winInHt;
	if(winInHt < ctnHt) {
		dlFtr.css('position', 'fixed');
		dlMn.css('padding-bottom', '41px');
		dlFtr.css('bottom', '0');
		if(winSrBtm < ftrHt) {
			dlFtr.css('bottom', ftrHt - winSrBtm + 'px');
		}
	} else {
		dlFtr.css('position', '');
		dlFtr.css('bottom', '');
		dlMn.css('padding-bottom', '');
	}
}

/* 文字列を3桁区切りにする関数 */
function addFigure(str) {
    var num = new String(str).replace(/,|\n| |\t/g, "");
//    while(num != (num = num.replace(/^(-?\d+)(\d{3})/, "$1,$2")));
	num = num.replace(/(\d)(?=(\d{3})+$)/g , '$1,');
    return num;
}
// -->
</script>

#{include 'dialogConfirm.html' /}
<script type="text/javascript">
<!--
/* dialogConfirmを閉じた時の動作は呼び出し元で行う */
function whenDialogConfirmClosed(intRslt) {
	switch (intRslt) {
		case 0:
			break;
		case 1:
			//口座更新フォームを開く
			openDialogFrmUpdMstDh("&{'views.config.cf_bank'}");
			break;
		case 2:
			//電子マネー更新フォームを開く
			openDialogFrmUpdMstDh("&{'views.config.cf_emoney'}");
			break;
		case 3:
			//Parllet更新フォームを開く
			openDialogFrmUpdMstDh("&{'views.config.cf_prlt'}");
			break;
		default:
    		alert("dialogConfirm return value error");
	}
}
function openDialogFrmUpdMstDh(strMst) {
	openDialogFrmUpdMst(strMst, "&{'views.name.dlHeader'}");
}
// -->
</script>

#{include 'dialogFrmUpdMst.html' /}
<script type="text/javascript">
<!--
/* dialogFrmUpdMstを閉じた時の動作は呼び出し元で行う */
function whenDialogFrmUpdMstClosedDh(intRslt, strType, nameVal, zeroHddnChkd) {
	var strErrMsg;
	if(strType==="&{'views.config.cf_bank'}" || strType==="&{'views.config.cf_emoney'}")
		strErrMsg = "Common.updateHdlg";
	if(strType==="&{'views.config.cf_prlt'}")
		strErrMsg = "Common.updatePrlt";
	switch (intRslt) {
		case 0:
			whenDialogConfirmClosed(0);
			break;
		case 1:
			var jqxhrMkMst;
			if(strType==="&{'views.config.cf_bank'}" || strType==="&{'views.config.cf_emoney'}") {
				jqxhrMkMst = jQuery.post('@{Common.updateHdlg}', {strType: strType, strName: nameVal, bolZeroHddn: zeroHddnChkd});
			}
			if(strType==="&{'views.config.cf_prlt'}") {
				jqxhrMkMst = jQuery.post('@{Common.updatePrlt}', {strName: nameVal, bolZeroHddn: zeroHddnChkd});
			}
			jqxhrMkMst
			.done(function(z) {
				switch (z.intRslt) {
					case 0:
						if(strType==="&{'views.config.cf_bank'}" || strType==="&{'views.config.cf_emoney'}") {
							//収支明細（口座系）へジャンプ
							jQuery('#frmDlRemainderBank').submit();
						}
						if(strType==="&{'views.config.cf_prlt'}") {
							//収支明細（Parllet）へジャンプ
							jQuery('#frmDlRemainderPrlt').submit();
						}
						break;
					case 99:
			    		alert(z.strErr);
						break;
					default:
						strErrMsg += " result Error";
						alert(strErrMsg);
				}
			})
			.fail(function() {
				strErrMsg += " Failed";
				alert(strErrMsg);
			});
			break;
		default:
    		alert("dialogFrmUpdMst return value error");
	}
}
// -->
</script>

<!-- 残高明細（口座系）へジャンプ用フォーム（非表示） -->
#{form @DetailList.dl_remainderBank(), id:'frmDlRemainderBank'}
	<input type="submit" class="invisible" />
#{/form}

<!-- 残高明細（Parllet）へジャンプ用フォーム（非表示） -->
#{form @DetailList.dl_remainderPrlt(), id:'frmDlRemainderPrlt'}
	<input type="submit" class="invisible" />
#{/form}

<div>
	<ul id="memberMenu">
		<li class="${request.actionMethod=='dl_balance' ? 'selected' : ''}">
			<a href="@{DetailList.dl_balance()}">&{'views.detaillist.balance.title'}</a>
		</li>
		<li class="${request.actionMethod=='dl_remainderBank' ? 'selected' : ''}">
			#{a @DetailList.dl_remainderBank(), id:'aDlRemainderBank'}&{'views.detaillist.remainderBank.title'}#{/a}
		</li>
		<li class="${request.actionMethod=='dl_remainderPrlt' ? 'selected' : ''}">
			#{a @DetailList.dl_remainderPrlt(), id:'aDlRemainderPrlt'}&{'views.detaillist.remainderPrlt.title'}#{/a}
		</li>
	</ul>
</div>

#{ifErrors}
    <p class="crudFlash flashError ptAbsolute">
		#{errors}
			${error}
		#{/errors}
    </p>
#{/ifErrors}

	
