<script type="text/javascript">
<!--
/* リンクのクリックイベント */
jQuery(function() {
	%{hu = models.HaUser.find("byEmail", session.username).first()}%
	jQuery("#aDlRemainderBank").click(function(event) {
		%{
			hdlgCnt = models.HandlingMst.count("ha_user = ? and (handling_type_mst.handling_type_name = ? or handling_type_mst.handling_type_name = ?)", hu, messages.get('HandlingType.bank'), messages.get('HandlingType.emoney'));
		}%
		if(${hdlgCnt}==0) {
			alert("&{'views.detaillist.remainder.err.noBank'}\n&{'views.detaillist.remainder.err.tryLater'}");
			event.preventDefault();
		}
    });
	jQuery("#aDlRemainderIdeal").click(function(event) {
		%{
			idpCnt = models.IdealDepositMst.count("byHa_user", hu);
		}%
		if(${idpCnt}==0) {
			alert("&{'views.detaillist.remainder.err.noIdeal'}\n&{'views.detaillist.remainder.err.tryLater'}");
			event.preventDefault();
		}
    });
});

// -->
</script>

<div>
  <ul id="memberMenu">
	<li class="${request.actionMethod == 'dl_balance' ? 'selected' : ''}">
		<a href="@{DetailList.dl_balance()}">&{'views.detaillist.balance.title'}</a>
	</li>
	<li class="${request.actionMethod == 'dl_remainderBank' ? 'selected' : ''}">
		#{a @DetailList.dl_remainderBank(), id:'aDlRemainderBank'}&{'views.detaillist.remainderBank.title'}#{/a}
	</li>
	<li class="${request.actionMethod == 'dl_remainderIdeal' ? 'selected' : ''}">
		#{a @DetailList.dl_remainderIdeal(), id:'aDlRemainderIdeal'}&{'views.detaillist.remainderIdeal.title'}#{/a}
	</li>
  </ul>
</div>
