<script type="text/javascript">
<!--
jQuery(function() {
	/* リンクのクリックイベント */
	%{hu = models.HaUser.find("byEmail", session.username).first()}%
	jQuery("#aDlRemainderBank").click(function(e) {
		var jText = jQuery(this).text();
		%{
			hdlgCnt = models.HandlingMst.count("ha_user = ? and (handling_type_mst.handling_type_name = ? or handling_type_mst.handling_type_name = ?)", hu, messages.get('HandlingType.bank'), messages.get('HandlingType.emoney'));
		}%
		if (${hdlgCnt}===0) {
			//口座・電子マネー作成用ダイアログ
			openDialogConfirm("&{'views.dialogConfirm.case.bkem'}", jText);
			
			e.preventDefault();
		}
    });
	jQuery("#aDlRemainderPrlt").click(function(e) {
		var jText = jQuery(this).text();
		%{
			idpCnt = models.ParlletMst.count("byHa_user", hu);
		}%
		if (${idpCnt}===0) {
			//Parllet作成用ダイアログ
			openDialogConfirm("&{'views.dialogConfirm.case.prlt'}", jText);
			
			e.preventDefault();
		}
    });
	
	
	/* 起動時のCSS設定 */
	
	#{if request.actionMethod=='dl_balance'}
		/* 枠固定の左右の動き */
	    jQuery('#dl_tblFrameFt').scroll(function() {
	    	jQuery('#dl_tblFrame').scrollLeft(jQuery(this).scrollLeft());
	    	jQuery('#dl_tblFrameHd').scrollLeft(jQuery(this).scrollLeft());
	    });
	#{/if}
	#{else}
		/* 枠固定の左右の動き */
	    jQuery('#dl_tblFrameFt').scroll(function() {
	    	jQuery('#dl_tblFrame').scrollLeft(jQuery(this).scrollLeft());
	    	jQuery('#dl_tblFrameHd').scrollLeft(jQuery(this).scrollLeft());
	    });
	#{/else}
	
	jQuery('#main').css('padding-bottom', '30px');

	/* dlFooterのCSS設定切替 */
	setCssFooter();
	
	/* ウィンドウリサイズ時のCSS設定 */
	jQuery(window).resize(function() {
		setCssFooter();
	});
	
	/* windowスクロール時のCSS設定 */
	jQuery(window).scroll(function() {
		setCssFooter();
	});
	
//	/* 表示金額を3桁区切りに */
//	jQuery('.num3').each(function(i) {
//		var numStr = addFigure(jQuery(this).html());
//		jQuery(this).html(numStr);
//	});
	
	/* 日付選択時にjumpするdatepicker(範囲指定) */
	jQuery("#frJump").datepicker({
		defaultDate: "+1w",
		changeMonth: true,
		numberOfMonths: 1,
		showOtherMonths: true,
		selectOtherMonths: true,
		showAnim: "drop",
		changeMonth: true,
		changeYear: true,
		yearRange: '1900:2999',
		dateFormat: 'yy/mm/dd',
		showButtonPanel: true,
		onSelect: function( selectedDate ) {
			jQuery("#toJump").datepicker("option", "minDate", selectedDate);
			jQuery(this).change();
		}
	});
	jQuery("#toJump").datepicker({
		defaultDate: "+1w",
		changeMonth: true,
		numberOfMonths: 1,
		showOtherMonths: true,
		selectOtherMonths: true,
		showAnim: "drop",
		changeMonth: true,
		changeYear: true,
		yearRange: '1900:2999',
		dateFormat: 'yy/mm/dd',
		showButtonPanel: true,
		onSelect: function( selectedDate ) {
			jQuery("#frJump").datepicker("option", "maxDate", selectedDate);
			jQuery(this).change();
		}
	});
	/* 起動時のdatepickerの選択可能範囲絞込 */
	#{if request.actionMethod=='dl_balance'}
		if (ckDate("${h_payment_date_fr}"))
			jQuery("#toJump").datepicker("option", "minDate", "${h_payment_date_fr}");
		if (ckDate("${h_payment_date_to}"))
			jQuery("#frJump").datepicker("option", "maxDate", "${h_payment_date_to}");
	#{/if}
	#{if request.actionMethod=='dl_remainderBank'}
		if (ckDate("${h_debit_date_fr}"))
			jQuery("#toJump").datepicker("option", "minDate", "${h_debit_date_fr}");
		if (ckDate("${h_debit_date_to}"))
			jQuery("#frJump").datepicker("option", "maxDate", "${h_debit_date_to}");
	#{/if}
	#{if request.actionMethod=='dl_remainderPrlt'}
		if (ckDate("${dlRpHdDebitDateFr}"))
			jQuery("#toJump").datepicker("option", "minDate", "${dlRpHdDebitDateFr}");
		if (ckDate("${dlRpHdDebitDateTo}"))
			jQuery("#frJump").datepicker("option", "maxDate", "${dlRpHdDebitDateTo}");
	#{/if}
	
	/* Enterキーでのサブミット防止 */
	jQuery('input[type!="submit"][type!="button"]').keypress(function(e){
		if ((e.which && e.which===13) || (e.keyCode && e.keyCode===13)) {
			return false;
		}else{
			return true;
		}
	});
});

/* dlFooterのCSS設定切替関数 */
function setCssFooter() {
	var dlFtr = jQuery('#dlFooter'),
		dlMn = jQuery('#dlMain'),
		ctnHt  = jQuery('#container').height(),
		winInHt = jQuery(window).innerHeight(),
		winSrTp = jQuery(window).scrollTop(),
		ftrHt = jQuery('#footer').height(),
		winSrBtm = ctnHt - winSrTp - winInHt;
	if (winInHt < ctnHt) {
		dlFtr.css('position', 'fixed');
	#{if request.actionMethod!='dl_balance'}
		dlMn.css('padding-bottom', '192px');
	#{/if}
	#{else}
		dlMn.css('padding-bottom', '41px');
	#{/else}
		dlFtr.css('bottom', '0');
		if (winSrBtm < ftrHt) {
			dlFtr.css('bottom', ftrHt - winSrBtm + 'px');
		}
	} else {
		dlFtr.css('position', '');
		dlFtr.css('bottom', '');
		dlMn.css('padding-bottom', '');
	}
}

/* 文字列を3桁区切りにする関数 */
function addFigure(str) {
    var num = new String(str).replace(/,|\n| |\t/g, "");
//    while(num != (num = num.replace(/^(-?\d+)(\d{3})/, "$1,$2")));
	num = num.replace(/(\d)(?=(\d{3})+$)/g , '$1,');
    return num;
}

#{if request.actionMethod!='dl_balance'}
google.load('visualization', '1', {'packages':['corechart']});
google.setOnLoadCallback(drawChart);
function drawChart() {
	var dateFormat = new DateFormat("yyyy/MM/dd"),
		dateFormatMd = new DateFormat("M/d"),
		data = google.visualization.arrayToDataTable([
		["&{'debit_date'}", "&{'views.detaillist.remainder'}"],
	  %{vCntWdrr=0}%
	  #{list items:lWDRR, as:'wdrr'}
		#{if vCntWdrr>0},#{/if}
		["${wdrr?.strDebitDate}"==="" ? "${wdrr?.strBalanceTypeName}" : dateFormatMd.format(dateFormat.parse("${wdrr?.strDebitDate}")), ${wdrr?.lngRemainder}]
		%{vCntWdrr++}%
	  #{/list}
	]);
	
	// グラフのオプションを指定する
	var options = {
			width: 1060,
			height: 150,
 			backgroundColor: "white",
 			pointSize: 5
	}
	
	// 描画する
	var chart = new google.visualization.LineChart(document.getElementById('dlRmChart'));
	chart.draw(data, options);
}
#{/if}
// -->
</script>

#{include 'dialogConfirm.html' /}
<script type="text/javascript">
<!--
/* dialogConfirmを閉じた時の動作は呼び出し元で行う */
function whenDialogConfirmClosed(intRslt) {
	switch (intRslt) {
		case 0:
			break;
		case 1:
			//口座更新フォームを開く
			openDialogFrmUpdMstDh("&{'HandlingType.bank'}");
			break;
		case 2:
			//電子マネー更新フォームを開く
			openDialogFrmUpdMstDh("&{'HandlingType.emoney'}");
			break;
		case 3:
			//Parllet更新フォームを開く
			openDialogFrmUpdMstDh("&{'PrltType.prlt'}");
			break;
		default:
    		alert("dialogConfirm return value error");
	}
}
function openDialogFrmUpdMstDh(strMst) {
	openDialogFrmUpdMst(strMst, "&{'views.name.dlHeader'}");
}
function dl_recordEdit(lngId) {
	var dateFormat = new DateFormat("yyyy/MM/dd"),
		strErrMsg = "Common.getClmsRec",
		jqxhrGetClms = jQuery.post('@{Common.getClmsRec}', {lngRecId: lngId});
	jqxhrGetClms
	.done(function(z) {
		var dfurFvPayDate = new DfurFlgVal(false, dateFormat.format(new Date(z.rec.payment_date)), false),
			dfurFvBType = new DfurFlgVal(true, z.rec.balance_type_mst.id, true),
			dfurFvHdlg = new DfurFlgVal(false, z.rec.handling_mst===undefined ? null : z.rec.handling_mst.id, false),
			dfurFvPrlt = new DfurFlgVal(false, z.rec.parllet_mst===undefined ? null : z.rec.parllet_mst.id, true),
			dfurFvItem = new DfurFlgVal(false, z.rec.item_mst===undefined ? null : z.rec.item_mst.id, true),
			dfurFvAmnt = new DfurFlgVal(true, z.rec.amount, true),
			dfurFvDebDate = new DfurFlgVal(false, dateFormat.format(new Date(z.rec.debit_date)), false),
			dfurFvCntnt = new DfurFlgVal(false, z.rec.content, true),
			dfurFvStore = new DfurFlgVal(false, z.rec.store, true),
			dfurFvRmrks = new DfurFlgVal(false, z.rec.remarks, true),
			dfurRec = new DfurRec(
				lngId,
				dfurFvPayDate,
				dfurFvBType,
				dfurFvHdlg,
				dfurFvPrlt,
				dfurFvItem,
				dfurFvAmnt,
				dfurFvDebDate,
				dfurFvCntnt,
				dfurFvStore,
				dfurFvRmrks);
		//家計簿入力フォームを開く
		openDialogFrmUpdRec(dfurRec);
	})
	.fail(function() {
		strErrMsg += " Failed";
		alert(strErrMsg);
	});
}
function dl_recordDel(lngId) {
	var strErrMsg;
	if (lngId===null) lngId=undefined;
	jQuery(function() {
		jQuery("#dialog-delRec").dialog({
			autoOpen: false,
			resizable: false,
			width:380,
			modal: true,
			title: "&{'views.dialogFrmUpdRec.title.del'}",
			closeOnEscape: false,
			buttons: {
				"&{'insupd.delete'}": function() {
					var jqxhrDelRec = jQuery.post('@{Common.deleteRec}', {id: lngId});
					strErrMsg = "Common.deleteRec";
					jqxhrDelRec
					.done(function(z) {
						switch (z.intRslt) {
							case 0:
								//画面を再表示
								window.location.reload(true);
								break;
							default:
								strErrMsg += " result Error";
								alert(strErrMsg);
						}
					})
					.fail(function() {
						strErrMsg += " Failed";
						alert(strErrMsg);
					});
					jQuery(this).dialog("close");
				},
				"&{'views.common.btn.cancel'}": function() {
					jQuery(this).dialog("close");
				}
			}
		});
		strErrMsg = "Common.getClmsRec";
		var dateFormat = new DateFormat("yyyy/MM/dd"),
			jqxhrGetClms = jQuery.post('@{Common.getClmsRec}', {lngRecId: lngId});
		jqxhrGetClms
		.done(function(z) {
			jQuery('#spnPayDate').text(dateFormat.format(new Date(z.rec.payment_date)));
			jQuery('#spnBType').text(z.rec.balance_type_mst.balance_type_name);
			jQuery('#spnHdlg').text(z.rec.handling_mst===undefined ? '' : z.rec.handling_mst.handling_name);
			jQuery('#spnPrlt').text(z.rec.parllet_mst===undefined ? '' : z.rec.parllet_mst.parllet_name);
			jQuery('#spnItem').text(z.rec.item_mst===undefined ? '' : z.rec.item_mst.item_name);
			jQuery('#spnAmnt').text(addFigure(z.rec.amount));
			jQuery('#spnDebDate').text(z.rec.debit_date===undefined ? '' : dateFormat.format(new Date(z.rec.debit_date)));
			jQuery('#spnCntnt').text(z.rec.content);
			jQuery('#spnStore').text(z.rec.store);
			jQuery('#spnRmrks').text(z.rec.remarks);
			//家計簿削除フォームを開く
			jQuery('#dialog-delRec').dialog("open");
		})
		.fail(function() {
			strErrMsg += " Failed";
			alert(strErrMsg);
		});
	});
}
// -->
</script>

#{include 'dialogFrmUpdMst.html' /}
<script type="text/javascript">
<!--
/* dialogFrmUpdMstを閉じた時の動作は呼び出し元で行う */
function whenDialogFrmUpdMstClosedDh(intRslt, strType, nameVal, zeroHddnChkd) {
	var strErrMsg;
	if (strType==="&{'HandlingType.bank'}" || strType==="&{'HandlingType.emoney'}")
		strErrMsg = "Common.updateHdlg";
	if (strType==="&{'PrltType.prlt'}")
		strErrMsg = "Common.updatePrlt";
	switch (intRslt) {
		case 0:
			whenDialogConfirmClosed(0);
			break;
		case 1:
			var jqxhrMkMst;
			if (strType==="&{'HandlingType.bank'}" || strType==="&{'HandlingType.emoney'}") {
				jqxhrMkMst = jQuery.post('@{Common.updateHdlg}', {strHdlgType: strType, strName: nameVal, bolZeroHddn: zeroHddnChkd});
			}
			if (strType==="&{'PrltType.prlt'}") {
				jqxhrMkMst = jQuery.post('@{Common.updatePrlt}', {strName: nameVal, bolZeroHddn: zeroHddnChkd});
			}
			jqxhrMkMst
			.done(function(z) {
				switch (z.intRslt) {
					case 0:
						if (strType==="&{'HandlingType.bank'}" || strType==="&{'HandlingType.emoney'}") {
							//収支明細（口座系）へジャンプ
							jQuery('#frmDlRemainderBank').submit();
						}
						if (strType==="&{'PrltType.prlt'}") {
							//収支明細（Parllet）へジャンプ
							jQuery('#frmDlRemainderPrlt').submit();
						}
						break;
					case 99:
			    		alert(z.strErr);
						break;
					default:
						strErrMsg += " result Error";
						alert(strErrMsg);
				}
			})
			.fail(function() {
				strErrMsg += " Failed";
				alert(strErrMsg);
			});
			break;
		default:
    		alert("dialogFrmUpdMst return value error");
	}
}
// -->
</script>

<div id="dialog-delRec" class="invisible">
	<p><span class="ui-icon ui-icon-info" style="float: left; margin: 0 7px 5px 0;"></span>&{'dialog.message.info.del.text1'}</p>
	<label class="lblDlgDelRec">&{'payment_date'}</label>&nbsp;：&nbsp;<span id="spnPayDate"></span><br>
	<label class="lblDlgDelRec">&{'balance_type_mst'}</label>&nbsp;：&nbsp;<span id="spnBType"></span><br>
	<label class="lblDlgDelRec">&{'handling_mst'}</label>&nbsp;：&nbsp;<span id="spnHdlg"></span><br>
	<label class="lblDlgDelRec">&{'parllet_mst'}</label>&nbsp;：&nbsp;<span id="spnPrlt"></span><br>
	<label class="lblDlgDelRec">&{'item_mst'}</label>&nbsp;：&nbsp;<span id="spnItem"></span><br>
	<label class="lblDlgDelRec">&{'amount'}</label>&nbsp;：&nbsp;<span id="spnAmnt"></span><br>
	<label class="lblDlgDelRec">&{'debit_date'}</label>&nbsp;：&nbsp;<span id="spnDebDate"></span><br>
	<label class="lblDlgDelRec">&{'content'}</label>&nbsp;：&nbsp;<span id="spnCntnt"></span><br>
	<label class="lblDlgDelRec">&{'store'}</label>&nbsp;：&nbsp;<span id="spnStore"></span><br>
	<label class="lblDlgDelRec">&{'remarks'}</label>&nbsp;：&nbsp;<span id="spnRmrks"></span><br>
	<p id="pConfirm">&{'dialog.message.del.confirm'}</p>
</div>  <!-- dialog-form -->

<!-- 残高明細（口座系）へジャンプ用フォーム（非表示） -->
#{form @DetailList.dl_remainderBank(), id:'frmDlRemainderBank'}
	<input type="submit" class="invisible" />
#{/form}

<!-- 残高明細（Parllet）へジャンプ用フォーム（非表示） -->
#{form @DetailList.dl_remainderPrlt(), id:'frmDlRemainderPrlt'}
	<input type="submit" class="invisible" />
#{/form}

<div>
	<ul class="memberMenu">
		<li class="${request.actionMethod=='dl_balance' ? 'selected' : ''}">
			<a href="@{DetailList.dl_balance()}">&{'views.detaillist.balance.title'}</a>
		</li>
		<li class="${request.actionMethod=='dl_remainderBank' ? 'selected' : ''}">
			#{a @DetailList.dl_remainderBank(), id:'aDlRemainderBank'}&{'views.detaillist.remainderBank.title'}#{/a}
		</li>
		<li class="${request.actionMethod=='dl_remainderPrlt' ? 'selected' : ''}">
			#{a @DetailList.dl_remainderPrlt(), id:'aDlRemainderPrlt'}&{'views.detaillist.remainderPrlt.title'}#{/a}
		</li>
	</ul>
</div>

#{ifErrors}
    <p class="crudFlash flashError ptAbsolute">
		#{errors}
			${error}
		#{/errors}
    </p>
#{/ifErrors}

	
