#{extends 'login.html' /}
#{set title:messages.get('views.detaillist.remainderBank.title') /}

<script type="text/javascript" src="@{'/public/javascripts/funcCheckVal.js'}" ></script>

<script type="text/javascript">
<!--
//表示金額を3桁区切りに
jQuery(document).ready(function(){
	jQuery('.num3').each(function(i) {
		var numStr = addFigure(jQuery(this).html());
		jQuery(this).html(numStr);
	});
});

//文字列を3桁区切りにする関数
function addFigure(str) {
    var num = new String(str).replace(/,|\n| |\t/g, "");
//    while(num != (num = num.replace(/^(-?\d+)(\d{3})/, "$1,$2")));
	num = num.replace(/(\d)(?=(\d{3})+$)/g , '$1,');
    return num;
}

jQuery(function(){
	// 左クリックか右クリックでメニュー表示
	jQuery('.menu_cell').mousedown(function(e) {
		if(e.which==1 || e.which==3) {
			//家計簿編集へジャンプする際のIDをセット
			jQuery('#idRecordEdit').val(jQuery('.ToReId', jQuery(this).closest("li")).val());
			
			//収支明細へジャンプする際の絞込項目セット
			jQuery('#hBalanceTypeId').val(jQuery('.ToDlBalanceTypeId', jQuery(this).closest("li")).val());
			jQuery('#hHandlingId').val(jQuery('.ToDlHandlingId', jQuery(this).closest("li")).val());
			jQuery('#hDebitDateFr').val(jQuery('.ToDlDebitDateFr', jQuery(this).closest("li")).val());
			jQuery('#hDebitDateTo').val(jQuery('.ToDlDebitDateTo', jQuery(this).closest("li")).val());
			
			e.preventDefault();
			jQuery('.menu_cell').contextMenu({x: e.pageX, y: e.pageY});
		}
	});
	jQuery.contextMenu({
		selector: '.menu_cell',
		trigger: 'none',
		build: function($trigger, e) {
			var options = {
				callback: function(key, options) {
					if(key=="toRecordEdit")
						jQuery('#submitRecordEdit').click();
					if(key=="toDlBalance")
						jQuery('#submitDlBalance').click();
					jQuery('body').attr("disabled", "disabled");
				},
				items: {}
			};
			if (jQuery('#idRecordEdit').val()!=0) {
				options.items.toRecordEdit = {name: "&{'views.common.menu.toRecordEdit'}"};
			} else {
				options.items.toDlBalance = {name: "&{'views.common.menu.toDlBalance'}"};
			}
			return options;
		}
	});
});

/* 日付選択時にjumpするdatepicker(範囲指定) */
jQuery(function() {
//	var dates = jQuery("#frJump, #toJump").datepicker({
//		defaultDate: "+1w",
//		changeMonth: true,
//		numberOfMonths: 1,
//		showOtherMonths: true,
//		selectOtherMonths: true,
//		showAnim: "drop",
//		changeMonth: true,
//		changeYear: true,
//		yearRange: '1900:2999',
//		dateFormat: 'yy/mm/dd',
//		showButtonPanel: true,
//		onSelect: function( selectedDate ) {
//			var option = this.id == "frJump" ? "minDate" : "maxDate",
//				instance = jQuery( this ).data( "datepicker" ),
//				date = jQuery.datepicker.parseDate(
//					instance.settings.dateFormat ||
//					jQuery.datepicker._defaults.dateFormat,
//					selectedDate, instance.settings );
//			dates.not( this ).datepicker( "option", option, date );
////			jQuery('#idSrch').click();
////			jQuery('body').attr("disabled", "disabled");
//			jQuery(this).change();
//		}
//	});
	jQuery("#frJump").datepicker({
		defaultDate: "+1w",
		changeMonth: true,
		numberOfMonths: 1,
		showOtherMonths: true,
		selectOtherMonths: true,
		showAnim: "drop",
		changeMonth: true,
		changeYear: true,
		yearRange: '1900:2999',
		dateFormat: 'yy/mm/dd',
		showButtonPanel: true,
		onSelect: function( selectedDate ) {
			jQuery("#toJump").datepicker("option", "minDate", selectedDate);
			jQuery(this).change();
		}
	});
	jQuery("#toJump").datepicker({
		defaultDate: "+1w",
		changeMonth: true,
		numberOfMonths: 1,
		showOtherMonths: true,
		selectOtherMonths: true,
		showAnim: "drop",
		changeMonth: true,
		changeYear: true,
		yearRange: '1900:2999',
		dateFormat: 'yy/mm/dd',
		showButtonPanel: true,
		onSelect: function( selectedDate ) {
			jQuery("#frJump").datepicker("option", "maxDate", selectedDate);
			jQuery(this).change();
		}
	});
	//起動時のdatepickerの選択可能範囲絞込
	if(ckDate("${h_debit_date_fr}"))
		jQuery("#toJump").datepicker("option", "minDate", "${h_debit_date_fr}");
	if(ckDate("${h_debit_date_to}"))
		jQuery("#frJump").datepicker("option", "maxDate", "${h_debit_date_to}");
});

jQuery(function() {
	// 「公開フラグ」・「取扱（実際）」の変更イベント
	jQuery("#idHdSecretRecFlg, #idHdHandling").change(function() {
		jQuery('#idSrch').click();
		jQuery('body').attr("disabled", "disabled");
    });
});

/* 「引落日」の変更イベント */
jQuery(function() {
	jQuery("#frJump, #toJump").change(function() {
		var sDate = jQuery(this).val().substr(0,10);
		if(sDate=='' || ckDate(sDate)==true) {
			jQuery('#idSrch').click();
			jQuery('body').attr("disabled", "disabled");
		}
    });
});

/* Enterキーでのサブミット防止 */
jQuery(document).ready(function() {
	jQuery('input[type!="submit"][type!="button"]').keypress(function(e){
		if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
			return false;
		}else{
			return true;
		}
	});
});
// -->
</script>

<script type="text/javascript" src="@{'/public/javascripts/jquery.contextMenu.js'}"></script>
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.contextMenu.css'}" />

<div id="dlHeader">
#{include 'loginBodyHeader.html' /}

<!-- 収支明細へジャンプ用フォーム（非表示） -->
#{include 'toDetailList_dl_balance.html' /}

<!-- 家計簿編集へジャンプ用フォーム（非表示） -->
#{include 'toRecordEdit_recordEdit.html' /}

<div>
  <ul id="loginMenu">
	<li>
		<a href="@{DetailList.dl_balance()}">&{'views.detaillist.balance.title'}</a>
	</li>
	<li class="selected">
		<a href="@{DetailList.dl_remainderBank()}">&{'views.detaillist.remainderBank.title'}</a>
	</li>
	<li>
		<a>残高明細(My貯金)</a>
	</li>
  </ul>
</div>

#{form @DetailList.dl_remainderBank()}

<div id="dl_tblFrameHd">

<div id="dlRb_tblContent" >
  <ul class="dl_tbl">
	<!-- ヘッダー行 -->
	<li>
		<!-- 絞込ボタン -->
		<div class="dl_srch_edit dl_head" style="display:none;" ><!-- 「display:none」もmain.cssに入れたいが、入れると完全に非表示にならないため、ここにstyleを記載。 -->
			<input type="submit" id="idSrch" class="dl_tbl_content" name="srch" value="絞込" />
		</div>
		
		#{if session.get('actionMode')!='View'}
			<!-- 非公開フラグ -->
			<div id="idHdSecretRecFlg" class="dl_secret_rec_flg dl_head dl_borderLeft" >
				公<br>開<br>
				<select class="dl_tbl_content" name="h_secret_rec_flg">
					<option value="0"${h_secret_rec_flg==0 ? ' selected' : ''}>--</option>
					<option value="1"${h_secret_rec_flg==1 ? ' selected' : ''}>公</option>
					<option value="2"${h_secret_rec_flg==2 ? ' selected' : ''}>非</option>
				</select>
			</div>
		#{/if}
		<!-- 引落日 -->
		%{
			clDlRbDebitDateHd = 'dlRb_debit_date dl_head'
            if(session.get('actionMode')=='View'){
                clDlRbDebitDateHd += ' dl_borderLeft'
            }
		}%
		<div class="${clDlRbDebitDateHd}">
			&{'debit_date'}<br>
			<input type="text" class="dl_tbl_content dl_payment_date_text" id="frJump" name="h_debit_date_fr" value="${h_debit_date_fr}" />
			<br><label for="to">～</label><br>
			<input type="text" class="dl_tbl_content dl_payment_date_text" id="toJump" name="h_debit_date_to" value="${h_debit_date_to}" />
		</div>
		<!-- 支払日 -->
		<div class="dl_payment_date dl_head">
			&{'payment_date'}
		</div>
		<!-- 収支種類 -->
		<div class="dl_balance_type dl_head">
			&{'balance_type_mst'}<br>
		</div>
		<!-- 取扱(実際) -->
		<div class="dl_balance_type dl_head">
			&{'handling_mst'}<br>
			<select id="idHdHandling" class="dl_tbl_content" name="h_handling_id">
				#{list items:handlings, as:'handling'}
				<option value="${handling.id}"${h_handling_id==handling.id ? ' selected' : ''}>${handling.handling_name}</option>
				#{/list}
			</select>
		</div>
		<!-- 取扱(My貯金) -->
		<div class="dl_balance_type dl_head">
			&{'ideal_deposit_mst'}<br>
		</div>
		<!-- 金額 -->
		<div class="dl_balance_type dl_head">
			&{'amount'}<br>
		</div>
		<!-- お店 -->
		<div class="dl_balance_type dl_head">
			&{'store'}<br>
		</div>
		<!-- 残高 -->
		<div class="dl_balance_type dl_head">
			&{'views.detaillist.remainder'}<br>
		</div>
	</li>
  </ul>
</div>  <!-- dlRb_tblContent -->
</div>  <!-- dl_tblFrameHd -->
#{/form}
</div>  <!-- dlHeader -->


<div id="dlMain">
<div id="dl_tblFrame">
<div id="dlRb_tblContent" >
  <ul class="dl_tbl">
	<!-- 明細行 -->
	#{if lWDRR?.size() > 0}
	#{list items:lWDRR, as:'wdrr'}
	%{strBbf = messages.get('views.detaillist.remainderBank.balanceBroughtForward')}%
	<li>
		<input type="hidden" class="ToReId" value="${wdrr?.lngId}" />
		<input type="hidden" class="ToDlBalanceTypeId" value="${wdrr?.lngBalanceTypeId}" />
		<input type="hidden" class="ToDlHandlingId" value="${wdrr?.lngHandlingId}" />
		<input type="hidden" class="ToDlDebitDateFr" value="${wdrr?.strDebitDate}" />
		<input type="hidden" class="ToDlDebitDateTo" value="${wdrr?.strDebitDate}" />
		
		<!-- 編集ボタン -->
		<div class="dl_srch_edit" style="display:none;" >
			<!-- id -->
			<a href="@{RecordEdit.recordEdit(wdrr?.lngId)}" class="dl_edit_link" >編集</a>
		</div>
		
		<!-- 
		<div class="dl_borderLeft">
		</div>
		 -->
		
		#{if session.get('actionMode')!='View'}
			<!-- 非公開フラグ -->
			<div class="dl_secret_rec_flg dl_borderLeft${wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'}">
				${wdrr?.strBalanceTypeName==strBbf ? '' : (wdrr?.bolSecretRecFlg ? '非' : '公')}
			</div>
		#{/if}
		<!-- 引落日 -->
		%{
			clDlRbDebitDate = 'dlRb_debit_date'
			clDlRbDebitDate += wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'
            if(session.get('actionMode')=='View'){
                clDlRbDebitDate += ' dl_borderLeft'
            }
		}%
		<div class="${clDlRbDebitDate}">
		  <span class="dl_string">
			${wdrr?.strDebitDate}
		  </span>
		</div>
		<!-- 支払日 -->
		<div class="dl_payment_date${wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'}">
		  <span class="dl_string">
		  #{if wdrr?.strPaymentDate!=''}
			#{if wdrr?.strPaymentDate.getAt(11..15)=='00:00'}
			  ${wdrr?.strPaymentDate.getAt(0..9)}
			#{/if}
			#{else}
			  ${wdrr?.strPaymentDate.getAt(0..9)}<br>
			　　　　　${wdrr?.strPaymentDate.getAt(11..15)}
			#{/else}
		  #{/if}
		  </span>
		</div>
		<!-- 収支種類 -->
		<div class="dl_balance_type${wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'}">
		  <span class="dl_string">
			${wdrr?.strBalanceTypeName}
		  </span>
		</div>
		<!-- 取扱(実際) -->
		<div class="dl_balance_type${wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'}">
		  <span class="dl_string">
			${wdrr?.strHandlingName}
		  </span>
		</div>
		<!-- 取扱(My貯金) -->
		<div class="dl_balance_type${wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'}">
		  <span class="dl_string">
			${wdrr?.strIdealDepositName}
		  </span>
		</div>
		<!-- 項目 -->
		<!-- 
		<div class="dl_balance_type">
		  <span class="dl_string">
			${record?.item_mst?.item_name}
		  </span>
		</div>
		 -->
		<!-- 金額 -->
		<div class="dl_amount${wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'}">
		  <span class="num3">
			${wdrr?.lngAmount}
		  </span>
		</div>
		<!-- お店 -->
		<div class="dl_balance_type${wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'}">
		  <span class="dl_string">
			${wdrr?.strStore}
		  </span>
		</div>
		<!-- 残高 -->
		<div class="dl_amount${wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'}">
		  <span class="num3">
			${wdrr?.lngRemainder}
		  </span>
		</div>
	</li>
	#{/list}
	#{/if}
  </ul>
</div>  <!-- dlRb_tblContent -->
</div>  <!-- dl_tblFrame -->

<div id="configListPagination">
	#{DetailList.dl_remainder_bank.pagination /}
</div>

</div>  <!-- dlMain -->
