#{extends 'main.html' /}
#{set title:messages.get('views.detaillist.remainderIdeal.title') /}

<script type="text/javascript" src="@{'/public/javascripts/funcCheckVal.js'}" ></script>

<script type="text/javascript">
<!--
jQuery(function(){
	/* 左クリックか右クリックでメニュー表示 */
	jQuery('.menu_cell').mousedown(function(e) {
		if(e.which==1 || e.which==3) {
			//家計簿編集へジャンプする際のID・呼び出し元をセット
			jQuery('#idRecordEdit').val(jQuery('.ToReId', jQuery(this).closest("li")).val());
			jQuery('#reEdCalledFrom').val("${request.actionMethod}");
			
			//収支明細へジャンプする際の絞込項目セット
			jQuery('#hBalanceTypeId').val(jQuery('.ToDlBalanceTypeId', jQuery(this).closest("li")).val());
			jQuery('#hIdealDepositId').val(jQuery('.ToDlIdealDepositId', jQuery(this).closest("li")).val());
			jQuery('#hDebitDateFr').val(jQuery('.ToDlDebitDateFr', jQuery(this).closest("li")).val());
			jQuery('#hDebitDateTo').val(jQuery('.ToDlDebitDateTo', jQuery(this).closest("li")).val());
			
			e.preventDefault();
			jQuery('.menu_cell').contextMenu({x: e.pageX, y: e.pageY});
		}
	});
	jQuery.contextMenu({
		selector: '.menu_cell',
		trigger: 'none',
		build: function($trigger, e) {
			var options = {
				callback: function(key, options) {
					if(key=="toRecordEdit")
						jQuery('#submitRecordEdit').click();
					if(key=="toDlBalance")
						jQuery('#submitDlBalance').click();
					jQuery('body').attr("disabled", "disabled");
				},
				items: {}
			};
			if (jQuery('#idRecordEdit').val()!=0) {
				options.items.toRecordEdit = {name: "&{'views.common.menu.toRecordEdit'}"};
			} else {
				options.items.toDlBalance = {name: "&{'views.common.menu.toDlBalance'}"};
			}
			return options;
		}
	});
	
	/* 「公開フラグ」・「取扱（My貯金）」の変更イベント */
	jQuery("#idHdSecretRecFlg, #dlCmbHdIdealDeposit").change(function() {
		jQuery('#idSrch').click();
		jQuery('body').attr("disabled", "disabled");
    });
	
	/* 「引落日」の変更イベント */
	jQuery("#frJump, #toJump").change(function() {
		var sDate = jQuery(this).val().substr(0,10);
		if(sDate=='' || ckDate(sDate)==true) {
			jQuery('#idSrch').click();
			jQuery('body').attr("disabled", "disabled");
		}
    });
});
// -->
</script>

<script type="text/javascript" src="@{'/public/javascripts/jquery.contextMenu.js'}"></script>
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.contextMenu.css'}" />

#{set 'moreMenu'}
	#{include 'headerMenu.html' /}
#{/set}

#{set 'headerTools'}
	#{include 'headerTools.html' /}
#{/set}

<div id="dlHeader">

<!-- 収支明細へジャンプ用フォーム（非表示） -->
#{include 'toDetailList_dl_balance.html' /}

<!-- 家計簿編集へジャンプ用フォーム（非表示） -->
#{include 'toRecordEdit_recordEdit.html' /}

<!-- 明細表共通ヘッダー -->
#{include 'DetailList/dl_header.html' /}


#{form @DetailList.dl_remainderIdeal()}

<!-- 絞込のサブミット（非表示） -->
<input type="submit" id="idSrch" name="dlRiSrch" class="invisible" />

<div id="dl_tblFrameHd">

<div id="dlRb_tblContentHd" >
  <ul class="dl_tbl">
	<!-- ヘッダー行 -->
	<li>
		#{if session.get('actionMode')!='View'}
			<!-- 非公開フラグ -->
			<div id="idHdSecretRecFlg" class="dl_secret_rec_flg dl_head dl_borderLeft" >
				公<br>開<br>
				<select class="dl_tbl_content" name="dlRiHdSecretRecFlg">
					<option value="0"${dlRiHdSecretRecFlg==0 ? ' selected' : ''}>--</option>
					<option value="1"${dlRiHdSecretRecFlg==1 ? ' selected' : ''}>公</option>
					<option value="2"${dlRiHdSecretRecFlg==2 ? ' selected' : ''}>非</option>
				</select>
			</div>
		#{/if}
		<!-- 引落日 -->
		%{
			clDlRbDebitDateHd = 'dlRb_debit_date dl_head'
            if(session.get('actionMode')=='View'){
                clDlRbDebitDateHd += ' dl_borderLeft'
            }
		}%
		<div class="${clDlRbDebitDateHd}">
			&{'debit_date'}<br>
			<input type="text" class="dl_tbl_content dl_payment_date_text" id="frJump" name="dlRiHdDebitDateFr" value="${dlRiHdDebitDateFr}" />
			<br><label for="to">～</label><br>
			<input type="text" class="dl_tbl_content dl_payment_date_text" id="toJump" name="dlRiHdDebitDateTo" value="${dlRiHdDebitDateTo}" />
		</div>
		<!-- 支払日 -->
		<div class="dl_payment_date dl_head">
			&{'payment_date'}
		</div>
		<!-- 収支種類 -->
		<div class="dl_balance_type dl_head">
			&{'balance_type_mst'}<br>
		</div>
		<!-- 取扱(My貯金) -->
		<div class="dl_common_column dl_head">
			&{'parllet_mst'}<br>
			<select id="dlCmbHdIdealDeposit" class="dl_tbl_content" name="dlRiHdIdealDepositId">
				#{list items:iDepos, as:'iDepo'}
				<option value="${iDepo.id}"${dlRiHdIdealDepositId==iDepo.id ? ' selected' : ''}>${iDepo.parllet_name}</option>
				#{/list}
			</select>
		</div>
		<!-- 取扱(実際) -->
		<div class="dl_common_column dl_head">
			&{'handling_mst'}<br>
		</div>
		<!-- 引出 -->
		<div class="dl_amount dl_head">
			&{'views.detaillist.remainderCommon.out'}<br>
		</div>
		<!-- 預入 -->
		<div class="dl_amount dl_head">
			&{'views.detaillist.remainderCommon.in'}<br>
		</div>
		<!-- お店 -->
		<div class="dl_common_column dl_head">
			&{'store'}<br>
		</div>
		<!-- 残高 -->
		<div class="dlRb_remainder dl_head">
			&{'views.detaillist.remainder'}<br>
		</div>
	</li>
  </ul>
</div>  <!-- dlRb_tblContentHd -->
</div>  <!-- dl_tblFrameHd -->
#{/form}
</div>  <!-- dlHeader -->

<div id="dlMain">
<div id="dl_tblFrame">
<div id="dlRb_tblContent" >
  <ul class="dl_tbl">
	<!-- 明細行 -->
	#{if lWDRR?.size() > 0}
	#{list items:lWDRR, as:'wdrr'}
	%{strBbf = messages.get('views.detaillist.remainderBank.balanceBroughtForward')}%
	<li>
		<input type="hidden" class="ToReId" value="${wdrr?.lngId}" />
		<input type="hidden" class="ToDlBalanceTypeId" value="${wdrr?.lngBalanceTypeId}" />
		<input type="hidden" class="ToDlIdealDepositId" value="${wdrr?.lngIdealDepositId}" />
		<input type="hidden" class="ToDlDebitDateFr" value="${wdrr?.strDebitDate}" />
		<input type="hidden" class="ToDlDebitDateTo" value="${wdrr?.strDebitDate}" />
		
		#{if session.get('actionMode')!='View'}
			<!-- 非公開フラグ -->
			<div class="dl_secret_rec_flg dl_borderLeft${wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'}">
				${wdrr?.strBalanceTypeName==strBbf ? '' : (wdrr?.bolSecretRecFlg ? '非' : '公')}
			</div>
		#{/if}
		<!-- 引落日 -->
		%{
			clDlRbDebitDate = 'dlRb_debit_date'
			clDlRbDebitDate += wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'
            if(session.get('actionMode')=='View'){
                clDlRbDebitDate += ' dl_borderLeft'
            }
		}%
		<div class="${clDlRbDebitDate}">
		  <span class="dl_string">
			${wdrr?.strDebitDate}
		  </span>
		</div>
		<!-- 支払日 -->
		<div class="dl_payment_date${wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'}">
		  <span class="dl_string">
		  #{if wdrr?.strPaymentDate!=''}
			#{if wdrr?.strPaymentDate.getAt(11..15)=='00:00'}
			  ${wdrr?.strPaymentDate.getAt(0..9)}
			#{/if}
			#{else}
			  ${wdrr?.strPaymentDate.getAt(0..9)}<br>
			　　　　${wdrr?.strPaymentDate.getAt(11..15)}
			#{/else}
		  #{/if}
		  </span>
		</div>
		<!-- 収支種類 -->
		<div class="dl_balance_type${wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'}">
		  <span class="dl_string">
			${wdrr?.strBalanceTypeName}
		  </span>
		</div>
		<!-- 取扱(My貯金) -->
		<div class="dl_common_column${wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'}">
		  <span class="dl_string">
			${wdrr?.strIdealDepositName}
		  </span>
		</div>
		<!-- 取扱(実際) -->
		<div class="dl_common_column${wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'}">
		  <span class="dl_string">
			${wdrr?.strHandlingName}
		  </span>
		</div>
		<!-- 引出 -->
		<div class="dl_amount${wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'}">
		  <span class="padR4">
			${wdrr?.strBalanceTypeName==messages.get('BalanceType.out') || wdrr?.strBalanceTypeName==messages.get('BalanceType.parllet_out') ? wdrr?.lngAmount.format('###,###') : ''}
		  </span>
		</div>
		<!-- 預入 -->
		<div class="dl_amount${wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'}">
		  <span class="padR4">
			${wdrr?.strBalanceTypeName==messages.get('BalanceType.in') || wdrr?.strBalanceTypeName==messages.get('BalanceType.parllet_in') ? wdrr?.lngAmount.format('###,###') : ''}
		  </span>
		</div>
		<!-- お店 -->
		<div class="dl_common_column${wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'}">
		  <span class="dl_string">
			${wdrr?.strStore}
		  </span>
		</div>
		<!-- 残高 -->
		<div class="dlRb_remainder${wdrr?.strBalanceTypeName==strBbf ? '' : ' menu_cell'}">
		  <span class="padR4">
			${wdrr?.lngRemainder.format('###,###')}
		  </span>
		</div>
	</li>
	#{/list}
	#{/if}
  </ul>
</div>  <!-- dlRb_tblContent -->
</div>  <!-- dl_tblFrame -->

</div>  <!-- dlMain -->

<div id="dlFooter">
<div id="dl_tblFrameFt">
<div id="dlRb_tblContentFt">
　
</div>  <!-- dlRb_tblContentFt -->
</div>  <!-- dl_tblFrameFt -->
<div id="configListPagination">
	#{DetailList.dl_remainder_ideal.pagination /}
</div>
</div>
