#{extends 'Config/cf_main.html' /}

<script type="text/javascript" src="@{'/public/javascripts/confirm.js'}" ></script>

<script type="text/javascript">
<!--
//起動時に日選択コンボの選択肢を作成
jQuery(document).ready(function() {
	for(i = 1; i < 28; i++) {
		#{ifnot handlingMst?.id}
			jQuery('#cutoff_day').append("<option value='"+i+"'>"+i+"</option>");
			jQuery('#debit_day').append("<option value='"+i+"'>"+i+"</option>");
		#{/ifnot}
		#{else}
			if(${handlingMst?.cutoff_day} == i) {
				jQuery('#cutoff_day').append("<option value='"+i+"' selected>"+i+"</option>");
			} else {
				jQuery('#cutoff_day').append("<option value='"+i+"'>"+i+"</option>");
			}
			if(${handlingMst?.debit_day} == i) {
				jQuery('#debit_day').append("<option value='"+i+"' selected>"+i+"</option>");
			} else {
				jQuery('#debit_day').append("<option value='"+i+"'>"+i+"</option>");
			}
		#{/else}
	};
	jQuery('#cutoff_day').append("<option value='99'${handlingMst?.cutoff_day==99 ? ' selected' : ''}>"+"99"+"</option>");
	jQuery('#debit_day').append("<option value='99'${handlingMst?.debit_day==99 ? ' selected' : ''}>"+"99"+"</option>");
});
// -->
</script>

<div id="crudShow">

	#{ifnot handlingMst?.id}
		<h3><span>&{'insupd.add', sHandlingType}</span></h3>
	#{/ifnot}
	#{else}
		<h3><span>&{'insupd.edit', sHandlingType}</span></h3>
	#{/else}

    <div class="objectForm">
	#{form (sHandlingType==messages.get('views.config.cf_bank')) ?
			@cf_save_bank(handlingMst?.id) :
			((sHandlingType==messages.get('views.config.cf_creca')) ?
			 @cf_save_creca(handlingMst?.id) :
			 ((sHandlingType==messages.get('views.config.cf_emoney')) ?
			  @cf_save_emoney(handlingMst?.id) : '')
			)}
	 
	    #{ifErrors}
	        <p class="error">
	            &{'validation.title'}
	        </p>
	    #{/ifErrors}
	    
	    <p>
	        #{field 'handling_name'}
	        <label>${sHandlingType}名:</label>
	        <input type="text" name="${field.name}" 
	            value="${handlingMst?.handling_name}" />
	        <span class="error">#{error 'handlingMst.handling_name' /}</span>
	        #{/field}
	    </p>
		
		#{if sHandlingType==messages.get('views.config.cf_creca')}
		    <p>
		        #{field 'debit_bank'}
		        <label>&{'debit_bank'}:</label>
				<select id="${field.name}" name="${field.name}" style="width:150px;">
					<option value="0"${handlingMst?.debit_bank ? '' : ' selected'}>(値を選択して下さい)</option>
					#{list items:models.HandlingMst.find("handling_type_mst.handling_type_name = '" + messages.get('views.config.cf_bank') + "' order by handling_type_mst.handling_type_order, id").fetch(), as:'debitBank'}
					<option value="${debitBank.id}"${handlingMst?.debit_bank?.id==debitBank.id ? ' selected' : ''}>${debitBank.handling_name}</option>
					#{/list}
				</select>
		        <span class="error">#{error 'handlingMst.debit_bank' /}</span>
		        #{/field}
		    </p>
			
		    <p>
		        #{field 'cutoff_day'}
		        <label>&{'cutoff_day'}:</label>
				<select id="${field.name}" name="${field.name}" style="width:40px;">
					<option value="0"${handlingMst?.cutoff_day ? '' : ' selected'}>&nbsp;&nbsp;</option>
				</select>
		        <label>&{'views.config.cf_creca.day.label_to'}</label>
		        <span class="error">#{error 'handlingMst.cutoff_day' /}</span>
		        #{/field}
		    </p>
			


		    <p>
		        #{field 'debit_day'}
		        <label>&{'debit_day'}:</label>
				<select id="${field.name}" name="${field.name}" style="width:40px;">
					<option value="0"${handlingMst?.debit_day ? '' : ' selected'}>&nbsp;&nbsp;</option>
				</select>
		        <label>&{'views.config.cf_creca.day.label_to'}</label>
		        <span class="error">#{error 'handlingMst.debit_day' /}</span>
		        #{/field}
		    </p>
			
		#{/if}
		
	    <p>
	        <input type="submit" value="&{'insupd.save'}" />
	    </p>
	    
	#{/form}
	</div>

	#{if handlingMst?.id}
		#{form @cf_del_handling(handlingMst?.id, sHandlingType)}
		    <p class="crudDelete">
		        <input type="submit" value="&{'insupd.delete', sHandlingType}" id="cnf_del" />
		    </p>
		#{/form}
	#{/if}

</div>