#{extends 'Config/cf_main.html' /}

<div id="crudShow">

	#{ifnot handlingMst?.id}
		<h3><span>&{'config.add', sHandlingType}</span></h3>
	#{/ifnot}
	#{else}
		<h3><span>&{'config.edit', sHandlingType}</span></h3>
	#{/else}

    <div class="objectForm">
	#{form (sHandlingType==messages.get('views.config.cf_bank')) ?
			@cf_save_bank(handlingMst?.id) :
			((sHandlingType==messages.get('views.config.cf_emoney')) ?
			 @cf_save_emoney(handlingMst?.id) : ''
			)}
	 
	    #{ifErrors}
	        <p class="error">
	            Please correct these errors.
	        </p>
	    #{/ifErrors}
	    
	    <p>
	        #{field 'handling_name'}
	        <label>${sHandlingType}名:</label>
	        <input type="text" name="${field.name}" 
	            value="${handlingMst?.handling_name}" />
	        <span class="error">#{error 'handlingMst.handling_name' /}</span>
	        #{/field}
	    </p>
	 
	    <p>
	        <input type="submit" value="&{'config.save'}" />
	    </p>
	    
	#{/form}
	</div>

	#{if handlingMst?.id}
		#{form (sHandlingType==messages.get('views.config.cf_bank')) ?
				@cf_del_bank(handlingMst?.id) :
				((sHandlingType==messages.get('views.config.cf_emoney')) ?
				 @cf_del_emoney(handlingMst?.id) : ''
				)}
		    <p class="crudDelete">
		        <input type="submit" value="&{'config.delete', sHandlingType}"/>
		    </p>
		#{/form}
	#{/if}

</div>