#{extends 'Config/cf_main.html' /}

<h3>${sHandlingType}　&{'views.common.update.edit'}</h3>

#{list items:handlingMsts, as:'handlingMst'}
	<p class="data ${handlingMst_parity}">
	  #{if sHandlingType == messages.get('HandlingType.bank')}
		<a href="@{cf_bank_edit(handlingMst.id)}">
	  #{/if}
	  #{elseif sHandlingType == messages.get('HandlingType.creca')}
		<a href="@{cf_creca_edit(handlingMst.id)}">
	  #{/elseif}
	  #{elseif sHandlingType == messages.get('HandlingType.emoney')}
		<a href="@{cf_emoney_edit(handlingMst.id)}">
	  #{/elseif}
		${handlingMst.handling_name}</a>
	</p>
#{/list}
 
<p id="newData" >
  #{if sHandlingType == messages.get('HandlingType.bank')}
    <a href="@{cf_bank_edit()}">
  #{/if}
  #{elseif sHandlingType == messages.get('HandlingType.creca')}
    <a href="@{cf_creca_edit()}">
  #{/elseif}
  #{elseif sHandlingType == messages.get('HandlingType.emoney')}
    <a href="@{cf_emoney_edit()}">
  #{/elseif}
    <span>+</span> &{'insupd.add', sHandlingType}</a>
</p>
