#{extends 'Config/cf_main.html' /}
#{set title:sHandlingType+' '+messages.get('views.common.update.edit') /}

<script type="text/javascript" src="@{'/public/javascripts/confirm.js'}" ></script>

<script type="text/javascript">
<!--
//起動時に日選択コンボの選択肢を作成
jQuery(document).ready(function() {
	for(i = 1; i < 28; i++) {
		#{ifnot handlingMst?.cutoff_day}
			jQuery('#cutoff_day').append("<option value='"+i+"'>"+i+"&{'views.config.cf_creca.day'}</option>");
		#{/ifnot}
		#{else}
			if(${handlingMst?.cutoff_day} == i) {
				jQuery('#cutoff_day').append("<option value='"+i+"' selected>"+i+"&{'views.config.cf_creca.day'}</option>");
			} else {
				jQuery('#cutoff_day').append("<option value='"+i+"'>"+i+"&{'views.config.cf_creca.day'}</option>");
			}
		#{/else}
		#{ifnot handlingMst?.debit_day}
			jQuery('#debit_day').append("<option value='"+i+"'"+(i==10 ? ' selected' : '')+">"+i+"&{'views.config.cf_creca.day'}</option>");
		#{/ifnot}
		#{else}
			if(${handlingMst?.debit_day} == i) {
				jQuery('#debit_day').append("<option value='"+i+"' selected>"+i+"&{'views.config.cf_creca.day'}</option>");
			} else {
				jQuery('#debit_day').append("<option value='"+i+"'>"+i+"&{'views.config.cf_creca.day'}</option>");
			}
		#{/else}
	};
	#{ifnot handlingMst?.cutoff_day}
		jQuery('#cutoff_day').append("<option value='99' selected>"+"&{'views.config.cf_creca.lastday'}"+"</option>");
	#{/ifnot}
	#{else}
		jQuery('#cutoff_day').append("<option value='99'${handlingMst?.cutoff_day==99 ? ' selected' : ''}>"+"&{'views.config.cf_creca.lastday'}"+"</option>");
	#{/else}
	#{ifnot handlingMst?.debit_day}
		jQuery('#debit_day').append("<option value='99'>"+"&{'views.config.cf_creca.lastday'}"+"</option>");
	#{/ifnot}
	#{else}
		jQuery('#debit_day').append("<option value='99'${handlingMst?.debit_day==99 ? ' selected' : ''}>"+"&{'views.config.cf_creca.lastday'}"+"</option>");
	#{/else}
});
// -->
</script>

#{ifErrors}
<p class="crudFlash flashError">
	&{'validation.title'}
</p>
#{/ifErrors}

<div id="crudShow">

	#{ifnot handlingMst?.id}
		<h3><span>&{'insupd.add', sHandlingType}</span></h3>
	#{/ifnot}
	#{else}
		<h3><span>&{'insupd.edit', sHandlingType}</span></h3>
	#{/else}

    <div class="objectForm">
	#{form (sHandlingType==messages.get('HandlingType.bank')) ?
			@cf_bank_save(handlingMst?.id) :
			((sHandlingType==messages.get('HandlingType.creca')) ?
			 @cf_creca_save(handlingMst?.id) :
			 ((sHandlingType==messages.get('HandlingType.emoney')) ?
			  @cf_emoney_save(handlingMst?.id) : '')
			)}
	 
	    <div class="crudField">
	        #{field 'handling_name'}
	        <label class="fieldName">${sHandlingType}名:</label>
	        <input type="text" name="${field.name}" 
	            value="${handlingMst?.handling_name}" />
	        <span class="error">#{error 'handlingMst.handling_name' /}</span>
	        #{/field}
	    </div>
		
		#{if sHandlingType==messages.get('HandlingType.creca')}
		    <div class="crudField">
		        #{field 'debit_bank'}
		        <label class="fieldName">&{'debit_bank'}:</label>
				<select id="${field.name}" name="${field.name}" style="width:150px;">
					<option value=""${handlingMst?.debit_bank ? '' : ' selected'}>&{'views.common.combo.required.long'}</option>
					#{list items:models.HandlingMst.find("ha_user = ${haUser.id} and handling_type_mst.handling_type_name = '" + messages.get('HandlingType.bank') + "' order by handling_type_mst.handling_type_order, order_seq, id").fetch(), as:'debitBank'}
					<option value="${debitBank.id}"${handlingMst?.debit_bank?.id==debitBank.id ? ' selected' : ''}>${debitBank.handling_name}</option>
					#{/list}
				</select>
		        <span class="error">#{error 'handlingMst.debit_bank' /}</span>
		        #{/field}
		    </div>
			
		    <div class="crudField">
		        #{field 'cutoff_day'}
		        <label class="fieldName">&{'cutoff_day'}:</label>
				<select id="${field.name}" name="${field.name}" style="width:60px;">
				</select>
		        <span class="error">#{error 'handlingMst.cutoff_day' /}</span>
		        #{/field}
		    </div>
			
		    <div class="crudField">
		        #{field 'debit_month'}
		        <label class="fieldName">&{'debit_month'}:</label>
				<select id="${field.name}" name="${field.name}" style="width:70px;">
					<option value="&{'DebitMonth.this'}"${handlingMst?.debit_month==messages.get('DebitMonth.this') ? ' selected' : ''}>&{'DebitMonth.this'}</option>
					<option value="&{'DebitMonth.next'}"${handlingMst?.debit_month==null ? ' selected' : (handlingMst?.debit_month==messages.get('DebitMonth.next') ? ' selected' : '')}>&{'DebitMonth.next'}</option>
					<option value="&{'DebitMonth.nextTwo'}"${handlingMst?.debit_month==messages.get('DebitMonth.nextTwo') ? ' selected' : ''}>&{'DebitMonth.nextTwo'}</option>
				</select>
		        <span class="error">#{error 'handlingMst.debit_month' /}</span>
		        #{/field}
		    </div>

		    <div class="crudField">
		        #{field 'debit_day'}
		        <label class="fieldName">&{'debit_day'}:</label>
				<select id="${field.name}" name="${field.name}" style="width:60px;">
				</select>
		        <span class="error">#{error 'handlingMst.debit_day' /}</span>
		        #{/field}
		    </div>
			
		#{/if}
		#{else}
		    <div class="crudField">
		        #{field 'zero_hidden'}
		        <label class="fieldName">&{'zero_hidden'}:</label>
		        <input type="checkbox" name="${field.name}"
		            ${handlingMst?.zero_hidden ? 'checked' : ''} />
		        <span class="error">#{error 'handlingMst.zero_hidden' /}</span>
		        #{/field}
		    </div>
		#{/else}
		
	    <div class="crudField">
	        #{field 'invalidity_flg'}
	        <label class="fieldName">&{'invalidity_flg'}:</label>
	        <input type="checkbox" name="${field.name}"
	            ${handlingMst?.invalidity_flg ? 'checked' : ''} />
	        <span class="error">#{error 'handlingMst.invalidity_flg' /}</span>
	        #{/field}
	    </div>
	    
	    <div class="crudField">
	        <input type="submit" value="&{'insupd.save'}" />
	    </div>
	    
	#{/form}
	</div>

	#{if handlingMst?.id}
		#{form @cf_handling_del(handlingMst?.id, sHandlingType)}
		    <p class="crudDelete">
		        <input type="submit" value="&{'insupd.delete', sHandlingType}" id="cnf_del" />
		    </p>
		#{/form}
	#{/if}

</div>