#{extends 'Config/cf_main.html' /}
#{set title:messages.get('views.config.cf_hauser')+' '+messages.get('views.common.update.edit') /}

#{include 'facebookLogin.html' /}

<script type="text/javascript">
<!-- 
/* 「Facebookでログイン」クリック時は「login()」イベントへ */
jQuery(function() {
	jQuery('#fb-login').click(function() {
		login("&{'views.login.fbLogin.dialogTitle'}");
	});
});
// -->
</script>

<script type="text/javascript" src="@{'/public/javascripts/confirm.js'}" ></script>
<script type="text/javascript">
<!--
var myObj = new Object();
myObj.strMsg = "&{'dialog.message.del.confirm'}";

jQuery(function() {
	/* 各種リンクEnter時はクリックイベントへ */
	jQuery('#aChgPw, #fbLinkLink, #fbLinkBreak, #aChgLv, #aGoToUnsubscribed').keypress(function(e) {
		if (e.which==13) {
			e.preventDefault();
			jQuery(this).click();
		}
	});
	
	/* パスワード変更リンククリック時はcf_hauser_pw_editイベントへ */
	jQuery('#aChgPw').click(function(e) {
		e.preventDefault();
	   	#{if haUser.fbId && !haUser.pwSetFlg}
			jQuery('#firstTime').val('true');
		#{/if}
		jQuery('#frmSetPw').submit();
		jQuery('body').attr("disabled", "disabled");
	});
	
	jQuery('#fbLinkLink').click(function() {
		login("", true);
	});
	
	jQuery('#fbLinkBreak').click(function(e) {
	   	#{if haUser.pwSetFlg}
			myRet = confirm("&{'views.config.cf_hauser.fbLinkage.break.notes1'}\n"+
					"&{'views.config.cf_hauser.fbLinkage.break.notes2'}\n"+
					"&{'views.config.cf_hauser.fbLinkage.break.notes3'}\n"+
					"&{'views.config.cf_hauser.fbLinkage.break.notes4'}");
			if (myRet) {
//				jQuery.post('@{Common.breakLinkFacebook}', function(c){
				var jqxhr = jQuery.post('@{Common.breakLinkFacebook}');
				jqxhr
				.done(function(jsonC) {
//					var jsonC = JSON.parse(c);
					switch (jsonC.intRslt) {
						case 0:
							window.location.reload(true);
							break;
						case 99:
							alert(jsonC.strErr);
							break;
						default:
							alert("case error");
					}
				})
				.fail(function() {
					alert("Common.breakLinkFacebook Error");
				});
//				}, 'text');
			}
		#{/if}
		#{else}
			myRet = confirm("&{'views.config.cf_hauser.fbLinkage.break.pwSet1'}\n"+
					"&{'views.config.cf_hauser.fbLinkage.break.pwSet2'}");
			if (myRet) {
				e.preventDefault();
				jQuery('#aChgPw').click();
			}
		#{/else}
	});
	
	
	%{
		htRecCnt = models.Record.count("ha_user = ?", haUser)
		htHdlgCnt = models.HandlingMst.count("ha_user = ?", haUser)
		htPrltCnt = models.ParlletMst.count("ha_user = ?", haUser)
		htItemCnt = models.ItemMst.count("ha_user = ?", haUser)
		htBudgetCnt = models.Budget.count("ha_user = ?", haUser)
		htSumCnt = htRecCnt+htHdlgCnt+htPrltCnt+htItemCnt+htBudgetCnt
	}%
	var vRecCnt = ${htRecCnt},
		vUsePercent = roundup(vRecCnt*100/${haUser.level_mst.rec_size}, 0);
	jQuery('#spnUsePrcnt').text(vUsePercent);
	jQuery('#cfhuProgressBar').progressbar()
							.progressbar("value", vUsePercent)
							.each(function() {
		var selector = jQuery(this).find('div');
		var value = this.getAttribute("aria-valuenow");
		
		jQuery(selector).css('background','Green');
		if (value >= 90) {
			jQuery(selector).css('background', 'Red');
		}
	});
	
	/* アカウント種類変更リンククリック時はcf_hauser_lv_editイベントへ */
	jQuery('#aChgLv').click(function(e) {
		e.preventDefault();
		
//		jQuery('#pplSetExpressCheckout').submit();
		jQuery('#frmChgLv').submit();
	});
	
	/* 退会リンククリック時はcf_hauser_unsubscribeイベントへ */
	jQuery('#aGoToUnsubscribed').click(function(e) {
		e.preventDefault();
		jQuery('#frmUnsubscribe').submit();
		jQuery('body').attr("disabled", "disabled");
	});
});
// -->
</script>

<!-- パスワード変更用フォーム -->
#{form @cf_hauser_pw_edit(), id:'frmSetPw', class:'invisible'}
	<input type="text" name="firstTime" id="firstTime" />
	<input type="submit"  />
#{/form}

<!-- アカウント種類変更用フォーム -->
#{form @cf_hauser_lv_edit(), id:'frmChgLv', class:'invisible'}
	<input type="submit">
#{/form}

<!-- 退会用フォーム -->
#{form @cf_hauser_unsubscribe(), id:'frmUnsubscribe', class:'invisible'}
	<input type="submit"  />
#{/form}


#{ifErrors}
<p class="crudFlash flashError">
	&{'validation.title'}
</p>
#{/ifErrors}

<div id="crudShow">

	<h3><span>&{'insupd.editThe', messages.get('views.config.cf_hauser')}</span></h3>

	<div class="objectForm">
	#{form @cf_hauser_save()}
	 
		<div class="crudField">
			#{field 'haUser.email'}
			<label class="fieldName">&{'email'}:</label>
			<input type="text" name="${field.id}" 
				value="${field.value}" />
			<span class="error">#{error field.name /}</span>
			#{/field}
		</div>
		
		<div class="crudField">
			<label class="fieldName">&{'password'}:</label>
			<div class="right">
				%{strPw=messages.get('views.config.cf_hauser.chgPw')}%
				#{if haUser.fbId && !haUser.pwSetFlg}
					<div class="upper">&{'views.config.cf_hauser.notSetPw'}</div>
					%{strPw=messages.get('views.config.cf_hauser.setPw')}%
				#{/if}
				<a id="aChgPw" class="aBtn" tabindex="0">${strPw}</a>
				<div class="bottom"></div>
			</div>
		</div>
		
		<div class="crudField">
			#{field 'haUser.nickname'}
			<label class="fieldName">&{'nickname'}:</label>
			<input type="text" name="${field.id}" 
				value="${field.value}" />
			<span class="error">#{error field.name /}</span>
			#{/field}
		</div>
		
		<div class="crudField">
			#{field 'haUser.fullname'}
			<label class="fieldName">&{'fullname'}:</label>
			<input type="text" name="${field.id}" 
				value="${field.value}" />
			<span class="error">#{error field.name /}</span>
			#{/field}
		</div>
		
		<div class="crudField">
			#{field 'haUser.fbId'}
			<label class="fieldName">&{'views.config.cf_hauser.fbLinkage'}:</label>
			<div class="right">
				#{if field.value}
				<div class="upper">
					&{'views.config.cf_hauser.fbLinkage.state.link.head'}
					<a href="${haUser.fbLink}" target="_blank">${haUser.fbName}</a>
					&{'views.config.cf_hauser.fbLinkage.state.link.tail'}
				</div>
				<a class="aBtn" id="fbLinkBreak" tabindex="0">&{'views.config.cf_hauser.fbLinkage.break'}</a>
				#{/if}
				#{else}
				<div class="upper">
					&{'views.config.cf_hauser.fbLinkage.state.notLink'}
				</div>
				<a class="aBtn" id="fbLinkLink" tabindex="0">&{'views.config.cf_hauser.fbLinkage.link'}</a>
				#{/else}
				<div class="bottom"></div>
			</div>
			#{/field}
		</div>
		
		<div class="crudField">
			<label class="fieldName">&{'views.config.cf_hauser_lv'}:</label>
			<div class="right">
				<div class="upper">
					${haUser.level_mst.level_name} (${haUser.level_mst.month_amount==0 ? messages.get('views.config.cf_hauser.lv_free') :
						messages.get('views.config.cf_hauser.lv_monthAmount')+haUser.level_mst.month_amount.format('###,###')+messages.get('views.config.cf_hauser.lv_crncyCode')})<br>
					<span id="spnUsed">&{'views.config.cf_hauser.about'}<span id="spnUsePrcnt"></span>% &{'views.config.cf_hauser.used'} ： ${htRecCnt.format('###,###')} / ${haUser.level_mst.rec_size.format('###,###')} &{'views.common.data'}</span>
				</div>
				<div id="cfhuProgressBar"></div>
				<a class="aBtn" id="aChgLv" tabindex="0">&{'views.config.cf_hauser.chgLv'}</a>
				<div class="bottom"></div>
			</div>
		</div>
		
		<div class="crudField">
			<label class="fieldName">Parlletを退会:</label>
			<div class="right">
				<a id="aGoToUnsubscribed" class="aBtn" tabindex="0">退会手続きに進む</a>
			</div>
			<div class="bottom"></div>
		</div>
		
		<div class="crudField bbsNone">
			<input type="submit" value="&{'insupd.save'}" class="grayBtn" />
		</div>
		
	#{/form}
	</div>

</div>



#{secure.check 'admin'}

#{form @PplRecurringPayments.reqWebPay()}
	<input type="submit" value="WebPay test">
#{/form}

#{/secure.check}
