#{extends 'Config/cf_main.html' /}
#{set title:sHandlingType+' '+messages.get('views.common.update.edit') /}

<!-- 
<script type="text/javascript" src="@{'/public/javascripts/confirm.js'}" ></script>
 -->
<script type="text/javascript">
<!--
//var myObj = new Object();
//myObj.strMsg = "&{'views.config.cf_handling_edit.del.confirm'}";
// -->
</script>

<script type="text/javascript">
<!--
jQuery(function() {
	%{
		crecaCnt = 0
		recCnt = 0
		if(hM?.id) {
			crecaCnt = models.HandlingMst.count("ha_user = ? and debit_bank.handling_name = ?", haUser, hM.handling_name)
			recCnt = models.Record.count("ha_user = ? and handling_mst.handling_name = ?", haUser, hM.handling_name)
		}
	}%
	jQuery('#cnf_del').click(function(e){
		if(${crecaCnt}>0) {
			alert("&{'views.config.cf_handling_edit.del.alert', sHandlingType, messages.get('HandlingType.creca')}");
			e.preventDefault();
			return;
		}
		if(${recCnt}>0) {
			alert("&{'views.config.cf_handling_edit.del.alert', sHandlingType, messages.get('Record')}");
			e.preventDefault();
			return;
		}
		return confirm("&{'views.config.cf_handling_edit.del.confirm'}");
	});
	
	/* 起動時に日選択コンボの選択肢を作成 */
	var cutOffDay = jQuery('#hM_cutoff_day'),
		debitDay = jQuery('#hM_debit_day');
	for(i = 1; i < 28; i++) {
		#{ifnot hM?.cutoff_day}
			cutOffDay.append("<option value='"+i+"'>"+i+"&{'views.common.day'}</option>");
		#{/ifnot}
		#{else}
			if(${hM?.cutoff_day} == i) {
				cutOffDay.append("<option value='"+i+"' selected>"+i+"&{'views.common.day'}</option>");
			} else {
				cutOffDay.append("<option value='"+i+"'>"+i+"&{'views.common.day'}</option>");
			}
		#{/else}
		#{ifnot hM?.debit_day}
			debitDay.append("<option value='"+i+"'"+(i==10 ? ' selected' : '')+">"+i+"&{'views.common.day'}</option>");
		#{/ifnot}
		#{else}
			if(${hM?.debit_day} == i) {
				debitDay.append("<option value='"+i+"' selected>"+i+"&{'views.common.day'}</option>");
			} else {
				debitDay.append("<option value='"+i+"'>"+i+"&{'views.common.day'}</option>");
			}
		#{/else}
	};
	#{ifnot hM?.cutoff_day}
		cutOffDay.append("<option value='99' selected>"+"&{'views.config.cf_creca.lastday'}"+"</option>");
	#{/ifnot}
	#{else}
		cutOffDay.append("<option value='99'${hM?.cutoff_day==99 ? ' selected' : ''}>"+"&{'views.config.cf_creca.lastday'}"+"</option>");
	#{/else}
	#{ifnot hM?.debit_day}
		debitDay.append("<option value='99'>"+"&{'views.config.cf_creca.lastday'}"+"</option>");
	#{/ifnot}
	#{else}
		debitDay.append("<option value='99'${hM?.debit_day==99 ? ' selected' : ''}>"+"&{'views.config.cf_creca.lastday'}"+"</option>");
	#{/else}
});
// -->
</script>

#{ifErrors}
<p class="crudFlash flashError">
	&{'validation.title'}
</p>
#{/ifErrors}

<div id="crudShow">

	#{ifnot hM?.id}
		<h3><span>&{'insupd.add', sHandlingType}</span></h3>
	#{/ifnot}
	#{else}
		<h3><span>&{'insupd.edit', sHandlingType}</span></h3>
	#{/else}

    <div class="objectForm">
	#{form (sHandlingType==messages.get('HandlingType.bank')) ?
			@cf_bank_save(hM?.id) :
			((sHandlingType==messages.get('HandlingType.creca')) ?
			 @cf_creca_save(hM?.id) :
			 ((sHandlingType==messages.get('HandlingType.emoney')) ?
			  @cf_emoney_save(hM?.id) : '')
			)}
	 
	    <div class="crudField">
	        #{field 'hM.handling_name'}
	        <label class="fieldName">${sHandlingType}名:</label>
	        <input type="text" name="${field.id}" 
	            value="${field.value}" />
	        <span class="error">#{error field.name /}</span>
	        #{/field}
	    </div>
		
		#{if sHandlingType==messages.get('HandlingType.creca')}
		    <div class="crudField">
		        #{field 'hM.debit_bank'}
		        <label class="fieldName">&{'debit_bank'}:</label>
				<select id="${field.id}" name="${field.id}" style="width:150px;">
					<option value=""${field.value ? '' : ' selected'}>&{'views.common.combo.required.long'}</option>
					#{list items:models.HandlingMst.find("ha_user = ? and handling_type_mst.handling_type_name = ? order by handling_type_mst.handling_type_order, order_seq, id", haUser, messages.get('HandlingType.bank')).fetch(), as:'debitBank'}
					<option value="${debitBank.id}"${field.value==debitBank ? ' selected' : ''}>${debitBank.handling_name}</option>
					#{/list}
				</select>
		        <span class="error">#{error field.name /}</span>
		        #{/field}
		    </div>
			
		    <div class="crudField">
		        #{field 'hM.cutoff_day'}
		        <label class="fieldName">&{'cutoff_day'}:</label>
				<select id="${field.id}" name="${field.id}" style="width:60px;">
				</select>
		        <span class="error">#{error field.name /}</span>
		        #{/field}
		    </div>
			
		    <div class="crudField">
		        #{field 'hM.debit_month'}
		        <label class="fieldName">&{'debit_month'}:</label>
				<select id="${field.id}" name="${field.id}" style="width:70px;">
					<option value="&{'DebitMonth.this'}"${field.value==messages.get('DebitMonth.this') ? ' selected' : ''}>&{'DebitMonth.this'}</option>
					<option value="&{'DebitMonth.next'}"${field.value==null ? ' selected' : (field.value==messages.get('DebitMonth.next') ? ' selected' : '')}>&{'DebitMonth.next'}</option>
					<option value="&{'DebitMonth.nextTwo'}"${field.value==messages.get('DebitMonth.nextTwo') ? ' selected' : ''}>&{'DebitMonth.nextTwo'}</option>
				</select>
		        <span class="error">#{error field.name /}</span>
		        #{/field}
		    </div>

		    <div class="crudField">
		        #{field 'hM.debit_day'}
		        <label class="fieldName">&{'debit_day'}:</label>
				<select id="${field.id}" name="${field.id}" style="width:60px;">
				</select>
		        <span class="error">#{error field.name /}</span>
		        #{/field}
		    </div>
			
		#{/if}
		#{else}
		    <div class="crudField invisible">
		        #{field 'hM.zero_hidden'}
		        <label class="fieldName">&{'zero_hidden'}:</label>
		        <input type="checkbox" name="${field.id}"
		            ${field.value ? 'checked' : ''} />
		        <span class="error">#{error field.name /}</span>
		        #{/field}
		    </div>
		#{/else}
		
	    <div class="crudField">
	        #{field 'hM.invalidity_flg'}
	        <label class="fieldName">&{'invalidity_flg'}:</label>
	        <input type="checkbox" name="${field.id}"
	            ${field.value ? 'checked' : ''} />
	        <span class="error">#{error field.name /}</span>
	        #{/field}
	    </div>
	    
	    <div class="crudField bbsNone">
	        <input type="submit" value="&{'insupd.save'}" />
	    </div>
	    
	#{/form}
	</div>

	#{if hM?.id}
		#{form @cf_handling_del(hM?.id, sHandlingType)}
		    <p class="crudDelete">
		        <input type="submit" value="&{'insupd.delete', sHandlingType}" id="cnf_del" />
		    </p>
		#{/form}
	#{/if}

</div>