#{extends 'Config/cf_main.html' /}

<script type="text/javascript" src="@{'/public/javascripts/confirm.js'}" ></script>

<div id="crudShow">

	#{ifnot itemMst?.id}
		<h3><span>&{'insupd.add', messages.get('views.config.cf_item')+"("+sBalanceType+")"}</span></h3>
	#{/ifnot}
	#{else}
		<h3><span>&{'insupd.edit', messages.get('views.config.cf_item')+"("+sBalanceType+")"}</span></h3>
	#{/else}

    <div class="objectForm">
	#{form (sBalanceType==messages.get('BalanceType.in')) ?
			@cf_item_in_save(itemMst?.id) :
			((sBalanceType==messages.get('BalanceType.out')) ?
			 @cf_item_out_save(itemMst?.id) : ''
			)}
	 
	    #{ifErrors}
	        <p class="error">
	            &{'validation.title'}
	        </p>
	    #{/ifErrors}
	    
	    <div class="crudField">
	        #{field 'item_name'}
	        <label class="fieldName">&{'item_name'}:</label>
	        <input type="text" name="${field.name}" 
	            value="${itemMst?.item_name}" />
	        <span class="error">#{error 'itemMst.item_name' /}</span>
	        #{/field}
	    </div>
		
	    <div class="crudField">
	        <input type="submit" value="&{'insupd.save'}" />
	    </div>
	    
	#{/form}
	</div>

	#{if itemMst?.id}
		#{form @cf_item_del(itemMst?.id, sBalanceType)}
		    <p class="crudDelete">
		        <input type="submit" value="&{'insupd.delete', messages.get('views.config.cf_item')+'('+sBalanceType+')'}" id="cnf_del" />
		    </p>
		#{/form}
	#{/if}

</div>