#{extends 'Config/cf_main.html' /}

<h3>&{'views.config.cf_idealdepo'}　&{'views.common.update.edit'}</h3>

<div class="objectForm">
#{list items:idealDepositMsts, as:'idealDepositMst'}
	<p class="data ${idealDepositMst_parity} crudField">
		<a href="@{cf_idealdepo_edit(idealDepositMst.id)}">
		${idealDepositMst.ideal_deposit_name}</a>
	</p>
#{/list}
</div>
 
<p id="newData" >
    <a href="@{cf_idealdepo_edit()}">
    <span>+</span> &{'insupd.add', messages.get('views.config.cf_idealdepo')}</a>
</p>
