#{extends 'Config/cf_main.html' /}
#{set title:messages.get('views.config.cf_item')+'('+sBalanceType+') '+messages.get('views.common.update.edit') /}

<script type="text/javascript" src="@{'/public/javascripts/confirm.js'}" ></script>
<script type="text/javascript">
<!--
var myObj = new Object();
myObj.strMsg = "&{'views.config.cf_handling_edit.del.confirm'}";
// -->
</script>

#{ifErrors}
<p class="crudFlash flashError">
	&{'validation.title'}
</p>
#{/ifErrors}

<div id="crudShow">

	#{ifnot iM?.id}
		<h3><span>&{'insupd.add', messages.get('views.config.cf_item')+"("+sBalanceType+")"}</span></h3>
	#{/ifnot}
	#{else}
		<h3><span>&{'insupd.edit', messages.get('views.config.cf_item')+"("+sBalanceType+")"}</span></h3>
	#{/else}

    <div class="objectForm">
	#{form (sBalanceType==messages.get('BalanceType.in')) ?
			@cf_item_in_save(iM?.id) :
			((sBalanceType==messages.get('BalanceType.out')) ?
			 @cf_item_out_save(iM?.id) : ''
			)}
	 
	    <div class="crudField">
	        #{field 'iM.item_name'}
	        <label class="fieldName">&{'item_name'}:</label>
	        <input type="text" name="${field.id}" 
	            value="${field.value}" />
	        <span class="error">#{error field.name /}</span>
	        #{/field}
	    </div>
		
	    <div class="crudField">
	        <input type="submit" value="&{'insupd.save'}" />
	    </div>
	    
	#{/form}
	</div>

	#{if iM?.id}
		#{form @cf_item_del(iM?.id, sBalanceType)}
		    <p class="crudDelete">
		        <input type="submit" value="&{'insupd.delete', messages.get('views.config.cf_item')+'('+sBalanceType+')'}" id="cnf_del" />
		    </p>
		#{/form}
	#{/if}

</div>