#{extends 'Config/cf_main.html' /}
#{set title:messages.get('views.config.cf_idealdepo')+' '+messages.get('views.common.update.edit') /}

<!-- 
<script type="text/javascript" src="@{'/public/javascripts/confirm.js'}" ></script>
 -->
<script type="text/javascript">
<!--
//var myObj = new Object();
//myObj.strMsg = "&{'views.config.cf_handling_edit.del.confirm'}";
jQuery(function() {
	%{
		recCnt = 0
		if(iDM?.id) {
			recCnt = models.Record.count("ha_user = ? and ideal_deposit_mst.ideal_deposit_name = ?", haUser, iDM.ideal_deposit_name)
		}
	}%
	jQuery('#cnf_del').click(function(e){
		if(${recCnt}>0) {
			alert("&{'views.config.cf_handling_edit.del.alert', messages.get('views.config.cf_idealdepo'), messages.get('Record')}");
			e.preventDefault();
			return;
		}
		return confirm("&{'views.config.cf_handling_edit.del.confirm'}");
	});
});
// -->
</script>

#{ifErrors}
<p class="crudFlash flashError">
	&{'validation.title'}
</p>
#{/ifErrors}

<div id="crudShow">

	#{ifnot iDM?.id}
		<h3><span>&{'insupd.add', messages.get('views.config.cf_idealdepo')}</span></h3>
	#{/ifnot}
	#{else}
		<h3><span>&{'insupd.edit', messages.get('views.config.cf_idealdepo')}</span></h3>
	#{/else}

    <div class="objectForm">
	#{form @cf_idealdepo_save(iDM?.id)}
	 
	    <div class="crudField">
	        #{field 'iDM.ideal_deposit_name'}
	        <label class="fieldName">&{'ideal_deposit_name'}:</label>
	        <input type="text" name="${field.id}" 
	            value="${field.value}" />
	        <span class="error">#{error field.name /}</span>
	        #{/field}
	    </div>
		
	    <div class="crudField">
	        #{field 'iDM.zero_hidden'}
	        <label class="fieldName">&{'zero_hidden'}:</label>
	        <input type="checkbox" name="${field.id}"
	            ${field.value ? 'checked' : ''} />
	        <span class="error">#{error field.name /}</span>
	        #{/field}
	    </div>
	    
	    <div class="crudField">
	        <input type="submit" value="&{'insupd.save'}" />
	    </div>
	    
	#{/form}
	</div>

	#{if iDM?.id}
		#{form @cf_idealdepo_del(iDM?.id)}
		    <p class="crudDelete">
		        <input type="submit" value="&{'insupd.delete', messages.get('views.config.cf_idealdepo')}" id="cnf_del" />
		    </p>
		#{/form}
	#{/if}

</div>