#{extends 'Config/cf_main.html' /}

<h3>${sHandlingType}　編集</h3>

#{list items:handlingMsts, as:'handlingMst'}
	<p class="record ${handlingMst_parity}">
	  #{if sHandlingType == messages.get('views.config.cf_bank')}
		<a href="@{cf_edit_bank(handlingMst.id)}">
	  #{/if}
	  #{elseif sHandlingType == messages.get('views.config.cf_emoney')}
		<a href="@{cf_edit_emoney(handlingMst.id)}">
	  #{/elseif}
		${handlingMst.handling_name}</a>
	</p>
#{/list}
 
<p id="newData" >
  #{if sHandlingType == messages.get('views.config.cf_bank')}
    <a href="@{cf_edit_bank()}">
  #{/if}
  #{elseif sHandlingType == messages.get('views.config.cf_emoney')}
    <a href="@{cf_edit_emoney()}">
  #{/elseif}
    <span>+</span> &{'config.add', sHandlingType}</a>
</p>
