#{extends 'main.html' /}

#{set 'moreMenu'}
	#{include 'headerMenu.html' /}
#{/set}

#{set 'headerTools'}
	#{include 'headerTools.html' /}
#{/set}

<div id="cfHeader">

<div>
	<ul id="memberMenu">
		<li class="${(request.actionMethod == 'cf_bank_list' ||
					request.actionMethod == 'cf_bank_edit' ||
					request.actionMethod == 'cf_bank_save') ? 'selected' : ''}">
			<a href="@{Config.cf_bank_list()}">&{'HandlingType.bank'}</a>
		</li>
		<li class="${(request.actionMethod == 'cf_creca_list' ||
					request.actionMethod == 'cf_creca_edit' ||
					request.actionMethod == 'cf_creca_save') ? 'selected' : ''}">
			<a href="@{Config.cf_creca_list()}">&{'HandlingType.creca'}</a>
		</li>
		<li class="${(request.actionMethod == 'cf_emoney_list' ||
					request.actionMethod == 'cf_emoney_edit' ||
					request.actionMethod == 'cf_emoney_save') ? 'selected' : ''}">
			<a href="@{Config.cf_emoney_list()}">&{'HandlingType.emoney'}</a>
		</li>
		<li class="${(request.actionMethod == 'cf_item_in_list' ||
					request.actionMethod == 'cf_item_in_edit' ||
					request.actionMethod == 'cf_item_in_save') ? 'selected' : ''}">
			<a href="@{Config.cf_item_in_list()}">&{'views.config.cf_item'}(&{'BalanceType.in'})</a>
		</li>
		<li class="${(request.actionMethod == 'cf_item_out_list' ||
					request.actionMethod == 'cf_item_out_edit' ||
					request.actionMethod == 'cf_item_out_save') ? 'selected' : ''}">
			<a href="@{Config.cf_item_out_list()}">&{'views.config.cf_item'}(&{'BalanceType.out'})</a>
		</li>
		<li class="${(request.actionMethod == 'cf_parllet_list' ||
					request.actionMethod == 'cf_parllet_edit' ||
					request.actionMethod == 'cf_parllet_save') ? 'selected' : ''}">
			<a href="@{Config.cf_parllet_list()}">&{'PrltType.prlt'}</a>
		</li>
		<li class="${(request.actionMethod == 'cf_hauser_edit' ||
					request.actionMethod == 'cf_hauser_save' ||
					request.actionMethod == 'cf_hauser_pw_edit' ||
					request.actionMethod == 'cf_hauser_pw_save' ||
					request.actionMethod == 'cf_hauser_lv_edit' ||
					request.actionMethod == 'cf_hauser_unsubscribe' ||
					request.actionMethod == 'receipt' ||
					request.actionMethod == 'confirm') ? 'selected' : ''}">
			<a href="@{Config.cf_hauser_edit()}">&{'views.config.cf_hauser'}</a>
		</li>
		#{secure.check 'admin'}
			<li class="${request.actionMethod == 'cf_io' ? 'selected' : ''}">
				<a href="@{Config.cf_io()}">&{'views.config.cf_io'}</a>
			</li>
			<li class="${request.actionMethod == 'cf_actionMode' ? 'selected' : ''}">
				<a href="@{Config.cf_actionMode()}">&{'views.config.cf_actionMode'}</a>
			</li>
		#{/secure.check}
	</ul>
      	
</div>
   	
</div>  <!-- cfHeader -->

<div id="cfMain">
<div id="cfMainInner">
	#{doLayout /}
</div>  <!-- cfMainInner -->
</div>  <!-- cfMain -->
