#{extends 'Config/cf_main.html' /}
#{set title:messages.get('views.config.cf_prlt')+' '+messages.get('views.common.update.list') /}

<h3>&{'views.config.cf_prlt'}　&{'views.common.update.edit'}</h3>

#{if parlletMsts?.size() > 1}
　&{'views.common.order.change'}
#{/if}

#{form @cf_prlt_orderChange()}
<div class="objectForm sortable">
%{
	crudSize = parlletMsts.size()
	crudCnt = 0
}%
#{list items:parlletMsts, as:'parlletMst'}
	%{crudCnt++}%
	<p class="data ${parlletMst_parity} crudField${crudCnt!=crudSize ? '' : ' bbsNone'}">
		<a href="@{cf_parllet_edit(parlletMst.id)}">
		${parlletMst.parllet_name}</a>
		<input type="hidden" name="id" value="${parlletMst.id}" />
		<input type="hidden" class="order" name="order" />
	</p>
#{/list}
</div>
<div class="invisible">
	<input type="submit" id="submitOrder" />
</div>
#{/form}
<script type="text/javascript">
<!--
jQuery('.sortable').sortable();
jQuery('.sortable').sortable().bind('sortupdate', function() {
	//Triggered when the user stopped sorting and the DOM position has changed.
	jQuery('.sortable .order').each(function(i) {
		i++;
		jQuery(this).val(i);
	});

	jQuery('#submitOrder').click();
	jQuery('body').attr("disabled", "disabled");
});
// -->
</script>

<p id="newData" >
    <a href="@{cf_parllet_edit()}">
    <span>+</span> &{'insupd.add', messages.get('views.config.cf_prlt')}</a>
</p>
