#{extends 'login.html' /}
#{set title:messages.get('views.dailyaccount.balancetable') /}

<script type="text/javascript">
<!--
//起動時の日毎の部分の幅と高さを調整
jQuery(document).ready(function() {
	jQuery('#bt_tcol').height(jQuery(window).innerHeight()-110);
});

//ウィンドウリサイズ時の日毎の部分の幅と高さを調整
jQuery(document).ready(function() {
	jQuery(window).resize(function() {
		jQuery('#bt_tcol').height(jQuery(this).innerHeight()-110);
	});
});

//3桁区切りの数値入力フィールドとして設定
jQuery(function() {
	jQuery('input.numeric').autoNumeric({aPad: false, vMax: '999999999.99'});
});

//表示金額を3桁区切りに
jQuery(document).ready(function(){
	jQuery('.num3').each(function(i) {
		var numStr = addFigure(jQuery(this).html());
		jQuery(this).html(numStr);
	});
});

//文字列を3桁区切りにする関数
function addFigure(str) {
    var num = new String(str).replace(/,|\n| |\t/g, "");
//    while(num != (num = num.replace(/^(-?\d+)(\d{3})/, "$1,$2")));
	num = num.replace(/(\d)(?=(\d{3})+$)/g , '$1,');
    return num;
}

/* 日付選択時にjumpするdatepicker */
jQuery(function() {
	jQuery(".datepickerJump").datepicker({
		changeMonth: true,
		numberOfMonths: 1,
		showOtherMonths: true,
		selectOtherMonths: true,
		showAnim: "drop",
		changeMonth: true,
		changeYear: true,
		yearRange: '1900:2999',
		dateFormat: 'yy/mm/dd',
		onSelect: function( e_basis_date ) {
//			var str_tmp = new String(e_basis_date).replace(/\//g, "");
//			var int_basis_date = Number(str_tmp);
			jQuery('#idBasisDate').val(e_basis_date);
			jQuery('#idMove').click();
			jQuery('body').attr("disabled", "disabled");
		},
		showOn: "button",
		buttonImage: "@{'/public/images/calendar_shu.gif'}",
		buttonImageOnly: true,
		buttonText: "カレンダー",
		showButtonPanel: true
	});
});

jQuery(function(){
	// 左クリックか右クリックでメニュー表示
	jQuery('.menu_cell').mousedown(function(e) {
		if(e.which==1 || e.which==3) {
			//残高明細（口座系）へジャンプする際の絞込項目セット
			jQuery('#hDebitDateFr').val(jQuery('.ToDlDebitDateFr',this).val());
			jQuery('#hDebitDateTo').val(jQuery('.ToDlDebitDateTo',this).val());
			jQuery('#hHandlingId').val(jQuery('.ToDlHandlingId',this).val());
			
			//残高明細（My貯金）へジャンプする際の絞込項目セット
			jQuery('#idDlRiHdDebitDateFr').val(jQuery('.ToDlDebitDateFr',this).val());
			jQuery('#idDlRiHdDebitDateTo').val(jQuery('.ToDlDebitDateTo',this).val());
			jQuery('#idDlRiHdIdealDepositId').val(jQuery('.ToDlIdealDepositId',this).val());
			
			e.preventDefault();
			jQuery('.menu_cell').contextMenu({x: e.pageX, y: e.pageY});
		}
	});
	jQuery.contextMenu({
		selector: '.menu_cell',
		trigger: 'none',
		build: function($trigger, e) {
			var options = {
				callback: function(key, options) {
					if(key=="toDlRemainderBank")
						jQuery('#submitDlRemainderBank').click();
					if(key=="toDlRemainderIdeal")
						jQuery('#submitDlRemainderIdeal').click();
					jQuery('body').attr("disabled", "disabled");
				},
				items: {}
			};
			if (jQuery('#hHandlingId').val()!='') {
				options.items.toDlRemainderBank = {name: "&{'views.common.menu.toDlRemainderBank'}"};
			}
			if (jQuery('#idDlRiHdIdealDepositId').val()!='') {
				options.items.toDlRemainderIdeal = {name: "&{'views.common.menu.toDlRemainderIdeal'}"};
			}
			return options;
		}
	});
});
// -->
</script>

<script type="text/javascript" src="@{'/public/javascripts/jquery.datepicker.js'}" ></script>
<script type="text/javascript" src="@{'/public/javascripts/autoNumeric-1.7.5.js'}" ></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.contextMenu.js'}"></script>
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.contextMenu.css'}" />

<div id="cmHeader">
#{include 'loginBodyHeader.html' /}
</div>  <!-- cmHeader -->

<div id="cmMain">

<!-- 残高明細（口座系）へジャンプ用フォーム（非表示） -->
#{form @DetailList.dl_remainderBank()}
	<input type="text" name="h_secret_rec_flg" id="hSecretRecFlg" value="0" style="display:none;" />
	<input type="text" name="h_debit_date_fr" id="hDebitDateFr" style="display:none;" />
	<input type="text" name="h_debit_date_to" id="hDebitDateTo" style="display:none;" />
	<input type="text" name="h_handling_id" id="hHandlingId" style="display:none;" />
	<input type="submit" name="srch" id="submitDlRemainderBank" style="display:none;" />
#{/form}

<!-- 残高明細（My貯金）へジャンプ用フォーム（非表示） -->
#{form @DetailList.dl_remainderIdeal()}
	<input type="text" name="dlRiHdSecretRecFlg" id="idDlRiHdSecretRecFlg" value="0" style="display:none;" />
	<input type="text" name="dlRiHdDebitDateFr" id="idDlRiHdDebitDateFr" style="display:none;" />
	<input type="text" name="dlRiHdDebitDateTo" id="idDlRiHdDebitDateTo" style="display:none;" />
	<input type="text" name="dlRiHdIdealDepositId" id="idDlRiHdIdealDepositId" style="display:none;" />
	<input type="submit" name="dlRiSrch" id="submitDlRemainderIdeal" style="display:none;" />
#{/form}

	
#{ifErrors}
    <p class="crudFlash flashError">
		#{errors}
			${error}
		#{/errors}
    </p>
#{/ifErrors}

#{form @jump(), id:'frmJump'}
	<input type="hidden" value="${strTableType}" name="strTableType" />
	<!-- 対象年月日 -->
<!-- 
	<input type="text" class="datepicker" name="e_basis_date"
		value="${sBasisDate}" size="13" />
	<input type="submit" value="移動" name="move" />
 -->
	<div id="bt_basisDate">
	${sBasisDate}
	<input type="text" class="datepickerJump" name="e_basis_date"
		value="${sBasisDate}" style="display:none;" />
	</div>
	<input type="submit" value="移動" name="move" id="idMove" style="display:none;" />
#{/form}

<ul class="bt_tbl_all">
	<li>
		<div id="bt_tcol">
			<div class="bt_tbl_all_l">
				<ul class="bt_tbl_each">
			        %{topFlg = 1}%
					#{list items:lWDA, as:'lwda'}
					  #{if lwda.sLargeCategory == messages.get('RemainderType.real')}
						<li>
							#{if lwda.sItem == ''}
								<div class="${topFlg==1 ? 't_Line ' : ''}lrb_Line bt_cate_large">${lwda.sLargeCategory}</div>
								#{list items:lwda.lstWdtd, as:'wdtd'}
									<div class="${topFlg==1 ? 't_Line ' : ''}lrb_Line bt_ary_day numeric">
										<span class="num3">${wdtd.lAmount}</span>
									</div>
								#{/list}
							#{/if}
							#{else}
								<div class="bt_cate_small_pre"></div>
								<div class="${topFlg==1 ? 't_Line ' : ''}lrb_Line bt_cate_small">${lwda.sItem}</div>
								#{list items:lwda.lstWdtd, as:'wdtd'}
									<div class="${topFlg==1 ? 't_Line ' : ''}lrb_Line bt_ary_day numeric${lwda.sItem=='現金' ? '' : ' menu_cell'}">
										<input type="hidden" class="ToDlDebitDateFr" value="${wdtd?.sDebitDateFr}" />
										<input type="hidden" class="ToDlDebitDateTo" value="${wdtd?.sDebitDateTo}" />
										<input type="hidden" class="ToDlHandlingId" value="${wdtd?.lHandlingId}" />
										<span class="num3">${wdtd.lAmount}</span>
									</div>
								#{/list}
							#{/else}
						</li>
				        %{topFlg = 0}%
					  #{/if}
					#{/list}
				</ul>
			</div>
	
			<div class="bt_tbl_all_r">
				<ul class="bt_tbl_each">
			        %{topFlg = 1}%
					#{list items:lWDA, as:'lwda'}
					  #{if lwda.sLargeCategory != messages.get('RemainderType.real')}
						<li>
							#{if lwda.sItem == ''}
								<div class="${topFlg==1 ? 't_Line ' : ''}lrb_Line bt_cate_large">${lwda.sLargeCategory}</div>
							#{/if}
							#{else}
								<div class="bt_cate_small_pre"></div>
								<div class="${topFlg==1 ? 't_Line ' : ''}lrb_Line bt_cate_small">${lwda.sItem}</div>
							#{/else}
							#{list items:lwda.lstWdtd, as:'wdtd'}
								<div class="${topFlg==1 ? 't_Line ' : ''}lrb_Line da_ary_day numeric${lwda.sItem=='' ? '' : ' menu_cell'}">
									<input type="hidden" class="ToDlDebitDateFr" value="${wdtd?.sDebitDateFr}" />
									<input type="hidden" class="ToDlDebitDateTo" value="${wdtd?.sDebitDateTo}" />
									<input type="hidden" class="ToDlIdealDepositId" value="${wdtd?.lIdealDepositId}" />
									<span class="num3">${wdtd.lAmount}</span>
								</div>
								%{leftFlg = 0}%
							#{/list}
						</li>
				        %{topFlg = 0}%
					  #{/if}
					#{/list}
				</ul>
			</div>
		</div>
	</li>
</ul>	

</div>  <!-- cmMain -->
