#{extends 'main.html' /}
#{set title:messages.get('views.dailyaccount.balancetable') /}

%{
	REMAINDER_TYPE_TOTAL = messages.get('RemainderType.total')
	REMAINDER_TYPE_REAL = messages.get('RemainderType.real')
	REMAINDER_TYPE_PARLLET = messages.get('RemainderType.parllet')
	REMAINDER_TYPE_NOT_PARLLET = messages.get('RemainderType.not_parllet')
	HANDLING_TYPE_CASH = messages.get('HandlingType.cash')
	HANDLING_TYPE_BANK = messages.get('HandlingType.bank')
	HANDLING_TYPE_EMONEY = messages.get('HandlingType.emoney')
	HANDLING_TYPE_CRECA = messages.get('HandlingType.creca')
	PRLT_TYPE_PRLT = messages.get('PrltType.prlt')
	lngBtIdOut = models.BalanceTypeMst.find("byBalance_type_name", messages.get('BalanceType.out')).first().id
	lngBtIdBankIn = models.BalanceTypeMst.find("byBalance_type_name", messages.get('BalanceType.bank_in')).first().id
	lngBtIdPrltIn = models.BalanceTypeMst.find("byBalance_type_name", messages.get('BalanceType.parllet_in')).first().id
}%

<script type="text/javascript">
<!--
var bolDlgFrmUpdMstInsBkem,
	bolDlgFrmUpdMstInsPrlt,
	bolDlgFrmUpdMstUpdBkem,
	bolDlgFrmUpdMstUpdPrlt,
	bolDlgFrmUpdRecInsBkem,
	strTypeName,
	lngUpdId,
	strItemNm;
jQuery(function() {
	/* table-cell内の文字列が入りきらない場合の調整 */
//	var btCateSmallMaxWidth = parseInt(jQuery('.bt_cate_small').css('max-width').replace("px", "")),
	var btCateSmallWidth = ${play.configuration.getProperty('btCateSmall_Width')},
		vYear, vMonth, vSelected;
	jQuery('.bt_cate_small').width(btCateSmallWidth);
	jQuery('.bt_cate_small').each(function() {
		var jTh = jQuery(this),
			strTh = jTh.text(),
			strThOrg = jTh.text(),
			strThEllipse;
		if (jTh.width()>btCateSmallWidth) {
			strTh = strTh.slice(0, strTh.length-1);
			while(jTh.width()>btCateSmallWidth) {
				strTh = strTh.slice(0, strTh.length-1);
				strThEllipse = strTh+"...";
				jTh.text(strThEllipse);
			}
			jTh.append("<span>"+strThOrg+"</span>");
		}
	});
	jQuery('.bt_cate_small span').each(function() {
		jQuery(this)
			.css('top', jQuery(this).parent().position().top+10)
			.css('left', jQuery(this).parent().position().left+10);
	});
	
	/* 起動時の日毎の部分の幅と高さを調整 */
//	jQuery('#bt_tcol').height(jQuery(window).innerHeight()-160);
	
	/* ウィンドウリサイズ時の日毎の部分の幅と高さを調整 */
//	jQuery(window).resize(function() {
//		jQuery('#bt_tcol').height(jQuery(this).innerHeight()-160);
//	});
	
	/* 年コンボボックスのリスト作成 */
	%{year = sBasisDate.substring(0,4)}%
	vYear = Number("${year}"), vSelected;
	for(i=1900; i<3000; i++) {
		vSelected = "";
		if (vYear===i) vSelected = " selected";
		jQuery('#idYear').append("<option value='"+i+"'"+vSelected+">"+i+"</option>");
	}
	
	/* 月コンボボックスのリスト作成 */
	vMonth = Number("${month}");
	for(i=1; i<=12; i++) {
		vSelected = "";
		if (vMonth===i) vSelected = " selected";
		jQuery('#idMonth').append("<option value='"+i+"'"+vSelected+">"+i+"</option>");
	}
	
	/* 年月コンボボックス選択変更時はjumpイベントへ */
	jQuery('#idYear, #idMonth').change(function() {
		jQuery('#idBasisDate').val(jQuery('#idYear').val()+"/"+("0"+jQuery('#idMonth').val()).slice(-2)+"/${sBasisDate.substring(8,10)}");
		jQuery('#idMove').click();
		jQuery('body').attr("disabled", "disabled");
	});
	
	/* 日付移動リンクEnter時はクリックイベントへ */
	jQuery('#idPreMonth, #idNextMonth').keypress(function(e) {
		if (e.which===13) {
			e.preventDefault();
			jQuery(this).click();
		}
	});
	
	/* 日付移動リンククリック時はjumpイベントへ */
	jQuery('#idPreMonth, #idNextMonth').click(function() {

		//移動種別
		jQuery('#idMoveType').val("&{'views.dailyaccount.movetype.month'}");
		
		//移動数
		if (this.id==="idPreMonth")
			jQuery('#idMoveNum').val('-1');
		if (this.id==="idNextMonth")
			jQuery('#idMoveNum').val('1');
		
		jQuery('#idMove').click();
		jQuery('body').attr("disabled", "disabled");
	});
	
//	/* 表示金額を3桁区切りに */
//	jQuery('.num3').each(function(i) {
//		var numStr = addFigure(jQuery(this).html());
//		jQuery(this).html(numStr);
//	});
	
	/* 日付選択時にjumpするdatepicker */
	jQuery(".datepickerJump").datepicker({
		changeMonth: true,
		numberOfMonths: 1,
		showOtherMonths: true,
		selectOtherMonths: true,
		showAnim: "drop",
		changeMonth: true,
		changeYear: true,
		yearRange: '1900:2999',
		dateFormat: 'yy/mm/dd',
		onSelect: function( e_basis_date ) {
//			var str_tmp = new String(e_basis_date).replace(/\//g, "");
//			var int_basis_date = Number(str_tmp);
			jQuery('#idBasisDate').val(e_basis_date);
			jQuery('#idMove').click();
			jQuery('body').attr("disabled", "disabled");
		},
		showOn: "button",
		buttonImage: "@{'/public/images/calendar_shu.gif'}",
		buttonImageOnly: true,
		buttonText: "カレンダー",
		showButtonPanel: true
	});
	
	/* 左クリックか右クリックでメニュー表示 */
	jQuery('.menu_cell').mousedown(function(e) {
		if (e.which===1 || e.which===3) {
			jQuery('#hHandlingId').val('');
			jQuery('#idDlRpHdParlletId').val('');
			bolDlgFrmUpdMstInsBkem = false;
			bolDlgFrmUpdMstInsPrlt = false;
			bolDlgFrmUpdMstUpdBkem = false;
			bolDlgFrmUpdMstUpdPrlt = false;
			bolDlgFrmUpdRecInsBkem = false;
			lngUpdId = null;
			strItemNm = "";
			%{vStrItemNm = ''}%
			
			if (jQuery(this).parent("li").children('.lHandlingId').val()!==undefined) {
				if (!jQuery(this).parent("li").hasClass('remBkemInv'))
					bolDlgFrmUpdRecInsBkem = true;
//				strItemNm = jQuery.trim(jQuery('.lwdaSItem', jQuery(this).parent("li")).text());
				jqLwdaSItem = jQuery(this).hasClass('lwdaSItem') ? jQuery(this) : jQuery(this).prev('.lwdaSItem');
				if (jqLwdaSItem.children('span').size())
					jqLwdaSItem = jqLwdaSItem.children('span');
				strItemNm = jQuery.trim(jqLwdaSItem.text());
				strTypeName = jQuery('.strTypeName',  jQuery(this).parent("li")).val();
				lngUpdId = parseInt(jQuery('.lHandlingId', jQuery(this).parent("li")).val(), 10);
				
				if (jQuery(this).parent("li").children('.strTypeName').val()!=="${HANDLING_TYPE_CASH}") {
					bolDlgFrmUpdMstUpdBkem = true;
					//残高明細（口座系）へジャンプする際の絞込項目セット
					jQuery('#hDebitDateFr').val(jQuery('.ToDlDebitDateFr', jQuery(this).parent("li")).val());
					jQuery('#hDebitDateTo').val(jQuery('.ToDlDebitDateTo', jQuery(this).parent("li")).val());
					jQuery('#hHandlingId').val(jQuery('.lHandlingId', jQuery(this).parent("li")).val());
				}
			}
			if (jQuery('.lParlletId', jQuery(this).parent("li")).val()!==undefined) {
				bolDlgFrmUpdMstUpdPrlt = true;
//				strItemNm = jQuery.trim(jQuery('.lwdaSItem', jQuery(this).parent("li")).text());
				jqLwdaSItem = jQuery(this).hasClass('lwdaSItem') ? jQuery(this) : jQuery(this).prev('.lwdaSItem');
				if (jqLwdaSItem.children('span').size())
					jqLwdaSItem = jqLwdaSItem.children('span');
				strItemNm = jQuery.trim(jqLwdaSItem.text());
				lngUpdId = parseInt(jQuery('.lParlletId', jQuery(this).parent("li")).val(), 10);
				
				//残高明細（Parllet）へジャンプする際の絞込項目セット
				jQuery('#idDlRpHdDebitDateFr').val(jQuery('.ToDlDebitDateFr', jQuery(this).parent("li")).val());
				jQuery('#idDlRpHdDebitDateTo').val(jQuery('.ToDlDebitDateTo', jQuery(this).parent("li")).val());
				jQuery('#idDlRpHdParlletId').val(jQuery('.lParlletId', jQuery(this).parent("li")).val());
			}
			
			if (jQuery('.bolRemReal', jQuery(this).parent("li")).val()!==undefined)
				bolDlgFrmUpdMstInsBkem = true;
			if (jQuery('.bolRemPrlt', jQuery(this).parent("li")).val()!==undefined)
				bolDlgFrmUpdMstInsPrlt = true;
			
			e.preventDefault();
			jQuery('.menu_cell').contextMenu({x: e.pageX, y: e.pageY});
			jQuery('.context-menu-list').width(jQuery('.context-menu-list').width()*1.1);
		}
	});
	jQuery.contextMenu({
		selector: '.menu_cell',
		trigger: 'none',
		build: function($trigger, e) {
			var options = {
				callback: function(key, options) {
					if (key==="dialogFrmInsRecBank") {
						var dfurFvPayDate = new DfurFlgVal(false, "${sBasisDate}", false),
							dfurFvBType = new DfurFlgVal(true, strTypeName==="${HANDLING_TYPE_CASH}" ? ${lngBtIdOut} : ${lngBtIdBankIn}, true),
							dfurFvHdlg = new DfurFlgVal(false, lngUpdId, false),
							dfurFvPrlt = new DfurFlgVal(false, 0, true),
							dfurFvItem = new DfurFlgVal(false, 0, true),
							dfurFvAmnt = new DfurFlgVal(true, null, true),
							dfurFvDebDate = new DfurFlgVal(false, "${sBasisDate}", false),
							dfurFvCntnt = new DfurFlgVal(false, "", true),
							dfurFvStore = new DfurFlgVal(false, "", true),
							dfurFvRmrks = new DfurFlgVal(false, "", true),
							dfurRec = new DfurRec(
								null,
								dfurFvPayDate,
								dfurFvBType,
								dfurFvHdlg,
								dfurFvPrlt,
								dfurFvItem,
								dfurFvAmnt,
								dfurFvDebDate,
								dfurFvCntnt,
								dfurFvStore,
								dfurFvRmrks);
						//家計簿入力フォームを開く
						openDialogFrmUpdRec(dfurRec);
					}
					if (key==="dialogFrmInsRecPrlt") {
						var dfurFvPayDate = new DfurFlgVal(false, "${sBasisDate}", false),
							dfurFvBType = new DfurFlgVal(true, ${lngBtIdPrltIn}, true),
							dfurFvHdlg = new DfurFlgVal(false, 0, true),
							dfurFvPrlt = new DfurFlgVal(false, lngUpdId, false),
							dfurFvItem = new DfurFlgVal(false, 0, true),
							dfurFvAmnt = new DfurFlgVal(true, null, true),
							dfurFvDebDate = new DfurFlgVal(false, "${sBasisDate}", false),
							dfurFvCntnt = new DfurFlgVal(false, "", true),
							dfurFvStore = new DfurFlgVal(false, "", true),
							dfurFvRmrks = new DfurFlgVal(false, "", true),
							dfurRec = new DfurRec(
								null,
								dfurFvPayDate,
								dfurFvBType,
								dfurFvHdlg,
								dfurFvPrlt,
								dfurFvItem,
								dfurFvAmnt,
								dfurFvDebDate,
								dfurFvCntnt,
								dfurFvStore,
								dfurFvRmrks);
						//家計簿入力フォームを開く
						openDialogFrmUpdRec(dfurRec);
					}
					if (key==="dialogFrmUpdMstInsBank" || key==="dialogFrmUpdMstUpdBank")
						//口座更新フォームを開く
						openDialogFrmUpdMstBt("${HANDLING_TYPE_BANK}", lngUpdId);
					if (key==="dialogFrmUpdMstInsEmoney" || key==="dialogFrmUpdMstUpdEmoney")
						//電子マネー更新フォームを開く
						openDialogFrmUpdMstBt("${HANDLING_TYPE_EMONEY}", lngUpdId);
					if (key==="dialogFrmUpdMstInsPrlt" || key==="dialogFrmUpdMstUpdPrlt")
						//Parllet更新フォームを開く
						openDialogFrmUpdMstBt("${PRLT_TYPE_PRLT}", lngUpdId);
					if (key==="toDlRemainderBank") {
						jQuery('#submitDlRemainderBank').click();
						jQuery('body').attr("disabled", "disabled");
					}
					if (key==="toDlRemainderPrlt") {
						jQuery('#submitDlRemainderPrlt').click();
						jQuery('body').attr("disabled", "disabled");
					}
				},
				items: {}
			};
			if (bolDlgFrmUpdMstInsBkem) {
				options.items.dialogFrmUpdMstInsBank = {name: "&{'views.contextMenu.add', HANDLING_TYPE_BANK}"};
				options.items.dialogFrmUpdMstInsEmoney = {name: "&{'views.contextMenu.add', HANDLING_TYPE_EMONEY}"};
			}
			if (bolDlgFrmUpdMstInsPrlt)
				options.items.dialogFrmUpdMstInsPrlt = {name: "&{'views.contextMenu.add', PRLT_TYPE_PRLT}"};
			if (bolDlgFrmUpdRecInsBkem)
				options.items.dialogFrmInsRecBank = {name: strItemNm+"&{'views.contextMenu.insRec'}"};
			if (bolDlgFrmUpdMstUpdBkem) {
				if (strTypeName==="${HANDLING_TYPE_BANK}")
					options.items.dialogFrmUpdMstUpdBank = {name: "&{'views.contextMenu.upd', HANDLING_TYPE_BANK}"};
				if (strTypeName==="${HANDLING_TYPE_EMONEY}")
					options.items.dialogFrmUpdMstUpdEmoney = {name: "&{'views.contextMenu.upd', HANDLING_TYPE_EMONEY}"};
			}
			if (bolDlgFrmUpdMstUpdPrlt) {
				options.items.dialogFrmInsRecPrlt = {name: strItemNm+"&{'views.contextMenu.insRec'}"};
				options.items.dialogFrmUpdMstUpdPrlt = {name: "&{'views.contextMenu.upd', PRLT_TYPE_PRLT}"};
			}
			if (jQuery('#hHandlingId').val()!=='')
				options.items.toDlRemainderBank = {name: "&{'views.common.menu.toDlRemainderBank'}"};
			if (jQuery('#idDlRpHdParlletId').val()!=='')
				options.items.toDlRemainderPrlt = {name: "&{'views.common.menu.toDlRemainderPrlt'}"};
			return options;
		}
	});
	function openDialogFrmUpdMstBt(strMst, lngUpdId) {
		openDialogFrmUpdMst(strMst, "&{'views.name.balanceTable'}", lngUpdId)
	}
	
	
	jQuery('#zeroHddnBkem, #zeroHddnPrlt, #invHddnBkem').click(function() {
		var strErrMsg = "Common.updateHaUserFlg",
			jqxhr,
			jqThisChkd = jQuery(this).is(':checked'),
			strClm,
			jqChgInvisible,
			strInvisible;
		if (this.id==="zeroHddnBkem") {
			strClm = "zero_hidden_bkem";
			jqChgInvisible = jQuery('.remBkemZero');
			strInvisible = "invisible";
		}
		if (this.id==="zeroHddnPrlt") {
			strClm = "zero_hidden_prlt";
			jqChgInvisible = jQuery('.remPrltZero');
			strInvisible = "invisible";
		}
		if (this.id==="invHddnBkem") {
			strClm = "inv_hidden_bkem";
			jqChgInvisible = jQuery('.remBkemInv');
			strInvisible = "invisible2";
		}
		jqxhr = jQuery.post('@{Common.updateHaUserFlg}', {strHuClm: strClm, bolFlg: jqThisChkd});
		jqxhr
		.done(function(z) {
			switch (z.intRslt) {
				case 0:
					if (jqThisChkd) {
						jqChgInvisible.addClass(strInvisible);
					} else {
						jqChgInvisible.removeClass(strInvisible);
					}
					break;
				case 99:
					alert(z.strErr);
					break;
				default:
					strErrMsg += " result Error";
					alert(strErrMsg);
			}
		})
		.fail(function() {
			strErrMsg += " Failed";
			alert(strErrMsg);
		});
	});
});

/* 文字列を3桁区切りにする関数 */
function addFigure(str) {
	var num = new String(str).replace(/,|\n| |\t/g, "");
//	while(num !== (num = num.replace(/^(-?\d+)(\d{3})/, "$1,$2")));
	num = num.replace(/(\d)(?=(\d{3})+$)/g , '$1,');
	return num;
}

google.load('visualization', '1', {'packages':['corechart']});
google.setOnLoadCallback(drawChart);
function drawChart() {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'type');
	
	data.addColumn('number', "${REMAINDER_TYPE_TOTAL}");
	data.addColumn({type: 'string', role: 'tooltip'});
	#{list items:lWDA, as:'lwda'}
	  #{if lwda.sLargeCategory==REMAINDER_TYPE_REAL &&
			lwda.sItem!='' &&
			lwda.lstWdtd[0].lAmount!=0}
		data.addColumn('number', '${lwda.sItem}');
		data.addColumn({type: 'string', role: 'tooltip'});
	  #{/if}
	#{/list}
	
	#{list items:lWDA, as:'lwda'}
	  #{if lwda.sLargeCategory!=REMAINDER_TYPE_REAL &&
			(lwda.sItem!='' || lwda.sLargeCategory==REMAINDER_TYPE_NOT_PARLLET) &&
			lwda.lstWdtd[0].lAmount!=0}
		data.addColumn('number', '${lwda.sLargeCategory==REMAINDER_TYPE_NOT_PARLLET ? lwda.sLargeCategory : lwda.sItem}');
		data.addColumn({type: 'string', role: 'tooltip'});
	  #{/if}
	#{/list}
	
	data.addRows([
		["${REMAINDER_TYPE_TOTAL}",
			#{list items:lWDA, as:'lwda'}
			  #{if lwda.sLargeCategory==REMAINDER_TYPE_REAL &&
					lwda.sItem==''}
				${lwda.lstWdtd[0].lAmount}, "${REMAINDER_TYPE_TOTAL} : "+"${lwda.lstWdtd[0].lAmount.format('###,###')}"
			  #{/if}
			#{/list}
			#{list items:lWDA, as:'lwda'}
			  #{if lwda.sLargeCategory==REMAINDER_TYPE_REAL &&
					lwda.sItem!='' &&
					lwda.lstWdtd[0].lAmount!=0}
				, 0, ""
			  #{/if}
			  #{if lwda.sLargeCategory!=REMAINDER_TYPE_REAL &&
					(lwda.sItem!='' || lwda.sLargeCategory==REMAINDER_TYPE_NOT_PARLLET) &&
					lwda.lstWdtd[0].lAmount!=0}
				, 0, ""
			  #{/if}
			#{/list}
		],
		["${REMAINDER_TYPE_REAL}",
			0, ""
			#{list items:lWDA, as:'lwda'}
			  #{if lwda.sLargeCategory==REMAINDER_TYPE_REAL &&
					lwda.sItem!='' &&
					lwda.lstWdtd[0].lAmount!=0}
				, ${lwda.lstWdtd[0].lAmount}, "${lwda.sItem} : "+"${lwda.lstWdtd[0].lAmount.format('###,###')}"
			  #{/if}
			  #{if lwda.sLargeCategory!=REMAINDER_TYPE_REAL &&
					(lwda.sItem!='' || lwda.sLargeCategory==REMAINDER_TYPE_NOT_PARLLET) &&
					lwda.lstWdtd[0].lAmount!=0}
				, 0, ""
			  #{/if}
			#{/list}
		],
		["${REMAINDER_TYPE_PARLLET}",
			0, ""
			#{list items:lWDA, as:'lwda'}
			  #{if lwda.sLargeCategory==REMAINDER_TYPE_REAL &&
					lwda.sItem!='' &&
					lwda.lstWdtd[0].lAmount!=0}
				, 0, ""
			  #{/if}
			  #{if lwda.sLargeCategory!=REMAINDER_TYPE_REAL &&
					(lwda.sItem!='' || lwda.sLargeCategory==REMAINDER_TYPE_NOT_PARLLET) &&
					lwda.lstWdtd[0].lAmount!=0}
				, ${lwda.lstWdtd[0].lAmount}, "${lwda.sLargeCategory==REMAINDER_TYPE_NOT_PARLLET ? lwda.sLargeCategory : lwda.sItem} : "+"${lwda.lstWdtd[0].lAmount.format('###,###')}"
			  #{/if}
			#{/list}
		]
	]);
	
	// グラフのオプションを指定する
	var options = {
//			title: '業績推移',
			width: 980,
			height: 150,
			isStacked: true,
//			backgroundColor: { fill:'transparent' }
 			backgroundColor: "rgb(244,233,207)"
	}
	
	// 描画する
	var chart = new google.visualization.BarChart(document.getElementById('btChart'));
	chart.draw(data, options);
}
// -->
</script>

<script type="text/javascript" src="@{'/public/javascripts/jquery.contextMenu.js'}"></script>
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.contextMenu.css'}" />

<link media="only screen and (max-device-width:480px)" href="@{'/public/stylesheets/smart.jquery.contextMenu.css'}" type="text/css" rel="stylesheet" />
<link media="screen and (min-device-width:481px)" href="@{'/public/stylesheets/jquery.contextMenu.css'}" type="text/css" rel="stylesheet" />
<!--[if IE]>
<link href="@{'/public/stylesheets/jquery.contextMenu.css'}" type="text/css" rel="stylesheet" />
<![endif]-->


%{icldDlgFrmUpdMst=1}%
#{include 'dialogFrmUpdMst.html' /}
<script type="text/javascript">
<!--
/* dialogFrmUpdMstを閉じた時の動作は呼び出し元で行う */
function whenDialogFrmUpdMstClosedBt(intRslt, strType, nameVal, zeroHddnChkd, invFlgChkd, lngId) {
	var strErrMsg;
	if (lngId===null) lngId=undefined;
	if (strType==="${HANDLING_TYPE_BANK}" || strType==="${HANDLING_TYPE_EMONEY}")
		strErrMsg = "Common.updateHdlg";
	if (strType==="${PRLT_TYPE_PRLT}")
		strErrMsg = "Common.updatePrlt";
	switch (intRslt) {
		case 0:
			break;
		case 1:
			var jqxhrUpdMst;
			if (strType==="${HANDLING_TYPE_BANK}" || strType==="${HANDLING_TYPE_EMONEY}") {
				jqxhrUpdMst = jQuery.post('@{Common.updateHdlg}', {strHdlgType: strType, strName: nameVal, bolZeroHddn: zeroHddnChkd, bolInvFlg: invFlgChkd, lngHdlgId: lngId});
			}
			if (strType==="${PRLT_TYPE_PRLT}") {
				jqxhrUpdMst = jQuery.post('@{Common.updatePrlt}', {strName: nameVal, bolZeroHddn: zeroHddnChkd, lngPrltId: lngId});
			}
			jqxhrUpdMst
			.done(function(z) {
				switch (z.intRslt) {
					case 0:
						if (strType==="${HANDLING_TYPE_BANK}" ||
								strType==="${HANDLING_TYPE_EMONEY}" ||
								strType==="${PRLT_TYPE_PRLT}") {
							//画面を再表示
							window.location.reload(true);
						}
						break;
					case 99:
						alert(z.strErr);
						break;
					default:
						strErrMsg += " result Error";
						alert(strErrMsg);
				}
			})
			.fail(function() {
				strErrMsg += " Failed";
				alert(strErrMsg);
			});
			break;
		default:
			alert("dialogFrmUpdMst return value error");
	}
}
// -->
</script>


#{set 'moreMenu'}
	#{include 'headerMenu.html' /}
#{/set}

#{set 'headerTools'}
	#{include 'headerTools.html' /}
#{/set}


<!-- 残高明細（口座系）へジャンプ用フォーム（非表示） -->
#{form @DetailList.dl_remainderBank(), class:'invisible'}
	<input type="text" name="h_secret_rec_flg" id="hSecretRecFlg" value="0" />
	<input type="text" name="h_debit_date_fr" id="hDebitDateFr" />
	<input type="text" name="h_debit_date_to" id="hDebitDateTo" />
	<input type="text" name="h_handling_id" id="hHandlingId" />
	<input type="submit" name="srch" id="submitDlRemainderBank" />
#{/form}

<!-- 残高明細（Parllet）へジャンプ用フォーム（非表示） -->
#{form @DetailList.dl_remainderPrlt(), class:'invisible'}
	<input type="text" name="dlRpHdSecretRecFlg" id="idDlRpHdSecretRecFlg" value="0" />
	<input type="text" name="dlRpHdDebitDateFr" id="idDlRpHdDebitDateFr" />
	<input type="text" name="dlRpHdDebitDateTo" id="idDlRpHdDebitDateTo" />
	<input type="text" name="dlRpHdParlletId" id="idDlRpHdParlletId" />
	<input type="submit" name="dlRpSrch" id="submitDlRemainderPrlt" />
#{/form}


#{ifErrors}
	<p class="crudFlash flashError">
		#{errors}
			${error}
		#{/errors}
	</p>
#{/ifErrors}

<!-- 日付移動用フォーム（非表示） -->
#{form @jump(), id:'frmJump', class:'invisible'}
	<input type="hidden" value="${strTableType}" name="strTableType" />
 
	<!-- 移動種別 -->
	<input type="text" name="strMoveType" id="idMoveType" />
	<!-- 移動数 -->
	<input type="text" name="intMoveNum" id="idMoveNum" />
 	
	<input type="text" name="e_basis_date" id="idBasisDate"
		value="${sBasisDate}" />
	
	<input type="submit" name="move" id="idMove" />
#{/form}

<div id="btChart"></div>

<div id="mainInner" class="btMainInner">

<div id="btBasisDate">
	<a id="idPreMonth" class="aBtn fontJura" tabindex="0"><<span>&{'views.dailyaccount.movetype.month.pre'}</span></a>
	<span id="daPaddingYearMonth">
	
		<select id="idYear">
		</select>
		&{'year'}
		<select id="idMonth">
		</select>
		&{'month'}
		&nbsp;&nbsp;
		<span>
		${sBasisDate.substring(8,10)}
		</span>
		&nbsp;
		&{'views.common.day'}
		<div class="inlineVerticalMiddle">
			<input type="text" class="datepickerJump invisible dpClImg"
				value="${sBasisDate}" />
		</div>
		
	</span>
	
	<a id="idNextMonth" class="aBtn fontJura" tabindex="0">><span>&{'views.dailyaccount.movetype.month.next'}</span></a>
</div>

<div id="btRemTotal">
	<ul>
		<li class="${vRemBkemZero} ${vInvisible} ${vRemBkemInv} ${vInvisible2}">
			<div class="t_Line lrb_Line">
				${REMAINDER_TYPE_TOTAL}
			</div>
			<div class="t_Line lrb_Line padR4 numeric">
				#{list items:lWDA, as:'lwda'}
				  #{if lwda.sLargeCategory==REMAINDER_TYPE_REAL &&
						lwda.sItem==''}
					${lwda.lstWdtd[0].lAmount.format('###,###')}
				  #{/if}
				#{/list}
			</div>
		</li>
	</ul>
</div>

<ul id="bt_tbl_all">
	<li>
		<div id="bt_tcol">
			<div class="bt_tbl_all_l">
				<div>
					%{
						hU=models.HaUser.find("byEmail", session.username).first()
						intHdlgInvCnt=models.HandlingMst.count("ha_user = ? and handling_type_mst.handling_type_name != ? and invalidity_flg = true", hU, HANDLING_TYPE_CRECA)
						intHdlgZeroExist=false
					}%
					#{list items:lWDA, as:'lwda'}
					  #{if lwda.sLargeCategory==REMAINDER_TYPE_REAL &&
					  		lwda.sItem!='' &&
					  		lwda.sItem!=HANDLING_TYPE_CASH &&
					  		lwda.lstWdtd[0].lAmount==0}
						%{intHdlgZeroExist = true}%
					  #{/if}
					#{/list}
					<div class="btHddnChkBox">
					#{if intHdlgZeroExist}
						<input type="checkbox" id="zeroHddnBkem" ${hU?.zero_hidden_bkem ? 'checked' : ''} />&{'views.balancetable.lbl.zero_hidden'}
					#{/if}
					#{if intHdlgInvCnt!=0}
						<input type="checkbox" id="invHddnBkem" ${hU?.inv_hidden_bkem ? 'checked' : ''} />&{'views.balancetable.lbl.invalid_hidden'}
					#{/if}
					</div>
				</div>
				
				<ul class="bt_tbl_each">
					%{topFlg = 1}%
					#{list items:lWDA, as:'lwda'}
					  #{if lwda.sLargeCategory==REMAINDER_TYPE_REAL}
					  	%{
					  		wdtd = lwda.lstWdtd[0]
					  		vRemBkemZero = (lwda.sItem!='' && lwda.sItem!=HANDLING_TYPE_CASH && wdtd.lAmount==0) ? 'remBkemZero' : ''
					  		vInvisible = (hU?.zero_hidden_bkem && lwda.lstWdtd[0].lAmount==0) ? 'invisible' : ''
					  		vRemBkemInv = (lwda.sItem!='' && lwda.sItem!=HANDLING_TYPE_CASH && lwda.bolInvFlg) ? 'remBkemInv' : ''
					  		vInvisible2 = (hU?.inv_hidden_bkem && lwda.bolInvFlg) ? 'invisible2' : ''
							vMenuCell = lwda.sItem==HANDLING_TYPE_CASH ? '' : 'menu_cell'
					  	}%
						<li class="${vRemBkemZero} ${vInvisible} ${vRemBkemInv} ${vInvisible2}">
							#{if lwda.sItem == ''}
								<input type="hidden" class="bolRemReal" value="${lwda.sLargeCategory}" />
								<div class="${topFlg==1 ? 't_Line ' : ''}lrb_Line bt_cate_large menu_cell">
									${lwda.sLargeCategory}
								</div>
								<div class="${topFlg==1 ? 't_Line ' : ''}lrb_Line bt_ary_day numeric menu_cell">
									<span class="padR4">${wdtd.lAmount.format('###,###')}</span>
								</div>
							#{/if}
							#{else}
								<input type="hidden" class="lHandlingId" value="${wdtd.lHandlingId}" />
								<input type="hidden" class="strTypeName" value="${lwda.strTypeNm}" />
								
								<input type="hidden" class="ToDlDebitDateFr" value="${wdtd?.sDebitDateFr}" />
								<input type="hidden" class="ToDlDebitDateTo" value="${wdtd?.sDebitDateTo}" />
<!-- 
								<input type="hidden" class="ToDlHandlingId" value="${wdtd?.lHandlingId}" />
 -->
								<div class="bt_cate_small_pre"></div>
								<div class="${topFlg==1 ? 't_Line ' : ''}lrb_Line bt_cate_small menu_cell lwdaSItem">
									${lwda.sItem}
								</div>
								<div class="${topFlg==1 ? 't_Line ' : ''}lrb_Line bt_ary_day numeric menu_cell">
									<span class="padR4">${wdtd.lAmount.format('###,###')}</span>
								</div>
							#{/else}
						</li>
						%{topFlg = 0}%
					  #{/if}
					#{/list}
				</ul>
			</div>
			
			<div class="bt_tbl_all_r">
				<div>
					%{
						intPrltZeroExist=false
					}%
					#{list items:lWDA, as:'lwda'}
					  #{if lwda.sLargeCategory!=REMAINDER_TYPE_REAL &&
					  		lwda.sItem!='' &&
					  		lwda.lstWdtd[0].lAmount==0}
						%{intPrltZeroExist = true}%
					  #{/if}
					#{/list}
					<div class="btHddnChkBox">
					#{if intPrltZeroExist}
						<input type="checkbox" id="zeroHddnPrlt" ${hU?.zero_hidden_prlt ? 'checked' : ''} />&{'views.balancetable.lbl.zero_hidden'}
					#{/if}
					</div>
				</div>
				
				<ul class="bt_tbl_each">
					%{topFlg = 1}%
					<li>
						#{list items:lWDA, as:'lwda'}
						  #{if lwda.sLargeCategory==REMAINDER_TYPE_REAL &&
								lwda.sItem==''}
							<input type="hidden" class="bolRemPrlt" value="${REMAINDER_TYPE_PARLLET}" />
							<div class="${topFlg==1 ? 't_Line ' : ''}lrb_Line bt_cate_large menu_cell">
								${REMAINDER_TYPE_PARLLET}
							</div>
							<div class="${topFlg==1 ? 't_Line ' : ''}lrb_Line da_ary_day numeric menu_cell">
								<span class="padR4">${lwda.lstWdtd[0].lAmount.format('###,###')}</span>
							</div>
						  #{/if}
						#{/list}
					</li>
					
					%{topFlg = 0}%
					
					#{list items:lWDA, as:'lwda'}
					  #{if lwda.sLargeCategory!=REMAINDER_TYPE_REAL}
					  	%{
							wdtd = lwda.lstWdtd[0]
					  		vRemPrltZero = (lwda.sItem!='' && lwda.lstWdtd[0].lAmount==0) ? 'remPrltZero' : ''
					  		vInvisible = (hU?.zero_hidden_prlt && lwda.lstWdtd[0].lAmount==0) ? 'invisible' : ''
					  	}%
						<li class="${vRemPrltZero} ${vInvisible}">
							<input type="hidden" class="lParlletId" value="${wdtd.lParlletId}" />
							
							<input type="hidden" class="ToDlDebitDateFr" value="${wdtd?.sDebitDateFr}" />
							<input type="hidden" class="ToDlDebitDateTo" value="${wdtd?.sDebitDateTo}" />
<!-- 
							<input type="hidden" class="ToDlParlletId" value="${wdtd?.lParlletId}" />
 -->
							#{if lwda.sItem==''}
								%{vMenuCell = lwda.sLargeCategory==REMAINDER_TYPE_PARLLET ? 'menu_cell' : ''}%
								<div class="${topFlg==1 ? 't_Line ' : ''}lrb_Line bt_cate_large ${vMenuCell}">
									${lwda.sLargeCategory}
								</div>
							#{/if}
							#{else}
								%{vMenuCell = lwda.sItem==REMAINDER_TYPE_NOT_PARLLET ? '' : ' menu_cell'}%
								<div class="bt_cate_small_pre"></div>
								<div class="${topFlg==1 ? 't_Line ' : ''}lrb_Line bt_cate_small ${vMenuCell} lwdaSItem">
									${lwda.sItem}
								</div>
							#{/else}
							<div class="${topFlg==1 ? 't_Line ' : ''}lrb_Line da_ary_day numeric${vMenuCell}">
								<span class="padR4">${wdtd.lAmount.format('###,###')}</span>
							</div>
							%{leftFlg = 0}%
						</li>
						%{topFlg = 0}%
					  #{/if}
					#{/list}
				</ul>
			</div>
		</div>
	</li>
</ul>  <!-- bt_tbl_all -->

<div id="mainInnerBtm"></div>

</div>  <!-- mainInner -->
