#{extends 'login.html' /}
#{set title:'日計表' /}


<script type="text/javascript">
<!--
//枠固定の上下の動き
jQuery(document).ready(function() {
    jQuery('#da_tbody').scroll(function() {
    	//jQuery('#da_trow').scrollLeft(jQuery(this).scrollLeft());
    	jQuery('#da_tcol').scrollTop(jQuery(this).scrollTop());
    });
});
jQuery(document).ready(function() {
    jQuery('#da_tcol').scroll(function() {
    	//jQuery('#da_trow').scrollLeft(jQuery(this).scrollLeft());
    	jQuery('#da_tbody').scrollTop(jQuery(this).scrollTop());
    });
});
//jQuery(document).ready(function() {
//    jQuery('#da_tbodyR').scroll(function() {
//    	jQuery('#da_tbody').scrollTop(jQuery(this).scrollTop());
//    	jQuery('#da_tcol').scrollTop(jQuery(this).scrollTop());
//    });
//});

//枠固定の左右の動き
jQuery(document).ready(function() {
    jQuery('#da_tbody2').scroll(function() {
    	jQuery('#da_tbody').scrollLeft(jQuery(this).scrollLeft());
    	jQuery('#da_trow').scrollLeft(jQuery(this).scrollLeft());
    });
});

//起動時の日毎の部分の幅と高さを調整
jQuery(document).ready(function() {
	jQuery('#da_tcol').height(jQuery(window).innerHeight()-220);
	jQuery('#da_tbody').height(jQuery(window).innerHeight()-220);
//	jQuery('#da_trow').width(jQuery(window).innerWidth()-350-16);
//	jQuery('#da_tbody').width(jQuery(window).innerWidth()-350);
//	jQuery('#da_tbody2').width(jQuery(window).innerWidth()-350);
});

//ウィンドウリサイズ時の日毎の部分の幅と高さを調整
jQuery(document).ready(function() {
	jQuery(window).resize(function() {
		jQuery('#da_tcol').height(jQuery(this).innerHeight()-220);
		jQuery('#da_tbody').height(jQuery(this).innerHeight()-220);
//		jQuery('#da_trow').width(jQuery(window).innerWidth()-350-16);
//		jQuery('#da_tbody').width(jQuery(window).innerWidth()-350);
//		jQuery('#da_tbody2').width(jQuery(window).innerWidth()-350);
	});
});

//日付移動リンククリック時はjumpイベントへ
jQuery(document).ready(function() {
	var dateFormat = new DateFormat("yyyy/MM/dd");
	var sDate = "${sBasisDate}";
	var nYear = new Number(sDate.substr(0, 4)-0);
	var nMonth = new Number(sDate.substr(5, 2)-1);
	var nDay = new Number(sDate.substr(8, 2)-0);
	var nQuantity = new Number(0);
	jQuery('#idPre3, #idPre1, #idNext1, #idNext3').click(function() {
		if(this.id=="idPre3")
			nQuantity -= 3;
		if(this.id=="idPre1")
			nQuantity -= 1;
		if(this.id=="idNext1")
			nQuantity += 1;
		if(this.id=="idNext3")
			nQuantity += 3;
		var dPre1 = new Date(nYear, nMonth, nDay+nQuantity);
		jQuery('#idBasisDate').val(dateFormat.format(dPre1));
		jQuery('#idMove').click();
		jQuery('body').attr("disabled", "disabled");
	});
});

/* 3桁区切りの数値入力フィールドとして設定 */
jQuery(document).ready(function() {
	jQuery('input.numeric').autoNumeric({aPad: false, vMin: '-999999999.99', vMax: '999999999.99'});
});

//表示金額を3桁区切りに
jQuery(document).ready(function(){
	jQuery('.num3').each(function(i) {
		var numStr = addFigure(jQuery(this).html());
		jQuery(this).html(numStr);
	});
});

//文字列を3桁区切りにする関数
function addFigure(str) {
    var num = new String(str).replace(/,|\n| |\t/g, "");
//    while(num != (num = num.replace(/^(-?\d+)(\d{3})/, "$1,$2")));
	num = num.replace(/(\d)(?=(\d{3})+$)/g , '$1,');
    return num;
}

/* 日付選択時にjumpするdatepicker */
jQuery(function() {
	jQuery(".datepickerJump").datepicker({
		changeMonth: true,
		numberOfMonths: 1,
		showOtherMonths: true,
		selectOtherMonths: true,
		showAnim: "drop",
		changeMonth: true,
		changeYear: true,
		yearRange: '1900:2999',
		dateFormat: 'yy/mm/dd',
		onSelect: function( e_basis_date ) {
			var str_tmp = new String(e_basis_date).replace(/\//g, "");
			var int_basis_date = Number(str_tmp);
			jQuery('#idBasisDate').val(e_basis_date);
			jQuery('#idMove').click();
			jQuery('body').attr("disabled", "disabled");
		},
		showOn: "button",
		buttonImage: "@{'/public/images/calendar_shu.gif'}",
		buttonImageOnly: true,
		buttonText: "カレンダー",
		showButtonPanel: true
	});
});
-->
</script>

<script type="text/javascript" src="@{'/public/javascripts/jquery.datepicker.js'}" ></script>
<script type="text/javascript" src="@{'/public/javascripts/autoNumeric-1.7.5.js'}" ></script>
<script type="text/javascript" src="@{'/public/javascripts/dateformat.js'}" ></script>

#{form @jump(), id:'frmJump'}
	<input type="hidden" value="${strTableType}" name="strTableType" />
	<!-- 対象年月日 -->
	<input type="hidden" id="idBasisDate" name="e_basis_date"
		value="${sBasisDate}" style="width:80px;background:#eee;" readonly="readonly" />
	<input type="submit" value="移動" name="move" id="idMove" style="display:none;" />
#{/form}

<ul class="da_tbl_all">
	#{form @updBudget()}
	<input type="hidden" name="bg_basis_date" value="${sBasisDate}"/>
	
	<li>
		<div class="da_tbl_all_div">
			<!-- 枠固定の左上 -->
			<ul class="da_tbl_lt">
				<li>
					%{year = sBasisDate.substring(0,4)}%
					<div class="da_hd_cate1_2 da_head">${year}年</div>
					<div class="da_budget da_head">
						  #{if strTableType== messages.get('views.dailyaccount.dailyaccount')}
							<!-- 予算 -->
							${month}月予算
							<input type="submit" value="更新" name="sbmtUpdBudget" class="daBtn_upd_budget"/>
						  #{/if}
					</div>
					<div class="da_sum_month da_head">${strTableType== messages.get('views.dailyaccount.dailyaccount') ? month+"月計" : ""}</div>
				</li>
			</ul>
		</div>
		<div class="da_tbl_all_div">
			<div id="da_trow" style="width:${iWidth<630 ? iWidth : 630}px;" >
			<div style="width:${iWidth}px;">
				<!-- 枠固定の右上 -->
				<ul class="da_tbl_rt">
			        %{
			        	leftFlg = 1
			        	count = 0
			        }%
					<li>
						#{list items:sAryDays, as:'sAryDay'}
							%{count++}%
							<div class="${leftFlg==1 ? 'da_hd_left_cell ' : ''}da_ary_day da_head ${}" style="${count==1 ? 'text-align: left;' : (count==3 ? 'text-align: right;' : '')}">
							#{if count== 1}
								<a id="idPre3" class="daBtnPreNext" tabindex="0"><<<span>3日前へ</span></a>
								<a id="idPre1" class="daBtnPreNext" tabindex="0"><<span>1日前へ</span></a>
							#{/if}
							${count==2 ? "　" : ""}
							${sAryDay}
							#{if count== 2}
								<input type="text" class="datepickerJump" value="${sBasisDate}" style="display:none;" />
							#{/if}
							#{if count== 3}
								<a id="idNext1" class="daBtnPreNext" tabindex="0">><span>1日後へ</span></a>
								<a id="idNext3" class="daBtnPreNext" tabindex="0">>><span>3日後へ</span></a>
							#{/if}
							</div>
					        %{leftFlg = 0}%
						#{/list}
					</li>
				</ul>
			</div>
			</div>
		</div>
	</li>
	
	<li>
		<div class="da_tbl_all_div">
			<div id="da_tcol">
			<div>
				<!-- 枠固定の左下 -->
				<ul class="da_tbl_lb">
					#{list items:lWDA, as:'lwda'}
						<li>
							<!-- 予算あり -->
							#{if lwda.bBudgetFlg}
								<!-- 項目・My貯金　毎 -->
								#{if lwda.sItem != ''}
									<div class="da_cate1${lwda.bolLastItemFlg ? ' da_cate1_last' : ''}"></div>
									<div class="da_cate2">${lwda.sItem}</div>
									<div class="da_budget">
										<input type="hidden" name="e_budget_id" value="${lwda.lBudgetId}" />
										<input type="hidden" name="e_large_category" value="${lwda.sLargeCategory}" />
										<input type="hidden" name="e_item" value="${lwda.sItem}"/>
										<input type="text" class="numeric" name="e_budget_amount" value="${lwda.sBudgetAmount}" />
									</div>
								#{/if}
								<!-- 大分類毎 -->
								#{else}
									<div class="da_cate1_2">${lwda.sLargeCategory}</div>
									<div class="da_budget numeric">
										<span class="num3">
											<!-- 
											${lwda.sBudgetAmount}
											 -->
											${lwda.lBudgetAmount}
										</span>
									</div>
								#{/else}
							#{/if}
							<!-- 予算なし -->
							#{else}
								<!-- 項目・My貯金　毎 -->
								#{if lwda.sItem != ''}
									<div class="da_cate1"></div>
									<div class="da_cate2_budget">${lwda.sItem}</div>
								#{/if}
								<!-- 大分類毎 -->
								#{else}
									<div class="da_cate1_2_budget">${lwda.sLargeCategory}</div>
								#{/else}
							#{/else}
							<div class="da_sum_month numeric">
								<span class="num3">
									${lwda.lSumMonth}
								</span>
							</div>
						</li>
						
					#{/list}
				</ul>
			</div>
			</div>
		</div>
		<div class="da_tbl_all_div">
			<div id="da_tbody" style="width:${iWidth<630 ? iWidth+16+2 : 630+16}px;">
			<div style="width:${iWidth+2}px">
				<!-- 枠固定の右下 -->
				<ul class="da_tbl_rb">
					#{list items:lWDA, as:'lwda'}
				        %{leftFlg = 1}%
						<li>
							#{list items:lwda.lstWdtd, as:'sAryDay'}
								<div class="${leftFlg==1 ? 'da_left_cell ' : ''}da_ary_day numeric">
									<!-- 
									<span class="num3">
									 -->
										<a href="@{DetailList.detailList(1,sAryDay.sPaymentDateFr,sAryDay.sPaymentDateTo,sAryDay.lBalanceTypeId,sAryDay.lHandlingId,sAryDay.lIdealDepositId,sAryDay.lItemId)}" class="num3">${sAryDay.lAmount}</a>
									<!-- 
									</span>
									 -->
								</div>
								%{leftFlg = 0}%
							#{/list}
						</li>
						
					#{/list}
				</ul>
			</div>
			</div>
		</div>
	</li>
	#{/form}

	<li>
		<div class="da_tbl_all_div" style="backgtound:white;">
			<div style="height:16px;width:320px;">
				<div>
				</div>
			</div>
		</div>
		<div class="da_tbl_all_div">
			<div id="da_tbody2" style="width:646px;height:16px;overflow:auto;">
				<div style="width:${iWidth}px">
				　
				</div>
			</div>
		</div>
	</li>
	
</ul>	
