#{extends 'main.html' /}
#{set title:messages.get('views.dailyaccount.dailyaccount') /}

<style>
<!--
/* 共通のスタイル */
.bt-menu-trigger {
	display: none;
}
body {
	min-width: 0;
}
#hdContainer, #main, #daHeader, #ftContents {
	width: 95%;
}
#hdContainer, #main, #daHeader, #ftContents {
	max-width: 980px;
}
#mainInner {
	overflow-x: auto;
}

/* スマホのスタイル */
.memberMenu {
	display: none;
}
#daHeader {
	display: block;
}
#prltMain {
	padding-top: 75px;
}

/* タブレットのスタイル */
@media all and (min-width: 480px) {
}

/* PCのスタイル */
@media all and (min-width: 768px) {
	.memberMenu {
		display: block;
	}
	#daHeader {
		display: none;
	}
	#prltMain {
		padding-top: 45px;
	}
}
-->
</style>

<script type="text/javascript">
<!--
jQuery(function() {
	/* table-cell内の文字列が入りきらない場合の調整 */
	var daCate2Width = ${play.configuration.getProperty('daCate2_Width')};
	jQuery('.da_cate2').width(daCate2Width);
	jQuery('.da_cate2').each(function() {
		var jTh = jQuery(this),
			strTh = jTh.text(),
			strThOrg = jTh.text(),
			strThEllipse;
		if (jTh.width()>daCate2Width) {
			strTh = strTh.slice(0, strTh.length-1);
			while(jTh.width()>daCate2Width) {
				strTh = strTh.slice(0, strTh.length-1);
				strThEllipse = strTh+"...";
				jTh.text(strThEllipse);
			}
			jTh.append("<span>"+strThOrg+"</span>");
		}
	});
	jQuery('.da_cate2').hover(function() {
		var parentTop = jQuery(this).position().top,
			parentLeft = jQuery(this).position().left;
		jQuery(this).children('span')
			.css('top', parentTop+10)
			.css('left', parentLeft+10);
	});
	var daCate2BudgetMaxWidth;
	if (jQuery('.da_cate2_budget').length > 0)
		daCate2BudgetMaxWidth = jQuery('.da_cate2_budget').css('max-width').replace("px", "")-0;
	jQuery('.da_cate2_budget').each(function() {
		var jTh = jQuery(this),
			strTh = jTh.text(),
			strThOrg = jTh.text(),
			strThEllipse;
		if (jTh.width()>daCate2BudgetMaxWidth) {
			strTh = strTh.slice(0, strTh.length-1);
			while(jTh.width()>daCate2BudgetMaxWidth) {
				strTh = strTh.slice(0, strTh.length-1);
				strThEllipse = strTh+"...";
				jTh.text(strThEllipse);
			}
			jTh.append("<span>"+strThOrg+"</span>");
		}
	});
	jQuery('.da_cate2_budget').hover(function() {
		var parentTop = jQuery(this).position().top,
			parentLeft = jQuery(this).position().left;
		jQuery(this).children('span')
			.css('top', parentTop+10)
			.css('left', parentLeft+10);
	});
	
	/* 枠固定の上下の動き */
    jQuery('#da_tbody').scroll(function() {
    	//jQuery('#da_trow').scrollLeft(jQuery(this).scrollLeft());
    	jQuery('#da_tcol').scrollTop(jQuery(this).scrollTop());
    });
    
    jQuery('#da_tcol').scroll(function() {
    	//jQuery('#da_trow').scrollLeft(jQuery(this).scrollLeft());
    	jQuery('#da_tbody').scrollTop(jQuery(this).scrollTop());
    });
//    jQuery('#da_tbodyR').scroll(function() {
//    	jQuery('#da_tbody').scrollTop(jQuery(this).scrollTop());
//    	jQuery('#da_tcol').scrollTop(jQuery(this).scrollTop());
//    });

	/* 枠固定の左右の動き */
    jQuery('#da_tbody2').scroll(function() {
    	jQuery('#da_tbody').scrollLeft(jQuery(this).scrollLeft());
    	jQuery('#da_trow').scrollLeft(jQuery(this).scrollLeft());
    });
	
	/* 起動時の日毎の部分の幅と高さを調整 */
//	jQuery('#da_tcol').height(jQuery(window).innerHeight()-156);
//	jQuery('#da_tbody').height(jQuery(window).innerHeight()-156);
	
//	jQuery('#da_trow').width(jQuery(window).innerWidth()-350-16);
//	jQuery('#da_tbody').width(jQuery(window).innerWidth()-350);
//	jQuery('#da_tbody2').width(jQuery(window).innerWidth()-350);
	
	/* ウィンドウリサイズ時の日毎の部分の幅と高さを調整 */
	jQuery(window).resize(function() {
//		jQuery('#da_tcol').height(jQuery(this).innerHeight()-156);
//		jQuery('#da_tbody').height(jQuery(this).innerHeight()-156);
		
//		jQuery('#da_trow').width(jQuery(window).innerWidth()-350-16);
//		jQuery('#da_tbody').width(jQuery(window).innerWidth()-350);
//		jQuery('#da_tbody2').width(jQuery(window).innerWidth()-350);
	});
	
	/* 年コンボボックスのリスト作成 */
	%{year = sBasisDate.substring(0,4)}%
	var vYear = Number("${year}");
	var vSelected;
	for(i=1900; i<3000; i++) {
		vSelected = "";
		if (vYear==i) vSelected = " selected";
		jQuery('#idYear').append("<option value='"+i+"'"+vSelected+">"+i+"</option>");
	}
	
	/* 月コンボボックスのリスト作成 */
	var vMonth = Number("${month}");
	for(i=1; i<=12; i++) {
		vSelected = "";
		if (vMonth==i) vSelected = " selected";
		jQuery('#idMonth').append("<option value='"+i+"'"+vSelected+">"+i+"</option>");
	}
	
	/* 年月コンボボックス選択変更時はjumpイベントへ */
	jQuery('#idYear, #idMonth').change(function() {
		jQuery('#idBasisDate').val(jQuery('#idYear').val()+"/"+("0"+jQuery('#idMonth').val()).slice(-2)+"/${sBasisDate.substring(8,10)}");
		jQuery('#idMove').click();
		jQuery('body').attr("disabled", "disabled");
	});
	
	/* 日付移動リンククリック時はjumpイベントへ */
//	var dateFormat = new DateFormat("yyyy/MM/dd");
//	var sDate = "${sBasisDate}";
//	var nYear = new Number(sDate.substr(0, 4)-0);
//	var nMonth = new Number(sDate.substr(5, 2)-1);
//	var nDay = new Number(sDate.substr(8, 2)-0);
	jQuery('#idPreYear, #idPreMonth, #idPreDays, #idNextYear, #idNextMonth, #idNextDays').click(function() {
//		if (this.id=="idPreYear")
//			nYear -= 1;
//		if (this.id=="idPreMonth")
//			nMonth -= 1;
//		if (this.id=="idNextMonth")
//			nMonth += 1;
//		if (this.id=="idNextYear")
//			nYear += 1;
//		var nDate = new Date(nYear, nMonth, nDay);
//		jQuery('#idBasisDate').val(dateFormat.format(nDate));

		//移動種別
		if (this.id=="idPreYear" || this.id=="idNextYear")
			jQuery('#idMoveType').val("&{'views.dailyaccount.movetype.year'}");
		if (this.id=="idPreMonth" || this.id=="idNextMonth")
			jQuery('#idMoveType').val("&{'views.dailyaccount.movetype.month'}");
		if (this.id=="idPreDays" || this.id=="idNextDays")
			jQuery('#idMoveType').val("&{'views.dailyaccount.movetype.days'}");
		
		//移動数
		if (this.id=="idPreYear" || this.id=="idPreMonth")
			jQuery('#idMoveNum').val('-1');
		if (this.id=="idNextYear" || this.id=="idNextMonth")
			jQuery('#idMoveNum').val('1');
		if (this.id=="idPreDays")
			jQuery('#idMoveNum').val('-5');
		if (this.id=="idNextDays")
			jQuery('#idMoveNum').val('5');
		
		jQuery('#idMove').click();
		jQuery('body').attr("disabled", "disabled");
	});
	
	/* 表示金額を3桁区切りに */
//	jQuery('.num3').each(function(i) {
//		var numStr = addFigure(jQuery(this).html());
//		jQuery(this).html(numStr);
//	});
	
	/* 日付選択時にjumpするdatepicker */
	jQuery(".datepickerJump").datepicker({
		changeMonth: true,
		numberOfMonths: 1,
		showOtherMonths: true,
		selectOtherMonths: true,
		showAnim: "drop",
		changeMonth: true,
		changeYear: true,
		yearRange: '1900:2999',
		dateFormat: 'yy/mm/dd',
		onSelect: function( e_basis_date ) {
//			var str_tmp = new String(e_basis_date).replace(/\//g, "");
//			var int_basis_date = Number(str_tmp);
			jQuery('#idBasisDate').val(e_basis_date);
			jQuery('#idMove').click();
			jQuery('body').attr("disabled", "disabled");
		},
		showOn: "button",
		buttonImage: "@{'/public/images/calendar_shu.gif'}",
		buttonImageOnly: true,
		buttonText: "カレンダー",
		showButtonPanel: true
	});
	
	/* 左クリックか右クリックでメニュー表示 */
	jQuery('.menu_cell').mousedown(function(e) {
		if (e.which==1 || e.which==3) {
			//収支明細へジャンプする際の絞込項目セット
			jQuery('#hPaymentDateFr').val(jQuery('.ToDlPaymentDateFr',this).val());
			jQuery('#hPaymentDateTo').val(jQuery('.ToDlPaymentDateTo',this).val());
			jQuery('#hBalanceTypeId').val(jQuery('.ToDlBalanceTypeId',this).val());
			jQuery('#hHandlingId').val(jQuery('.ToDlHandlingId',this).val());
			jQuery('#hParlletId').val(jQuery('.ToDlParlletId',this).val());
			jQuery('#hItemId').val(jQuery('.ToDlItemId',this).val());
			
			//家計簿入力へジャンプする際の絞込項目セット
//			jQuery('#dfPaymentDate').val(jQuery('.ToDlPaymentDateFr',this).val()+' 00:00');
			jQuery('#dfPaymentDate').val(jQuery('.ToDlPaymentDateFr',this).val());
			jQuery('#dfBalanceTypeId').val(jQuery('.ToDlBalanceTypeId',this).val());
			if (jQuery('.ToDlgUpdRecCate',this).val()==="&{'BalanceType.parllet_inOut'}") {
				jQuery('#dfBalanceTypeId').val(${models.BalanceTypeMst.find("byBalance_type_name", messages.get('BalanceType.parllet_in')).first().id})
			}
			jQuery('#dfParlletId').val(jQuery('.ToDlParlletId',this).val());
			jQuery('#dfItemId').val(jQuery('.ToDlItemId',this).val());
			jQuery('#dfDebitDate').val(jQuery('.ToDlPaymentDateFr',this).val());
			
			e.preventDefault();
			jQuery('.menu_cell').contextMenu({x: e.pageX, y: e.pageY});
		}
	});
	jQuery.contextMenu({
		selector: '.menu_cell',
		trigger: 'none',
		callback: function(key, options) {
//			var m = "clicked: " + key;
//			window.console && console.log(m) || alert(m);
			if (key=="toDlBalance") {
//				jQuery('#frmToDlBalance').submit();
				jQuery('#submitDlBalance').click();	// .submit() だと、srch=nullになるため .click() でサブミットする
				jQuery('body').attr("disabled", "disabled");
			}
			if (key=="toRecordAdd") {
//				jQuery('#submitRecordEdit').click();
				var dfurFvPayDate = new DfurFlgVal(false, jQuery('#dfPaymentDate').val(), false),
					dfurFvBType = new DfurFlgVal(true, jQuery('#dfBalanceTypeId').val(), true),
					dfurFvHdlg = new DfurFlgVal(false, null, false),
					dfurFvPrlt = new DfurFlgVal(false, jQuery('#dfParlletId').val(), true),
					dfurFvItem = new DfurFlgVal(false, jQuery('#dfItemId').val(), true),
					dfurFvAmnt = new DfurFlgVal(true, null, true),
					dfurFvDebDate = new DfurFlgVal(false, jQuery('#dfDebitDate').val(), false),
					dfurFvCntnt = new DfurFlgVal(false, "", true),
					dfurFvStore = new DfurFlgVal(false, "", true),
					dfurFvRmrks = new DfurFlgVal(false, "", true),
					dfurRec = new DfurRec(
						null,
						dfurFvPayDate,
						dfurFvBType,
						dfurFvHdlg,
						dfurFvPrlt,
						dfurFvItem,
						dfurFvAmnt,
						dfurFvDebDate,
						dfurFvCntnt,
						dfurFvStore,
						dfurFvRmrks);
				//家計簿入力フォームを開く
				openDialogFrmUpdRec(dfurRec);
			}
		},
		items: {
			"toDlBalance": {name: "&{'views.common.menu.toDlBalance'}"},
			"toRecordAdd": {name: "&{'views.common.menu.toRecordAdd'}"}
		}
	});
	
	/* Enterキーでのサブミット防止 */
	jQuery('input[type!="submit"][type!="button"], a#idPreYear, a#idNextYear, a#idPreMonth, a#idNextMonth, a#idPreDays, a#idNextDays').keypress(function(e){
		if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
			if (this.id=="idPreYear" ||
					this.id=="idNextYear" ||
					this.id=="idPreMonth" ||
					this.id=="idNextMonth" ||
					this.id=="idPreDays" ||
					this.id=="idNextDays") {
				e.preventDefault();
				jQuery(this).click();	
			}
			return false;
		}else{
			return true;
		}
	});
	
	/* 予算入力ボックス フォーカス取得イベント */
	jQuery('.bdgtBox').focus(function() {
		jQuery(this).data('valClnt', jQuery(this).val());
	});
	
	/* 予算入力ボックス フォーカス喪失イベント */
	jQuery('.bdgtBox').blur(function() {
		if (jQuery(this).data('valClnt')===undefined) return false;	//フォーカス取得時に万が一 undefined だったら
		if (jQuery(this).data('valClnt')===jQuery(this).val()) return false;	//変化していなければ無視
		
		var jqSum,
			strLargeCateCode,
			strSum,
			intSum = 0,
			strClnt,
			intClnt = 0,
			strChange,
			intChange = 0;
		// 予算合計
		if (jQuery(this).hasClass('largeCateIn'))
			strLargeCateCode = 'largeCateIn';
		if (jQuery(this).hasClass('largeCateOut'))
			strLargeCateCode = 'largeCateOut';
		if (jQuery(this).hasClass('largeCatePrltInOut'))
			strLargeCateCode = 'largeCatePrltInOut';
		jqSum = jQuery('#'+strLargeCateCode);
		strSum = jqSum.text().replace(/^\s+|\s+$|,/g, "");	//スペースとカンマを除去
		if (strSum!=='')
			intSum = parseInt(strSum);
		
		// 予算入力ボックスの変更前の値
		strClnt = jQuery(this).data('valClnt').replace(/^\s+|\s+$|,/g, "");
		if (strClnt!=='')
			intClnt = parseInt(strClnt);
		
		// 予算入力ボックスの変更後の値
		strChange = jQuery(this).val().replace(/^\s+|\s+$|,/g, "");
		if (strChange!=='')
			intChange = parseInt(strChange);
		
		intSum += (intChange - intClnt);
		
		jqSum.text(addFigure(intSum));
		
		// 全部空白なら予算合計削除
		var bolDelFlg = true;
		jQuery.each(jQuery('.'+strLargeCateCode), function() {
			if (jQuery(this).val()!=='') bolDelFlg = false;
		});
		if (bolDelFlg) jqSum.text('');
		
		var jqxhr,
			strErrMsg;
		// 新規作成
		if (jQuery(this).data('valClnt')==='') {
			var strId = '#'+jQuery(this).prevAll('input[name=e_budget_id]').attr('id');
			jqxhr = jQuery.post('@{Common.updateBudget}', {strLargeCate: jQuery(this).prevAll('input[name=e_large_category]').val(), strItem: jQuery(this).prev('input[name=e_item]').val(), intYear: vYear, intMonth: vMonth, intAmnt: intChange});
			jqxhr
			.done(function(z) {
				switch (z.intRslt) {
					case 0:
						jQuery(strId).val(z.bG.id);
						break;
					case 99:
						alert(z.strErr);
						break;
					default:
						strErrMsg += " result Error";
						alert(strErrMsg);
				}
			})
			.fail(function() {
				strErrMsg += " Failed";
				alert(strErrMsg);
			});
			
			return false;
		}
		// 削除
		if (strChange==='') {
			jqxhr = jQuery.post('@{Common.updateBudget}', {lngId: jQuery(this).prevAll('input[name=e_budget_id]').val(), bolDelFlg: true});
			jqxhr
			.done(function(z) {
				switch (z.intRslt) {
					case 0:
						break;
					case 99:
						alert(z.strErr);
						break;
					default:
						strErrMsg += " result Error";
						alert(strErrMsg);
				}
			})
			.fail(function() {
				strErrMsg += " Failed";
				alert(strErrMsg);
			});
			return false;
		}
		// 更新
		jqxhr = jQuery.post('@{Common.updateBudget}', {lngId: jQuery(this).prevAll('input[name=e_budget_id]').val(), intAmnt: intChange});
		jqxhr
		.done(function(z) {
			switch (z.intRslt) {
				case 0:
					break;
				case 99:
					alert(z.strErr);
					break;
				default:
					strErrMsg += " result Error";
					alert(strErrMsg);
			}
		})
		.fail(function() {
			strErrMsg += " Failed";
			alert(strErrMsg);
		});
		
	});
	
});

/* 文字列を3桁区切りにする関数 */
function addFigure(str) {
	var num = new String(str).replace(/,|\n| |\t/g, "");
//    while(num != (num = num.replace(/^(-?\d+)(\d{3})/, "$1,$2")));
	num = num.replace(/(\d)(?=(\d{3})+$)/g , '$1,');
	return num;
}
-->
</script>

<script type="text/javascript" src="@{'/public/javascripts/jquery.contextMenu.js'}"></script>
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.contextMenu.css'}" />

#{set 'moreMenu'}
	#{include 'headerMenu.html' /}
#{/set}

#{set 'headerTools'}
	#{include 'headerTools.html' /}
#{/set}


<!-- 収支明細へジャンプ用フォーム（非表示） -->
#{include 'toDetailList_dl_balance.html' /}

<!-- 家計簿入力へジャンプ用フォーム（非表示） -->
#{form @RecordEdit.recordEdit()}
	<input type="text" name="df_payment_date" id="dfPaymentDate" class="invisible" />
	<input type="text" name="df_balance_type_id" id="dfBalanceTypeId" class="invisible" />
	<input type="text" name="df_parllet_id" id="dfParlletId" class="invisible" />
	<input type="text" name="df_item_id" id="dfItemId" class="invisible" />
	<input type="text" name="df_debit_date" id="dfDebitDate" class="invisible" />
	<input type="submit" id="submitRecordEdit" class="invisible" />
#{/form}

	
<!-- 年月移動用フォーム -->
#{form @jump(), id:'frmJump'}
	<input type="hidden" value="${strTableType}" name="strTableType" />
	<!-- 対象年月日 -->
	<input type="text" class="invisible" name="e_basis_date" id="idBasisDate"
		value="${sBasisDate}" />
	<!-- 移動種別 -->
	<input type="text" class="invisible" name="strMoveType" id="idMoveType" />
	<!-- 移動数 -->
	<input type="text" class="invisible" name="intMoveNum" id="idMoveNum" />
	<input type="submit" name="move" id="idMove" class="invisible" />
#{/form}

#{ifErrors}
    <p class="crudFlash flashError">
		#{errors}
			${error}
		#{/errors}
    </p>
#{/ifErrors}

<div id="daHeader">
	<ul class="tbMemberMenu">
		<li>
			<a href="#" id="aLarge_cate">&{'views.dailyaccount.dailyaccount'}</a>
		</li>
	</ul>
</div>  <!-- daHeader -->

<div id="mainInner">
<div class="daMainInner">

<ul class="da_tbl_all">
	<li>
		<div class="da_tbl_all_div">
			<!-- 枠固定の左上 -->
			<ul class="da_tbl_lt">
				<li>
					<div class="da_tree first">
					</div>
					<div class="da_head first">
					</div>
				</li>
				<li>
					<div class="second da_tree">
					</div>
					<div class="da_hd_cate1_2 da_head second">
					</div>
					<div class="da_budget da_head second">
						<!-- 予算 -->
						&{'views.dailyaccount.lbl.monthBudget'}
					</div>
					<div class="da_sum_month da_head second">
						&{'views.dailyaccount.lbl.monthSum'}
						<div class="da_budget_subject">(&{'views.dailyaccount.lbl.budget.subject'})</div>
					</div>
					<div class="da_prlt_link da_head second">
						&{'views.dailyaccount.lbl.prltLink'}
						<div class="da_budget_subject">(&{'views.dailyaccount.lbl.budget.notSubject'})</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="da_tbl_all_div">
			<div id="da_trow" style="width:${iWidth<630 ? iWidth : 630}px;" >
			<div style="width:${iWidth}px;">
				<!-- 枠固定の右上 -->
				<ul class="da_tbl_rt">
					<li>
						<div class="da_head first">
							<a id="idPreMonth" class="aBtn fontJura" tabindex="0"><<span>&{'views.dailyaccount.movetype.month.pre'}</span></a>
<!-- 
							<a id="idPreYear" class="aBtn fontJura" tabindex="0" ><<span>&{'views.dailyaccount.movetype.year'}</span></a>
 -->
							
							<span id="daPaddingYearMonth">
							
								<select id="idYear">
								</select>
								&{'year'}
<!-- 
	 							<a id="idNextYear" class="aBtn fontJura" tabindex="0">><span>&{'views.dailyaccount.movetype.year'}</span></a>
 -->
								<select id="idMonth">
								</select>
								&{'month'}
							
							</span>
							
							<a id="idNextMonth" class="aBtn fontJura" tabindex="0">><span>&{'views.dailyaccount.movetype.month.next'}</span></a>
						</div>
					</li>
					<li>
						<div class="da_head second days5Move">
							<a id="idPreDays" class="aBtn fontJura" tabindex="0"><<span>&{'views.dailyaccount.movetype.days.pre'}</span></a>
						</div>
				        %{count = 0}%
						#{list items:sAryDays, as:'sAryDay'}
							%{count++}%
							<div class="${(count==1 || count==5) ? 'da_hd_ary_day_end' : 'da_hd_ary_day'} da_head second">
							${sAryDay}
							#{if count==3}
								<input type="text" class="datepickerJump invisible"
									value="${sBasisDate}" />
							#{/if}
							</div>
						#{/list}
						<div class="da_head second days5Move">
							<a id="idNextDays" class="aBtn fontJura" tabindex="0">><span>&{'views.dailyaccount.movetype.days.next'}</span></a>
						</div>
					</li>
				</ul>
			</div>
			</div>
		</div>
	</li>
	
	<li>
		<div class="da_tbl_all_div">
			<div id="da_tcol">
			<div>
				<!-- 枠固定の左下 -->
				<ul class="da_tbl_lb">
					#{list items:lWDA, as:'lwda'}
						<li>
							<div class="da_tree">
							</div>
							<!-- 予算あり -->
							#{if lwda.bBudgetFlg}
								%{
									vLargeCate = ''
									if (lwda.sLargeCategory==messages.get('BalanceType.in'))
										vLargeCate = 'largeCateIn'
									if (lwda.sLargeCategory==messages.get('BalanceType.out'))
										vLargeCate = 'largeCateOut'
									if (lwda.sLargeCategory==messages.get('BalanceType.parllet_inOut'))
										vLargeCate = 'largeCatePrltInOut'
								}%
								<!-- 項目・Parllet　毎 -->
								#{if lwda.sItem != ''}
									<div class="da_cate1${lwda.bolLastItemFlg ? ' da_cate1_last' : ''}"></div>
									<div class="da_cate2">${lwda.sItem}</div>
									<div class="da_budget daBudgetSubject">
										<input type="hidden" name="e_budget_id" value="${lwda.lBudgetId}" id="bdgtId_${lwda.lBudgetId}" />
										<input type="hidden" name="e_large_category" value="${lwda.sLargeCategory}" />
										<input type="hidden" name="e_item" value="${lwda.sItem}"/>
										<input type="text" class="numeric bdgtBox ${vLargeCate}" name="e_budget_amount" value="${lwda.lBudgetAmount}" />
									</div>
								#{/if}
								<!-- 大分類毎 -->
								#{else}
									<div class="da_cate1_2">${lwda.sLargeCategory}</div>
									<div class="da_budget numeric daBudgetSubject">
										<span class="padR4" id="${vLargeCate}">
											${lwda.lBudgetAmount?.format('###,###')}
										</span>
									</div>
								#{/else}
							#{/if}
							<!-- 予算なし -->
							#{else}
								<!-- 項目・Parllet　毎 -->
								#{if lwda.sItem != ''}
									<div class="da_cate1${lwda.bolLastItemFlg ? ' da_cate1_last' : ''}"></div>
									<div class="da_cate2_budget">${lwda.sItem}</div>
								#{/if}
								<!-- 大分類毎 -->
								#{else}
									<div class="da_cate1_2_budget">${lwda.sLargeCategory}</div>
								#{/else}
							#{/else}
							<div class="da_sum_month numeric 
										${lwda.sLargeCategory==messages.get('BalanceType.in') ||
										lwda.sLargeCategory==messages.get('BalanceType.out') ||
										lwda.sLargeCategory==messages.get('BalanceType.parllet_inOut') ? 'daBudgetSubject' : ''}">
								<span class="padR4">
									${lwda.lSumMonth.format('###,###')}
								</span>
							</div>
							<div class="da_sum_month numeric 
										${lwda.sLargeCategory==messages.get('BalanceType.in') ||
										lwda.sLargeCategory==messages.get('BalanceType.out') ? 'daBudgetNotSubject' : ''}">
								<span class="padR4">	
									#{if lwda.sLargeCategory==messages.get('BalanceType.in') ||
											lwda.sLargeCategory==messages.get('BalanceType.out')}
										${lwda.lPrltLink.format('###,###')}
									#{/if}
									#{else}
										-
									#{/else}
								</span>
							</div>
						</li>
						
					#{/list}
					<li>
						<div class="da_bottom">
						</div>
					</li>
				</ul>
			</div>
			</div>
		</div>
		<div class="da_tbl_all_div">
			<div id="da_tbody" style="width:${iWidth<630 ? iWidth+2 : 630+16}px;">
			<div style="width:${iWidth+2}px">
				<!-- 枠固定の右下 -->
				<ul class="da_tbl_rb">
					#{list items:lWDA, as:'lwda'}
			        %{leftFlg = 1}%
					<li>
						#{list items:lwda.lstWdtd, as:'wdtd'}
						<div class="${leftFlg==1 ? 'da_left_cell ' : ''}da_ary_day numeric menu_cell">
							<!-- 
							<a href="@{DetailList.dl_balance(1,0,wdtd.sPaymentDateFr,wdtd.sPaymentDateTo,wdtd.lBalanceTypeId,wdtd.lHandlingId,wdtd.lParlletId,wdtd.lItemId)}" class="padR4">${wdtd.lAmount}</a>
							<a href="" class="padR4" onclick="document.frmDetailList.submit();return false;">${wdtd.lAmount}</a>
							 -->
							<input type="hidden" class="ToDlPaymentDateFr" value="${wdtd?.sPaymentDateFr}" />
							<input type="hidden" class="ToDlPaymentDateTo" value="${wdtd?.sPaymentDateTo}" />
							<input type="hidden" class="ToDlBalanceTypeId" value="${wdtd?.lBalanceTypeId}" />
							<input type="hidden" class="ToDlHandlingId" value="${wdtd?.lHandlingId}" />
							<input type="hidden" class="ToDlParlletId" value="${wdtd?.lParlletId}" />
							<input type="hidden" class="ToDlItemId" value="${wdtd?.lItemId}" />
							<input type="hidden" class="ToDlgUpdRecCate" value="${lwda?.sLargeCategory}" />
							<span class="padR4">${wdtd.lAmount.format('###,###')}</span>
						</div>
						%{leftFlg = 0}%
						#{/list}
					</li>
					#{/list}
					<li>
						<div class="da_bottom">
						</div>
					</li>
				</ul>
			</div>
			</div>
		</div>
	</li>

	<li>
		<div class="da_tbl_all_div" style="backgtound:white;">
			<div style="height:16px;width:320px;">
				<div>
				</div>
			</div>
		</div>
		<div class="da_tbl_all_div">
			<div id="da_tbody2" style="width:646px;height:16px;overflow:auto;">
				<div style="width:${iWidth}px">
				　
				</div>
			</div>
		</div>
	</li>
	
</ul>

</div>  <!-- daMainInner -->
</div>  <!-- mainInner -->
