#{extends 'login.html' /}
#{set title:'日計表' /}

<script type="text/javascript">
<!--
//枠固定の上下の動き
jQuery(document).ready(function() {
    jQuery('#da_tbody').scroll(function() {
    	//jQuery('#da_trow').scrollLeft(jQuery(this).scrollLeft());
    	jQuery('#da_tcol').scrollTop(jQuery(this).scrollTop());
    });
});
jQuery(document).ready(function() {
    jQuery('#da_tcol').scroll(function() {
    	//jQuery('#da_trow').scrollLeft(jQuery(this).scrollLeft());
    	jQuery('#da_tbody').scrollTop(jQuery(this).scrollTop());
    });
});
//jQuery(document).ready(function() {
//    jQuery('#da_tbodyR').scroll(function() {
//    	jQuery('#da_tbody').scrollTop(jQuery(this).scrollTop());
//    	jQuery('#da_tcol').scrollTop(jQuery(this).scrollTop());
//    });
//});

//枠固定の左右の動き
jQuery(document).ready(function() {
    jQuery('#da_tbody2').scroll(function() {
    	jQuery('#da_tbody').scrollLeft(jQuery(this).scrollLeft());
    	jQuery('#da_trow').scrollLeft(jQuery(this).scrollLeft());
    });
});

//起動時の日毎の部分の幅と高さを調整
jQuery(document).ready(function() {
	jQuery('#da_tcol').height(jQuery(window).innerHeight()-200);
	jQuery('#da_tbody').height(jQuery(window).innerHeight()-200);
//	jQuery('#da_trow').width(jQuery(window).innerWidth()-350-16);
//	jQuery('#da_tbody').width(jQuery(window).innerWidth()-350);
//	jQuery('#da_tbody2').width(jQuery(window).innerWidth()-350);
});

//ウィンドウリサイズ時の日毎の部分の幅と高さを調整
jQuery(document).ready(function() {
	jQuery(window).resize(function() {
		jQuery('#da_tcol').height(jQuery(this).innerHeight()-200);
		jQuery('#da_tbody').height(jQuery(this).innerHeight()-200);
//		jQuery('#da_trow').width(jQuery(window).innerWidth()-350-16);
//		jQuery('#da_tbody').width(jQuery(window).innerWidth()-350);
//		jQuery('#da_tbody2').width(jQuery(window).innerWidth()-350);
	});
});

//日付移動リンククリック時はjumpイベントへ
jQuery(document).ready(function() {
	var dateFormat = new DateFormat("yyyy/MM/dd");
	var sDate = "${sBasisDate}";
	var nYear = new Number(sDate.substr(0, 4)-0);
	var nMonth = new Number(sDate.substr(5, 2)-1);
	var nDay = new Number(sDate.substr(8, 2)-0);
	jQuery('#idPreYear, #idPreMonth, #idNextMonth, #idNextYear').click(function() {
		if(this.id=="idPreYear")
			nYear -= 1;
		if(this.id=="idPreMonth")
			nMonth -= 1;
		if(this.id=="idNextMonth")
			nMonth += 1;
		if(this.id=="idNextYear")
			nYear += 1;
		var dPre1 = new Date(nYear, nMonth, nDay);
		jQuery('#idBasisDate').val(dateFormat.format(dPre1));
		jQuery('#idMove').click();
		jQuery('body').attr("disabled", "disabled");
	});
});

/* 3桁区切りの数値入力フィールドとして設定 */
jQuery(document).ready(function() {
	jQuery('input.numeric').autoNumeric({aPad: false, vMin: '-999999999.99', vMax: '999999999.99'});
});

//表示金額を3桁区切りに
jQuery(document).ready(function(){
	jQuery('.num3').each(function(i) {
		var numStr = addFigure(jQuery(this).html());
		jQuery(this).html(numStr);
	});
});

//文字列を3桁区切りにする関数
function addFigure(str) {
	var num = new String(str).replace(/,|\n| |\t/g, "");
//    while(num != (num = num.replace(/^(-?\d+)(\d{3})/, "$1,$2")));
	num = num.replace(/(\d)(?=(\d{3})+$)/g , '$1,');
	return num;
}

jQuery(function(){
	// 左クリックか右クリックでメニュー表示
	jQuery('.da_menu').mousedown(function(e) {
		if(e.which==1 || e.which==3) {
			//明細表へジャンプする際の絞込項目セット
			jQuery('#hPaymentDateFr').val(jQuery('.ToDlPaymentDateFr',this).val());
			jQuery('#hPaymentDateTo').val(jQuery('.ToDlPaymentDateTo',this).val());
			jQuery('#hBalanceTypeId').val(jQuery('.ToDlBalanceTypeId',this).val());
			jQuery('#hHandlingId').val(jQuery('.ToDlHandlingId',this).val());
			jQuery('#hIdealDepositId').val(jQuery('.ToDlIdealDepositId',this).val());
			jQuery('#hItemId').val(jQuery('.ToDlItemId',this).val());
			
			e.preventDefault();
			jQuery('.da_menu').contextMenu({x: e.pageX, y: e.pageY});
		}
	});
	jQuery.contextMenu({
		selector: '.da_menu',
		trigger: 'none',
		callback: function(key, options) {
//			var m = "clicked: " + key;
//			window.console && console.log(m) || alert(m);
			jQuery('#submitDetailList').click();
			jQuery('body').attr("disabled", "disabled");
		},
		items: {
			"detailList": {name: "明細表示"},
//			"cut": {name: "Cut", icon: "cut"},
//			"copy": {name: "Copy", icon: "copy"},
//			"paste": {name: "Paste", icon: "paste"},
//			"delete": {name: "Delete", icon: "delete"},
//			"sep1": "---------",
//			"quit": {name: "Quit", icon: "quit"}
		}
	});
});
-->
</script>

<script type="text/javascript" src="@{'/public/javascripts/jquery.datepicker.js'}" ></script>
<script type="text/javascript" src="@{'/public/javascripts/autoNumeric-1.7.5.js'}" ></script>
<script type="text/javascript" src="@{'/public/javascripts/dateformat.js'}" ></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.contextMenu.js'}"></script>
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.contextMenu.css'}" />


<!-- 明細表へジャンプ用フォーム（非表示） -->
#{form @DetailList.detailList()}
	<input type="text" name="h_secret_rec_flg" id="hSecretRecFlg" value="0" style="display:none;" />
	<input type="text" name="h_payment_date_fr" id="hPaymentDateFr" style="display:none;" />
	<input type="text" name="h_payment_date_to" id="hPaymentDateTo" style="display:none;" />
	<input type="text" name="h_balance_type_id" id="hBalanceTypeId" style="display:none;" />
	<input type="text" name="h_handling_id" id="hHandlingId" style="display:none;" />
	<input type="text" name="h_ideal_deposit_id" id="hIdealDepositId" style="display:none;" />
	<input type="text" name="h_item_id" id="hItemId" style="display:none;" />
	<input type="submit" name="srch" id="submitDetailList" style="display:none;" />
#{/form}

	
<!-- 年月移動用フォーム -->
#{form @jump(), id:'frmJump'}
	<input type="hidden" value="${strTableType}" name="strTableType" />
	<!-- 対象年月日 -->
	<input type="text" class="datepickerJump" name="e_basis_date" id="idBasisDate"
		value="${sBasisDate}" style="display:none;" />
	<input type="submit" name="move" id="idMove" style="display:none;" />
#{/form}

#{ifErrors}
    <p class="crudFlash flashError">
		#{errors}
			${error}
		#{/errors}
    </p>
#{/ifErrors}

<ul class="da_tbl_all">
	#{form @updBudget()}
	<input type="hidden" name="bg_basis_date" value="${sBasisDate}"/>
	
	<li>
		<div class="da_tbl_all_div">
			<!-- 枠固定の左上 -->
			<ul class="da_tbl_lt">
				<li>
					%{year = sBasisDate.substring(0,4)}%
					<div class="da_hd_cate1_2 da_head">
						<a id="idPreYear" class="daBtnPreNext" tabindex="0"><<<span>&{'year'}&{'views.common.move'}</span></a>
						${year}年
						<a id="idNextYear" class="daBtnPreNext" tabindex="0">>><span>&{'year'}&{'views.common.move'}</span></a>
						<br>
						<a id="idPreMonth" class="daBtnPreNext" tabindex="0"><<span>&{'month'}&{'views.common.move'}</span></a>
						&nbsp;&nbsp;${month}月&nbsp;
						<a id="idNextMonth" class="daBtnPreNext" tabindex="0">><span>&{'month'}&{'views.common.move'}</span></a>
					</div>
					<div class="da_budget da_head">
						  #{if strTableType== messages.get('views.dailyaccount.dailyaccount')}
							<!-- 予算 -->
							月予算
							<input type="submit" value="更新" name="sbmtUpdBudget" class="daBtn_upd_budget"/>
						  #{/if}
					</div>
					<div class="da_sum_month da_head">${strTableType== messages.get('views.dailyaccount.dailyaccount') ? "月計" : ""}</div>
				</li>
			</ul>
		</div>
		<div class="da_tbl_all_div">
			<div id="da_trow" style="width:${iWidth<630 ? iWidth : 630}px;" >
			<div style="width:${iWidth}px;">
				<!-- 枠固定の右上 -->
				<ul class="da_tbl_rt">
			        %{
			        	leftFlg = 1
			        	count = 0
			        }%
					<li>
						#{list items:sAryDays, as:'sAryDay'}
							%{count++}%
							<div class="da_hd_ary_day da_head ">
							${count==2 ? "　" : ""}
							${sAryDay}
							</div>
					        %{leftFlg = 0}%
						#{/list}
					</li>
				</ul>
			</div>
			</div>
		</div>
	</li>
	
	<li>
		<div class="da_tbl_all_div">
			<div id="da_tcol">
			<div>
				<!-- 枠固定の左下 -->
				<ul class="da_tbl_lb">
					#{list items:lWDA, as:'lwda'}
						<li>
							<!-- 予算あり -->
							#{if lwda.bBudgetFlg}
								<!-- 項目・My貯金　毎 -->
								#{if lwda.sItem != ''}
									<div class="da_cate1${lwda.bolLastItemFlg ? ' da_cate1_last' : ''}"></div>
									<div class="da_cate2">${lwda.sItem}</div>
									<div class="da_budget">
										<input type="hidden" name="e_budget_id" value="${lwda.lBudgetId}" />
										<input type="hidden" name="e_large_category" value="${lwda.sLargeCategory}" />
										<input type="hidden" name="e_item" value="${lwda.sItem}"/>
										<input type="text" class="numeric" name="e_budget_amount" value="${lwda.sBudgetAmount}" />
									</div>
								#{/if}
								<!-- 大分類毎 -->
								#{else}
									<div class="da_cate1_2">${lwda.sLargeCategory}</div>
									<div class="da_budget numeric">
										<span class="num3">
											<!-- 
											${lwda.sBudgetAmount}
											 -->
											${lwda.lBudgetAmount}
										</span>
									</div>
								#{/else}
							#{/if}
							<!-- 予算なし -->
							#{else}
								<!-- 項目・My貯金　毎 -->
								#{if lwda.sItem != ''}
									<div class="da_cate1${lwda.bolLastItemFlg ? ' da_cate1_last' : ''}"></div>
									<div class="da_cate2_budget">${lwda.sItem}</div>
								#{/if}
								<!-- 大分類毎 -->
								#{else}
									<div class="da_cate1_2_budget">${lwda.sLargeCategory}</div>
								#{/else}
							#{/else}
							<div class="da_sum_month numeric">
								<span class="num3">
									${lwda.lSumMonth}
								</span>
							</div>
						</li>
						
					#{/list}
				</ul>
			</div>
			</div>
		</div>
		<div class="da_tbl_all_div">
			<div id="da_tbody" style="width:${iWidth<630 ? iWidth+16+2 : 630+16}px;">
			<div style="width:${iWidth+2}px">
				<!-- 枠固定の右下 -->
				<ul class="da_tbl_rb">
					#{list items:lWDA, as:'lwda'}
			        %{leftFlg = 1}%
					<li>
						#{list items:lwda.lstWdtd, as:'wdtd'}
						<div class="${leftFlg==1 ? 'da_left_cell ' : ''}da_ary_day numeric da_menu">
							<!-- 
							<a href="@{DetailList.detailList(1,0,wdtd.sPaymentDateFr,wdtd.sPaymentDateTo,wdtd.lBalanceTypeId,wdtd.lHandlingId,wdtd.lIdealDepositId,wdtd.lItemId)}" class="num3">${wdtd.lAmount}</a>
							<a href="" class="num3" onclick="document.frmDetailList.submit();return false;">${wdtd.lAmount}</a>
							 -->
							<input type="hidden" class="ToDlPaymentDateFr" value="${wdtd?.sPaymentDateFr}" />
							<input type="hidden" class="ToDlPaymentDateTo" value="${wdtd?.sPaymentDateTo}" />
							<input type="hidden" class="ToDlBalanceTypeId" value="${wdtd?.lBalanceTypeId}" />
							<input type="hidden" class="ToDlHandlingId" value="${wdtd?.lHandlingId}" />
							<input type="hidden" class="ToDlIdealDepositId" value="${wdtd?.lIdealDepositId}" />
							<input type="hidden" class="ToDlItemId" value="${wdtd?.lItemId}" />
							<span class="num3">${wdtd.lAmount}</span>
						</div>
						%{leftFlg = 0}%
						#{/list}
					</li>
					#{/list}
				</ul>
			</div>
			</div>
		</div>
	</li>
	#{/form}

	<li>
		<div class="da_tbl_all_div" style="backgtound:white;">
			<div style="height:16px;width:320px;">
				<div>
				</div>
			</div>
		</div>
		<div class="da_tbl_all_div">
			<div id="da_tbody2" style="width:646px;height:16px;overflow:auto;">
				<div style="width:${iWidth}px">
				　
				</div>
			</div>
		</div>
	</li>
	
</ul>
