#{extends 'admin.html' /}
#{set title:'日計表' /}


<script type="text/javascript">
<!--
jQuery(document).ready(function() {
    jQuery('#tbody').scroll(function() {
    	jQuery('#trow').scrollLeft(jQuery(this).scrollLeft());
    	jQuery('#tcol').scrollTop(jQuery(this).scrollTop());
    });
});
// -->
</script>


#{form @jump(year, month)}

	<!-- 対象年月 -->
	<input type="submit" value="<<" name="prevYear" />
	<input type="submit" value="<" name="prevMonth" />
	<label>${year}年${month}月</label>
	<input type="submit" value=">" name="nextMonth" />
	<input type="submit" value=">>" name="nextYear" />
	<input type="submit" value="今月" name="thisMonth" ${thisMonthFlg==1 ? ' disabled' : ''} />

	<table>
		<tr>
			<td valign="top">
				<div style="width:320px;">
				<table>
					<td>
						<!-- 枠固定の左上 -->
						<table class="dailyAccountTbl">
							<tr style="height:10px">
								<th style="width:22px;"></th>
								<th style="width:92px;"></th>
								<th style="width:92px;">${month}月予算</th>
								<th style="width:92px;">${month}月計</th>
							</tr>
						</table>
					</td>
				</table>
				</div>
			</td>
			<td>
				<div id="trow" style="width:800px;overflow:hidden;">
				<div style="width:${iWidth}px">
				<table>
					<td>  <!-- このtdの囲いが無いと、firefoxで左のborderが消えてしまう -->
						<!-- 枠固定の右上 -->
						<table class="dailyAccountTbl">
							<tr style="height:10px">
								#{list items:iAryDays, as:'iAryDay'}
									<!-- 
									<th style="border: 1px solid transparent;">
										<input type="text" value="${month}/${iAryDay}" readonly="readonly" style="width:90px;text-align:center;background-color:transparent;border-style:none;" />
									</th>
									 -->
									<th style="width:99px;">
									${month}/${iAryDay}
									</th>
								#{/list}
							</tr>
						</table>
					</td>
				</table>
				</div>
				</div>
			</td>
		</tr>

		<tr>
			<td valign="top">
				<div id="tcol" style="height:470px;overflow:hidden;">
				<div style="width:320px;">
				<table>
					<td>
						<!-- 枠固定の左下 -->
						<table class="dailyAccountTbl">
							#{list items:lWDA, as:'lwda'}
								<tr style="height:10px">
									<!-- 予算あり -->
									#{if lwda.bBudgetFlg}
										#{if lwda.sItem != ''}
											<td style="width:20px;"></td>
											<td class="allLine" style="width:90px;">${lwda.sItem}</td>
											<td class="allLineNum" style="width:90px;">
												<input type="text"  style="width:90px;text-align:right;background-color:#ffffff;;" />
											</td>
										#{/if}
										#{else}
											<td class="allLine" colspan="2" style="width:110px;">${lwda.sLargeCategory}</td>
											<td class="allLineNum" style="width:90px;">
												<input type="text" readonly="readonly" style="width:90px;text-align:right;background-color:#e8e8e8;" />
											</td>
										#{/else}
									#{/if}
									<!-- 予算なし -->
									#{else}
										#{if lwda.sItem != ''}
											<td style="width:20px;"></td>
											<td class="allLine" colspan="2" style="width:180px;">${lwda.sItem}</td>
										#{/if}
										#{else}
											<td class="allLine" colspan="3" style="width:200px;">${lwda.sLargeCategory}</td>
										#{/else}
									#{/else}
									<!-- 
									<td class="allLineNum">${lwda.sSumMonth}</td>
									 -->
									<td class="allLineNum" style="width:97px;text-align:center;">
										<input type="text" value="${lwda.sSumMonth}" readonly="readonly" style="width:90px;text-align:right;background-color:#e8e8e8;" />
									</td>
								</tr>
								
							#{/list}
						</table>
					</td>
				</table>
				</div>
				</div>
			</td>
			<td>
				<!-- 
				<div onScroll="scrollRC()" id="tbody" style="width:816px;height:466px;overflow:auto;">
				 -->
				<div id="tbody" style="width:816px;height:486px;overflow:auto;">
				<div style="width:${iWidth}px">
				<table>
					<td>  <!-- このtdの囲いが無いと、firefoxで左のborderが消えてしまう -->
						<!-- 枠固定の右下 -->
						<table class="dailyAccountTbl">
							#{list items:lWDA, as:'lwda'}
								<tr style="height:10px">
									#{list items:lwda.sAryDays, as:'sAryDay'}
										<!-- 下のtdのstyleをmain.css内に書くと何故かレイアウトが崩れまくる -->
										<!-- 
										<td style="border: 1px solid black;text-align: right;">${sAryDay}</td>
										 -->
										<td style="border: 1px solid black;width:97px;text-align:center;">
											<input type="text" value="${sAryDay}" readonly="readonly" style="width:90px;text-align:right;background-color:#e8e8e8;margin:0 auto 0 auto;" />
										</td>
									#{/list}
								</tr>
								
							#{/list}
						</table>
					</td>
				</table>
				</div>
				</div>
			</td>
		</tr>

	</table>
	
#{/form}