#overlay{
	display: none;
	width: 100%;
	height:auto;
	text-align: left;
	position: absolute;
	top: 0;
	z-index: 801;
	background: rgba(0,0,0,0.7);
}

#overlay div {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#text{
	font-size: 30px;
	color: #eee;
	padding-top: 100px;
	padding-bottom: 1em;
	font-weight: bold;
}

#close{
	background: #eeeeee;
	color: #717171;
	width: 70px;
	margin: auto;
	text-align: center;
	font-size: 15px;
	padding:5px;
	border-radius: 3px;
	cursor: pointer;
}
