#{extends 'main.html' /}
#{set title:messages.get('views.main.tools.logo') /}

#{set 'headerTools'}
	<li>
		<a href="@{DailyAccount.balanceTable()}">&{'views.main.tools.login'}</a>
	</li>
#{/set}

#{include 'dialogForm.html' /}
#{include 'facebookLogin.html' /}

<script type="text/javascript">
<!-- 
jQuery(function() {
	/* 「Facebookで登録」クリック時は「login()」イベントへ */
	jQuery('#fb-signup').click(function() {
		login("&{'views.index.sinup.dialogTitle'}");
	});
	
	var email = jQuery("#email"),
		password = jQuery("#password"),
		allFields = jQuery([]).add(email).add(password),
		tips = jQuery(".validateTips");
	function updateTips(t) {
		tips
			.css('padding', '0.3em')
			.css('margin-bottom', '1em')
			.text(t)
			.addClass("ui-state-highlight");
		setTimeout(function() {
			tips.removeClass("ui-state-highlight", 1500);
		}, 500);
	}
	function checkRequired(o, n) {
		if (o.val()=="") {
			o.addClass("ui-state-error");
			updateTips(n + " &{'views.login.fbLogin.err.required'}");
			return false;
		} else {
			return true;
		}
	}
	function checkLength(o, n, min, max) {
		if (o.val().length>max || o.val().length<min) {
			o.addClass("ui-state-error");
			updateTips(n + " &{'views.login.fbLogin.err.length1'} " +
			min + " &{'views.login.fbLogin.err.length2'} " + max + " &{'views.login.fbLogin.err.length3'}" );
			return false;
		} else {
			return true;
		}
	}
	function checkRegexp(o, regexp, n) {
		if (!(regexp.test(o.val()))) {
			o.addClass("ui-state-error");
			updateTips(n);
			return false;
		} else {
			return true;
		}
	}
	function errValidateHaUser(o, s) {
		o.addClass("ui-state-error");
		updateTips(s);
	}
	
	jQuery('#signup').click(function() {
		var bValid = true;
		allFields.removeClass("ui-state-error");
		bValid = bValid && checkRequired(email, "&{'email'}");
		bValid = bValid && checkLength(email, "&{'email'}", 6, 80);
		// From jquery.validate.js (by joern), contributed by Scott Gonzalez: http://projects.scottsplayground.com/email_address_validation/
		bValid = bValid && checkRegexp(email, /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i, "&{'validation.email'}");
		bValid = bValid && checkRequired(password, "&{'password'}");
		bValid = bValid && checkLength(password, "&{'password'}", 6, 20);
		bValid = bValid && checkRegexp(password, /^([0-9a-zA-Z])+$/, "パスワードは半角英数です。");
		if (bValid) {
			var jqxhr_mDR_vHU = jQuery.post('@{validateHaUser}', {email: email.val(), password: password.val()});
			jqxhr_mDR_vHU
			.done(function(jsonA) {
				switch (jsonA.intRslt) {
					case 0:
						jQuery(".validateTips")
							.css('padding', '0')
							.text("");
						openDialogForm("&{'views.index.sinup.dialogTitle'}", false, email.val(), password.val());
						break;
					case 1:
						errValidateHaUser(email, jsonA.strErr);
						break;
					case 2:
						errValidateHaUser(password, jsonA.strErr);
						break;
					case 99:
			    		alert(jsonA.strErr);
						break;
					default:
			    		alert("case error");
				}
			})
			.fail(function() {
				alert("PrltRt.validateHaUser Error");
			});
//			}, 'text');
		}
	});
});
// -->
</script>


#{form @Secure.authenticate(), id:'fmAuthenticate'}
	<input type="text" name="username" id="saUsername" class="invisible" />
	<input type="password" name="password" id="saPassword" class="invisible" />
	<input type="submit" id="signin" name="signin" class="invisible" />
#{/form}



<div id="sidebar_r">
	<div class="box">
		<div id="signupNormal">
			&{'views.index.sinup.normal.title'}
			<div class="validateTips"></div>
		    <p id="username-field">
				<label for="email">&{'email'}:</label>
				<input type="text" id="email" value="${haUser?.email}" />
			</p>
			
		    <p id="password-field">
				<label for="password">&{'password'}:</label>
				<input type="password" id="password" value="${haUser?.password}" />
			</p>
	
			<p id="signup-field">
				<input type="submit" id="signup" value="&{'views.index.signup.normal.button.text'}" />
			</p>
		</div>  <!-- signupNormal -->
		
		<hr>
		
		<div id="signupSns">
			&{'views.index.sinup.sns.title'}
			<a id="fb-signup" class="btn blCenter" tabindex="0">
				<div><img src="/public/images/f_logo_18.png" border="0" /></div>
				<div>&{'views.index.signup.sns.button.text'}</div>
			</a>
		</div>  <!-- signupSns -->
	</div>
</div>

<h1>Parllet（パレット）</h1>

<br>
<p>　Parllet（パレット）は無料で使い始められる、ちょっと変わったWeb家計簿です。</p>
<p>現在、α（アルファ）版として日々開発作業中ですが、誰でも使うことができるようにしました。</p>
<p>データ100件までは無料で使うことができて、より多く保存したい方は月額100円～でデータ10万件～を保存しながら本格的に使うことも可能です。</p>
<p style="font-weight: bold;">ただ、Parlletは管理人が完全に一人で作成したものです。</p>
<p>まだ備わっていない機能や不具合も多いので、充分ご理解頂いた上でのご利用をお願い致します。</p>
<br>
<!-- 
<p>　Parlletという単語は、Parallel（平行して）とWallet（財布）を合わせた、管理人の造語です。
<p>今持っているお金（残高）を、使う目的に合わせて管理したいと思ったことはありませんか？</p>
<p>もちろんこれはそんなに大げさなことではなく、目標金額を決めて貯金箱に貯めたり、目的別に通帳を作ったりすることで実現可能で、実際にそうされている人も多いことでしょう。</p>
<p>しかし管理人は、もっと柔軟に気軽にそれが出来ないかと考えました。</p>
<p>そして自分自身が使うためにこのWeb家計簿　Parllet を作りました。</p>
<p>　・年に一回は遠くの実家に里帰りしたいから月に幾らかずつ貯金する。</p>
<p>　・毎年市民税の支払いの時期になって慌てるのでなく、あらかじめ貯めておきたい。</p>
<p>　・ご祝儀など、もらったお金には手を着けづに取っておいて、何かでお返しをするような時にそのお金を使いたい。</p>
<p>他にも、細かく目的を分けてお金を管理したいことはいくらでも有り得ます。</p>
<p>でもその都度口座を開設したり、ずっと現金を家に置いていたりするのは避けたい。</p>
<p>もっと言えば、実際のお金がどこにどう分けて保存されているかということと、目的に合わせてお金（残高）を割り当てることとが、一致している必要は無く、それぞれを同時（パラレル）に管理できるはずなんです。</p>
<p>Parlletは、そんな細かい管理人のニーズへの対応とイメージの実現のために生まれたWebアプリです。</p>
<p>普通の家計簿としても使えますが、実際の財布や口座の収支や残高を管理しながら、平行して（パラレルに）別の財布や口座のようなもの（これをParlletと呼びます）を作り、所持している残高を目的別に分けて見ることができるのが他の家計簿アプリと違うところになっています。</p>
<br>
<p>　ここまで読んで頂けたことに感謝の意を込めながらここでもう一つ。</p>
<p>既に目的の決まっているお金を管理できると何が良いか。</p>
<p>一言で言うとお金を使いすぎないことです。</p>
<p>目的の決まっているお金の残高と、目的の決まっていないお金の残高が分けて見えることで、口座や財布にいくら残っていたとしても、今自由に使っても差し支えない金額がいくらまでなのかということが分かるのです。</p>
<p>さらにParllet では、月の予算の設定ができることに加えて、収入や支出を目的別残高（Parllet）に割り当てたものは予算の対象外として見ることが可能になっています。</p>
<p>Parlletを使いこなすことが出来れば、自分自身で決めた目的に沿ったお金の使い方や貯め方が出来ているはずです。</p>
<p>Parlletが、より多くの人の役に立つことを願って止みません。</p>
 -->
