#{extends 'main.html' /}
#{set title:messages.get('views.main.tools.logo') /}


<style>
<!--
#pageTop {
	background: #ddd;
	border-radius: 5px;
	color: #fff;
	padding: 20px;
	position: fixed;
	bottom: 30px;
	right: 20px;
	font-weight: bold;
}
#pageTop:hover {
	background:#eee;
	color: #999;
}


body {
	min-width: 0;
}
#main, #hdContainer, #divIdxHd, #ftContents {
	width: 95%;
	max-width: 980px;
}
#divIdxHd {
	overflow: hidden;
}
#sidebar_r, #logo_index {
	float: none;
}
#sidebar_r, #logo_index {
	margin: 0 auto;
}
#logo_index {
	max-width: 472px;
}

/* スマホのスタイル */
#headerNav {
	display: none;
}
#divIdxHd ul li {
	padding-right: 0;
}
#username-field label, #password-field label {
	float: none;
	width: 100%;
	text-align: left;
}
#username-field div, #password-field div {
	width: 170px;
	margin: 0 auto;
}

#divIdxCntntTopic1 {
	font-size: 24pt;
}
#spnWebHA {
	font-size: 30pt;
}



/* タブレットのスタイル */
@media all and (min-width: 480px) {
	#bt-menu {
		display: none;
	}
	#headerNav {
 		display: block;
	}
	#divIdxHd ul li {
		padding-right: 1em;
	}
	#username-field label, #password-field label {
		float: left;
		width: 120px;
		text-align: right;
	}
	#username-field div, #password-field div {
		width: 100%;
	}
}


/* PCのスタイル */
@media all and (min-width: 768px) {
	#divIdxCntntTopic1 {
		font-size: 42pt;
	}
	#spnWebHA {
		font-size: 52pt;
	}
}

/* カスタマイズスタイル（960px以上） */
@media all and (min-width: 960px) {
	#logo_index {
		float: left;
	}
	#sidebar_r {
		float: right;
	}
	#divIdxCntntTopic1 {
		font-size: 52pt;
	}
	#spnWebHA {
		font-size: 64pt;
	}
}


-->
</style>

#{set 'headerTools'}
	<li>
		<a href="@{DailyAccount.balanceTable()}">&{'views.main.tools.login'}</a>
	</li>
#{/set}

#{set 'moreHeader'}
<div id="fill2">
	<div id="divIdxHdFrm">
		<div id="divIdxHd">
			<nav id="bt-menu" class="bt-menu">
<!-- 
				<div id="divTriggerFrm"></div>
 -->
				<a href="#" class="bt-menu-trigger"><span></span></a>
				<div id="divUlFrm">
					<ul>
						<li><a href="#"><span></span></a></li>
						<li><a href="#divWhatIsParllet">&{'views.index.paragraph.WhatIsParllet'}</a></li>
						<li><a href="#divTheOriginOfParllet">&{'views.index.paragraph.TheOriginOfParllet'}</a></li>
						<li><a href="#divBenefitsOfParllet">&{'views.index.paragraph.BenefitsOfParllet'}</a></li>
					</ul>
				</div>
				<div class="bt-overlay"></div>
			</nav>
			
			<div id="headerNav">
				<ul>
					<li><a href="#divWhatIsParllet">&{'views.index.paragraph.WhatIsParllet'}</a></li>
					<li><a href="#divTheOriginOfParllet">&{'views.index.paragraph.TheOriginOfParllet'}</a></li>
					<li><a href="#divBenefitsOfParllet">&{'views.index.paragraph.BenefitsOfParllet'}</a></li>
				</ul>
			</div>
		</div><!-- divIdxHd -->
	</div><!-- divIdxHdFrm -->
</div><!-- fill2 -->
#{/set}

#{include 'dialogForm.html' /}
#{include 'facebookLogin.html' /}

<script type="text/javascript">
<!-- 
jQuery(function() {

	/* 「Facebookで登録」クリック時は「login()」イベントへ */
	jQuery('#fb-signup').click(function() {
		login("&{'views.index.sinup.dialogTitle'}");
	});
	
	var email = jQuery("#email"),
		password = jQuery("#password"),
		allFields = jQuery([]).add(email).add(password),
		tips = jQuery(".validateTips");
	function updateTips(t) {
		tips
			.css('padding', '0.3em')
			.css('margin-bottom', '1em')
			.text(t)
			.addClass("ui-state-highlight");
		setTimeout(function() {
			tips.removeClass("ui-state-highlight", 1500);
		}, 500);
	}
	function checkRequired(o, n) {
		if (o.val()=="") {
			o.addClass("ui-state-error");
			updateTips(n + " &{'views.login.fbLogin.err.required'}");
			return false;
		} else {
			return true;
		}
	}
	function checkLength(o, n, min, max) {
		if (o.val().length>max || o.val().length<min) {
			o.addClass("ui-state-error");
			updateTips(n + " &{'views.login.fbLogin.err.length1'} " +
			min + " &{'views.login.fbLogin.err.length2'} " + max + " &{'views.login.fbLogin.err.length3'}" );
			return false;
		} else {
			return true;
		}
	}
	function checkRegexp(o, regexp, n) {
		if (!(regexp.test(o.val()))) {
			o.addClass("ui-state-error");
			updateTips(n);
			return false;
		} else {
			return true;
		}
	}
	function errValidateHaUser(o, s) {
		o.addClass("ui-state-error");
		updateTips(s);
	}
	
	jQuery('#signup').click(function() {
		var bValid = true;
		allFields.removeClass("ui-state-error");
		bValid = bValid && checkRequired(email, "&{'email'}");
		bValid = bValid && checkLength(email, "&{'email'}", 6, 80);
		// From jquery.validate.js (by joern), contributed by Scott Gonzalez: http://projects.scottsplayground.com/email_address_validation/
		bValid = bValid && checkRegexp(email, /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i, "&{'validation.email'}");
		bValid = bValid && checkRequired(password, "&{'password'}");
		bValid = bValid && checkLength(password, "&{'password'}", 6, 20);
		bValid = bValid && checkRegexp(password, /^([0-9a-zA-Z])+$/, "パスワードは半角英数です。");
		if (bValid) {
			var jqxhr_mDR_vHU = jQuery.post('@{validateHaUser}', {email: email.val(), password: password.val()});
			jqxhr_mDR_vHU
			.done(function(jsonA) {
				switch (jsonA.intRslt) {
					case 0:
						jQuery(".validateTips")
							.css('padding', '0')
							.text("");
						openDialogForm("&{'views.index.sinup.dialogTitle'}", false, email.val(), password.val());
						break;
					case 1:
						errValidateHaUser(email, jsonA.strErr);
						break;
					case 2:
						errValidateHaUser(password, jsonA.strErr);
						break;
					case 99:
			    		alert(jsonA.strErr);
						break;
					default:
			    		alert("case error");
				}
			})
			.fail(function() {
				alert("PrltRt.validateHaUser Error");
			});
//			}, 'text');
		}
	});
	
	/* 「ページトップへ」クリックイベント */
	var topBtn = jQuery('#pageTop');
	topBtn.hide();
	jQuery(window).scroll(function() {
		if (jQuery(this).scrollTop() > 100) {
			topBtn.fadeIn();
		} else {
			topBtn.fadeOut();
		}
	});
    topBtn.click(function() {
		jQuery('body,html').animate({
			scrollTop: 0
		}, 1000);
		return false;
    });	
	
    /* 「新規ユーザー登録」クリックイベント */
	jQuery('.aToSignUp').click(function() {
		jQuery('body,html').animate({
			scrollTop:  jQuery('#sidebar_r').offset().top - jQuery('#header').outerHeight(true)
		}, 1000);
		jQuery('#email').focus();
		return false;
	});
});
// -->
</script>

#{form @Secure.authenticate(), id:'fmAuthenticate'}
	<input type="text" name="username" id="saUsername" class="invisible" />
	<input type="password" name="password" id="saPassword" class="invisible" />
	<input type="submit" id="signin" name="signin" class="invisible" />
#{/form}

<a id="pageTop" href="#contents">ページトップへ</a>

<div id="divIdxMain">

<div id="divLogoFrm">
<!-- 
 -->
	<div id="logo_index">
		<img alt="Parllet（パレット）（Parallel + Wallet でParllet（パレット）です）" src="/public/images/logo_index.png">
	</div>
	
	<div id="sidebar_r">
		<div class="box">
		<div class="box_inner">
			<div id="signupNormal">
				&{'views.index.sinup.normal.title'}
				<div class="validateTips"></div>
			    <div id="username-field">
			    	<div>
						<label for="email">&{'email'}:</label>
						<input type="text" id="email" value="${haUser?.email}" />
			    	</div>
				</div>
				
			    <div id="password-field">
			    	<div>
						<label for="password">&{'password'}:</label>
						<input type="password" id="password" value="${haUser?.password}" />
			    	</div>
				</div>
		
				<div id="signup-field">
					<input type="submit" id="signup" class="grayBtn" value="&{'views.index.signup.normal.button.text'}" />
				</div>
			</div><!-- signupNormal -->
			
			<hr>
			
			<div id="signupSns">
				&{'views.index.sinup.sns.title'}
				<a id="fb-signup" class="btn blCenter" tabindex="0">
					<div><img src="/public/images/f_logo_18.png" border="0" /></div>
					<div>&{'views.index.signup.sns.button.text'}</div>
				</a>
			</div><!-- signupSns -->
		</div><!-- box_inner -->
		</div><!-- box -->
	</div><!-- sidebar_r -->
</div><!-- divLogoFrm -->

<div id="divIdxCntntTopic1">
	<span>Parllet</span> は、ちょっと変わった
	<br>
	　<span id="spnWebHA">Web家計簿</span>　です。
</div>

<div id="divWhatIsParllet" class="divIdxParagraph">
	&{'views.index.paragraph.WhatIsParllet'}
</div>
<br>
<div class="divIdxTextNormal">
	<p>　Parllet（パレット）は無料で使い始められる、ちょっと変わったWeb家計簿です。</p>
	<p>現在、α（アルファ）版として日々開発作業中ですが、誰でも使うことができるようにしました。</p>
	<p>データ100件までは無料で使うことができて、より多く保存したい方は月額100円～でデータ10万件～を保存しながら本格的に使うことも可能です。</p>
	<p><span>ただ、Parlletは管理人が完全に一人で作成したものです。</span></p>
	<p>まだ備わっていない機能や不具合も多いので、充分ご理解頂いた上でのご利用をお願い致します。</p>
	<p class="pOpenLine1"><a tabindex="0" class="aToSignUp grayBtn">新規ユーザー登録</a></p>
</div>

<div id="divTheOriginOfParllet" class="divIdxParagraph">
	&{'views.index.paragraph.TheOriginOfParllet'}
</div>
<br>
<div class="divIdxTextNormal">
	<p>　Parlletという単語は、Parallel（並行の）とWallet（財布）を合わせた、管理人の造語です。
	<p>今持っているお金（残高）を、使う目的に合わせて管理したいと思ったことはありませんか？</p>
	<p>もちろんこれはそんなに大げさなことではなく、目標金額を決めて貯金箱に貯めたり、目的別に通帳を作ったりすることで実現可能で、実際にそうされている人も多いことでしょう。</p>
	<p class="pOpenLine1">　しかし管理人は、もっと柔軟に気軽にそれが出来ないかと考えました。</p>
	<p>そして自分自身が使うためにこのWeb家計簿　Parllet を作りました。</p>
</div>
<p class="pExampleOfParllet">・年に一回は遠くの実家に里帰りしたいから毎月少しずつ貯金する。</p>
<p class="pExampleOfParllet">・毎年市民税の支払いの時期になって慌てるのでなく、あらかじめ貯めておきたい。</p>
<p class="pExampleOfParllet">・ご祝儀など、もらったお金には手を付けずに取っておいて、何かでお返しをするような時にそのお金を使いたい。</p>
<div class="divIdxTextNormal">
	<img alt="残高表" src="@{'/public/images/balanceTableImg.png'}" id="imgIdxBalanceTable">
	<p class="pOpenLine1">他にも、細かく目的を分けてお金を管理したいことはいくらでも有り得ます。</p>
	<p>でもその都度口座を開設したり、ずっと現金を家に置いていたりするのは避けたい。</p>
	<p>もっと言えば<br><span>実際のお金がどこに保管されているか</span><br>ということと、<br><span>目的ごとにお金を貯める</span><br>ということは実は全く別の話で、それぞれを<span>同時（パラレル）</span>に管理できるはずなんです。</p>
	<p class="pOpenLine1">　Parlletは、そんな細かい管理人のニーズへの対応とイメージの実現のために生まれたWebアプリです。</p>
	<p>普通の家計簿としても使えますが、財布や口座の収支・残高を管理しながら<span>平行して（パラレルに）</span>、イメージ上の<span>口座のようなもの（これをParlletと呼びます）</span>を作り、所持している残高を目的別に分けて見ることができるのが他の家計簿アプリと違うところになっています。</p>
	<p class="pOpenLine1"><a tabindex="0" class="aToSignUp grayBtn">新規ユーザー登録</a></p>
</div>

<div id="divBenefitsOfParllet" class="divIdxParagraph">
	&{'views.index.paragraph.BenefitsOfParllet'}
</div>
<br>
<div class="divIdxTextNormal">
	<p>　ここまで読んで頂けたことに感謝の意を込めながらここでもう一つ。</p>
	<p>既に目的の決まっているお金を管理できると何の<span>メリット</span>があるかについて。</p>
	<p>一言で言うと<span>お金を使いすぎない</span>ことです。</p>
	<p>目的の決まっているお金の残高と、目的の決まっていないお金の残高が分けて見えることで、口座や財布にいくら残っていたとしても <span>自由に使える金額がいくらなのか</span> がハッキリ分かるのです。</p>
	<p>　さらにParllet では、月の予算の設定ができることに加えて、収入や支出を目的別残高（Parllet）に割り当てたものは予算の対象外として見ることが可能になっています。</p>
	<p>Parlletを使いこなすことが出来れば、自分自身で決めた目的に沿ったお金の使い方や貯め方が出来ているはずです。</p>
	<p>Parlletが、より多くの人の役に立つことを願って止みません。</p>
	<p class="pOpenLine1"><a tabindex="0" class="aToSignUp grayBtn">新規ユーザー登録</a></p>
	<br>
	<br>
	<br>
	<br>
</div>

</div><!-- divIdxMain -->
