#{extends 'main.html' /}
#{set title:'明細表' /}

<h1>HouseholdAccounts</h1>

<h2>
	<table>
		<tr><td><a href="@{Application.index}">Home</a></td><td>明細表</td></tr>
	</table>
</h2>
<br>


	<script type="text/javascript">
	<!--
	jQuery(document).ready(function() {
	    jQuery( 'button', '.jquery-ui-button' ) . button();
	    jQuery( '#jquery-ui-dialog-opener' ) . click( function() {
	        jQuery( '#jquery-ui-dialog' ) . dialog( 'open' );
	    } );
	    var name = jQuery( '#jquery-ui-dialog-form-name' );
	    var comment = jQuery( '#jquery-ui-dialog-form-comment' );
	    jQuery( '#jquery-ui-dialog' ) . dialog( {
	        autoOpen: false,
	        width: 350,
	        show: 'explode',
	        hide: 'explode',
	        modal: true,
	        buttons: {
	            '行追加': function() {
	                if ( name . val() || comment . val() ) {
	                    jQuery( '#jquery-ui-dialog-table tbody' ) . append(
	                        '<tr><td></td>' + 
	                        '<td>' + name.val() +
	                        '</td>' +
	                        '<td></td>' +
	                        '</tr>'
	                    );
	                    jQuery( this ).dialog( 'close' );
	                }
	                jQuery( this ) . dialog( 'close' );
	            },
	            'キャンセル': function() {
	                jQuery( this ) . dialog( 'close' );
	            },
	        }
	    } );
	} );
	// -->
	</script>


#{form @detailList()}
	<script type="text/javascript">
	<!--
	jQuery(document).ready(function() {
		var dates = jQuery("#from, #to").datepicker({
			defaultDate: "+1w",
			changeMonth: true,
			numberOfMonths: 1,
			showOtherMonths: true,
			selectOtherMonths: true,
			showAnim: "drop",
			changeMonth: true,
			changeYear: true,
			yearRange: '1900:2999',
			dateFormat: 'yy/mm/dd',
			onSelect: function( selectedDate ) {
				var option = this.id == "from" ? "minDate" : "maxDate",
					instance = jQuery( this ).data( "datepicker" ),
					date = jQuery.datepicker.parseDate(
						instance.settings.dateFormat ||
						jQuery.datepicker._defaults.dateFormat,
						selectedDate, instance.settings );
				dates.not( this ).datepicker( "option", option, date );
			}
		});
	});
	// -->
	</script>

	
	<table border="1"　id="jquery-ui-dialog-table" class="ui-widget ui-widget-content">
		<thead>
			<tr>
				<th>
					<input type="submit" name="srch" value="絞込" />
				</th>
				<th>日付<br>
					<input type="text" id="from" name="h_payment_date_fr" size="13" value="${h_payment_date_fr}" />
					<label for="to">～</label><br>
					<input type="text" id="to" name="h_payment_date_to" size="13" value="${h_payment_date_to}" />
				</th>
				<th>項目<br>
					<select id="h_combo" name="h_item_id">
						<option value="0"${h_item_id==0 ? ' selected' : ''}>すべて</option>
						<option value="1"${h_item_id==1 ? ' selected' : ''}>食費</option>
						<option value="2"${h_item_id==2 ? ' selected' : ''}>家財住居</option>
						<option value="3"${h_item_id==3 ? ' selected' : ''}>水道光熱</option>
					</select>
				</th>
			</tr>
		</thead>
		<tbody>
		#{if records.size() > 0}
			<!-- 取得レコード(編集可) -->
			
			#{list items:records, as:'record'}
				<tr>
					<td>

					</td>
					<td>
						<script type="text/javascript">
						<!--
						jQuery(document).ready(function() {
							var dates = jQuery("#datepicker_${record.id}").datepicker({
								defaultDate: "+1w",
								changeMonth: true,
								numberOfMonths: 1,
								showOtherMonths: true,
								selectOtherMonths: true,
								showAnim: "drop",
								changeMonth: true,
								changeYear: true,
								yearRange: '1900:2999',
								dateFormat: 'yy/mm/dd'
							});
						});
						// -->
						</script>
					
						<input type="text" id="datepicker_${record.id}" name="e_payment_date"
							value="${record.payment_date.format('yyyy/MM/dd')}" size="13" />
					</td>
					<td>
						<script type="text/javascript">
						<!--
						jQuery(document).ready(function() {
							// コンボボックスの要素の変更のイベントハンドラー
							jQuery("#e_combo_${record.id}").bind('change', function() {
								var selval = jQuery('#e_combo_${record.id} option:selected').val();
								if(selval=="999") {
									window.alert('新規です');
								}
							});
						});
						// -->
						</script>
					
						<select id="e_combo_${record.id}" name="e_item_id">
							<option value="1"${record.item_id==1 ? ' selected' : ''}>食費</option>
							<option value="2"${record.item_id==2 ? ' selected' : ''}>家財住居</option>
							<option value="3"${record.item_id==3 ? ' selected' : ''}>水道光熱</option>
							<option value="999">新規作成</option>
						</select>
					</td>
				</tr>
				
				<input type="hidden" name="e_id" value="${record.id}"/>
			#{/list}
		#{/if}
		</tbody>
		
	</table>
	



	#{if records.size() > 0}
		<input type="submit" name="save" value="保存" />
	#{/if}
	
#{/form}

	<div class="jquery-ui-button">
	    <button id="jquery-ui-dialog-opener">行追加</button>
	</div>
	<div id="jquery-ui-dialog" title="行追加">
	    <form>
	    <fieldset>
	        <p>名前とコメントを入力して行追加ボタンを押してください。</p>
	            <label for="jquery-ui-dialog-form-name">名前</label>
	            <input type="text" name="jquery-ui-dialog-form-name" id="jquery-ui-dialog-form-name" class="text ui-widget-content ui-corner-all" />
	        </p>
	        <p>
	            <label for="jquery-ui-dialog-form-comment">コメント</label>
	            <input type="text" name="jquery-ui-dialog-form-comment" id="jquery-ui-dialog-form-comment" class="text ui-widget-content ui-corner-all" />
	        </p>
	    </fieldset>
	    </form>
	</div>
