#{extends 'main.html' /}
#{set title:'Home' /}

<h1>HouseholdAccounts</h1>

<h2>
	<table>
		<tr><td><a href="@{Application.index}">Home</a></td><td>明細表</td></tr>
	</table>
</h2>

#{form @detailList()}
	<script>
	$(function() {
		var dates = $( "#from, #to" ).datepicker({
			defaultDate: "+1w",
			changeMonth: true,
			numberOfMonths: 1,
			showOtherMonths: true,
			selectOtherMonths: true,
			showAnim: "drop",
			changeMonth: true,
			changeYear: true,
			yearRange: '2000:2020',
			dateFormat: 'yy/mm/dd',
			onSelect: function( selectedDate ) {
				var option = this.id == "from" ? "minDate" : "maxDate",
					instance = $( this ).data( "datepicker" ),
					date = $.datepicker.parseDate(
						instance.settings.dateFormat ||
						$.datepicker._defaults.dateFormat,
						selectedDate, instance.settings );
				dates.not( this ).datepicker( "option", option, date );
			}
		});
	});
	</script>

	<label for="from">日付範囲：</label>
	<input type="text" id="from" name="dateFr" size="13" value="${dFr}" />
	<label for="to">～</label>
	<input type="text" id="to" name="dateTo" size="13" value="${dTo}" />

	
	<input type="submit" name="srch" value="絞込" />
	

<br>

#{if records.size() > 0}
		<table border="1">
			<tr>
				<th>日付</th>
				<th>項目</th>
			</tr>
			<!-- 取得レコード(編集可) -->
			
			<script>
			$(function() {
				$( "#combobox" ).combobox();
			});
			</script>
			
			#{list items:records, as:'record'}
				<tr>
					<td>
						<input type="text" name="e_payment_date" value="${record.payment_date.format('yyyy/MM/dd')}" size="13" /> 
					</td>
					<td>
						<!-- 
						<select size="1">
							<option value="1"${record.item_id==1 ? ' selected' : ''}>食費</option>
							<option value="2"${record.item_id==2 ? ' selected' : ''}>家財住居</option>
							<option value="3"${record.item_id==3 ? ' selected' : ''}>水道光熱</option>
						</select>
						 -->

						<select id="combobox" name="e_item_id">
							<option value="1"${record.item_id==1 ? ' selected' : ''}>食費</option>
							<option value="2"${record.item_id==2 ? ' selected' : ''}>家財住居</option>
							<option value="3"${record.item_id==3 ? ' selected' : ''}>水道光熱</option>
						</select>
					</td>
				</tr>
				
				<input type="hidden" name="e_id" value="${record.id}"/>
			#{/list}
			
			<!-- 新規レコード -->
			<tr>
				<td>
					<input type="text" name="n_payment_date" size="13" />
				</td>
				<td>
					<select id="combobox" name="n_item_id">
						<option value=" " selected="selected">---</option>
						<option value="1">食費</option>
						<option value="2">家財住居</option>
						<option value="3">水道光熱</option>
					</select>
				</td>
			</tr>
		</table>
		
		
		
		<input type="submit" name="save" value="保存" />
#{/if}

#{/form}
