#{extends 'main.html' /}
#{set title:'Home' /}

<h1>HouseholdAccounts</h1>

<h2>
	<table>
		<tr><td><a href="@{Application.index}">Home</a></td><td>明細表</td></tr>
	</table>
</h2>

#{form @detailList()}
	<script>
	jQuery(function() {
		var dates = jQuery( "#from, #to" ).datepicker({
			defaultDate: "+1w",
			changeMonth: true,
			numberOfMonths: 1,
			showOtherMonths: true,
			selectOtherMonths: true,
			showAnim: "drop",
			changeMonth: true,
			changeYear: true,
			yearRange: '2000:2020',
			dateFormat: 'yy/mm/dd',
			onSelect: function( selectedDate ) {
				var option = this.id == "from" ? "minDate" : "maxDate",
					instance = $( this ).data( "datepicker" ),
					date = $.datepicker.parseDate(
						instance.settings.dateFormat ||
						$.datepicker._defaults.dateFormat,
						selectedDate, instance.settings );
				dates.not( this ).datepicker( "option", option, date );
			}
		});
	});
	</script>

	<label for="from">日付範囲：</label>
	<input type="text" id="from" name="dateFr" size="13" value="${dFr}" />
	<label for="to">～</label>
	<input type="text" id="to" name="dateTo" size="13" value="${dTo}" />

	
	<input type="submit" name="srch" value="絞込" />
	

<br>


<br>
<script type="text/javascript">
<!--
jQuery(document).ready(function()
{
	var mydata = [
	    #{if records.size() > 0}
			#{list items:records, as:'record'}
				{e_g_payDt:"${record.payment_date.format('yyyy/MM/dd')}", e_g_itemId:"${record.item_id}", e_g_itemNm:"${record.item_name}"},
			#{/list}
		#{/if}
	];

	jQuery("#list").jqGrid({
        data: mydata,
		datatype: "local",
		colNames:['日付', '項目ID', '項目名'],
		colModel:[
			{name:'e_g_payDt', name:'e_g_payDt', width:150,
				editoptions:{maxlength:10}, editable:true},
			{name:'e_g_itemId', name:'e_g_itemId', width:100,
				editoptions:{maxlength:10}, editable:true},
			{name:'e_g_itemNm', name:'e_g_itemNm', width:200},
		],
		width: 450,
		height: 100,
		cellEdit: true,
		cellsubmit: 'clientArray',
		rowNum: ${records.size()},
		scroll: true,
		sortname: 'rid',
		sortorder: "ASC",
		multiselect: true,
		caption: '明細表'
	});	
});
// -->
</script>




<script type="text/javascript">
<!--
//jQuery処理の開始
jQuery(function() {
    //-- グリッド定義
    jQuery("#list2").jqGrid({
        width: 1200,
        cellEdit: true,
        datatype: "json",
        viewrecords: true,
        pager: jQuery("#pager"),
        // play側のメソッド名
        url: '@{Employee.load()}',
        mtype: 'POST',
        cellsubmit: 'clientArray',
        rowNum: 10,
        jsonReader: {
            repeatitems: false,    // オブジェクトの配列をデータとして受け取る
        },
        //-- ページング時にcall
        onPaging: function (b) {
            reload();
        }
    });
    // 削除ボタンの作成
    gridComplete: function() {
        var ids = jQuery("#list2").jqGrid('getDataIDs');
        for(var i=0; i < ids.length; i++) {
            var cl = ids[i];
            be = "<input type='button' value='削除' onclick=\"jQuery('#list').editRow('"+cl+"');\" />"
            jQuery("#list").jqGrid('setRowData',ids[i],{ddate:be});
        }
    }
    // ページング時のデータポスト処理
    function reload() {
        jQuery("#list2").setGridParam({
            postData: {
                shainId: jQuery("#shainId").val(),
                shainMei: jQuery("#shainMei").val()}
        });
        jQuery("#list2").trigger("reloadGrid");
    }
    // データ保存処理
    function saveGrid() {
        var gridData = jQuery("#list2").getChangedCells();
        var postData = JSON.stringify(gridData);
        $.ajax({
                type: "POST",
                url: "@{Employee.save()}",
                data: postData,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(response, textStatus, xhr) {
                    alert("更新しました。");
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert("更新できませんでした。");
                }
        );
    }

});
// -->
</script>




#{if records.size() > 0}
	<table border="1"　id="test">
		<tr>
			<th>日付</th>
			<th>項目</th>
		</tr>
		<!-- 取得レコード(編集可) -->
		
		<script type="text/javascript">
		<!--
		jQuery(function() {
			jQuery( "#combobox" ).combobox();
		});
		// -->
		</script>
		
		#{list items:records, as:'record'}
			<tr>
				<td>
					<input type="text" name="e_payment_date"
						value="${record.payment_date.format('yyyy/MM/dd')}" size="13"
						id="blr" />
				</td>
				<td>
					<!-- 
					<select size="1">
						<option value="1"${record.item_id==1 ? ' selected' : ''}>食費</option>
						<option value="2"${record.item_id==2 ? ' selected' : ''}>家財住居</option>
						<option value="3"${record.item_id==3 ? ' selected' : ''}>水道光熱</option>
					</select>
					 -->

					<select id="combobox" name="e_item_id">
						<option value="1"${record.item_id==1 ? ' selected' : ''}>食費</option>
						<option value="2"${record.item_id==2 ? ' selected' : ''}>家財住居</option>
						<option value="3"${record.item_id==3 ? ' selected' : ''}>水道光熱</option>
					</select>
				</td>
			</tr>
			
			<input type="hidden" name="e_id" value="${record.id}"/>
		#{/list}
		
		<!-- 新規レコード -->
		<tr>
			<td>
				<input type="text" name="n_payment_date" size="13" />
			</td>
			<td>
				<select id="combobox" name="n_item_id">
					<option value=" " selected="selected">---</option>
					<option value="1">食費</option>
					<option value="2">家財住居</option>
					<option value="3">水道光熱</option>
				</select>
			</td>
		</tr>
	</table>
	
	
	
	<input type="submit" name="save" value="保存" />
	
	<br>
	<br>
	<table id="list">
	</table>

		
#{/if}





#{/form}

