#{extends 'main.html' /}
#{set title:'Home' /}

	<script>
	jQuery(function() {
		// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
		$( "#dialog:ui-dialog" ).dialog( "destroy" );
		$( "#dialog-form" ).dialog({
			autoOpen: false,
			height: 300,
			width: 350,
			modal: false,
			buttons: {
				新規作成: function() {
					$( "#users tbody" ).append( "<tr>" +
						"<td>" + name.val() + "</td>" + 
						"<td>" + email.val() + "</td>" + 
						"<td>" + password.val() + "</td>" +
					"</tr>" ); 
					$( this ).dialog( "close" );
				},
				項目の管理: function() {
					$( this ).dialog( "close" );
				},
				キャンセル: function() {
					$( this ).dialog( "close" );
				}
			},
			close: function() {
				allFields.val( "" ).removeClass( "ui-state-error" );
			}
		});

		$( "#create-user" )
			.focus(function() {
				$( "#dialog-form" ).dialog( "open" );
				//$('.ui-dialog :button').blur();
			});
		//jQuery("#shutest")
		//	.click(function() {
		//		if(jQuery("#dialog-form").dailog("isOpen")) {
		//			jQuery("#dialog-form").dialog("close");
		//		};
		//	});
	});
	</script>


<div id="shutest">

<h2>
	<table>
		<tr><td>&{'views.application.tools.home'}</td><td><a href="@{Application.detailList}">&{'views.application.tools.detaillist'}</a></td></tr>
	</table>
</h2>
<br>
Home画面

<script type="text/javascript">
<!--
jQuery(document).ready( function() {
    var name = jQuery( '#jquery-ui-dialog-form-name' );
    var comment = jQuery( '#jquery-ui-dialog-form-comment' );
    jQuery( '#jquery-ui-dialog').dialog( {
        autoOpen: false,
        width: 350,
        show: 'explode',
        hide: 'explode',
        modal: true,
        closeOnEscape: true,
        buttons: {
            "追加": function() {
                if ( name . val() || comment . val() ) {
                    jQuery("#jquery-ui-dialog-opener").val(name.val());
                    jQuery(this).dialog("close");
                }
                jQuery(this).dialog("close");
            },
            "キャンセル": function() {
                jQuery(this).dialog("close");
            },
        }
    } );
    jQuery("#jquery-ui-dialog-opener")
    	.button()
    	.click( function() {
        	jQuery("#jquery-ui-dialog").dialog("open");
    });
    jQuery( '#jquery-ui-dialog').blur(function() {
    	jQuery(this).dialog("close");
    })
} );
// -->
</script>


<div id="jquery-ui-dialog" title="追加">
    <form>
    <fieldset>
		<label for="name">Name</label>
		<input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
		<label for="email">Email</label>
		<input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
    </fieldset>
    </form>
</div>

<table id="jquery-ui-dialog-table" class="ui-widget ui-widget-content">
    <thead>
        <tr class="ui-widget-header ">
            <th id="table-th-name">名前</th>
            <th id="table-th-comment">コメント</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ALPHASIS</td>
            <td>Hellow!</td>
        </tr>
    </tbody>
</table>

<button id="jquery-ui-dialog-opener">追加</button>











<div class="demo">

<div id="dialog-form">
	<p class="validateTips">All form fields are required.</p>

	<form>
	<fieldset>
		<input type="radio" name="name" id="name" class="text ui-widget-content ui-corner-all" />食費<br>
		<input type="radio" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />家財住居<br>
		<input type="radio" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />水道光熱<br>
	</fieldset>
	</form>
</div>


<div id="users-contain" class="ui-widget">
	<h1>Existing Users:</h1>
	<table id="users" class="ui-widget ui-widget-content">
		<thead>
			<tr class="ui-widget-header ">
				<th>Name</th>
				<th>Email</th>
				<th>Password</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>John Doe</td>
				<td>john.doe@example.com</td>
				<td>johndoe1</td>
			</tr>
		</tbody>
	</table>
</div>
<input type="text" id="create-user" />

</div><!-- End demo -->


</div><!-- End shutest -->
