#{extends 'main.html' /}
#{set title:'Home' /}

<h1>HouseholdAccounts</h1>

<h2>
	<table>
		<tr><td>Home</td><td><a href="@{Application.detailList}">明細表</a></td></tr>
	</table>
</h2>
<br>
Home画面

<script type="text/javascript">
<!--
function search() {
// (1) 表示領域を初期化します。
  var videos = document.getElementById("videos");
  videos.innerHTML = "Loading...";

// (2) 入力されたキーワードを取得し，クエリを生成します。
  var keyword = encodeURIComponent(document.getElementById("keyword").value);
  var query = "http://gdata.youtube.com/feeds/api/videos?"
          + "vq=" + keyword
          + "&max-results=10"
          + "&alt=json-in-script"
          + "&callback=view";

// (3) script要素を生成します。
  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = query;

// (4) script要素を追加し，リクエストします。
  videos.appendChild(script);
}

function view(data) {
  // (1) 表示領域を初期化します。
  var videos = document.getElementById("videos");
  videos.innerHTML = '';

  // (2) 検索結果のエントリのサムネイル画像に，プレーヤのページへリンクを張った要素を生成し，表示領域に追加します。
  var es = data.feed.entry;
  for (var i=0; i < es.length; i++) {
    var group = es[i].media$group;

    // (3) リンク要素の生成
    var a = document.createElement("a");
    a.href = group.media$player[0].url;
    // サムネイル画像要素の生成
    var img = document.createElement("img");
    img.src = group.media$thumbnail[0].url;

    // (4) 表示領域に追加
    a.appendChild(img);
    videos.appendChild(a);
  }
}

function list1() {
	// オブジェクトの生成
	var obj = {"color": "green"};

	// "color" プロパティにアクセス
	alert(obj.color);       // "green"
	
	alert(obj["color"]);    // "green"
}
function list2() {
	// 配列の生成
	var array = ["red", "green", "blue"];
	
	// 配列の各要素にアクセス
	alert(array[0]);    // "red"
	alert(array[1]);    // "green"
	alert(array[2]);    // "blue"
}
function list3() {
	// オブジェクトの生成
	var obj = {
	    "title" : "reunion",
	    "users": [
	        {
	            "name": "aoki",
	            "code": "0001",
	            "age": 34
	        },
	        {
	            "name": "ueno",
	            "code": "0002",
	            "age": 33
	        }
	    ]
	};
	
	// 各メンバにアクセス
	alert(obj.title);            // "reunion"
	
	alert(obj.users[0].name);    // "aoki"
	alert(obj.users[0].code);    // "0001"
	alert(obj.users[0].age);     // "34"
	
	alert(obj.users[1].name);    // "ueno"
	alert(obj.users[1].code);    // "0002"
	alert(obj.users[1].age);     // "33"
}
// -->
</script>

<form onsubmit="search(); return false;">
  <input type="text" id="keyword">
  <input type="submit" value="検索">
</form>
<div id="videos"></div>

<br>
<form onsubmit="list1(); return false;">
  <input type="submit" value="list1">
</form>
<form onsubmit="list2(); return false;">
  <input type="submit" value="list2">
</form>
<form onsubmit="list3(); return false;">
  <input type="submit" value="list3">
</form>
