
#overlay{
	display: none;
	width: 100%;
	height: 100%;
	text-align: left;
	position: fixed;
	top: 0;
	z-index: 801;
	background: rgba(0,0,0,0.7);
}

#overlay div {
//	max-width: 90%;
//	margin-left: auto;
//	margin-right: auto;
	height: 100%;
	overflow-y: scroll;
}

//#overlay #divFrm {
//	max-width: 100%;
//	max-height: 100%;
//	overflow: auto;
//}
//
//#overlay #divInnr {
//	max-width: 90%;
//	margin: 1em auto 0 auto;
//	max-height: 90%;
//}

#text{
	font-size: 30px;
	color: #eee;
	padding-top: 100px;
//	padding-top: 1em;
	padding-bottom: 1em;
	font-weight: bold;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#close{
	background: #eeeeee;
	color: #717171;
	width: 70px;
	margin: auto auto 1em auto;
	text-align: center;
	font-size: 15px;
	padding:5px;
	border-radius: 3px;
	cursor: pointer;
}
