<!DOCTYPE html>

<html>
    <head>
        <title>Administration</title>
        <meta charset="${_response_encoding}">
        #{get 'moreStyles' /}
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
		<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>
		<script type="text/javascript">google.load('jquery', '1')</script>
		<script type="text/javascript">google.load('jqueryui', '1')</script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
		<!-- datepickerの見た目の調整 -->
		<style>
		.ui-datepicker td span, .ui-datepicker td a {
		    text-align: center;    /* 日付はセンタリングの方が好き */
		}
		.ui-datepicker select.ui-datepicker-year, .ui-datepicker select.ui-datepicker-month {
		    width: auto;    /* そのままだと改行してしまう */
		}
		.ui-datepicker select.ui-datepicker-month {
		    margin-left: 1em;    /* ちょっと離すほうが好き */
		}
		</style>
		<noscript>このページは javascript が有効になっている必要があります。</noscript>
        #{get 'moreScripts' /}
    </head>
    <body id="admin">
    	<div id="header">
    		<div id="logo">
    			&{'views.admin.logo'}.<span>&{'views.admin.logo.span'}</span>
    		</div>
    		<ul id="tools">
			    <li>
			        <a href="@{Secure.logout()}">&{'views.admin.tools.logout'}</a>
			    </li>
			</ul>
    	</div>
    	
    	<div id="main">
		    <ul id="adminMenu">
		        <li class="${request.controller == 'Admin' ? 'selected' : ''}">
		            <a href="@{Admin.index()}">&{'views.admin.adminMenu.member'}</a>
		        </li>
		        #{secure.check 'admin'}
		            <li class="${request.controller == 'HaUsers' ? 'selected' : ''}">
		                <a href="@{HaUsers.list()}">&{'HaUsers'}</a>
		            </li>
		            <li class="${request.controller == 'ActualTypeMsts' ? 'selected' : ''}">
		                <a href="@{ActualTypeMsts.list()}">&{'ActualTypeMsts'}</a>
		            </li>
		            <li class="${request.controller == 'BalanceTypeMsts' ? 'selected' : ''}">
		                <a href="@{BalanceTypeMsts.list()}">&{'BalanceTypeMsts'}</a>
		            </li>
		            <li class="${request.controller == 'HandlingTypeMsts' ? 'selected' : ''}">
		                <a href="@{HandlingTypeMsts.list()}">&{'HandlingTypeMsts'}</a>
		            </li>
		            <li class="${request.controller == 'ItemMsts' ? 'selected' : ''}">
		                <a href="@{ItemMsts.list()}">&{'ItemMsts'}</a>
		            </li>
		            <li class="${request.controller == 'HandlingMsts' ? 'selected' : ''}">
		                <a href="@{HandlingMsts.list()}">&{'HandlingMsts'}</a>
		            </li>
		            <li class="${request.controller == 'IdealDepositMsts' ? 'selected' : ''}">
		                <a href="@{IdealDepositMsts.list()}">&{'IdealDepositMsts'}</a>
		            </li>
		            <li class="${request.controller == 'Records' ? 'selected' : ''}">
		                <a href="@{Records.list()}">&{'Records'}</a>
		            </li>
		        #{/secure.check}
		    </ul>
        	
	        #{doLayout /}
    	</div>
    	
    </body>
</html>
