<!DOCTYPE html>

<html>
    <head>
        <title>Administration</title>
        <meta charset="${_response_encoding}">
        #{get 'moreStyles' /}
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
		<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>
		<script type="text/javascript">google.load('jquery', '1')</script>
		<script type="text/javascript">google.load('jqueryui', '1')</script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
		<noscript>このページは javascript が有効になっている必要があります。</noscript>
        #{get 'moreScripts' /}
    </head>
    <body id="admin">
    	<div id="header">
    		<div id="logo">
    			ha.<span>administration</span>
    		</div>
    		<ul id="tools">
			    <li>
			        <a href="@{Secure.logout()}">Log out</a>
			    </li>
			</ul>
    	</div>
    	
    	<div id="main">
	        #{doLayout /}
    	</div>
    	
    </body>
</html>
