#{extends 'main.html' /}

#{set 'headerTools'}
	#{include 'headerTools.html' /}
#{/set}

<div id="main">
	#{secure.check 'admin'}
	<ul id="adminMenu">
	       <li class="${request.controller == 'HaUsers' ? 'selected' : ''}">
	           <a href="@{HaUsers.list()}">&{'HaUsers'}</a>
	       </li>
	       <li class="${request.controller == 'BalanceTypeMsts' ? 'selected' : ''}">
	           <a href="@{BalanceTypeMsts.list()}">&{'BalanceTypeMsts'}</a>
	       </li>
	       <li class="${request.controller == 'HandlingTypeMsts' ? 'selected' : ''}">
	           <a href="@{HandlingTypeMsts.list()}">&{'HandlingTypeMsts'}</a>
	       </li>
	       <li class="${request.controller == 'ItemMsts' ? 'selected' : ''}">
	           <a href="@{ItemMsts.list()}">&{'ItemMsts'}</a>
	       </li>
	       <li class="${request.controller == 'HandlingMsts' ? 'selected' : ''}">
	           <a href="@{HandlingMsts.list()}">&{'HandlingMsts'}</a>
	       </li>
	       <li class="${request.controller == 'IdealDepositMsts' ? 'selected' : ''}">
	           <a href="@{IdealDepositMsts.list()}">&{'IdealDepositMsts'}</a>
	       </li>
	       <li class="${request.controller == 'Budgets' ? 'selected' : ''}">
	           <a href="@{Budgets.list()}">&{'Budgets'}</a>
	       </li>
	       <li class="${request.controller == 'Records' ? 'selected' : ''}">
	           <a href="@{Records.list()}">&{'Records'}</a>
	       </li>
	</ul>
	#{/secure.check}
	
	
	
	#{doLayout /}
</div>
  	
