<script type="text/javascript" src="@{'/public/javascripts/jquery.datepicker.js'}" ></script>

#{include 'subCategory.html' /}
#{i18n /}

<style>
<!--
input.text {
	width:100%;
	height: 100%;
	padding: .1em .4em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
-->
</style>

<script type="text/javascript" src="@{'/public/javascripts/dateformat.js'}" ></script>
<script type="text/javascript" src="@{'/public/javascripts/funcCheckVal.js'}" ></script>
<script type="text/javascript">
<!-- 
/**
 * 収支データ更新用ダイアログ
 */
var gPreBType,
	gPreHdlg,
	gPrePrlt,
	STR90 = "90%",
	STR100 = "100%",
	STR150 = "150%",
	gDfurRec,
	gEditingHdlgFlg,	//取扱(実際)編集中フラグ
	gEditingPrltFlg,	//取扱(Parllet)編集中フラグ
	BTYPE_GROUP = {
	%{vCntBType=0}%
	#{list items:models.BalanceTypeMst.find("order by id").fetch(), as:'bType'}
		#{if vCntBType>0},#{/if}
		${bType.id}:${bType.balance_type_name==messages.get('BalanceType.in') || bType.balance_type_name==messages.get('BalanceType.out') ? 1 : (
						bType.balance_type_name==messages.get('BalanceType.bank_in') || bType.balance_type_name==messages.get('BalanceType.bank_out') ? 2 : (
							bType.balance_type_name==messages.get('BalanceType.parllet_in') || bType.balance_type_name==messages.get('BalanceType.parllet_out') ? 3 : 'bType error'
						)
					)}
		%{vCntBType++}%
	#{/list}
	},
	HTYPE_GROUP = {
	%{vCntHdlg=0}%
	#{list items:models.HandlingMst.find("order by id").fetch(), as:'hdlg'}
		#{if vCntHdlg>0},#{/if}
		${hdlg.id}:${hdlg.handling_type_mst.id}
		%{vCntHdlg++}%
	#{/list}
	};
	
function openDialogFrmUpdRec(pDfurRec) {
	jQuery(function() {
		var dfurPayDate = jQuery("#dfurPayDate"),
			dfurBType = jQuery("#dfurBType"),
			dfurHdlg = jQuery('#dfurHdlg'),
			dfurPrlt = jQuery('#dfurPrlt'),
			dfurItem = jQuery('#dfurItem'),
			dfurAmnt = jQuery('#dfurAmnt'),
			dfurDebDate = jQuery('#dfurDebDate'),
			dfurCntnt = jQuery('#dfurCntnt'),
			dfurStore = jQuery('#dfurStore'),
			dfurRmrks = jQuery('#dfurRmrks'),
			title = pDfurRec.id===null ? "&{'views.dialogFrmUpdRec.title.ins'}" : "&{'views.dialogFrmUpdRec.title.upd'}",
			buttons = {},
			allFields = jQuery([]).add(dfurPayDate.children('input')),
			tips = jQuery(".validateTips"),
			intRslt = 0,
			gEditingHdlgFlg = false
			gEditingPrltFlg = false;
		
		gPreBType = '';
		gPreHdlg = '';
		gPrePrlt = '';
		gDfurRec = pDfurRec;
		
		// 「収支種類」のリスト再作成
		remakeList_BType(dfurBType.children('select'));
		
		/* 要素の初期化 */
		initElem();
		
		/* 起動時のdatepickerの選択可能範囲絞込 */
		if (ckDate(gDfurRec.payment_date.val))
			jQuery("#to").datepicker("option", "minDate", gDfurRec.payment_date.val);
//		if (ckDate(gDfurRec.debit_date.val))
//			jQuery("#from").datepicker("option", "maxDate", gDfurRec.debit_date.val);
		
		allFields.removeClass("ui-state-error");
		tips
			.css('padding', '0')
			.css('margin-bottom', '0')
			.text("");
		
		buttons["&{'insupd.save'}"] = function() {
			var bValid = true;
			allFields.removeClass("ui-state-error");
			bValid = bValid && checkRequired(dfurPayDate.children('input'), "&{'payment_date'}");
			bValid = bValid && checkRequired(dfurAmnt.children('input'), "&{'amount'}");
			if (!bValid) {
				jQuery('body,html').animate({
					scrollTop: jQuery('#validateTips').offset().top
				}, 1000);
				return;
			};
			
			if (bValid) {
				var sel,
					dtePayDate,
					lngBTypeId,
					lngHdlgId,
					lngPrltId,
					lngItemId,
					intAmnt,
					dteDebDate,
					strCntnt,
					strStore,
					strRmrks;
				
				dtePayDate = dfurPayDate.children('input').val();
				sel = dfurBType.children('select').val();
				lngBTypeId = (sel==null || sel=="") ? undefined : parseInt(sel);
				sel = dfurHdlg.children('select').val();
				lngHdlgId = (sel==null || sel=="") ? undefined : parseInt(sel);
				sel = dfurPrlt.children('select').val();
				lngPrltId = (sel==null || sel=="") ? undefined : parseInt(sel);
				sel = dfurItem.children('select').val();
				lngItemId = (sel==null || sel=="") ? undefined : parseInt(sel);
				intAmnt = parseInt(dfurAmnt.children('input').val().replace(/^\s+|\s+$|,/g, ""));	//スペースとカンマを除去してから数値化
				dteDebDate = dfurDebDate.children('input').val();
				strCntnt = dfurCntnt.children('input').val();
				strStore = dfurStore.children('input').val();
				strRmrks = dfurRmrks.children('textarea').val();
				
				var strErrMsg = "Common.updateRec";
				if (gDfurRec.id===null) gDfurRec.id=undefined;
				var jqxhrUpdRec = jQuery.post('@{Common.updateRec}', {
					id: gDfurRec.id,
					payment_date: dtePayDate,
					balance_type_mst: lngBTypeId,
					handling_mst: lngHdlgId,
					parllet_mst: lngPrltId,
					item_mst: lngItemId,
					amount: intAmnt,
					debit_date: dteDebDate,
					content: strCntnt,
					store: strStore,
					remarks: strRmrks,
					secret_remarks: gDfurRec.secret_remarks,
					secret_rec_flg: gDfurRec.secret_rec_flg});
				jqxhrUpdRec
				.done(function(z) {
					switch (z.intRslt) {
						case 0:
							intRslt = 1;
							jQuery('#dialog-updRec').dialog("close");
							break;
						case 99:
							var vld = z.validation.errors[0],
								strKey = vld.key.replace('record.', '');
							alert(i18n(strKey)+"は"+z.strErr);
							break;
						default:
							strErrMsg += " result Error";
							alert(strErrMsg);
					}
				})
				.fail(function() {
					strErrMsg += " Failed";
					alert(strErrMsg);
				});
			}
			
		}
		buttons["&{'views.common.btn.cancel'}"] = function() {
			jQuery(this).dialog("close");
		}
		function updateTips(t) {
			tips
				.css('padding', '0.3em')
				.css('margin-bottom', '1em')
				.text(t)
				.addClass("ui-state-highlight");
			setTimeout(function() {
				tips.removeClass("ui-state-highlight", 1500);
			}, 500);
		}
		function checkRequired(o, n) {
			if (o.val()==="") {
				o.addClass("ui-state-error");
				updateTips(n + " &{'views.login.fbLogin.err.required'}");
				return false;
			} else {
				return true;
			}
		}
		function errValidateTable(o, s) {
			o.addClass("ui-state-error");
			updateTips(s);
		}
		/* 画面の各要素の初期化 */
		function initElem() {
			chgElem(dfurPayDate, gDfurRec.payment_date, 'input', null);
			chgElem(dfurBType, gDfurRec.balance_type_mst_id, 'select', dfurPayDate);
			dfurBType.children('select').change();	//「収支種類」の選択変更イベント
			remakeList_Handling();					//「取扱(実際)」のリスト再作成
			chgElem(dfurHdlg, gDfurRec.handling_mst_id, 'select', dfurBType);
			chgElem(dfurPrlt, gDfurRec.parllet_mst_id, 'select', dfurHdlg);
//			jQuery('#dfurPrlt').children('a, label').css('cursor', 'default');
			chgElem(dfurItem, gDfurRec.item_mst_id, 'select', dfurPrlt);
			chgElem(dfurAmnt, gDfurRec.amount, 'input', dfurItem);
			chgElem(dfurDebDate, gDfurRec.debit_date, 'input', dfurAmnt);
			chgElem(dfurCntnt, gDfurRec.content, 'input', dfurDebDate);
			chgElem(dfurStore, gDfurRec.store, 'input', dfurCntnt);
			chgElem(dfurRmrks, gDfurRec.remarks, 'textarea', dfurStore);
			
			dfurItem.children('label').css('clear', 'both');
			dfurStore.children('label').css('clear', 'both');
		}
		
		jQuery("#dialog-updRec").dialog({
			autoOpen: false,
			resizable: false,
//			width:460,
			width:'auto',
			create: function( event, ui ) {
				jQuery(this).css("maxWidth", "460px");
			},
			modal: true,
			title: title,
			closeOnEscape: false,
			buttons: buttons,
			close: function() {
				//ダイアログクローズ時の処理は呼び出し元で行う
				whenDialogFrmUpdRecClosed(intRslt);
			}
		});
		jQuery('#dialog-updRec').dialog("open");
		
		if (jQuery('#dfurPayDate input').hasClass('invisible'))
			jQuery('#dfurBTypeSel').focus();
		
		/* Enterキーでのサブミット防止 */
		jQuery('input[type!="submit"][type!="button"]').keypress(function(e){
			if ((e.which && e.which===13) || (e.keyCode && e.keyCode===13)) {
				return false;
			}else{
				return true;
			}
		});
	});
}

/**
 * イベント系
 */
jQuery(function() {
	
	/* 「収支種類」の選択変更イベント */
	jQuery('#dfurBTypeSel').change(function(e) {
		var jText = jQuery(this).children(':selected').text(),
			jVal = jQuery(this).val(),
			strCalledFrom = "dialogFrmUpdRec";
		
		//「収支種類」が収入・支出で、「項目」のリストがゼロの時
		if ((jText==="&{'BalanceType.in'}" ||
			jText==="&{'BalanceType.out'}") &&
				jQuery(subCatItem[jVal]).length===0) {
			e.preventDefault();
			if (jText==="&{'BalanceType.in'}")
				//項目（収入）作成用ダイアログ
				openDialogConfirm("&{'views.dialogConfirm.case.itemIn'}", jText, strCalledFrom);
			if (jText==="&{'BalanceType.out'}")
				//項目（支出）作成用ダイアログ
				openDialogConfirm("&{'views.dialogConfirm.case.itemOut'}", jText, strCalledFrom);
			
		//「収支種類」が口座預入・口座引出で、「取扱(実際)」のリストがゼロの時
		} else if ((jText==="&{'BalanceType.bank_in'}" ||
					jText==="&{'BalanceType.bank_out'}") &&
				jQuery(subCatHdlgSmall[subCatHdlgLarge[jVal]]).length===0) {
			e.preventDefault();
			//口座・電子マネー作成用ダイアログ
			openDialogConfirm("&{'views.dialogConfirm.case.bkem'}", jText, strCalledFrom);
			
		//「収支種類」がParllet預入・Parllet引出で、「取扱(Parllet)」のリストがゼロの時
		} else if ((jText==="&{'BalanceType.parllet_in'}" ||
					jText==="&{'BalanceType.parllet_out'}") &&
				jQuery(subCatPrlt).length===0) {
			e.preventDefault();
			//Parllet作成用ダイアログ
			openDialogConfirm("&{'views.dialogConfirm.case.prlt'}", jText, strCalledFrom);
			
		} else {
			if (BTYPE_GROUP[gPreBType]!==BTYPE_GROUP[jVal]) {
				//「取扱(Parllet)」のリスト再作成
				remakeList_Parllet();
				//「取扱(実際)」のリスト再作成
				remakeList_Handling();
				//再作成したリストに前回値があればそれをセット
				jQuery('#dfurHdlg').children('select').val(gPreHdlg!=='' ? gPreHdlg : String(gDfurRec.handling_mst_id.val));
				
				var jHdlgVal = jQuery('#dfurHdlg').children('select').val();
				gDfurRec.handling_mst_id.val = jHdlgVal===null ? 0 : parseInt(jHdlgVal);
				
				//「取扱(実際)」の状態調整
				conditionAdjust_Hdlg(jQuery('#dfurBType option:selected').text(), jQuery('#dfurHdlg'), jQuery('#dfurBType'), gDfurRec.handling_mst_id.flg);
			}
			
			//「取扱(Parllet)」の状態調整
			if (jText==="&{'BalanceType.bank_in'}" ||
					jText==="&{'BalanceType.bank_out'}") {
				conditionAdjust_Prlt(jQuery('#dfurBType option:selected').text(), jQuery('#dfurPrlt'), jQuery('#dfurHdlg'));
			} else {
				//前回値があればそれをセット
				jQuery('#dfurPrlt').children('select').val(gPrePrlt!=='' ? gPrePrlt : String(gDfurRec.parllet_mst_id.val));
				var jPrltVal = jQuery('#dfurPrlt').children('select').val();
				gDfurRec.parllet_mst_id.val = jPrltVal===null ? 0 : parseInt(jPrltVal);
			}
			
			gPreBType = jVal;
			
			//「項目」のリスト再作成
			remakeList_Item(jQuery('#dfurBType option:selected').text(), jVal, jQuery('#dfurItem').children('select'));
			
			//「項目」の状態調整
			conditionAdjust_Item(jQuery('#dfurBType option:selected').text(), jQuery('#dfurItem'), jQuery('#dfurPrlt'));
			
			//「Parllet」の<a>の状態調整
//			if (gDfurRec.parllet_mst_id.modifiable) {
				var aId = jQuery('#dfurPrlt').children('a').attr('id');
				if (jText==="&{'BalanceType.bank_in'}" ||
						jText==="&{'BalanceType.bank_out'}") {
					jQuery('#dfurPrlt').children('a, label').css('cursor', 'default');
					document.getElementById(aId).tabIndex=-1;
				} else {
					jQuery('#dfurPrlt').children('a, label').css('cursor', 'pointer');
					document.getElementById(aId).tabIndex=0;
					
					// Parllet預入・引出の時はParlletを入力状態に
					if (jText==="&{'BalanceType.parllet_in'}" ||
							jText==="&{'BalanceType.parllet_out'}" ||
							gPrePrlt!=="") {
						jQuery('#dfurPrlt a').click();
						jQuery(this).focus();
					}
				}
//			}
		}
		
	});
	
	
	/* 「収支種類」・「支払日」・「取扱(実際)」の選択変更イベント */
	jQuery('#dfurBType, #dfurHdlg, #dfurPayDate').children('select, input').change(function(){
		if (jQuery(this).parent().attr('id')==='dfurPayDate' ||
				HTYPE_GROUP[gPreHdlg]!==HTYPE_GROUP[jQuery('#dfurHdlg').children('select').val()])
			//「引落日」の入力可・不可とデフォルト日付の調整
			conditionDefDateAdjust_DebitDate(jQuery('#dfurDebDate'), jQuery('#dfurAmnt'));
		
		if (jQuery(this).parent().attr('id')==='dfurPayDate')
			jQuery("#to").datepicker("option", "minDate", jQuery(this).val());
		
//		var jVal = jQuery('#dfurHdlg').children('select').val();
//		if (gPreHdlg!==jVal)
//			gPreHdlg = jVal===null ? '' : jVal
		// ユーザが取扱(実際)を変えた場合は前回値としてセット
		if (gEditingHdlgFlg &&
				jQuery(this).parent().attr('id')==='dfurHdlg') {
			gPreHdlg = jQuery(this).val();
		}
	});
	
	/* 「取扱(実際)」の選択変更イベント */
	jQuery('#dfurHdlg').children('select').change(function(e){
//		gPreHdlg = jQuery(this).val();
	});
	
	/* 「Parllet」の選択変更イベント */
	jQuery('#dfurPrlt').children('select').change(function(e){
		// ユーザが取扱(Parllet)を変えた場合は前回値としてセット
		if (gEditingPrltFlg) {
			gPrePrlt = jQuery(this).val();
		}
	});
	
	/* クリックで編集 */
	jQuery('.editable').click(function(e) {
		if (!jQuery(this).hasClass('editable')) {
			e.preventDefault();
			return;
		}
		
		//aを非表示
		if (this.nodeName==="A")
			jQuery(this).css('display', 'none');
		if (this.nodeName==="LABEL")
			jQuery(this).next('a').css('display', 'none');
		
		var jNextInput = jQuery(this).nextAll('input'),
			jNextTextArea = jQuery(this).nextAll('textarea'),
			jNextSelect = jQuery(this).nextAll('select');
		//兄弟要素にinputがある場合
		if (jNextInput.is('input')) {
			//inputを表示
			if (jNextInput.hasClass('invisible'))
				jNextInput.removeClass('invisible');
			jNextInput.css('font-size', '70%')
										.css('width', '80px')
										.css('float', 'left')
//										.css('margin-right', ((jQuery('#dialog-updRec').children('form').children('fieldset').width()/2)-jQuery('#dfurStore').children('label').width()-jQuery(this).width()-18)+'px')
										.focus();
			
		//兄弟要素にtextareaがある場合
		} else if (jNextTextArea.is('textarea')) {
			//textareaを表示
			if (jNextTextArea.hasClass('invisible'))
				jNextTextArea.removeClass('invisible');
			jNextTextArea.css('font-size', '70%')
											.css('width', '100px')
											.css('height', '30px')
											.css('float', 'left')
											.css('background', 'white')
											.css('margin-right', '10px')
											.focus();
			
		//兄弟要素にselectがある場合
		} else if (jNextSelect.is('select')) {
			//selectを表示
			if (jNextSelect.hasClass('invisible'))
				jNextSelect.removeClass('invisible');
			jNextSelect.css('font-size', '80%')
										.css('width', '90px')
										.css('float', 'left')
										.css('margin-right', '10px')
										.focus();
		}
	});
	/* クリックで編集（取扱(実際)）*/
	jQuery('#dfurHdlg').children('a, label').click(function(e) {
		conditionAdjust_Hdlg(jQuery('#dfurBType option:selected').text(), jQuery('#dfurHdlg'), jQuery('#dfurBType'), true);
		jQuery('#dfurHdlg').children('select').focus();
	});
	/* クリックで編集（取扱(Parllet)）*/
	jQuery('#dfurPrlt').children('a, label').click(function(e) {
		conditionAdjust_Prlt(jQuery('#dfurBType option:selected').text(), jQuery('#dfurPrlt'), jQuery('#dfurHdlg'));
		jQuery('#dfurPrlt').children('select').focus();
	});
	
	/* 各種aタグのリンクEnter時はクリックイベントへ */
	jQuery('.editable, #dfurHdlg a, #dfurPrlt a').keypress(function(e) {
		if (e.which==13) {
			e.preventDefault();
			jQuery(this).click();
		}
	});
	
});

function DfurRec(
		id,
		payment_date,
		balance_type_mst_id,
		handling_mst_id,
		parllet_mst_id,
		item_mst_id,
		amount,
		debit_date,
		content,
		store,
		remarks
		) {
	this.id = id;
	this.payment_date = payment_date;
	this.balance_type_mst_id = balance_type_mst_id;
	this.handling_mst_id = handling_mst_id;
	this.parllet_mst_id = parllet_mst_id;
	this.item_mst_id = item_mst_id;
	this.amount = amount;
	this.debit_date = debit_date;
	this.content = content;
	this.store = store;
	this.remarks = remarks;
}
function DfurFlgVal(flg, val, modifiable) {
	this.flg = flg;
	this.val = val;
	this.modifiable = modifiable;
}

/**
	項目毎に表示方法を調整
**/
function chgElem(jqSelector, dfurFlgValCrnt, strInput, jqSelPrev) {
	//inputに値をセット
	if (strInput==='select') {
		jqSelector.children(strInput).children("option").each(function(i){
			if (String(dfurFlgValCrnt.val)===jQuery(this).val()) {
				jqSelector.children(strInput).val(dfurFlgValCrnt.val);
			}
		});
	} else {
		jqSelector.children(strInput).val(dfurFlgValCrnt.val);
		//inputでnumericの時はautoNumericの機能で3桁区切り
		if (strInput==='input' && jqSelector.children(strInput).hasClass('numeric')) {
			jqSelector.children(strInput).blur();
		}
	}
	
	//aのテキストをinputに合わせる
	if (strInput==='input' || strInput==='textarea')
		jqSelector.children('a').text(dfurFlgValCrnt.val);
	if (strInput==='select')
		jqSelector.children('a').text(jqSelector.children(strInput).children(':selected').text());
	
	//項目のフラグ有効時
	if (dfurFlgValCrnt.flg) {
		//ラベル前を改行
		jqSelector.children('label').css('float', 'none');
		jqSelector.children('label').css('clear', 'both');
		jqSelector.children('label').css('font-size', STR100);
		jqSelector.css('float', 'none');
		jqSelector.css('clear', 'both');
		
		//aを非表示
		jqSelector.children('a').css('display', 'none');
		//inputを表示
		if (jqSelector.children(strInput).hasClass('invisible'))
			jqSelector.children(strInput).removeClass('invisible');
		
	//項目のフラグ無効時
	} else {
		//ラベル前を詰める
		jqSelector.children('label').css('float', 'left');
		jqSelector.children('label').css('clear', 'none');
		jqSelector.children('label').css('font-size', STR90);
		jqSelector.css('float', 'left');
		jqSelector.css('clear', 'none');
		
		//aを表示
		jqSelector.children('a').css('display', 'block');
		//inputを非表示
		jqSelector.children(strInput).addClass('invisible');
	}
	
}

/* 「項目」の状態調整 */
function conditionAdjust_Item(strBTypeText, dfurItem, dfurPrlt) {
	//「収支種類」が収入・支出の時は「項目」は選択可能
	gDfurRec.item_mst_id.flg = false;
	if (strBTypeText==="&{'BalanceType.in'}" ||
			strBTypeText==="&{'BalanceType.out'}"
			)
		gDfurRec.item_mst_id.flg = true;
	chgElem(dfurItem, gDfurRec.item_mst_id, 'select', dfurPrlt);
}
/* 「取扱(実際)」の状態調整 */
function conditionAdjust_Hdlg(strBTypeText, dfurHdlg, dfurBType, bolOpen) {
//	if (!gDfurRec.handling_mst_id.modifiable) return;
	
	//「収支種類」がParllet預入・Parllet引出の時は「取扱(実際)」は選択不可
	gDfurRec.handling_mst_id.flg = bolOpen;
	if (strBTypeText==="&{'BalanceType.parllet_in'}" ||
			strBTypeText==="&{'BalanceType.parllet_out'}"
			) {
		gDfurRec.handling_mst_id.flg = false;
	}
	chgElem(dfurHdlg, gDfurRec.handling_mst_id, 'select', dfurBType);
	// 取扱(実際)が編集可能になったら編集中フラグを立てる
	gEditingHdlgFlg = false;
	if (gDfurRec.handling_mst_id.flg)
		gEditingHdlgFlg = true;
	
	//「取扱(実際)」の<a>の状態調整
	var aId = jQuery('#dfurHdlg').children('a').attr('id');
	if (strBTypeText==="&{'BalanceType.parllet_in'}" ||
			strBTypeText==="&{'BalanceType.parllet_out'}") {
		jQuery('#dfurHdlg').children('a, label').css('cursor', 'default');
		document.getElementById(aId).tabIndex=-1;
	} else {
		jQuery('#dfurHdlg').children('a, label').css('cursor', 'pointer');
		document.getElementById(aId).tabIndex=0;
	}
}

/* 「Parllet」の状態調整 */
function conditionAdjust_Prlt(strBTypeText, dfurPrlt, dfurHdlg) {
//	if (!gDfurRec.parllet_mst_id.modifiable) return;
	
	//「収支種類」が口座預入・口座引出の時は「Parllet」は選択不可
	gDfurRec.parllet_mst_id.flg = true;
	if (strBTypeText==="&{'BalanceType.bank_in'}" ||
			strBTypeText==="&{'BalanceType.bank_out'}"
			) {
		gDfurRec.parllet_mst_id.flg = false;
		dfurPrlt.children('select').val('');	// (なし) を選択
	}
	chgElem(dfurPrlt, gDfurRec.parllet_mst_id, 'select', dfurHdlg);
	// 取扱(Parllet)が編集可能になったら編集中フラグを立てる
	gEditingPrltFlg = false;
	if (gDfurRec.parllet_mst_id.flg)
		gEditingPrltFlg = true;
}

/* 「収支種類」のリスト再作成 */
function remakeList_BType(jqBType) {
	jqBType.empty();
	#{list items:models.BalanceTypeMst.find("order by id").fetch(), as:'bType'}
		jqBType.append("<option value=${bType.id}>${bType.balance_type_name}</option>");
	#{/list}
}
/* 「取扱(実際)」のリスト再作成 */
function remakeList_Handling() {
	//「取扱(実際)」が編集可能な時
//	if (gDfurRec.handling_mst_id.modifiable) {
		jQuery('#dfurHdlg').children('select').empty();
		
		//「収支種類」が収入・支出・口座預入・口座引出の時は「取扱(実際)」のリストを再作成
		if (jQuery('#dfurBTypeSel').children(':selected').text()==="&{'BalanceType.in'}" ||
				jQuery('#dfurBTypeSel').children(':selected').text()==="&{'BalanceType.out'}" ||
				jQuery('#dfurBTypeSel').children(':selected').text()==="&{'BalanceType.bank_in'}" ||
				jQuery('#dfurBTypeSel').children(':selected').text()==="&{'BalanceType.bank_out'}"
				) {
			jQuery('#dfurHdlg').children('select').empty();
			jQuery.each(subCatHdlgSmall[subCatHdlgLarge[jQuery('#dfurBTypeSel').val()]], function(key,value){
				jQuery('#dfurHdlg').children('select').append("<option value='"+value["key"]+"'>"+value["value"]+"</option>");
			});
		}
		
		
	//「取扱(実際)」が編集不可の時
//	} else {
//		return;
//	}
	
}
/* 「取扱(Parllet)」のリスト再作成 */
function remakeList_Parllet() {
	jQuery('#dfurPrlt').children('select').empty();
	
	//「収支種類」が収入・支出・Parllet預入・Parllet引出の時は「取扱(Parllet)」のリストを再作成
	if (jQuery('#dfurBTypeSel').children(':selected').text()==="&{'BalanceType.in'}" ||
			jQuery('#dfurBTypeSel').children(':selected').text()==="&{'BalanceType.out'}" ||
			jQuery('#dfurBTypeSel').children(':selected').text()==="&{'BalanceType.parllet_in'}" ||
			jQuery('#dfurBTypeSel').children(':selected').text()==="&{'BalanceType.parllet_out'}"
			) {
		//「収支種類」が収入・支出の時はリストの先頭に (なし) を追加
		if (jQuery('#dfurBTypeSel').children(':selected').text()==="&{'BalanceType.in'}" ||
				jQuery('#dfurBTypeSel').children(':selected').text()==="&{'BalanceType.out'}")
			jQuery('#dfurPrlt').children('select').append("<option value=0>"+"&{'views.common.combo.notrequired'}"+"</option>");
		
		for (keys in subCatPrlt) {
			jQuery('#dfurPrlt').children('select').append("<option value="+keys+">"+subCatPrlt[keys]+"</option>");
		};
	}
	
}
/* 「項目」のリスト再作成 */
function remakeList_Item(strBTypeText, strBTypeVal, jqItem) {
	jqItem.empty();
	//「収支種類」が収入・支出の時は「項目」のリストを再作成
	if (strBTypeText==="&{'BalanceType.in'}" ||
		strBTypeText==="&{'BalanceType.out'}"
			)
		jQuery.each(subCatItem[strBTypeVal],function(key,value){
			jqItem.append("<option value='"+value["key"]+"'>"+value["value"]+"</option>");
		});
}

/* 「引落日」の入力可・不可とデフォルト日付の調整 */
function conditionDefDateAdjust_DebitDate(dfurDebDate, dfurAmnt) {
	var sDate = jQuery('#dfurPayDate').children('input').val().substr(0,10),
		aId = jQuery('#dfurDebDate').children('a').attr('id'),
		aCursor = 'default',
		aTabIndex = -1;
	gDfurRec.debit_date.flg = false;
	//「取扱(実際)」が現金、または「収支種類」がParllet預入・Parllet引出の時は、「引落日」は「支払日」と同じ日とし、選択不可
	if (jQuery('#dfurHdlg').children('select').children(':selected').text()==="&{'HandlingType.cash'}" ||
			(jQuery('#dfurBTypeSel').children(':selected').text()==="&{'BalanceType.parllet_in'}" ||
				jQuery('#dfurBTypeSel').children(':selected').text()==="&{'BalanceType.parllet_out'}")) {
		gDfurRec.debit_date.val = ckDate(sDate)===true ? sDate : '';
		chgElem(dfurDebDate, gDfurRec.debit_date, 'input', dfurAmnt);
		
		if (jQuery('#dfurDebDate').children('label, a').hasClass('editable'))
			jQuery('#dfurDebDate').children('label, a').removeClass('editable');
		
	//上記以外の時
	} else {
		#{list items:models.HandlingMst.find("ha_user = ${haUser.id}").fetch(), as:'handling'}
		  if ("${handling?.handling_name}"===jQuery('#dfurHdlg').children('select').children(':selected').text())
			//支払日が正しく入っている時
			if (ckDate(sDate)) {
				//「取扱(実際)」がクレジットカードの場合
				if ("${handling?.handling_type_mst?.handling_type_name}"==="&{'HandlingType.creca'}") {
					var dateFormat = new DateFormat("yyyy/MM/dd");
					var vYear = sDate.substr(0, 4) - 0;
					var vMonth = sDate.substr(5, 2) - 1;
					var vDay = sDate.substr(8, 2) - 0;
					var dPaymentDate = new Date(sDate.substr(0, 4), sDate.substr(5, 2)-1, sDate.substr(8, 2));
					var rDate = fDebitDate(dPaymentDate,"${handling?.cutoff_day}","${handling?.debit_month}","${handling?.debit_day}");
					gDfurRec.debit_date.val = dateFormat.format(rDate);
					
				//「取扱(実際)」がクレジットカード以外の場合
				} else {
					//引落日に支払日をセット
					gDfurRec.debit_date.val = sDate;
				}
				chgElem(dfurDebDate, gDfurRec.debit_date, 'input', dfurAmnt);
				
				if (!jQuery('#dfurDebDate').children('label, a').hasClass('editable'))
					jQuery('#dfurDebDate').children('label, a').addClass('editable');
			}
		#{/list}
		aCursor = 'pointer';
		aTabIndex = 0;
	}
	
	//「引落日」の<a>の状態調整
	jQuery('#dfurDebDate').children('a, label').css('cursor', aCursor);
	document.getElementById(aId).tabIndex=aTabIndex;
}

/* クレジットカードの引落日算出関数 */
function fDebitDate(dBasic,cutoffDay,debitMonth,debitDay){
	var dCutoff = new Date;
	var iCutoffMonth = 0;
	//
	if (debitMonth==="&{'DebitMonth.this'}") {
		iCutoffMonth = 0;
	} else if (debitMonth==="&{'DebitMonth.next'}") {
		iCutoffMonth = 1;
	} else if (debitMonth==="&{'DebitMonth.nextTwo'}") {
		iCutoffMonth = 2;
	}
	//引落日算出
	if (dBasic.getDate() <= cutoffDay) {
		dCutoff = new Date(dBasic.getFullYear(), dBasic.getMonth()+iCutoffMonth, debitDay);
	} else {
		dCutoff = new Date(dBasic.getFullYear(), dBasic.getMonth()+iCutoffMonth+1, debitDay);
	}
	return dCutoff;
}
// -->
</script>

#{include 'dialogConfirm.html' /}
<script type="text/javascript">
<!--
/* dialogConfirmを閉じた時の動作は呼び出し元で行う */
function whenDialogConfirmClosedDfur(intRslt) {
	switch (intRslt) {
		case 0:
			jQuery('#dfurBType').children('select').val(gPreBType).change().focus();
			break;
		case 1:
			//口座更新フォームを開く
			openDialogFrmUpdMstDfur("&{'HandlingType.bank'}");
			break;
		case 2:
			//電子マネー更新フォームを開く
			openDialogFrmUpdMstDfur("&{'HandlingType.emoney'}");
			break;
		case 3:
			//Parllet更新フォームを開く
			openDialogFrmUpdMstDfur("&{'PrltType.prlt'}");
			break;
		case 4:
			//項目（収入）更新フォームを開く
			openDialogFrmUpdMstDfur("&{'views.dialogConfirm.case.itemIn'}");
			break;
		case 5:
			//項目（支出）更新フォームを開く
			openDialogFrmUpdMstDfur("&{'views.dialogConfirm.case.itemOut'}");
			break;
		default:
			alert("dialogConfirm return value error");
	}
}
function openDialogFrmUpdMstDfur(strMst) {
	openDialogFrmUpdMst(strMst, "&{'views.name.dlgFrmUpdRec'}");
}
// -->
</script>


#{include 'dialogFrmUpdMst.html' /}
<script type="text/javascript">
<!--
/* dialogFrmUpdMstを閉じた時の動作は呼び出し元で行う */
function whenDialogFrmUpdMstClosedDfur(intRslt, strType, nameVal, zeroHddnChkd) {
	var strErrMsg;
	if (strType==="&{'HandlingType.bank'}" || strType==="&{'HandlingType.emoney'}")
		strErrMsg = "Common.updateHdlg";
	if (strType==="&{'PrltType.prlt'}")
		strErrMsg = "Common.updatePrlt";
	if (strType==="&{'views.dialogConfirm.case.itemIn'}" || strType==="&{'views.dialogConfirm.case.itemOut'}")
		strErrMsg = "Common.makeItem";
	switch (intRslt) {
		case 0:
			whenDialogConfirmClosedDfur(0);
			break;
		case 1:
			var jqxhrMkMst;
			if (strType==="&{'HandlingType.bank'}" || strType==="&{'HandlingType.emoney'}") {
				jqxhrMkMst = jQuery.post('@{Common.updateHdlg}', {strHdlgType: strType, strName: nameVal, bolZeroHddn: zeroHddnChkd});
			}
			if (strType==="&{'PrltType.prlt'}") {
				jqxhrMkMst = jQuery.post('@{Common.updatePrlt}', {strName: nameVal, bolZeroHddn: zeroHddnChkd});
			}
			if (strType==="&{'views.dialogConfirm.case.itemIn'}" || strType==="&{'views.dialogConfirm.case.itemOut'}") {
				var strBalanceType;
				if (strType==="&{'views.dialogConfirm.case.itemIn'}")
					strBalanceType = "&{'BalanceType.in'}";
				if (strType==="&{'views.dialogConfirm.case.itemOut'}")
					strBalanceType = "&{'BalanceType.out'}";
				jqxhrMkMst = jQuery.post('@{Common.makeItem}', {strBType: strBalanceType, strName: nameVal});
			}
			jqxhrMkMst
			.done(function(z) {
				switch (z.intRslt) {
					case 0:
						var dfurBTypeSel = jQuery('#dfurBType').children('select');
						if (strType==="&{'HandlingType.bank'}" || strType==="&{'HandlingType.emoney'}") {
							//作成した口座・電子マネーを取扱(実際)のリストに追加し、収支種類の選択変更イベントを再実行
							var newBank = {"key":z.hlMst.id, "value":z.hlMst.handling_name}
							subCatHdlgSmall["ALL"].push(newBank);
							subCatHdlgSmall["BANK"].push(newBank);
							dfurBTypeSel.change();
						}
						if (strType==="&{'PrltType.prlt'}") {
							//作成したParlletを取扱(Parllet)のリストに追加し、収支種類の選択変更イベントを再実行
							jQuery('#dfurPrlt').children('select').append("<option value='"+z.plMst.id+"' selected>"+z.plMst.parllet_name+"</option>");
							dfurBTypeSel.change();
							//Parlletを開き、作成したParlletを選択状態にする
							jQuery('#dfurPrlt').children('a').click();
							jQuery('#dfurPrlt').children('select').val(String(z.plMst.id));
						}
						if (strType==="&{'views.dialogConfirm.case.itemIn'}" || strType==="&{'views.dialogConfirm.case.itemOut'}") {
							//作成した項目をリストに追加し、収支種類の選択変更イベントを再実行
							var newItem = {"key":z.itMst.id, "value":z.itMst.item_name}
							subCatItem[dfurBTypeSel.val()].push(newItem);
							dfurBTypeSel.change();
						}
						break;
					case 99:
						alert(z.strErr);
						whenDialogConfirmClosedDfur(0);
						break;
					default:
						strErrMsg += " result Error";
						alert(strErrMsg);
						whenDialogConfirmClosedDfur(0);
				}
			})
			.fail(function() {
				strErrMsg += " Failed";
				alert(strErrMsg);
				whenDialogConfirmClosedDfur(0);
			});
			break;
		default:
			alert("dialogFrmUpdMst return value error");
	}
}
// -->
</script>

<div id="dialog-updRec" class="invisible">
	<div id="validateTips" class="validateTips" tabindex="0"></div>
	<form>
	<fieldset>
		
		<div id="dfurPayDate" class="dfurElem">
			<label class="editable">&{'payment_date'}:</label>
			<a class="ui-widget-content editable" tabindex="0"></a>
			<input type="text" class="datepicker text ui-widget-content invisible"
				value="" />
		</div>
		
		<div id="dfurBType" class="dfurElem">
			<label class="_editable">&{'balance_type_mst'}:</label>
			<a class="ui-widget-content _editable"></a>
			<select id="dfurBTypeSel" >
			</select>
		</div>
		
		<div id="dfurHdlg" class="dfurElem">
			<label class="_editable">&{'handling_mst'}:</label>
			<a class="ui-widget-content _editable" id="dfurHdlgA"></a>
			<select>
			</select>
		</div>
		
		<div id="dfurPrlt" class="dfurElem">
			<label class="_editable">&{'parllet_mst'}:</label>
			<a class="ui-widget-content _editable" id="dfurPrltA"></a>
			<select>
			</select>
		</div>
		
		<div id="dfurItem" class="dfurElem">
			<label>&{'item_mst'}:</label>
			<a class="ui-widget-content"></a>
			<select>
				%{
					bType
					bTypeName
					if (vlBalanceTypeId) {
						bType = models.BalanceTypeMst.find("byId", vlBalanceTypeId).first()
						bTypeName = bType.balance_type_name 
					}
				}%
				#{if bTypeName==messages.get('BalanceType.in') ||
						bTypeName==messages.get('BalanceType.out')}
					#{list items:models.ItemMst.find("ha_user = ${haUser.id} and balance_type_mst = " + bType.id + " order by id").fetch(), as:'item'}
					<option value="${item.id}">${item.item_name}</option>
					#{/list}
				#{/if}
			</select>
		</div>
		
		<div id="dfurAmnt" class="dfurElem">
			<label>&{'amount'}:</label>
			<a class="ui-widget-content"></a>
			<input type="text" class="numeric text ui-widget-content" 
				value="" />
		</div>
		
		<div id="dfurDebDate" class="dfurElem">
			<label class="editable">&{'debit_date'}:</label>
			<a class="ui-widget-content editable" id="dfurDebDateA"></a>
			<input type="text" class="text ui-widget-content" id="to" 
				value="" />
		</div>

		<div id="dfurCntnt" class="dfurElem">
			<label class="editable">&{'content'}:</label>
			<a class="ui-widget-content editable" tabindex="0"></a>
			<input type="text" class="text ui-widget-content" 
				value="" />
		</div>

		<div id="dfurStore" class="dfurElem">
			<label class="editable">&{'store'}:</label>
			<a class="ui-widget-content editable" tabindex="0"></a>
			<input type="text" class="text ui-widget-content" 
				value="" />
		</div>
		
		<div id="dfurRmrks" class="dfurElem">
			<label class="editable">&{'remarks'}:</label>
			<a class="ui-widget-content editable" tabindex="0"></a>
			<textarea class="ui-widget-content"></textarea>
		</div>
	</fieldset>
	</form>
</div>  <!-- dialog-updRec -->
