<script type="text/javascript">
<!-- 
jQuery(function() {
	jQuery("#dialog-form").dialog({
		autoOpen: false
	});
});

function openDialog(title, typeFb, pEmail, pPassword, pId, pName, pLink) {
	jQuery(function() {
		var email = jQuery("#dlgEmail"),
			emailVal = jQuery("#dlgEmailVal"),
			password = jQuery("#dlgPassword"),
			allFields = jQuery([]).add(name).add(email),
			tips = jQuery(".validateTips");
   		email.val(pEmail);
		emailVal.text(pEmail);
   		password.text(pPassword);
		if(typeFb) {
//			title = "&{'views.login.fbLogin.dialogTitle'}"
			jQuery("#connectFb").removeClass("invisible");
			email.removeClass("invisible");
			emailVal.addClass("invisible");
			jQuery("#lblPassword").addClass("invisible");
			password.addClass("invisible");
		} else {
//			title = "&{'views.index.sinup.dialogTitle'}"
			jQuery("#connectFb").addClass("invisible");
			email.addClass("invisible");
			emailVal.removeClass("invisible");
			jQuery("#lblPassword").removeClass("invisible");
			password.removeClass("invisible");
		}
		function updateTips(t) {
			tips
				.css('padding', '0.3em')
				.css('margin-bottom', '1em')
				.text(t)
				.addClass("ui-state-highlight");
			setTimeout(function() {
				tips.removeClass("ui-state-highlight", 1500);
			}, 500);
		}
		function checkRequired(o, n) {
			if(o.val()=="") {
				o.addClass("ui-state-error");
				updateTips(n + " &{'views.login.fbLogin.err.required'}");
				return false;
			} else {
				return true;
			}
		}
		function checkLength(o, n, min, max) {
			if(o.val().length>max || o.val().length<min) {
				o.addClass("ui-state-error");
				updateTips(n + " &{'views.login.fbLogin.err.length1'} " +
				min + " &{'views.login.fbLogin.err.length2'} " + max + " &{'views.login.fbLogin.err.length3'}" );
				return false;
			} else {
				return true;
			}
		}
		function checkRegexp(o, regexp, n) {
			if(!(regexp.test(o.val()))) {
				o.addClass("ui-state-error");
				updateTips(n);
				return false;
			} else {
				return true;
			}
		}
		function errValidateHaUser(o, s) {
			o.addClass("ui-state-error");
			updateTips(s);
		}
		function switchRslt(o) {
	    	var jsonO = JSON.parse(o);
			switch (jsonO.intRslt) {
				case 0:
		    		jQuery('#saUsername').css('display', 'none');
		    		jQuery('#saUsername2').css('display', 'inline');
		    		jQuery('#saPassword').css('display', 'none');
		    		jQuery('#saPassword2').css('display', 'inline');
					jQuery('#saUsername').val(jsonO.strEmail);
					jQuery('#saPassword').val(jsonO.strPassword);
					jQuery('#fmAuthenticate').submit();
					jQuery("#dialog-form").dialog( "close" );
					break;
				case 1:
					errValidateHaUser(email, jsonO.strErr);
					break;
				case 99:
		    		alert(jsonO.strErr);
					break;
				default:
		    		alert("case error");
			}
		}
		jQuery("#dialog-form").dialog({
			autoOpen: false,
	//		height: 300,
	//		width: 350,
			modal: true,
			title: title,
			buttons: {
				"&{'views.login.fbLogin.makeAccount'}": function() {
					var bValid = true;
					allFields.removeClass("ui-state-error");
					bValid = bValid && checkRequired(email, "&{'views.login.fbLogin.email'}");
					bValid = bValid && checkLength(email, "&{'views.login.fbLogin.email'}", 6, 80);
					bValid = bValid && checkRegexp(email, /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i, "&{'validation.email'}");
					if(bValid) {
						if(typeFb) {
						    jQuery.post('@{Security.ensureFbUser}', {id: pId, name: pName, link: pLink, email: email.val()}, function(z){
						    	switchRslt(z);
						    }, 'text');
						} else {
							jQuery.post('@{Application.signup}', {email: emailVal.text(), password: password.text()}, function(y){
						    	switchRslt(y);
							}, 'text');
						}
					}
				},
				"&{'views.login.fbLogin.cancel'}": function() {
					jQuery( this ).dialog( "close" );
				}
			},
			close: function() {
				allFields.val("").removeClass( "ui-state-error" );
			}
		});
		jQuery("#dialog-form").dialog( "open" );
	});
}
// -->
</script>

<div id="dialog-form">
	<p>
	<div class="validateTips"></div>
	<span class="ui-icon ui-icon-info" style="float: left; margin: 0 7px 5px 0;"></span>
	&{'views.login.fbLogin.text1'}<br>
	<br>
	&{'views.login.fbLogin.text2'}<br>
	&{'views.login.fbLogin.text3'}
	<span id="connectFb" class="invisible">&{'views.login.fbLogin.text4'}</span>
	<h4>&{'views.main.tools.logo'}</h4>
	<div>&{'views.login.fbLogin.text5'}</div>
	<div>&{'views.login.fbLogin.text6'}</div>
	</p>
	<form>
	<fieldset>
		<label for="email" id="lblEmail">&{'email'}:</label>
		<input type="text" name="email" id="dlgEmail" value="" class="text ui-widget-content ui-corner-all invisible" />
		<div id="dlgEmailVal"></div>
		<label for="password" id="lblPassword">&{'secure.password'}</label>
		<div id="dlgPassword"></div>
	</fieldset>
	</form>
</div>  <!-- dialog-form -->
