<script type="text/javascript">
<!-- 
/**
 * 口座・電子マネー・My貯金作成用ダイアログ
 */
function openDialogFrmMkMst(strType) {
	jQuery(function() {
		var name = jQuery("#dlgName"),
			lblName = jQuery("#lblName"),
			lblNameTxt = strType+"&{'views.common.lbl.name'}",
			zeroHddn = jQuery("#dlgZeroHddn"),
			title = strType+"&{'views.common.lbl.make'}",
			allFields = jQuery([]).add(name),
			tips = jQuery(".validateTips"),
			intRslt = 0;
		lblName.text(lblNameTxt);
		name.val("");
		zeroHddn.attr("checked", false);
		function updateTips(t) {
			tips
				.css('padding', '0.3em')
				.css('margin-bottom', '1em')
				.text(t)
				.addClass("ui-state-highlight");
			setTimeout(function() {
				tips.removeClass("ui-state-highlight", 1500);
			}, 500);
		}
		function checkRequired(o, n) {
			if(o.val()=="") {
				o.addClass("ui-state-error");
				updateTips(n + " &{'views.login.fbLogin.err.required'}");
				return false;
			} else {
				return true;
			}
		}
		function errValidateTable(o, s) {
			o.addClass("ui-state-error");
			updateTips(s);
		}
		jQuery("#dialog-makeMaster").dialog({
			autoOpen: false,
			resizable: false,
			width:460,
			modal: true,
			title: title,
			buttons: {
				"&{'views.common.lbl.make'}": function() {
					var bValid = true;
					allFields.removeClass("ui-state-error");
					bValid = bValid && checkRequired(name, lblNameTxt);
					if(bValid) {
						intRslt = 1;
						jQuery(this).dialog("close");
					}
				},
				"&{'views.common.btn.cancel'}": function() {
					jQuery(this).dialog("close");
				}
			},
			close: function() {
				//ダイアログクローズ時の処理は呼び出し元で行う
				whenDialogFrmMkMstClosed(intRslt, strType, name.val(), zeroHddn.is(':checked'));
			}
		});
		jQuery("#dialog-makeMaster").dialog("open");
	});
}
// -->
</script>

<div id="dialog-makeMaster" class="invisible">
	<div class="validateTips"></div>
	<form>
	<fieldset style="margin-top: 15px;">
		<label for="name" id="lblName"></label>
<!-- 
		<input type="text" id="dlgName" class="text ui-widget-content ui-corner-all" />
 -->
		<input type="text" id="dlgName" class="text ui-widget-content" />
		<div>
			<input type="checkbox" id="dlgZeroHddn" />
			<label for="zeroHddn" id="lblZeroHddn">&{'zero_hidden'}</label>
		</div>
	</fieldset>
	</form>
</div>  <!-- dialog-makeMaster -->
