<!DOCTYPE html>

<html>
	<head>
		#{include 'head.html' /}
	</head>
	<body>
		#{get 'fbScript' /}
		<div id="container">
			<div id="header">
				<div class="fill">
					<div id="hdContainer">
						<ul id="ltBlocks">
							<li>
								<ul id="logo">
									<li id="logo-pre">
										#{get 'logoPre' /}
									</li>
									<li>
										#{get 'logoMain' /}
									</li>
								</ul>
							</li>
							#{get 'moreMenu' /}
						</ul>
						<ul id="tools">
							#{get 'headerTools' /}
						</ul>
					</div>
				</div>
				#{get 'moreHeader' /}
			</div>
			<div id="main">
				#{doLayout /}
			</div>
			<div id="footer">
			<div class="fill">
				<div id="ftContents">
					<a href="http://${play.configuration.getProperty('site.domain')}">
						${play.configuration.getProperty("site.domain")}
					</a>
				</div>
			</div>
			</div>	<!-- footer -->
		</div>
		<script src="@{'/public/javascripts/AnimatedBorderMenus/jquery.borderMenuPrlt.js'}"></script>
	</body>
</html>
