<script type="text/javascript" src="@{'/public/javascripts/autoNumeric.js'}" ></script>
#{include 'dialogFrmUpdRec.html' /}
<script type="text/javascript">
<!--
jQuery(function() {
	jQuery('#aRecEdit, #aRecEdit2').click(function() {
		var dfurFvPayDate = new DfurFlgVal(true, "", false),
			dfurFvBType = new DfurFlgVal(true, 0, true),
			dfurFvHdlg = new DfurFlgVal(false, 0, false),
			dfurFvPrlt = new DfurFlgVal(false, 0, true),
			dfurFvItem = new DfurFlgVal(false, 0, true),
			dfurFvAmnt = new DfurFlgVal(true, "", true),
			dfurFvDebDate = new DfurFlgVal(false, "", false),
			dfurFvCntnt = new DfurFlgVal(false, "", true),
			dfurFvStore = new DfurFlgVal(false, "", true),
			dfurFvRmrks = new DfurFlgVal(false, "", true),
			dfurRec = new DfurRec(
				null,
				dfurFvPayDate,
				dfurFvBType,
				dfurFvHdlg,
				dfurFvPrlt,
				dfurFvItem,
				dfurFvAmnt,
				dfurFvDebDate,
				dfurFvCntnt,
				dfurFvStore,
				dfurFvRmrks);
		//家計簿入力フォームを開く
		openDialogFrmUpdRec(dfurRec);
		
		return false;
	});
	
	/* 3桁区切りの数値入力フィールドとして設定 */
	jQuery('input.numeric').autoNumeric('init', {aPad: false, vMin: '-999999999', vMax: '999999999'});

	jQuery('input.numeric').on({
		'focus': function(){ jQuery(this).attr('type', 'tel'); },
		'blur': function(){ jQuery(this).attr('type', 'text'); }
	});
	if ((navigator.userAgent.indexOf('iPhone') > 0 && navigator.userAgent.indexOf('iPad') == -1) || navigator.userAgent.indexOf('iPod') > 0) {
		jQuery('input.numeric').attr('pattern', '[0-9]*');
	}
});
	
/* dialogFrmUpdRecを閉じた時の動作は呼び出し元で行う */
function whenDialogFrmUpdRecClosed(intRslt, dfurRec) {
	var strErrMsg = "Common.updateRec";
	if (dfurRec.id===null) dfurRec.id=undefined;
	switch (intRslt) {
		case 0:
			break;
		case 1:
			var jqxhrUpdRec = jQuery.post('@{Common.updateRec}', {
				id: dfurRec.id,
				payment_date: dfurRec.payment_date,
				balance_type_mst: dfurRec.balance_type_mst_id,
				handling_mst: dfurRec.handling_mst_id,
				parllet_mst: dfurRec.parllet_mst_id,
				item_mst: dfurRec.item_mst_id,
				amount: dfurRec.amount,
				debit_date: dfurRec.debit_date,
				content: dfurRec.content,
				store: dfurRec.store,
				remarks: dfurRec.remarks,
				secret_remarks: dfurRec.secret_remarks,
				secret_rec_flg: dfurRec.secret_rec_flg});
			jqxhrUpdRec
			.done(function(z) {
				switch (z.intRslt) {
					case 0:
						//画面を再表示
						location.replace(location.href);
						break;
					case 99:
						alert(z.strErr);
						break;
					default:
						strErrMsg += " result Error";
						alert(strErrMsg);
				}
			})
			.fail(function() {
				strErrMsg += " Failed";
				alert(strErrMsg);
			});
			break;
		default:
			alert("dialogFrmUpdMst return value error");
	}
}
// -->
</script>

#{set 'slideMenus'}
<nav class="bt-menu large_cate" onclick="">
	<a href="#" class="bt-menu-trigger"><span></span></a>
	<div class="divUlFrm">
		<ul>
			<li></li>
			<li><a href="@{DailyAccount.balanceTable()}">&{'views.dailyaccount.balancetable'}</a></li>
			<li><a href="@{DailyAccount.dailyAccount()}">&{'views.dailyaccount.dailyaccount'}</a></li>
			<li><a href="@{DetailList.dl_balance()}">&{'views.detaillist'}</a></li>
			<li><a href="#" id="aRecEdit2">&{'views.login.recordEdit'}</a></li>
			<li><a href="@{Config.cf_bank_list()}">&{'views.config.config'}</a></li>
		</ul>
	</div>
	<div class="bt-overlay"></div>
</nav>
#{/set}

<li>
	<ul class="memberMenu" >
		<li class="${request.controller == 'DailyAccount' &&
					strTableType == messages.get('views.dailyaccount.balancetable') ? 'selected' : ''}">
			<a href="@{DailyAccount.balanceTable()}">&{'views.dailyaccount.balancetable'}</a>
		</li>
		<li class="${request.controller == 'DailyAccount' &&
					strTableType == messages.get('views.dailyaccount.dailyaccount') ? 'selected' : ''}">
			<a href="@{DailyAccount.dailyAccount()}">&{'views.dailyaccount.dailyaccount'}</a>
		</li>
		<li class="${request.controller == 'DetailList' ? 'selected' : ''}">
			<a href="@{DetailList.dl_balance()}">&{'views.detaillist'}</a>
		</li>
		<li class="${request.controller == 'RecordEdit' ? 'selected' : ''}">
			<a href="#" id="aRecEdit">&{'views.login.recordEdit'}</a>
		</li>
		<li class="${request.controller == 'Config' ? 'selected' : '' ||
					request.controller == 'PplRecurringPayments' ? 'selected' : ''}">
			<a href="@{Config.cf_bank_list()}">&{'views.config.config'}</a>
		</li>
	</ul>
</li>
