<title>#{get 'title' /}</title>
<meta charset="${_response_encoding}">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.13.0/build/cssreset/cssreset-min.css">

#{get 'moreStyles' /}
<!-- jQuery(GoogleAPIs経由) -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Jura">
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<!-- 
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/pepper-grinder/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript">google.load('jquery', '1')</script>
<script type="text/javascript">google.load('jqueryui', '1')</script>
 -->
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/pepper-grinder/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.ui.touch-punch.min.js'}" ></script>
<script type="text/javascript" src="@{'/public/javascripts/prtJsCommon.js'}" ></script>
<!-- datepicker日本語化 -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>

<!-- 
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
 -->
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link media="only screen and (max-device-width:768px)" href="${play.configuration.getProperty('head.forSmart')}" type="text/css" rel="stylesheet" />
<link media="screen and (min-device-width:769px)" href="@{'/public/stylesheets/main.css'}" type="text/css" rel="stylesheet" />
<!--[if IE]>
<link href="@{'/public/stylesheets/main.css'}" type="text/css" rel="stylesheet" />
<![endif]-->

<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

<!-- AnimatedBorderMenus -->
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/AnimatedBorderMenus/stylePrlt.css'}" />
<script src="@{'/public/javascripts/AnimatedBorderMenus/modernizr.custom.js'}"></script>

<!-- datepickerの見た目の調整(floatingdays(http://fdays.blogspot.jp/2010/07/jquery-ui-datepicker.html)さんのサンプルコードの一部をそのまま使わせて頂きました。) -->
<style>
.ui-datepicker td span, .ui-datepicker td a {
    text-align: center;    /* 日付をセンタリング */
}
.ui-datepicker select.ui-datepicker-year, .ui-datepicker select.ui-datepicker-month {
    width: auto;    /* そのままだと改行してしまう */
}
.ui-datepicker select.ui-datepicker-month {
    margin-left: 1em;    /* ちょっと離す */
}
</style>
#{get 'moreScripts' /}
<script type="text/javascript">
<!--
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11312949-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
// -->
</script>

<script type="text/javascript" src="@{'/public/javascripts/jquery.gpfloat-1.0.js'}" ></script>
<script type="text/javascript">
<!--
jQuery(function() {
	jQuery('#header').gpFloatX();
});
// -->
</script>

<noscript>このページは javascript が有効になっている必要があります。</noscript>
