<!DOCTYPE html>

<html>
    <head>
		#{include 'head.html' /}
    </head>
    <body>
    	<img src="/public/images/background_test.jpg" alt="" id="bg-img" />
    	<div id="container">
<!-- 
    	<div id="header">
 -->
    	<div id="cmHeader">
    		<table id="logo-table">
    		<tr>
	    		<td id="logo-pre">
		   			&{'views.main.tools.logo.pre1'}
		   			<br>
		   			&nbsp;&nbsp;&nbsp;&nbsp;
		   			&{'views.main.tools.logo.pre2'}
	    		</td>
	    		<td id="logo">
	    			&{'views.main.tools.logo'}
	    		</td>
	    	</tr>
    		</table>
    		<ul id="tools">
			    <li>
<!-- 
			        <a href="@{DetailList.detailList()}">&{'views.main.tools.login'}</a>
 -->
			        <a href="@{DailyAccount.dailyAccount()}">&{'views.main.tools.login'}</a>
			    </li>
			</ul>
    	</div>
    	<div id="main">
	        #{doLayout /}
    	</div>
    	</div>
    </body>
</html>
