#{form @DetailList.dl_balance(), id:'frmToDlBalance', class:'invisible'}
	<input type="text" name="h_secret_rec_flg" id="hSecretRecFlg" value="0" />
	<input type="text" name="h_payment_date_fr" id="hPaymentDateFr" />
	<input type="text" name="h_payment_date_to" id="hPaymentDateTo" />
	<input type="text" name="h_balance_type_id" id="hBalanceTypeId" />
	<input type="text" name="h_handling_id" id="hHandlingId" />
	<input type="text" name="h_parllet_id" id="hParlletId" />
	<input type="text" name="h_item_id" id="hItemId" />
	<input type="text" name="h_debit_date_fr" id="hDebitDateFr" />
	<input type="text" name="h_debit_date_to" id="hDebitDateTo" />
	<input type="submit" name="srch" id="submitDlBalance" />
#{/form}
