#{form @DetailList.dl_balance()}
	<input type="text" name="h_secret_rec_flg" id="hSecretRecFlg" value="0" class="invisible" />
	<input type="text" name="h_payment_date_fr" id="hPaymentDateFr" class="invisible" />
	<input type="text" name="h_payment_date_to" id="hPaymentDateTo" class="invisible" />
	<input type="text" name="h_balance_type_id" id="hBalanceTypeId" class="invisible" />
	<input type="text" name="h_handling_id" id="hHandlingId" class="invisible" />
	<input type="text" name="h_parllet_id" id="hIdealDepositId" class="invisible" />
	<input type="text" name="h_item_id" id="hItemId" class="invisible" />
	<input type="text" name="h_debit_date_fr" id="hDebitDateFr" class="invisible" />
	<input type="text" name="h_debit_date_to" id="hDebitDateTo" class="invisible" />
	<input type="submit" name="srch" id="submitDlBalance" class="invisible" />
#{/form}
